[2016-10-24 12:27] cytopia opened #1 "Create MySQL 5.7 docker"

[2016-10-24 12:28] cytopia opened #2 "Create MariaDB 5.5 docker"

[2016-10-24 12:28] cytopia opened #3 "Create MariaDB 10.0 docker"

[2016-10-24 12:29] cytopia opened #4 "Tag all dockers with stable"
Tag all dockers with stable and link stable tag instead of latest to `docker-compose.yml`.

[2016-10-24 14:21] cytopia opened #5 "Add mail-catcher with web frontend to read sent/received mails"
Be able to intercept all sent mails (via any PHP project) and show them on the intranet frontend for easy access.

[2016-10-24 21:29] #1 closed

[2016-10-25 19:38] cytopia opened #6 "Create MariaDB 10.1 docker"

[2016-10-25 19:38] cytopia opened #7 "Create MariaDB 10.2 docker"

[2016-10-25 20:28] #2 closed

[2016-10-26 08:46] LeG3nDz opened #8 "URL stay on Missing entry in hosts file"
Hi Cytopia :)

I would like test your very nice devilbox, but when i edit my hosts file, URL stay with `Missing entry in /etc/hosts`. My hosts file :

[code]
But, if i go on www.project.lan.loc, vhost work fine. It's juste the URL status.

Do you have any idea ? Yet I have followed the instructions :)

Thank you !

[2016-10-26 09:23] cytopia commented on #8
Hi @LeG3nDz can u post the exact error message from the intranet.
It should actually provide you the exact string that you need to put into `/etc/hosts`.

Also please attach your `.env` as well as an `ls -l` on your www directory, so I can see the names of the folders.

By your above entry, your foldername should be `www.project.lan`

[2016-10-26 09:58] LeG3nDz commented on #8
Thank for your response.

I did not necessarily error, juste the URL status (on vhost page) have `Missing entry in /etc/hosts`.

My .env :

[code]

I've restart my Ubuntu, and if i run `docker-composer up`, I do not have any project to detect in www/ folder.

Result command `ls -l` in **~/data/www**

[code]

Thank again,

[2016-10-26 10:09] cytopia commented on #8
Could you please attach a screenshot of the vhosts status page.

Also inside the devilbox folder, please check `./log/php-fpm-5.6/` and `./log/apache-2.4` for errors.

[2016-10-26 10:13] cytopia commented on #8
Btw

Is that correct, that it belongs to root in your `~` directory?

[2016-10-26 11:19] LeG3nDz commented on #8
Yep, the config is good.

After restart my Ubuntu and run docker-composer up, i do not see my project :(

![devilbox](https://cloud.githubusercontent.com/assets/4712791/19724102/c438edea-9b7e-11e6-8188-dbe8a166735d.jpg)

[2016-10-26 14:27] cytopia commented on #8
Are you running the devilbox in VMWare and edited `/etc/hosts` on your host computer?

[2016-10-26 14:42] LeG3nDz commented on #8
I'm run Ubuntu with VMWare on Windows, and i edit Ubuntu hosts file.

[2016-10-26 14:46] cytopia commented on #8
Are you browsing from your ubuntu VM or from windows?

[2016-10-26 14:47] LeG3nDz commented on #8
All action in on my Ubuntu started on VMWare.

[2016-10-26 15:00] cytopia commented on #8
Ubuntu seems to use `127.0.1.1` instead of `127.0.0.1`.
What does `ifconfig` on ubuntu show?

[2016-10-26 15:12] cytopia commented on #8
Btw, regardless of this error, Is it actually possible to reach this site via the browser?

[2016-10-26 19:50] cytopia commented on #8
Should work now.

I had to disable the `/etc/hosts` check for now.
It somehow works under OSX, but not on Linux.

I still have to figure out why and how to re-implement this properly.

If it works for you, please let me know, so this can get closed.

[2016-10-27 06:37] LeG3nDz commented on #8
Hi @cytopia

I confirm it work :)
Just, maybe add a message indicating that it must update hosts file ?

Thank you again for your support. Very nice devilbox :)

[2016-10-27 07:04] cytopia commented on #8
Cool. Yes I will figure something out to make it as nice as before under Linux.

[2016-10-27 07:04] #8 closed

[2016-10-27 07:20] #3 closed

[2016-10-27 09:01] cytopia opened #9 "Access docker hosts `/etc/hosts` from inside the PHP-docker (works on OSX, not on Linux)"
In order to check if the hostnames for mass virtual hosting have been setup correctly in `vhosts.php` the php docker needs to be able to resolve the docker hosts dns entries from the hosts `/etc/hosts` file.

This is done in the PHP docker via `getent hosts example.loc`

However, this only works with a docker setup under OSX, but not with a docker setup under Linux.

I also created a ticket to get

[2016-10-27 09:11] cytopia commented on #8
Linking the progress here:

#9 [Access docker hosts `/etc/hosts` from inside the PHP-docker (works on OSX, not on Linux)](9)

[2016-10-27 10:43] cagartner opened #10 "Add option on .env to change ending of vitualhost"
It would be very nice to be able to change the end of the virtual host on .env file.

Cheers.

[2016-10-27 10:52] cytopia commented on #10
If I understand correctly, you want to have domain names from `*.loc` to by dynamic to make it for example `*.test` or `*.example`?

This is tricky and will require some re-organisation.
Currently domain endings are hard-coded in e.g.: `.devilbox/etc/nginx-stable/02-vhost-mass.conf` (and other webserver configs).

Sounds however reasonable.

I will schedule it to 1.1 for now, as I don't know how f

[2016-10-27 11:08] cagartner commented on #10
Exactly,

I changed this config on my local development and worked, for me ok.

Maybe this config can be changed on a online editor in http://localhost on any future update.

Thank you for the awesome work :) and sorry for my bad english.

[2016-10-28 15:16] cytopia commented on #9
Thinkings:

* Alternatively add minimal and leight-weight DNS server as container

[2016-10-28 19:41] cebe commented on #9
I have not looked into any details here, but could the `--add-host` option of `docker run` maybe help you?

[2016-10-28 21:06] thiagorock22 opened #11 "How to load file .env on Linux?"

[2016-10-29 09:07] cytopia commented on #11
The `.env` file is automatically loaded by `docker-compose`.
It is a docker-compose specific feature.

See here for reference:
https://docs.docker.com/compose/env-file/

Anything which is not working?

[2016-10-29 09:18] #6 closed

[2016-10-29 11:06] cytopia commented on #5
https://pear.php.net/manual/en/package.mail.mail-mbox.mail-mbox-summary.php

[2016-10-30 12:42] cytopia opened #12 "Create PostgreSQL 9.2 docker"

[2016-10-30 12:42] cytopia opened #13 "Create PostgreSQL 9.3 docker"

[2016-10-30 12:43] cytopia opened #14 "Create PostgreSQL 9.4 docker"

[2016-10-30 12:43] cytopia opened #15 "Create PostgreSQL 9.5 docker"

[2016-10-30 12:43] cytopia opened #16 "Create PostgreSQL 9.6 docker"

[2016-10-30 13:40] #5 closed

[2016-10-30 15:12] #7 closed

[2016-10-30 15:40] cytopia opened #17 "phpMyAdmin for PostgreSQL"
Add phpMyAdmin like interface for PostgreSQL

[2016-10-30 15:48] cytopia commented on #9
@cebe Thanks for the info

I think `--add-host` adds a single entry to `/etc/hosts`, however I need some way to auto-sync the hosts `/etc/hosts` values with the ones from the containers.

This already seems to work on OSX, but strangely not on Linux...

[2016-10-31 10:59] xralphack opened #18 "can not launch mysql server"
161031 18:46:43  InnoDB: Waiting for the background threads to start
161031 18:46:44 InnoDB: 5.5.53 started; log sequence number 1595675
161031 18:46:44 [Note] Server hostname (bind-address): '0.0.0.0'; port: 3306
161031 18:46:44 [Note]   - '0.0.0.0' resolves to '0.0.0.0';
161031 18:46:44 [Note] Server socket created on IP: '0.0.0.0'.
161031 18:46:44 [ERROR] Can't start server : Bind on unix socke

[2016-10-31 11:04] cytopia commented on #18
Hi @xralphack

Please before doing anything of the following, make sure you always have the latest dockers.

[code]

1. Could you please try again with the following setting in `.env`

[code]

and paste the whole `docker-compuse run` output here, as well as `./run/mysq|mariadb/log` files.

Also let me know which version of mysql/mariadb you have enabled.

[2016-10-31 11:58] xralphack commented on #18
I clear all my images and container.
Change DEBUG_COMPOSE_ENTRYPOINT=1
Then pull cytopia/mysql-5,5 (which I will need)
$ docker-compose up

output >
...
db_1     | [INFO] Initializing ...
db_1     | [INFO] Initializing ...
db_1     | [ERR]  Could not find running MySQL PID.
db_1     | [ERR]  MySQL init process failed.

---------------------------------------------------------------------------

$

[2016-10-31 12:06] cytopia commented on #18
Please append the complete output of `docker-compose logs`

Which operating system are you on?

Are you sure there are no files in `./log/mysql-5.5/` ?

[2016-10-31 12:10] xralphack commented on #18
Attaching to devilboxmaster_httpd_1, devilboxmaster_php_1, devilboxmaster_db_1
php_1    | [INFO] Setting docker timezone to: Asia/Taipei
httpd_1  | [INFO] Setting docker timezone to: Asia/Taipei
php_1    | root $ rm /etc/localtime
httpd_1  | apache $ sudo rm /etc/localtime
php_1    | root $ ln -s /usr/share/zoneinfo/Asia/Taipei /etc/localtime
httpd_1  | apache $ sudo ln -s /usr/share/zoneinfo/Asia

[2016-10-31 12:12] xralphack commented on #18
OS is windows10

error log in ./log/mysql5.5/error.log

161031 19:48:14 [Note] Plugin 'FEDERATED' is disabled.
161031 19:48:14 InnoDB: The InnoDB memory heap is disabled
161031 19:48:14 InnoDB: Mutexes and rw_locks use GCC atomic builtins
161031 19:48:14 InnoDB: Compressed tables use zlib 1.2.3
161031 19:48:14 InnoDB: Using Linux native AIO
161031 19:48:14 InnoDB: Initializing buffer pool, size =

[2016-10-31 13:28] cytopia commented on #18
Looks like a permission problem with the socket directory. This hasn't been tested under windows yet.

Please try the following:

In `docker-compose.yml` under the `db` section, comment out the run directory.

from:
[code]
to
[code]

[2016-10-31 14:30] thiagorock22 commented on #11
Thanks. My docker compose was outdated

[2016-10-31 14:53] #11 closed

[2016-10-31 16:35] xralphack commented on #18
after comment this line

error_log >

161101  0:30:25 [Note] Plugin 'FEDERATED' is disabled.
161101  0:30:25 InnoDB: The InnoDB memory heap is disabled
161101  0:30:25 InnoDB: Mutexes and rw_locks use GCC atomic builtins
161101  0:30:25 InnoDB: Compressed tables use zlib 1.2.3
161101  0:30:25 InnoDB: Using Linux native AIO
161101  0:30:25 InnoDB: Initializing buffer pool, size = 128.0M
161101  0:3

[2016-10-31 18:05] cytopia commented on #18
Could you also attach the full log of `docker-compose logs` for this run.

[2016-11-01 01:27] xralphack commented on #18
php_1    | [INFO] Setting docker timezone to: Asia/Taipei
php_1    | root $ rm /etc/localtime
php_1    | root $ ln -s /usr/share/zoneinfo/Asia/Taipei /etc/localtime
php_1    | [INFO] Setting PHP: timezone=Asia/Taipei
php_1    | root $ sed -i'' 's|;*date.timezone[[:space:]]*=.*$|date.timezone = Asia/Taipei|g' /etc/php.ini
php_1    | [INFO] Docker date set to: Tue Nov  1 00:30:25 CST 2016
php_1    |

[2016-11-01 07:24] ardanirohman opened #20 "setting manual Virtual Hosting"
i have a problem to setting manual virtual host, how to set in apache 2.4 vhost in devilbox?
thanks

[2016-11-01 07:57] cytopia commented on #20
What exactly do you need to accomplish?

VirtualHosts are automatically created by mass-virtual-hosting, whenever you add a new folder to your `HOST_PATH_TO_WWW_DOCROOTS` path.

[2016-11-01 08:13] cytopia commented on #18
It looks like a permission problem: http://stackoverflow.com/questions/1559955/host-xxx-xx-xxx-xxx-is-not-allowed-to-connect-to-this-mysql-server

I think, the databases were not created properly in your very first run and now mysql is trying to re-use the improperly created database with the missing access rights to connect to.

Can you point the path in `HOST_PATH_TO_MYSQL_DATADIR` to a differen

[2016-11-01 12:42] xralphack commented on #18
it works ~

![capture](https://cloud.githubusercontent.com/assets/9164448/19890129/bb93bc66-a073-11e6-88ff-a7fc7700a9fa.PNG)

[2016-11-01 14:31] cytopia commented on #18
Great!

The thing why the socket conncetion does not work under windows (I am purely guessing here) is

1. the `./run/mysql` directory does not have enough permissions
2. Windows does not allow the `mysqld.sock=` file to be created due to the `=` character in its name

If you want to test this. You can try to give all possible windows file permissions to `./run/mysql` and re-enable the socket moun

[2016-11-01 14:52] xralphack commented on #18
I am a beginner for docker. Is using tcp instead of socket reasonable for best practice ?  So why would you use socket (As I know, container probably can be hosted on different machine)

Can you explain more about how to "give all possible windows file permissions to ./run/mysql", please

[2016-11-01 15:15] cytopia commented on #18
Why would you use a socket:

This is via TCP connection
[code]

This is via socket connection
[code]

All read/write and execute permissions. That's all I can say. Sorry, not a windows user.

[2016-11-01 15:29] xralphack commented on #18
got it, thanks for your help.

maybe I should try --privilege

anyway, it works now.

[2016-11-01 15:37] cytopia commented on #18
kk, I will close this then.

[2016-11-01 17:01] cytopia opened #21 "Add travis checks"
Integrate into travis-ci

[2016-11-01 23:26] ardanirohman opened #22 "how to add Optional NoSQL stack"
how to add redis and memcached on docker-compose.yaml?
thanks

[2016-11-01 23:26] #20 closed

[2016-11-02 08:05] cytopia commented on #22
Hi @ardanirohman

currently the NoSQL stack is not yet implemened.
Only the dockers which are displayed as a link can be enabled.
The NoSQL stack is planned for release 1.0.

The upcoming release is 0.8, so you will have to wait a few weeks.

[2016-11-03 07:39] cytopia opened #23 "__ROADMAP__"
## Release 1.1

- [ ] Go
- [ ] Python
- [ ] Ruby
- [ ] Perl

## Release 1.0

- [ ] Memcached
- [ ] Redis
- [ ] MongoDB
- [ ] CouchDB
- [ ] Cassandra
- [ ] Apache Solr
- [ ] Elasticsearch

## Pre-release 0.9

- [ ] #9
- [ ] #10
- [ ] #12
- [ ] #13
- [ ] #14
- [ ] #15
- [ ] #16
- [ ] #17
- [ ] #21 Add travis checks

## Pre-release 0.8

- [ ] #1
- [ ] #2
- [ ] #3
- [ ] #4
- [X] #5 Handle emails sent

[2016-11-03 07:49] cytopia commented on #22
See [ROADMAP](https://github.com/cytopia/devilbox/issues/23)

[2016-11-03 07:49] #22 closed

[2016-11-03 15:16] #4 closed

[2016-11-06 12:59] cytopia commented on #10
It is not yet fully dynamic, but if you want to change the TLD suffix, you will do have to to that in two places at the moment:

`.devilbox/www/config.php` at `$TLD_SUFFIX` as well as in your webservers mass vhost config file `.devilbox/etc/<webserver>/02-vhost-mass.conf`

Might be soon a single option inside `.env`

[2016-11-09 03:04] xralphack commented on #18
hey, phpmyadmin seems to use socket. How can I configure it to use ip

[2016-11-09 11:46] cytopia commented on #18
Sure, you can edit `.devilbox/www/htdocs/vendors/phpmyadmin/config.inc.php` line 31 and set `localhost` to either the mysql IP or hostname.

[2016-11-15 19:27] cytopia commented on #17
Using https://www.adminer.org/

[2016-11-15 19:34] #17 closed

[2016-11-15 20:56] #16 closed

[2016-11-15 20:56] #15 closed

[2016-11-15 20:56] #14 closed

[2016-11-15 20:56] #13 closed

[2016-11-15 20:56] #12 closed

[2016-11-30 22:48] doku-san opened #24 "localhost on Windows 10 not found"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [x] Attach logs for php, mysql and webserver (found in `log/` directory)
- [x] St

[2016-11-30 23:00] cytopia commented on #24
Does docker compose start up successfully?
Could you paste the full `docker-compose up` output here?

Maybe windows has problems with the paths `/` instead of `\` inside the config files?

[2016-11-30 23:09] doku-san commented on #24
Hi. Yes it starts successfully. Images are build.

Normally there are no problems with backslashes. Folder are created. Data-Folder has postgres and mysql-folder and files in it.

Output:
`$ docker-compose.exe up
Starting devilboxmagento_mysql_1
Starting devilboxmagento_postgres_1
Starting devilboxmagento_php_1
Starting devilboxmagento_httpd_1
Attaching to devilboxmagento_postgres_1, devilboxmagen

[2016-11-30 23:11] doku-san commented on #24
On Windows, docker-machine uses ip 192.168.99.100. Maybe that's a problem?

[2016-11-30 23:20] doku-san commented on #24
The solution for Windows could be something like to have a variable in .env, where i can change **127.0.0.1** to **192.168.99.100**.

[2016-12-01 08:01] cytopia commented on #24
From you log I can see that httpd, postgres and mysql have exited abnormally (last ~10 lines).
Are you on the latest stable tag or on the master branch?
Please always use latest stable tag (if not already done so).

There was another Windows ticket in the past, maybe there are some useful information for you as well:

https://github.com/cytopia/devilbox/issues/18

[2016-12-01 08:48] doku-san commented on #24
I am using the latest. Started this project yesterday. That's right. mysql and postgres exit directly after starting.

Actually there are some differences on Windows Hosts, as I see it. Problems with:

- Socket-Dir on Host
- localhost IP is only working on Linux or OS Machines. On Windows it is192.168.99.100. (Maybe you should create a switch in .env for the IP Adress).

How I get the MYSQL-Contai

[2016-12-01 08:57] doku-san commented on #24
Update on Postgres:

There seems to be file-permission errors as well, when using data-directory on host:

`
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.
2016-12-01T08:54:30.473228771Z
The database cluster will be initialized with locale "en_US.utf8".
The default database encoding has accordingly been set to "UTF8".
The d

[2016-12-01 10:40] cytopia commented on #24
Please check out the latest tag, dont use the master branch

[2016-12-01 12:02] doku-san commented on #24
Ok. I did. But I can't docker-compose up:

`failed to allocate gateway (172.16.238.1): Address already in use`

Actually, I am not that PRO. Any idea?

[2016-12-01 12:03] cytopia commented on #24
That means that something is already listening there.
Did u docker-compose down before starting a new instance?

You can try to:
[code]

[2016-12-01 12:19] doku-san commented on #24
Sorry. My fault.

After
`$ docker-compose.exe up -d

Creating network "devilbox_app_net" with driver "bridge"

[31mERROR[0m: cannot create network
4acfc017352ee2f87e0edb8305986b8d91cae88727d7e2f77a60172f8d6bc7e1 (br-4acfc017352e): conflicts with network 48a61d13cb478ff8568dd14822db639ca12a2b58b7da48de65d4750ee5a973e0 (br-48a61d13cb47): networks have overlapping IPv4`

I had to

`$ docker network

[2016-12-01 12:38] cytopia commented on #24
When you check out the latest tag, there is no postgresql server included.
So basically the fix should only be to remove the mysql socket.

The different IP seems really strange to me.
Can u get a normal apache or php docker working to listen on localhost?
For example:

[code]

And then try if you can access `http://127.0.0.1:8080` with your webbrowser

[2016-12-01 14:40] doku-san commented on #24
Yes you are right. I did not checkout the right tag. So now I did, and the problem resist.

The different IP is not strange. It's normal behavior under windows. Docker-Machine under windows uses VirtualBox to create a host docker can run on. So 127.0.0.1 will never resolve to the the docker-host created from docker-machine. On windows you have to use http://192.168.99.100 (plus port if not 80) to

[2016-12-02 10:16] cytopia commented on #24
I will make this editable via `.env`.

[2016-12-02 20:16] cytopia commented on #24
Hi @doku-san you will need to switch to the latest master branch commit now in order to make use of it.

I added `LOCAL_LISTEN_ADDR=127.0.0.1:` to `env-example`, add this to your local `.env` and change the IP address accordingly.

Also note the last `:` (colon) after the IP address which is required.
You can also leave this variable completely blank in order to have mysql, httpd and postgresql li

[2016-12-26 05:13] isogram opened #25 "Manually Add Another Services"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [X] Specify used docker versions (php, web and database)
- [X] Attach logs for php, mysql and webserver (found in `log/` directory)
- [X] St

[2016-12-26 12:38] maikeldaloo opened #26 "Fresh install fails to load MySQL 5.7 on Xubuntu"
Hi,

First of all, I want to say what an awesome idea this is. Great job.

I just performed a fresh installation of Devilbox and MySQL wouldn't run.

All I've done so far is follow the installation instructions, and I cloned the `master` branch.

I tried `cytopia/mysql-5.5`, `cytopia/mysql-5.6` and `cytopia/mysql-5.7`.
5.5 and 5.6 just don't run at all. And 5.7 exits soon after it starts.

There a

[2016-12-26 13:50] cytopia commented on #26
Can u please check out the latest tag instead of master branch.
The master branch is still work in progress.

[2016-12-26 14:08] cytopia commented on #26
I just checked the latest master branch on Debian.

Can you try the following combination:

* PHP 7.0
* MariaDB 10.1
* Nginx-Stable
* PGSQL 9.6

Please make sure to delete any existing data, run and log directories before that and also do `docker-compose rm`

[2016-12-26 22:06] cytopia commented on #25
Most of the things you have mentioned are on the ROADMAP (except supervisor & beanstalk). I am still trying to figure out a good way that is compatible with many setups.

Not everybody wants or needs a ruby or python container, but some do.
So far I have thought about a shell script which is able to create/alter the docker-compose.yml depending on all the container you want to add.

If you have an

[2016-12-26 22:13] #21 closed

[2016-12-26 22:15] cytopia commented on #24
I will close this due to inactivity. If the problem still persists after the changes I have done, just re-open

[2016-12-27 01:43] maikeldaloo commented on #26
Hi @cytopia, thanks for the prompt response.

I tried the original combination I mentioned above on the `0.8.1-pre` tag. MySQL still exited soon after it started.

I also tried your suggested combination (minus Postgres), on `0.8.1-pre`, and that's working fine.

I would have continued with your suggested combination, but my shared hosting doesn't allow me to use Nginx nor MariaDB, but I just trie

[2016-12-27 12:31] cytopia commented on #26
If I understood you correct, it only fails (on `0.8.1-pre` tag or on `master` branch) if you choose MySQL 5.7 and all other MySQL/MariaDB versions succeed? Can you confirm this again please.

I also setup extensive travis checks now, which points out a problem with MySQL 5.7
https://travis-ci.org/cytopia/devilbox/builds/186852503

[2016-12-29 08:08] hxer opened #27 "sendmail unsupport -X option in cytopia/php-fpm-5.6:0.8.1"
pull `cytopia/php-fpm-5.6:0.8.1`,  write test.php as follow:

[code]

then run `php test.php`,  error as follow:

`sendmail: fatal: unsupported: -X/`

maybe reinstall senadmail?

run `yum install sendmail`, it solved.

some information as follow:

* OSX version: 10.12.2
* docker version:1.12.3
* docker-compose version:1.8.1

[2016-12-29 11:05] cytopia commented on #27
All PHP dockers have postfix installed.
Can you tell me what the `-X` option is for?

[2016-12-29 15:09] cebe commented on #27
X is simply not implemented in the sendmail binary that is provided by postfix. What do you need it for? In case you were trying the PHPMailer/SwiftMailer RCE vulnerability, as far as I see postfix installations are not affected because the do not provide the necessary command line options.

Your "fix" with installing sendmail introduces a conflict as you now have two MTAs installed, not a good id

[2016-12-29 15:10] cytopia commented on #27
@cebe thanks for the explanation.

@hxer what exactly are you using it for?

[2016-12-29 22:23] vcao opened #28 "Writing to /etc/hosts"
I'm having an issue with VirtualHosts not writing into /etc/hosts. Any advice on settings I should be looking into?

[logs.zip](https://github.com/cytopia/devilbox/files/677942/logs.zip)

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [x] Attach logs for php, mysql and webserver (

[2016-12-29 22:28] cytopia commented on #28
Hmm, the devilbox does not auto-write this info into your hosts `/etc/hosts` if this is what you mean. This is something you will have to do manually. (See the first video for how it works).

Please let me know if this was the problem.

[2016-12-29 23:39] cytopia commented on #28
@vcao, is the project with the host-updater also docker-based? If so, could u point out which project it is?

[2016-12-30 00:18] vcao commented on #28
@cytopia Not docker-based (Vagrant). Perhaps there might be something that could be modeled: https://github.com/cogitatio/vagrant-hostsupdater

[2016-12-30 03:13] cytopia commented on #9
self-contained DNS docker could be an options:

https://github.com/phensley/docker-dns

[2016-12-30 12:10] cytopia commented on #28
Thank you @vcao

[2016-12-30 19:08] vcao commented on #28
@cytopia FYI you have one of the best and easiest to use docker setups I've had to use. Thank you for the great work.

[2016-12-30 20:13] cytopia commented on #28
Good to know. Thanks!

[2016-12-30 20:31] cytopia commented on #26
I have set a different Database server as default in `env-default`.
MySQL 5.7 seems to have problems with the current docker version.
Its own build even fails after doing a retry on travis-ci, although the same build succeeded before.

[2016-12-31 00:57] maikeldaloo commented on #26
I've been away from server-side dev for a while, I didn't realise that MariaDB is the new flavour of MySQL.
I'm using MariaDB and all is working fine.

I'm currently using `apache-2.4`, `mariadb-10.1`, and `php-fpm-7.0` on the `0.8.1-pre` tag.

[2017-01-04 16:30] hxer commented on #27
as @cebe says, in this case, I was trying the PHPMailer RCE vulnerability.

[2017-01-04 18:42] cytopia commented on #27
If you can come up with a way to have both, postfix and sendmail installed in parallel, I can make it a startup option within the `.env` file. If both cannot be installed in parallel, I am afraid I cant help it and you will have to manually re-install sendmail on the respective php docker.

I will close this issue, as it cannot be fixed (because I am using postfix for all php dockers).
If you get

[2017-01-04 18:42] #27 closed

[2017-01-04 19:29] cebe commented on #27
Unless there is a very good reason and very careful configuration, having two MTAs on one machine can cause a lot of trouble so I would vote against doing that.

[2017-01-11 20:04] tracyfloyd opened #29 "Using for WordPress development"
In order for this to work for WordPress development I had to use php-fpm-7.0 - when I tried to use php-fpm-7.1 The WP site returns a 503 error and I get the following in the log/apache-2.4/other-error.log file:

[code]

Ultimately, I was unable to get it working with php-fm-7.1 - but I did want to leave a note here for any other WordPress devs looking to use this setup.

operating system: OS X (10

[2017-01-12 15:22] cytopia commented on #29
@tracyfloyd Thanks for the info. I will investigate this.
Btw, did you try to use nginx and php-fpm 7.1?

[2017-01-12 15:28] tracyfloyd commented on #29
I didn't - the prod server was running apache so was trying to stay as close to that as possible. I'll give it a try and report back.

[2017-01-31 10:07] LeG3nDz opened #30 "Error on run with Windows"
Hi community,

I use devilbox on my Ubuntu perfectly, but on Windows, when i run `docker-compose up`, i've this error :

[code]

I don't need use postgre :(
Do you know if i can disable postgre ?

- [ Windows ] Which operating system are you at (Linux, OSX or Windows)
- [ Client 1.12.6 // Server 1.13.0 ] `docker version`
- [ 1.9.0 ] `docker-compose version`

[2017-01-31 13:05] cytopia commented on #30
Hi @LeG3nDz ,

PostgreSQL is currently only in HEAD.
Switch back to the latest tag inside the repository. This does not contain PostgreSQL yet.

Can u give it a try and report back how this behaves on Windows

[2017-01-31 13:24] LeG3nDz commented on #30
Yop @cytopia,

I've test with HEAD branch, but no result :

[code]

[2017-01-31 16:34] cytopia commented on #30
Hi @LeG3nDz I meant not HEAD, but the latest git tag `0.8.1-pre`.

[2017-01-31 16:39] LeG3nDz commented on #30
@cytopia Yes, sorry, typing error :/ I'm on tag `0.8.1-pre`.

[2017-02-01 07:41] cytopia commented on #30
@LeG3nDz
Could you switch to a database other than MySQL 5.7 (this still has some problems).

Also, if this doesn't help, try to comment out all logging mounts inside the `Dockerfile`.

[2017-02-01 10:54] LeG3nDz commented on #30
@cytopia

Same error with mysql5.6 :( Is it possible to not use mysql ?

[2017-02-02 12:30] cytopia commented on #30
You could simply comment out all mysql stuff in `Dockerfile`
Also have a look at the [other windows-tagged bugs@devilbox](https://github.com/cytopia/devilbox/issues?q=label%3Ahost%3Awindows+is%3Aclosed).

[2017-02-15 06:11] GiorgosK opened #31 "Make any service optional - select which container to start"
if you comment out postgressql in .env file I was expecting no postgressql to be loaded but the LATEST is instead loaded ... it would be nice if there was a switch to disable any service from the .env file

[2017-02-16 06:49] GiorgosK opened #32 "Symbolic link not allowed or link target not accessible - can't make use of symbolic link for project"
I have successfully setup a project my_project and setup /etc/hosts and it works on the browser

I want to setup my system so that I keep all HTML in a seperate folder and not inside ./data/www using symlink's but it seems to not work

I am using ubuntu 16.04 and as a demonstration that it does not work I have done the following
in short I creating a symlink of proj/htdocs > my_project/htdocs

[co

[2017-02-19 02:47] leobudima commented on #10
FWIF, editing 02-vhost-mass.conf as:

[code]

solved the problem for me and projects / vhosts can now be called whatever.

[2017-03-23 18:40] jpuck commented on #32
This would be a very convenient option to solve so that one could have the flexibility of storing projects anywhere on the filesystem instead of grouped in `$HOST_PATH_TO_WWW_DOCROOTS`

[2017-03-23 19:25] jpuck opened #33 "PhpMyAdmin requires PHP 5.5+"
I was recently handed a maintenance job on an old app running PHP 5.4. So I booted up devilbox with PHP 5.4 no problem (thank you), but when trying to load PhpMyAdmin, I get the following error:

Is there someway to load a compatible version of PhpMyAdmin?

-----------

Please also specify the following info:

- [X] Which operating system are you at (Linux, OSX or Windows)

- [X] `docker version`

[2017-03-24 07:45] cytopia commented on #33
Good point. As a quick work-around I suggest you use `adminer` which is also included (and I hope it works with php 5.4) or you use an sql client.

However this will need fixing.

[2017-03-25 15:43] cytopia commented on #32
@GiorgosK

You can set the main path of your www folders inside `.env` file:

[code]

Correct me if I understood something wrong.

[2017-03-25 15:45] cytopia commented on #31
Something I am still trying to find a solution for.
The `docker-compose.yml` file does not have conditions and i still don't know a good way for how to get this working. This would obviously the ultimate goal ;-)

[2017-03-25 16:17] jpuck commented on #32
For me, I've got projects all over my file system that I'd like to be able to load in devilbox.

[code]

I'd like to be able to symlink to these projects from `HOST_PATH_TO_WWW_DOCROOTS`

[code]
but this doesn't work because symlinks to real paths outside `/devilbox/data/www` are not followed.

[2017-03-25 17:05] cytopia commented on #32
Are those symlinked directories actually present inside the docker after startup?

[2017-03-25 17:09] jpuck commented on #32
I don't think so. I guess this could be a limitation of docker whereby volumes can't follow symlinks.

[2017-03-25 19:20] cytopia commented on #32
@jpuck I am sorry to hear, then there is not much I can do about it.

[2017-03-25 19:20] #32 closed

[2017-03-25 23:18] dany-eudes commented on #24
I'm under Windows 10 Home, using Docker Tool Box and using devilbox master branch. The problems reported here all still persists, except for the Local Listen Address.

Comment out the data-container-path for  mysql|mariadb makes the container up.

I can change 127.0.0.1 to 192.168.99.100 in LOCAL_LISTEN_ADDR variable. Works fine.
Postgres also still have the same behaviour.

My containers are apac

[2017-03-25 23:26] dany-eudes commented on #24
Under Windows will need to set up `.devilbox\www\htdocs\vendor\phpmyadmin\.devilbox\www\htdocs\vendor\phpmyadmin as read-only file ` or PhpMyAdmin will fail. Just a warning to help us.

[2017-04-19 17:54] cytopia commented on #26
@maikeldaloo I have pushed a new version of mysql 5.7 to remote. could you `docker pull` it and check if it is working now

[2017-04-20 10:57] cytopia commented on #33
@jpuck this is going to be fixed in #37

[2017-04-20 11:22] #33 closed

[2017-04-20 11:22] cytopia commented on #33
merged #37

[2017-04-20 11:23] cytopia commented on #29
@tracyfloyd I have updated all PHP container. can you try again with php-fpm 7.1 (on devilbox master branch)

[2017-04-20 13:07] cytopia commented on #26
Latest fix is on the way:

https://github.com/cytopia/docker-mysql-5.7/pull/3

build should show results here:

https://github.com/cytopia/devilbox/pull/36

[2017-04-20 13:36] #26 closed

[2017-04-20 13:37] cytopia commented on #26
Has been fixed via https://github.com/cytopia/docker-mysql-5.7/pull/3

Please pull `latest` mysql-5.7 docker image.

[2017-04-21 21:26] cytopia opened #41 "Apache 2.2 and HHVM not working together"

[2017-04-23 11:24] cytopia commented on #31
@GiorgosK

Selectively loading docker containers is not possible due to the limitations of docker-compose.
I have however separated the container loading into two types:

1. Base stack (httpd, php, mysql and postgresql)
2. Optional stack (all of the above and redis (others coming soon).

This will be enabled by PR #44

[2017-04-23 11:26] cytopia commented on #25
Similar to #31

@isogram Do you have any docker-compose examples for the above listed services. Could you also let me know in more detail how they should be integrated.

[2017-04-24 08:42] Vadiok opened #48 "Docs about Composer usage"
Could you please write the documentation section how to install & run Composer & also run another PHP & MySQL console commands.

[2017-04-24 09:09] cytopia commented on #48
Hi @Vadiok,

could you give me an example of both: composer and mysql commands to run, so I better understand your goal.

**In general:**

Everything is available from outside the docker. (On your host computer)
* Connect to the Mysql on 127.0.0.1:3306 (`mysql -uroot -h127.0.0.1`)
* Adding libs to your PHP code , just `cd` into your data dir (On your host computer) and add what you require (There

[2017-04-24 09:31] andreyors opened #49 "Duplication of env variables passed to docker-compose"
There is no need to mention value of env vars in docker-compose, it will automatically pass it to service, it will take from .env automatically:

i.e. instead of
environment:
    - DEBUG_COMPOSE_ENTRYPOINT=${DEBUG_COMPOSE_ENTRYPOINT}

do
environment:
    - DEBUG_COMPOSE_ENTRYPOINT

[2017-04-24 09:39] Vadiok commented on #48
@cytopia thanks for answer.

Example of MySQL command (creation of DB dump):
`mysqldump -u homestead -psecret work_db_name | gzip -9 > dump.sql.gz`

Example of Composer usage
`php composer require 'laravel/database'`

Also how can I run [migrations](https://laravel.com/docs/master/migrations#running-migrations)?
`php artisan migrate`

[2017-04-24 10:09] cytopia commented on #48
Do you have `mysqldump` installed locally on your host? If yes, simply issue:
`mysqldump -h 127.0.0.1 -u homestead -psecret work_db_name | gzip -9 > dump.sql.gz`
Alternatively you can use the root user with its password as defined in the `.env` file:
`mysqldump -h 127.0.0.1 -u root -p work_db_name | gzip -9 > dump.sql.gz`

Do you have `php` installed locally on your host? If yes, simply go to your

[2017-04-24 10:18] cytopia commented on #49
@andreyors Thanks for the info. Didn't know yet.

[2017-04-24 10:39] Vadiok commented on #48
I have some installed versions of PHP (v7.1) & MySQL (v5.7) but what if I'll have a Laravel project with docker MySQL DB & run migrations
[code]
Laravel will run php scripts with my local version of PHP, it will try to connect to local MySQL instead of docker MySQL. I think connection fails, but if not PHP script did not find proper db in my local version of MySQL to execute migration.

Also it is

[2017-04-24 10:48] cytopia commented on #48
For mysql, you should set the connection all to `host: 127.0.0.1`. This will work from inside the container as well for the host. So db mirgrations should work.

For the other stuff, you can attach the php container and run the required commands.
In case of php 7.1:
[code]
And then cd into `/shared/httpd` which is the directory where all the data is mounted.
Also let me know all the software you n

[2017-04-24 17:37] uonick opened #50 "Failed to start on macOS"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [ ] Attach logs for php, mysql and webserver (found in `log/` directory)
- [ ] St

[2017-04-24 20:22] cytopia commented on #50
Hi @uonick ,

It is currently (due to docker-compose limitations) not possible to optionally start containers within a compose file. So for now there are two compose files:

1. docker-compose.yml
2. docker-compose.optional.yml

The first one will/must start: php, httpd, mysql and postgresql
The second one will/must start all of the above plus redis.

So you will have to uncomment redis.

FYI: This

[2017-04-24 21:44] uonick commented on #50
@cytopia thanks for the explanation 😯

[2017-04-25 07:06] cytopia commented on #50
@uonick Does it work on OSX once you re-enable postfix?

[2017-04-25 11:26] cytopia commented on #31
@GiorgosK @jpuck

I finally found a way to make it optional.

Instead of having to define multiple `docker-compose.xxx.yml` files, there will be only one `docker-compose.yml` and you can choose during startup via the following examples:

[code]

However, for this to work, there is going to be some rewrite necessary. Hope I can get this merged soon.

[2017-04-25 17:30] uonick commented on #50
Nope =( the same error after 4 restarts. Returned to vagrant.

[2017-04-26 09:10] Bobbydum opened #52 "mysql 5.7 can`t run"
cytopia/mysql-5.7
[code]

[2017-04-26 09:30] cytopia commented on #52
@Bobbydum
Can you paste your docker and docker-compose versions as well as operating system and what git tag/branch you are using.

Also try to switch (if not already) to the git master branch and pull latest docker. There have been some problems in the past with mysql 5.7 which should be fixed by the latest version.
[code]

[2017-04-26 10:26] valix85 commented on #30
Hi guys, i always obtain this erro when try docker-compose up

`C:\Docker\docker\wpfull\devilbox>docker-compose up
Recreating 4a6a7ff5a0fa_4a6a7ff5a0fa_4a6a7ff5a0fa_4a6a7ff5a0fa_devilbox_mysql_1
Starting 86b061bd0e31_devilbox_postgres_1

ERROR: for mysql  Cannot create container for service mysql: invalid bind mount spec "7bc0653178880226216df9bc06f8986986202138f24f195e474bd742294a40a0:etc/mysql/d

[2017-04-26 10:48] Bobbydum commented on #52
How i can disable starting  POSTGRES?
$ docker-compose pull
WARNING: The DEVILBOX_PATH variable is not set. Defaulting to a blank string.
WARNING: The LOCAL_LISTEN_ADDR variable is not set. Defaulting to a blank string.
WARNING: The HOST_PORT_HTTPD variable is not set. Defaulting to a blank string.
WARNING: The HOST_PATH_TO_POSTGRES_DATADIR variable is not set. Defaulting to a blank string.
WARNIN

[2017-04-26 10:59] cytopia commented on #52
You have invalidated your `.env` file.
Do not comment out any stuff. Everything inside this file is required. And you will have to decide upon one version of each service.

Currently you cannot disable a single service. The only way to do so is to remove Postgres from the `docker-compose.yml` file.

The upcoming release (in about 2-3 weeks) will have the ability to selectively decide which contain

[2017-04-26 10:59] fe3dback opened #53 "Run php/nginx with same UID/GUID (my home user 1000)"
Hello, i have file cms, this script very love to save/edit random files in random place in document root. Every modified files saved with docker uid/gid (like this):

[code]
[code]

How to use same uid/gid (user 1000) in docker containers? When cms save any files, i lose ownership on it in host system, and get many other problem with ownership.

[2017-04-26 11:03] cytopia commented on #53
Hi @fe3dback
Currently does not work. This will however be integrated into the next version (in around 2-3 weeks).

I am afraid, for you you will have to manually change ownership from time to time:
[code]

[2017-04-26 11:08] cytopia commented on #53
## Current workaround

You can clone all you required docker containers from my github account.
Each repository contains `build/docker-build.sh` script to easily build/rebuild your containers.

Bevor you do this however, you can change the UID/GID in each required container. As an example have a look at this Dockerfile:

https://github.com/cytopia/docker-php-fpm-7.0/blob/master/Dockerfile#L26

Sim

[2017-04-26 11:52] fe3dback commented on #53
This is good solution for my at this moment. Work perfectly.

[2017-04-26 12:28] cytopia commented on #30
@valix85

Can you replace all occurrances of `mysql_socket_volume` and `pgsql_socket_volume` with a writeable path inside the `docker-compose.yml`. And also remove the complete volumes section:

https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L302

[2017-04-26 13:05] valix85 commented on #30
but this step isn't in guide...

[2017-04-26 13:50] cytopia commented on #30
@valix85

I have just read somewhere that windows might have problems with volumes, so I suggested this as a quick workaround (simply by removing all the volume entries). And yes, it is not (yet) documented, I just came up with it.

I thought this might fix the issue, in case you succeed I might have to create two `docker-compose.yml` files. One for windows and one for unix.

[2017-04-26 14:34] Bobbydum commented on #52
On last master everything works fine/

[2017-04-26 14:34] #52 closed

[2017-04-27 15:03] fe3dback opened #54 "CP "Tools - Adminer" not working"
[code]

![image](https://cloud.githubusercontent.com/assets/2073883/25489837/c21e789c-2b73-11e7-9d60-4691f89e7357.png)

Containers:
[code]

[2017-04-28 06:17] cytopia commented on #54
@fe3dback Thanks for the report and the well structured issue. PR to fix this is on the way.

[2017-04-28 10:24] #54 closed

[2017-04-29 05:43] alexd73 commented on #48
Hello!
I use drupal console and drush utilities.
If I don't want to install composer, drupal console and drush on my host computer, have I any chance to Install this things on the docker container?

[2017-04-29 08:14] cytopia opened #56 "[Request / Voting] what tools should be available in the php container by default?"
In order to work completely inside the `php` container to run database migrations, drush, composer etc, there will have to be a set of pre-installed tools available inside this container.

Let me know what tools you would like to have in each php container as well as if you need different versions of those tools.

**Current list (will be extended)**

* [x] [drush](https://www.drupal.org/project/dr

[2017-04-29 08:15] cytopia commented on #48
Hi @alexd73 ,

I am currently working on this and it should come with the next release `0.9`. It's a bit tricky to get it done properly. Open todos are:

1. The docker container itself needs to have dns (or some other ways to access the vhosts on the www container).
2. Get list of tools to install to php container
3. Sync php uid/gid with host user uid/gid

So as a work-around for `2.` and `3.` is

[2017-04-29 08:59] cytopia commented on #53
UID/GID integration is on the way.
https://github.com/cytopia/docker-php-fpm-5.4/pull/16

Will be applied to all php container once the PR is feature-complete and bug-free

[2017-04-29 09:00] cytopia commented on #48
Current work already started and can be seen here:
https://github.com/cytopia/docker-php-fpm-5.4/pull/16

Will be applied to all php container once the PR is feature-complete and bug-free

[2017-04-29 10:22] alexd73 commented on #56
Sorry, but I can`t vote (checkbox is disabled). And I want add to the list a [Drupal console](https://drupalconsole.com/). (however, if will be added Composer, I can install Drupal console manuality)

- [ ] Drupal console

[2017-04-29 10:54] cytopia commented on #56
@alexd73 voting doesn't work, so I will just update the first post whenever a new request comes in

[2017-04-29 21:44] fe3dback commented on #53
cool, i can test this, when php >= 7.0 will be ready.

[2017-05-05 21:12] Vasary opened #57 "Add RabbitMQ"
Please add RabbitMQ container

[2017-05-06 09:44] cytopia commented on #57
@Vasary

I will need to know a few things in order to decide about how to add it and link it to the rest.

* What is your use-case (can you give some examples)
* Does it require access from the host?
* Does it require access from within the php container?

[2017-05-06 11:50] cytopia commented on #56
@alexd73
FYI:
drupal-console requires at least php 5.5, so unfortunately that won't make it into the php 5.4 container (will go into all others).

[2017-05-06 19:08] Vasary commented on #57
@cytopia
1. In my project all of request are deferred via RabbitMQ
2. Yes, it use web ui for monitoring queue
3. Yes, it require access from php container

I think a very good idea opportunity use PSQL or MySQL or both

[2017-05-07 20:37] cytopia commented on #57
@Vasary
Could you give me a more technical example please. Such as: Does it speak with a remote sock on a specific port? Or do you simply need some php module to be loaded?

[2017-05-09 06:52] cytopia commented on #9
Will be done from inside the docker container via: https://github.com/cytopia/docker-bind/pull/1
and from outside the docker container via Javascript ajax calls over the host DNS records

[2017-05-20 12:45] own2pwn opened #60 "Use dev zone instead of a loc one."
Hey there! Is there a way to use .dev zone instead of a loc?

- [x] OSX
- [x] `docker version 17.03.1-ce`
- [x] `docker-compose version 1.11.2, build dfed245`

[2017-05-20 13:26] cytopia commented on #60
@own2pwn Already fixed in the upcoming release (https://github.com/cytopia/devilbox/pull/58)
You can already give it a try (however HHVM does not work yet) - simply check out the release branch.

[2017-05-20 13:26] #60 closed

[2017-05-21 20:37] #9 closed

[2017-05-21 20:37] #49 closed

[2017-05-21 20:43] cytopia commented on #56
@alexd73 is integrated into new release. Update your branch.

[2017-05-21 20:43] #56 closed

[2017-05-21 20:44] cytopia commented on #10
@cagartner @leobudima Now fixed in new release.

[2017-05-21 20:44] #10 closed

[2017-05-21 20:44] cytopia commented on #31
@GiorgosK Now fixed in new release

[2017-05-21 20:44] #31 closed

[2017-05-21 20:44] cytopia commented on #53
@fe3dback Now included in the devilbox by default

[2017-05-21 20:44] #53 closed

[2017-05-21 20:45] cytopia commented on #60
@own2pwn It is working as of now.

[2017-05-21 21:01] cytopia commented on #50
@uonick problems should be resolved with the new release.

I will close this issue. In case you might drop by and still experience problems, just re-open it.

[2017-05-21 21:01] #50 closed

[2017-05-21 21:03] cytopia commented on #25
@isogram multiple/different container base has now been setup with the current release. Next release will integrate various queuing services: beanstalk, kafka, etc

[2017-05-21 21:05] cytopia commented on #48
@alexd73 @Vadiok You can now enter the php container with `./bash.sh` or `./root_bash.sh` and perform operations directly inside. Some dev tools have already been pre-installed such as: `node`, `npm`, `composer`, `drush`, `git`, and more.

[2017-05-21 21:05] #48 closed

[2017-05-22 07:17] cytopia commented on #29
@tracyfloyd
Can you try with the new devilbox release. v0.9.
I just setup latest wordpress on PHP-7.1, Apache-2.2 and MariaDB-10.1

Only thing you will have to do is create a database prior running the wordpress installer.

[2017-05-22 07:21] cytopia commented on #24
Hi everybody,

could you give it another try on the newly release devilbox version v0.9 and report back please.

[2017-05-22 07:21] #29 closed

[2017-05-22 07:24] cytopia commented on #30
Hi guys,

Could you give it another try in the newly release v.09 version.
I have removed named volume from docker-compose.yml. Hopefully it will work now.

[2017-05-22 14:52] fe3dback opened #61 "Not working after update to 0.9"
All working, its my mistake. see comment
----

After update to 0.9, "docker-compose up" won't work anymore.

[code]

---
- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`)
cytopia/mysql-5.7      0.9                 5c982535f75d        25 hours ago        1.28 GB
cytopia/php-fpm-7.0    0.9                 82ba5f8da78c        25 hours ago        605 MB
cytopia/apache-2.4     0.9

[2017-05-22 15:04] fe3dback commented on #61
sorry, i forgot to copy new env-example to .env, all working normal )

[2017-05-22 15:05] #61 closed

[2017-05-22 15:22] cytopia commented on #61
Always good when tickets resolve itself :-)

[2017-05-23 04:50] isogram commented on #25
great work @cytopia 👍

[2017-05-23 08:12] fe3dback opened #63 "php(7.0) can't connect to mysql (socket not found)"
When i try to open my application (after update to 0.9), mysql fall with error:
[code]

in php container, mysql socket not exist in /tmp/mysql.

--
Now i fix this by add 2 volumes in docker-compose.yml (to mysql and php section):
[code]

and change this path in php.ini:
[code]

maybe i do something wrong?

-------------------------
Also i have problem with dnsmasq service, this conflict with cytop

[2017-05-23 09:29] cytopia commented on #63
@fe3dback

**1. Socket issues**

I have removed all socket mounts (they have problems on windows).

Now everything is consistently port-forwarded to the php container on `127.0.0.1:<service-port>`.
This makes it more consistent to either connect to services from within the php container or from the host computer.

You should change your sql connections to:
[code]
This way, it can be called from th

[2017-05-23 11:56] fe3dback commented on #63
how to do this?

when i run devilbox at /vhosts.php all my project has error "No Host DNS record found. Add the following to /etc/hosts: ..."

i have many-many projects, and i do not want each time add new line in hosts file.

dnsmasq and HOST_PORT_BIND=54 resolve this problem, but if you say it "already included".. =)

[2017-05-23 12:24] cytopia commented on #63
**How to enable devilbox DNS**

1. You will have to stop and disable your current local resolver.
2. add `nameserver 127.0.01` to `/etc/resolv.conf`

Now, whenever you create a new project folder, DNS automatically exists. Even if you change `TLD_SUFFIX` to something else, it will still work.

[2017-05-23 17:50] uonick commented on #50
@cytopia thnx for the ur great work! but:
[code]

[2017-05-23 20:54] cytopia commented on #50
Hey @uonick :

`(Failure EADDRINUSE)` This is because you already have a local DNS resolver running on port 53 at least on localhost.

You either have to disable it or change the devilbox's DNS listening port in the `.env` file: `HOST_PORT_BIND=53` to `54`

However, when you use the devilbox's DNS server (which requires an entry in your `/etc/resolv.conf`), custom domains will always work automati

[2017-05-23 20:55] cytopia commented on #50
See here for how to add the devilbox's DNS resolver: https://github.com/cytopia/devilbox/issues/63

[2017-05-24 12:41] fe3dback opened #64 "phpmyadmin not working"
now adminer is ok, phpmyadmin is not.

containers:
[code]

http://127.0.0.1/vendor/phpmyadmin-4.7/index.php

[code]

my conf, version, etc still same from #61

[2017-05-24 12:53] cytopia commented on #64
I am using the same container:
[code]

No exceptions here...

How about: http://127.0.0.1/vendor/phpmyadmin-4.0 ?
(Ignore the php warnings, will only be offered for php-5.4 anyway)

[2017-05-24 13:00] fe3dback commented on #64
![screenshot from 2017-05-24 15-58-52](https://cloud.githubusercontent.com/assets/2073883/26404278/fcd0a31c-4099-11e7-8b25-9f379288ab4f.png)

[code]

[2017-05-24 13:11] cytopia commented on #64
This one is OK. Link will only be active once you enable php-fpm-5.4. Just wanted to double check there.

Could you attach another screenshot from the actual enabled phpMyAdmin version 4.7

[2017-05-25 09:12] cytopia commented on #64
**phpMyAdmin 4.0**

Again phpMyAdmin 4.0 errors will appear on later php versions, however it will only be available under the menu if you started up php-fpm-5.4.  So when you open phpMyAdmin 4.0 with php5.4 there will be no errors. So that can be neglected. Just wanted to make double sure here.

**phpMyAdmin 4.7**

Everything above php-5.4 (5.5, 5.6, 7.0, 7.1 and hhvm) should not produce any erro

[2017-05-25 09:13] cytopia commented on #63
@fe3dback Did you get the devilbox DNS resolver to work locally? Or did this issue resolve otherwise?

[2017-05-25 09:14] fe3dback commented on #64
i use php7.0

when i go here:
http://localhost/vendor/phpmyadmin-4.0/index.php
its look ok, i see login form, and no errors.

when i go here
http://localhost/vendor/phpmyadmin-4.7/index.php
(this url default link from DB menu)
i get erros:
![screenshot from 2017-05-25 12 14 04](https://cloud.githubusercontent.com/assets/2073883/26444111/ac9c4e28-4143-11e7-8eef-f557e840952d.png)

[2017-05-25 09:17] cytopia commented on #64
That seems very strange. Could you please provide a few dumps:

* `docker-compose logs`
* `cat log/php-fpm-7.0/php-fpm.err`
* `cat log/php-fpm-7.0/www-error.log`
* `cat log/php-fpm-7.0/www-error.log`
* `cat log/apache-2.4/devilbox-error.log`
* `cat log/apache-2.4/projects-error.log`
* `cat log/apache-2.4/error_log`

[2017-05-25 09:20] cytopia commented on #64
Btw, is your git directory clean? (`git status`) and did you check out the current release tag?

[2017-05-25 09:22] fe3dback commented on #63
I can't setup DB resolver. My steps:

1) Turn off my dnsmasq service, check host.
2) Replace port to default 53 in HOST_PORT_BIND env (before 54)
3) add nameserver 127.0.0.1 in /etc/resolv.conf
4) Restart my network service
5) Restart docker-compose

In devilbox /vhosts.php page, all my projects have label "No Host DNS record found".

So, now i returned to my dnsmasq service.

[2017-05-25 09:28] cytopia commented on #63
`.4` restarting network service is not required. Maybe this changed `/etc/resolv.conf` again with a different resolver after you manually edited it?

Once you re-enabled port 53 and started docker-compose again, did the DNS receive errors during startup?

[2017-05-25 09:28] cytopia commented on #63
Btw, are you on OSX or on Linux?

[2017-05-25 09:30] fe3dback commented on #64
__diff .env env-example__
[code]

__git status__

[code]
__docker-compose logs__
[code]
__log/php-fpm-7.0/php-fpm.err__ - empty

__log/php-fpm-7.0/www-error.log__:
[code]
__log/apache-2.4/devilbox-error.log__

[code]
__log/apache-2.4/projects-error.log__
[code]

__log/apache-2.4/error_log__
[code]

[2017-05-25 09:34] fe3dback commented on #63
no, i check this when run docker-compose up

no errors.

Linux:
Linux more 4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:56:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-05-25 09:34] cytopia commented on #64
Could you check out the release tag (you seem to be behind on git)

[code]

[2017-05-25 09:40] fe3dback commented on #64
Nothing changes.

vimdiff show same result (like "diff .env env-example")

Now i run all containers:
[code]

and get same error in http://localhost/vendor/phpmyadmin-4.7/index.php

[2017-05-25 09:42] cytopia commented on #64
Could you see if `docker-compose pull` will give you newer container and also try out (only for testing) with php-5.6 and php-7.1

[2017-05-25 09:52] fe3dback commented on #64
[code]
other containers has "up to date" status.
docker-compose pull not resolve issue.

Trying php7.1:
4.0 - not working (form visible, but before form showed many errors, like in comment 3)
4.7 (menu link to this version) - working without errors as expected

Trying php5.6:
4.0 - not working (same as 7.1)
4.7 (menu link to this version) - broken complete
[code]

[2017-05-25 10:39] cytopia commented on #64
Ca you go to `http://localhost/info_php.php` and check the value of `mbstring.func_overload`

[2017-05-25 10:39] cytopia commented on #64
Btw, what do you mean by

[2017-05-25 11:04] cytopia commented on #64
Another thing that came to my mind.

When you do `docker-compose stop`.

Can you check afterwards if there are still container running (maybe from a different devilbox folder - in case you have multiple clonse).
[code]

[2017-05-25 14:10] fe3dback commented on #64
oh, its my fault. I use custom php config with mbstring.func_overload = 2, several month already and forgot about it.. sorry.

phpadmin not support this overload, and fall with error.

[2017-05-26 06:38] cytopia commented on #64
Alright. then it seems solved and I will close this issue.  Btw, what do you need this setting for? If it is a crucial one that you will need, I can hard-code it into phpmyadmin to be off and you can still have it on for your custom projects.

[2017-05-26 06:38] #64 closed

[2017-05-26 06:52] tony199555 opened #65 "Nodejs/Composer Support"
Nodejs and composer is getting popular on web development. It will be super if devilbox supports nodejs and composer environment "out of the box".

P.S. This project is so good that saved me a lot of time. Keep up the good work.

[2017-05-26 06:54] cytopia commented on #65
Hi @tony199555 . Nodejs and Composer are already included and supported.
You can work inside the php container:

[code]

It already has the tools installed, including `drush` and `drupal-console`.

[2017-05-26 07:00] cytopia commented on #63
I will close this ticket for the socket mount path. Could you open a separate ticket for the DNS issue if you want to dig further to get it to work.

[2017-05-26 07:00] #63 closed

[2017-05-26 07:15] fe3dback commented on #64
i do not use phpmyadmin, only want to help you with errors ).
adminer do all things well done.

// p.s. func_overload is requirement of popular shit driven russian cms (bitrix)

[2017-05-26 07:29] cytopia commented on #64
Thanks for the info. First time I heard about shit driven development

[2017-05-27 18:26] dany-eudes opened #70 "Apache 403 Forbidden under Windows 10"
Under Windows, VirtualBox IP address by default is 192.168.99.100.

So, we'll get a 403 Forbidden because it's not appears in `.devilbox/etc/apache-2.4/01-vhost-default.conf`.
Just include it there as a alias and all stuff will be Ok.
[code]
Always nice when ticket resolved itself. ;)
That's it!

Note1: devilbox branch master
Note2: I included also `devilbox.loc` as alias because I put that in `C:

[2017-05-27 19:22] cytopia commented on #70
@dany-eudes Thanks for the info.

Isn't it also possible to just add:
[code]
in your `C:\Windows\System32\drivers\etc\hosts` file instead of changing the above vhost settings?

[2017-05-27 19:23] cytopia commented on #65
@tony199555 I will close this. If you have any questions about how to enter the php container and use nodejs/composer, simply write here again.

[2017-05-27 19:23] #65 closed

[2017-05-27 20:08] dany-eudes commented on #70
@cytopia, sure it's possible insert `httpd` alias into `hosts` file. But I prefer `devilbox.loc` because it's a so good name! If I were you I'd put that name in vhost conf file and I'd update the docs to make a direction to Windows guys. BTW, great job! Congrats!

[2017-05-27 20:12] cytopia commented on #70
@dany-eudes I keep that in mind.

It will not be before end of summer until i will have my own windows machine. So until then I rely on you guys :-) Keep up ticketing for any problems on windows.

[2017-05-27 21:03] cytopia commented on #24
This might solve it for now:

https://github.com/cytopia/devilbox/issues/70

Add
[code]
in your `C:\Windows\System32\drivers\etc\hosts` file

[2017-05-27 21:05] cytopia commented on #30
@LeG3nDz

Yes, now it is possible to selectively start what you need.

@valix85

Also the socket mounts have been removed and it should work fine.

[2017-05-27 21:08] dany-eudes opened #71 "No Host DNS record found"
The Virtual Hosts  menu option lists all my projects with a ERR message:
[code]
Because I'm running under Windows 10, my hosts file uses the default VirtualBox IP Address:
[code]
However the project loads normally without any problems, only the host list of devilbox shows this error and with no apparent side effects.

[2017-05-28 08:54] cytopia commented on #71
@dany-eudes Yes this is the problem with windows I have totally overlooked.

As there a quite a few different checks (backend+ajax) could you provide a screenshot also with the Browser inspector open, showing the `_ajax_callback.php` XHR request.

[2017-05-29 07:11] cytopia commented on #70
@dany-eudes I will have adjust all 4 webserver docker container in order to simply add an IP address to `.env` as an injectable value

[2017-05-30 07:11] ilsenem opened #73 "PHP ini settings"
Is there any convenient way to edit `php.ini` settings?

[2017-05-30 07:14] cytopia commented on #73
Yes. Inside the devilbox git directory go to `cfg/`. You will find config folders for each PHP version.
Simply put your `*.ini` file into the php version folder.

You can also check `cfg/php-fpm-5.6/` for an example.

Once you have created a config, restart the devilbox and check `http://localhost/info_php.php` if the changes are effective.

Let me know if this works.

[2017-05-30 07:25] cytopia opened #74 "Need shell output for inotify from Windows users - please paste a few commands?"
@dany-eudes, @LeG3nDz, @valix85, @doku-san

I am rebuilding the Webservers to make them better work with windows. However, I will need a little help from you guys as I don't have a Windows machine here.

Help me how `inotify` currently behaves on Windows:
(https://github.com/docker/for-win/issues/56 | https://docs.docker.com/docker-for-windows/troubleshoot/#inotify-on-shared-drives-does-not-work)

[2017-05-30 07:31] ilsenem commented on #73
Thanks, all worked well.

P.S. Thanks for the great tool!

[2017-05-30 07:31] #73 closed

[2017-05-30 07:32] cytopia commented on #73
Good to hear. Thanks. I will have to update the documentation to also include this section.

[2017-05-30 07:36] ilsenem commented on #73
Another one. Problem was with max upload size in first place to let me upload large dump to `MySQL` through `adminer`. `PHP` was the first gate and now `nginx` get in the way. Do i have to change configuration inside `.devilbox/etc/*` folder or there is an easy way?

[2017-05-30 07:40] cytopia opened #75 "Custom nginx configuration"
@ilsenem continued from here: https://github.com/cytopia/devilbox/issues/73

Yes, unfortunately for now, this is the only place to adjust HTTPD configuration.
Could you let me know what values you need to change.

**Edit**:

For now you should use `.devilbox/etc/<server>/00-defaults.conf`

I am also about to re-write the HTTPD servers so configurations can be done in the `cfg/` directory

[2017-05-30 07:41] cytopia commented on #73
Please create separate tickets for different bugs:
https://github.com/cytopia/devilbox/issues/75

[2017-05-30 08:08] ilsenem commented on #75
Configuration should look like this:

[code]
If it is possible to move such frequently modified values to `.env` file, it would be great! Some `Vagrant` boxes, like `Homestead` have settings similar to mentioned above.

[2017-06-01 02:23] mizunoer commented on #71
No Host DNS record found. Add the following to /etc/hosts: 127.0.0.1 onepage.loc
This worked before the update

[2017-06-01 06:23] cytopia commented on #71
@mizunoer could you provide some more information: which docker container did you choose, which Windows version, which docker/docker-compose version.

Did you also compare `.env` with `env-example` to make sure it is up to date?

[2017-06-06 11:20] ilsenem opened #76 "PostgreSQL timezone settings"
- Ubuntu 16.04
- Docker 17.03.1-ce
- docker-compose 1.13.0

I don't know if this is by design or a missed feature, but when i set configuration value for TIMEZONE, it propagates everywhere except (what i notice) PostgreSQL settings. My timezone is `Asia/Novosibirsk` but `postgres` show me that my timezone is `UTC`.

[2017-06-06 14:50] cytopia commented on #24
Btw, are you using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) or [Docker for Windows](https://docs.docker.com/docker-for-windows/install/#download-docker-for-windows)

[2017-06-06 14:51] cytopia commented on #30
I will close due to inactivity and due to fix already submitted.

If this particular issues still persists, let me know if you are using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) or [Docker for Windows](https://docs.docker.com/docker-for-windows/install/#download-docker-for-windows)

[2017-06-06 14:51] #30 closed

[2017-06-06 14:53] cytopia commented on #70
Btw, are you using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) or [Docker for Windows](https://docs.docker.com/docker-for-windows/install/#download-docker-for-windows)

[2017-06-06 14:53] cytopia commented on #71
Are you using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) or [Docker for Windows](https://docs.docker.com/docker-for-windows/install/#download-docker-for-windows)

[2017-06-06 14:56] cytopia commented on #76
@ilsenem The problem here is that the devilbox is using official postgresql docker and they do not offer to change the timezone. This is not something I can change. Only way around this, is to create custom postgresql docker container.

Let me know if this is a crucial feature, then I can put it on the Roadmap: #23 .

[2017-06-06 14:56] #76 closed

[2017-06-07 06:19] ilsenem commented on #76
Since `Devilbox` suppose to work on developer machine only, this is not a crucial feature at all. It was expected behaviour but not required. Thanks for answer.

[2017-06-07 08:08] ilsenem opened #78 "XDebug error"
When trying to setup remote debugging i receive this error in `xdebug.log`:

[code]

Is there any relation with Devilbox itself?

For now, i use PHPStorm and internal IDE validation is working fine, but no remote debugging is happening.

[2017-06-07 08:29] cytopia commented on #78
I will try to reproduce this. Can you let me know a bit more about your setup:

* Windows, Linux or OSX
* In Case of Windows: Are you using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) or [Docker for Windows](https://docs.docker.com/docker-for-windows/install/#download-docker-for-windows)
* Docker and Docker-compose versions
* XDEBUG setup in `.env`

[2017-06-07 10:12] ilsenem commented on #78
* Ubuntu 16.04
* Docker 17.03.1-ce
* Docker-compose 1.13.0

`.env`
[code]

PHPStorm configured through Docker `php` executable, with server mapped properly on container folders.

[2017-06-07 11:21] ilsenem commented on #78
That was entirely my mistake. Have not read the comment above `PHP_XDEBUG_REMOTE_HOST` parameter. I forget to change IP to my host address, so `xdebug` was unable to connect. Sorry.

[2017-06-07 11:21] #78 closed

[2017-06-07 11:28] cytopia commented on #78
Good to hear. I will have to add this to the FAQ section.

[2017-06-09 07:14] cytopia commented on #25
@isogram  I will close this ticket. Queuing services are scheduled for the next release. Manually adding services will be possible. I will add some documentation for that.

[2017-06-09 07:14] #25 closed

[2017-06-13 21:36] eortega opened #79 "Mysql socket set up to use in Php"
Hi;

I'm having a trouble with mysql/php; mysql socket is created inside mysql container in this path _/tmp/mysql/mysqld.sock_ but this is out of the scope of the php container. How is possible to share mysql socket between both mysql and php containers ?

In the php container mysql socket is expected in _/var/lib/mysql/mysql.sock_

I think that I'm missing some configuration or maybe a environmen

[2017-06-13 23:35] eortega commented on #79
I found a workaround using volumes, now php could use socket generated by mysql but I had to modify docker-compose.yml.

[2017-06-17 04:37] jhabdas commented on #63
[TCP and UDP ports used by Apple software products](https://support.apple.com/en-us/HT202944) states 53 is taken but does not mention 54.

My out of the devilbox experience following `.env` config was:

[code]

[2017-06-17 05:07] jhabdas commented on #63
Updated.

[2017-06-17 10:45] cytopia commented on #79
@eortega I have removed socket mounts and configuration via docker volumes as it did not work properly on windows. The recommended way for database connections is to use `127.0.0.1`. This will be available on the Docker host as well as inside the PHP container (syncronized).

[2017-06-17 10:46] #79 closed

[2017-06-19 07:11] cytopia opened #82 "TCP/53 and UDP/53 already taken on OSX/Linux"
@fe3dback moved from #63

---

@jhabdas moved from #63

[2017-06-19 07:12] cytopia commented on #63
Continued here #82

[2017-06-19 07:15] cytopia commented on #82
I will move TCP/53 and UDP/53 both to 1053 by default and add some documentation for how to change and integrate into Linux and OSX

[2017-06-20 13:31] laeckerv opened #83 "Locale"
I was wondering if there is a possibility to configure the 'locale' to 'de_DE' for the httpd/php docker container?

[2017-06-20 15:04] boligolov commented on #82
I had same problem in Ubuntu:

Commenting the line resolved the problem ;)

[2017-06-20 19:27] cytopia commented on #83
Its currently not supported, except if you alter the `Dockerfile` and rebuild the container.

What is the benefit of changing it to something else than the current default?

[2017-06-20 19:34] cytopia commented on #82
@boligolov the problem was a wrong assignment for UDP ports. I found this explanation to it.

https://github.com/docker/compose/issues/1334

As you can see from the above commit, it will be fixed in the upcoming version.

[2017-06-20 20:18] jhabdas commented on #82
![angelfives](https://user-images.githubusercontent.com/440298/27353988-a1e90192-5638-11e7-8f43-329a3f83900d.gif)

[2017-06-21 07:24] cytopia opened #84 "Create PHP 7.2 container"
As PHP 7.2 is out as an early version, it would be nice to already try it out.

[2017-06-21 10:13] laeckerv commented on #83
Okay :-)

The benefit would be that the localized use of [strftime]( http://php.net/manual/en/function.strftime.php) and other php functions that depend on the `locale`  setting would work 👍

[2017-06-21 10:52] cytopia commented on #83
@laeckerv that is something that should be changed in your `php.ini` or actually on a per project base during project initialization and **not** on the server's timezone.

[2017-06-21 11:19] laeckerv commented on #83
@cytopia :

Like this?

[code]

But as far as i understand this needs to have the 'de_DE' locale installed on the server? But by default only the following are installed.

[code]

[2017-06-21 16:40] cytopia commented on #83
I can provide a whole bunch of locales inside the container by default.
Let's see if it can also be easily changeable.

[2017-06-25 13:05] cytopia commented on #82
resolved in latest tagged version.

[2017-06-25 13:05] #82 closed

[2017-06-25 13:12] jhabdas commented on #82
Bind port updated. Pulling layers. I'm on a pretty slow connection so don't hold your breath.

[2017-06-27 07:30] cytopia commented on #84
https://github.com/cytopia/docker-php-fpm-7.2

[2017-06-27 11:49] jhabdas commented on #82
Install works now. Composer is up. Bunch of verbose output from Maria. Now I just gotta figure out how to use this thing. @cytopia thoughts on moving the video tutorials over to Vimeo to nix the trackers and improve security?

[2017-06-27 11:51] cytopia commented on #82
@jhabdas

Just added a huge documentation. Let me know if anything is missing.

`nix the trackers` ? And why does it improve security?

[2017-06-27 11:55] jhabdas commented on #82
Our dear friend google uses double-click to sell PII to third party advertisers. And I learned recently Vimeo won't allow videos on HTTP to play over insecure connections. [Example here](https://hackcabin.com/post/become-digital-nomad-bali/). Scroll below the fold. Do you see the video?

Awesome. Parsing through the docs now. Mad props for being thorough. ✊

[2017-06-27 12:35] jhabdas commented on #82
Initially could not get outside the php box for wordpress setup after composing. running docker update to get new layers.

You may be interested in:
https://github.com/jlk/wordpress-swarm
https://github.com/TrafeX/docker-wordpress

[2017-06-27 12:38] cytopia commented on #82
You can use provided `update.sh` or `docker-compose pull`. Thx for the links

[2017-06-27 12:54] cytopia commented on #82
Btw, there is an example setup for wordpress:

https://github.com/cytopia/devilbox/blob/master/docs/Examples.md#6-setup-wordpress

[2017-06-27 12:55] jhabdas commented on #82
I found that quickly. Your docs are very well laid out and easy to navigate. 👌

[2017-06-27 12:56] jhabdas commented on #82
While we're sharing. I'd be a fool if I didn't send this your way: https://serifandsemaphore.io/how-to-host-wordpress-like-a-boss-b5993fcfbd8e

[2017-06-27 14:10] jhabdas commented on #82
Probably doing something stupid. But I did a `.docker-update.sh`, pulled down layers. Then did a `docker-compose down` followed by a `docker-compose up` daemonized, shelled into the box as non-root and can't get an outside line for some reason:

[code]

Will dig more soon. Everything else is looking super sweet. I'm very captivated by this tool.

[2017-06-27 14:57] cytopia commented on #82
@jhabdas could you open up a separate issue for this problem. Others won;t see this in a closed ticket.

[2017-06-27 15:01] jhabdas commented on #82
I will only once I've done my due diligence first.

[2017-06-27 16:20] cytopia commented on #84
merged in #87

[2017-06-27 16:20] #84 closed

[2017-06-28 08:36] boligolov commented on #82
@cytopia thank you! :)

[2017-07-02 17:44] normance opened #90 "Using symlinks for htdocs"
Hi,

  I'm using devilbox on MacOs 10.10.5 +  Docker 17.06.0-ce for Mac + docker-compose 1.14.0
  While docker doc ( https://docs.docker.com/docker-for-mac/osxfs/#namespaces ) states that /Volumes/... is available in containers, when I run devilbox ./bash.sh  I do not see /Volumes (nor /Users /private).

   This prevent usage of symlinks under ./data/www/my-project
   ln -s /Volumes/repo/gitRepoOf

[2017-07-02 18:02] cytopia commented on #90
Hi @normance,

thanks for the detailed description.

I am currently not on a Mac, but I remember, that you have to explicitly allow directories outside your home dir to be mounted in the Docker settings itself. I think it defaults to your user's home dir. Could you check that please.

[2017-07-02 18:06] cytopia commented on #90
This is where you need to specify your volumes/directories that are allowed to be mounted:

https://docs.docker.com/docker-for-mac/#file-sharing

[2017-07-02 23:25] normance commented on #90
Thanks for the quick reply :)

You are right, the Docker doc says so.

The file sharing option list 4 directories (/Users, /Volumes, /tmp, /private) that can be easily mounted but I do not have access to the commande line:

   docker run -v /Volumes/repo:/Volumes/repo:cached  ...

 since it is handled by devilbox; so I don't know how to configure this mounting elsewhere that in the docker.compose.

[2017-07-03 07:04] cytopia commented on #90
When you allowed `/Volumes` as a mountpoint in the Docker settings and have set `HOST_PATH_HTTPD_DATADIR=/Volumes`, it should be mounted as `/shared/httpd`.

Could you check on that please.

[2017-07-03 07:14] cytopia commented on #32
Might be related to: https://github.com/cytopia/devilbox/issues/90

[2017-07-03 12:32] normance commented on #90
I have done a fresh install of both Docker for Mac and of your git repo

Into Docker for Mac, the ready to mount volumes are:
![dockerformac](https://user-images.githubusercontent.com/5635775/27791320-b3bf06ee-5ff4-11e7-9394-6ad91628d668.png)

Into .env
    ### Local filesystem path to www projects.
    ###
    #HOST_PATH_HTTPD_DATADIR=./data/www
    HOST_PATH_HTTPD_DATADIR=/Volume/repo/gitRepoOfM

[2017-07-03 12:42] cytopia commented on #90
Cool. :-)

You should probably just use the upper folder for mounts:
[code]
If the `repo` directory contains multiple projects.

Btw, could I use your screenshot for documentation purposes?

[2017-07-03 12:42] #90 closed

[2017-07-03 12:54] normance commented on #90
yes this is what I have done, I get more ERR into http://127.0.0.1/vhosts.php since all repos does not have htdocs entry, but can I live with that :)

Please use the screenshot as you need

[2017-07-03 14:03] normance opened #92 "After initial run, it seems impossible changing HOST_PATH_MYSQL_DATADIR"
Hi,

I'm using devilbox on MacOs 10.10.5 + Docker 17.06.0-ce for Mac + docker-compose 1.14.0
After initial run, it seems impossible changing HOST_PATH_MYSQL_DATADIR

Step 1 : use default HOST_PATH_MYSQL_DATADIR=./data/mysql in .env file

     docker-compose up php mysql
works fine, ./data/mysql is populated with sub directory named as the mysql flavour chose in .env

Step 2 : change HOST_PATH_MYSQ

[2017-07-03 18:28] cytopia commented on #92
@normance thanks for the bug report.

I will try to reproduce this.

[2017-07-03 19:52] cytopia commented on #92
Just a quick thought: Could you do a `docker-compose rm -f` after shutting down, then change the `.env` value and start up again.

[2017-07-03 22:19] normance commented on #92
thanks !
Changes work fine with this command ! Please update the doc with this magic bullet :)

[2017-07-04 07:01] cytopia commented on #92
@normance  Can you have a look if this is sufficient and understandable:

https://github.com/cytopia/devilbox/pull/94/files

[2017-07-04 07:05] cytopia commented on #75
@ilsenem just to give you some heads-up. This is currently under development.

[2017-07-05 06:18] #92 closed

[2017-07-07 19:22] #41 closed

[2017-07-14 08:57] ims-one opened #96 "PHP container exits on certain `NEW_GID` setting in `.env`"
Hi,

i installed devilbox on arch linux and i become the following error:

`nginx: [emerg] host not found in upstream "php" in /etc/nginx-mainline/01-vhost-default.conf:59`

docker --version
Docker version 17.05.0-ce, build 89658bed64

docker-compose --version
docker-compose version 1.14.0, build unknown

The localhost show just a 502 Bad Gateway.

Can you help?

[2017-07-14 21:25] ims-one commented on #96
Ok, i give it up now after 2 days.
PHP container dont start on Arch.
Devilbox dont run on Arch.

Thanks

[2017-07-14 21:39] ims-one commented on #96
`docker ps
CONTAINER ID        IMAGE                           COMMAND                  CREATED             STATUS                          PORTS                                            NAMES
03cd8f950acc        cytopia/mariadb-10.3:latest     "/docker-entrypoin..."   5 minutes ago       Up 5 minutes                    127.0.0.1:3306->3306/tcp                         devilbox_mysql_1
ac9af6b7d4

[2017-07-14 22:46] ims-one commented on #96
change back from
`
NEW_UID=1000
NEW_GID=100
`
to
`
NEW_UID=1000
NEW_GID=1000
`

and all is up and running :o)

[2017-07-15 21:21] cytopia commented on #96
@ims-one sorry for the late reply. Its good that everything works.

Was there any readon for having `NEW_GID` set to `100`? If that is still desired I will probably have to look into this issue.

[2017-07-15 22:35] ims-one commented on #96
yes. if i type **id** in my console:

`uid=1000(xxx) gid=100(users) Gruppen=100(users),10(wheel),996(docker)`

[2017-07-16 10:57] cytopia commented on #96
Ok I'll keep the ticket open and try to reproduce the error

[2017-07-18 05:20] instantdelay commented on #74
PS F:\Projects\temphub> docker exec -it httpd-test gosu root inotifywait /shared/httpd
    Setting up watches.
    Watches established.

It didn't output anything or exit when I made the folder unfortunately

    PS F:\Projects\temphub> mkdir testing_folder

        Directory: F:\Projects\temphub

    Mode                LastWriteTime         Length Name
    ----                -------------

[2017-07-18 07:01] cytopia commented on #74
@instantdelay Thank you for the information. I hoped it will work :-/. Can you also let me know which Windows version you are running?

[2017-07-18 09:27] ilsenem opened #97 "Devilbox UI footer overlaps embedded tools"
- Devilbox: 0.11
- OS: Ubuntu 16.04
- docker: 17.06.0-ce
- docker-compose1.13.0

**Adminer** (and maybe other embedded tools) overlapped by footer. Unable to see table list or controls for pagination and additional command on bottom.

![Screenshot](https://dl.dropboxusercontent.com/1/view/ghd10q7xj2y2vii/Apps/Shutter/Selection_003.png)

[2017-07-18 11:22] cytopia commented on #97
@ilsenem as this is a browser issue, could you please provide your browser name and version.

[2017-07-19 01:30] instantdelay commented on #74
Windows 10 Pro 10.0.15063

[2017-07-19 06:43] ilsenem commented on #97
Chrome and FF latest versions - 100%. IE and Safari - unable to test.

This issue appears only on **Adminer** as far as i can see.

[2017-07-21 17:59] tracyfloyd opened #99 "502 Proxy Error - DNS lookup failure for: php"
After updating to latest devilbox I am getting a 502 Proxy Error for all my .loc domains (and for http://localhost) that use php. I setup a .loc with just an index.html file in it and it works fine.
#
**Browser page reads:**
[code]

**System info:**
[code]

**log/apache-2.4/devilbox-error.log:**
[code]

[2017-07-21 18:16] tracyfloyd commented on #99
Got this working again by changing `NEW_UID` and `NEW_GID` to `1000` in the .env file (instead of my local user's uid and gid as directed in the .env file's comments)

Same as https://github.com/cytopia/devilbox/issues/96

[2017-07-22 08:34] cytopia commented on #99
Let's continue the discussion in #96 as it is the same

[2017-07-22 08:34] #99 closed

[2017-07-22 08:35] cytopia commented on #96
The PHP container does not properly start up when `gid` is set to `100`. This is the case as there is already a group present in the container occupying this id. The corresponding group is called `users`.

I will have to modify all php container and get rid of that group.

[2017-07-22 09:44] cytopia commented on #97
@ilsenem could you check out branch `DVL-012` and see if it is working as expected.

[2017-07-22 10:35] #74 closed

[2017-07-23 00:16] AgarvaiN opened #101 "Auto DNS on Windows"
I'm having issue with Auto DN S(Bind) on Windows Machine

Docker version 17.05.0-ce, build 89658be
docker-compose version 1.13.0, build 1719ceb8
Using Docker Toolbox on Windows

My LOCAL_LISTEN_ADDR=192.168.137.130:
DNS Server are set to 192.168.137.130; 8.8.4.4; 8.8.8.8 In my Network Config

And everything works except for Auto DNS option, which i'd really like, because editing /etc/hosts on Wind

[2017-07-23 08:56] cytopia commented on #101
@AgarvaiN this is an issue related to how [Docker Toolbox](https://www.docker.com/products/docker-toolbox) works. It only works via (afaik) a VirtualBox middle man that provides the actual docker functionality.

The `httpd` server has an internal IP address (inside the toolbox): `172.16.238.11` to which the DNS server is resolving the `TLD_SUFFIX` domains to, however this IP address does not seem

[2017-07-23 09:12] cytopia commented on #101
I might have a workaround:

In `docker-compose.yml` edit `WILDCARD_ADDRESS`,  `DNS_FORWARDER` and `FORWARD_PORTS_TO_LOCALHOST` with the following values:
[code]

Then the only thing left to do for you is to forward port `80` from `192.168.137.130` to your hosts `127.0.0.1` address

[2017-07-23 09:33] cytopia commented on #96
First fix for PHP 7.0 is on its way:

https://github.com/cytopia/docker-php-fpm-7.0/pull/22

[2017-07-23 09:34] cytopia commented on #99
First fix for PHP 7.0 is on its way:

https://github.com/cytopia/docker-php-fpm-7.0/pull/22

[2017-07-23 10:09] AgarvaiN commented on #101
Yeah I understand it's related to Toolbox, but since I need to be able to use VMWare I can't run native Docker because it needs Hyper-V enabled to run. And I'm guessing there might be others out there like me.

That didn't do the trick for me tho. DNS_FORWARDER was already set to those, I updated WILDCARD_ADDRESS and FORWARD_PORTS_TO_LOCALHOST (I did try with the old IP as well since it points to

[2017-07-23 10:21] AgarvaiN commented on #101
Sorry, one more thing, on my host machine do I leave the DNS set to `192.168.137.130`?

[2017-07-23 10:40] cytopia commented on #101
The actual issue is to find a *common denominator*:

The DNS server must resolve `TLD_SUFFIX` domains always to an IP address where the httpd server is. This must be equal for two places:
1. From within the `php` container
2. From your host computer (not the VirtualBox).

That means there must be one IP address that where you can reach the httpd server and this IP address must work from within the

[2017-07-23 10:46] cytopia commented on #101
Btw, is `192.168.137.130` reachable from within the PHP container?

[2017-07-23 19:06] cytopia commented on #96
I have fixed all php/hhvm docker container. You can use `update-docker.sh` to pull new images.

[2017-07-23 19:06] #96 closed

[2017-07-24 04:47] ilsenem commented on #97
![Nope](https://dl.dropboxusercontent.com/1/view/fip4t776rw1reph/Apps/Shutter/Selection_004.png)

Nope, still there. =(

Maybe there is a good solution to just open **Adminer** in new tab outside of **Devilbox** UI like you do with **phpMyAdmin**?

[2017-07-24 13:57] tracyfloyd commented on #96
Works great now. Thanks!

[2017-08-01 12:47] StyxOfDynamite opened #102 "MySQL fails to bind"
- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [ ] Attach logs for php, mysql and webserver (found in `log/` directory)
- [x] Start with debug mode and attach docker-compose output (`.env` setting `DEBUG_COMPOSE_ENTRYPOINT=1`)
- [x] Never use different mysql|mariadb versions on th

[2017-08-01 13:08] cytopia commented on #102
Hi @StyxOfDynamite

thanks for the detailed issue!

1. Are you using Docker Toolbox or Native Docker for Mac?
2. Can you try the following:

Turn on debugging
[code]

Fully restart
[code]

[2017-08-01 13:09] cytopia commented on #102
Also please check if MySQL (from OSX) is already listening on your OSX operating system:

[code]

[2017-08-01 14:16] StyxOfDynamite commented on #102
The netstat options you provided aren't recognised.

[code]

I've piped all netstat outout through `grep`

[code]

I do have MySQL installed via brew but manually start and stop it using

`brew services stop mysql`

[2017-08-01 14:30] cytopia commented on #102
Can you try:

[code]

Note, as far as i know, there could also be a MySQL service by OSX itself.

When you start the devilbox make sure, that no other MySQL server listens on port `3306`

[2017-08-01 14:42] StyxOfDynamite commented on #102
Thought this initially and figured it would be easier to change devilbox to bind MySQL to an alternative port? I did try that and it still fell over, so I don't think it's a port conflict.

[2017-08-01 14:44] cytopia commented on #102
Did you do the `docker-compose rm -f`?

And can you please paste the complete `.env` file.

[2017-08-01 15:00] StyxOfDynamite commented on #102
Just done the `docker-compose rm -f` and it's killed something related to MySQL so may well be that issue. Will let you know if it's resolved shortly.

[2017-08-01 15:05] StyxOfDynamite commented on #102
Think that's resolved it.

Excellent Support! Thank you.

My guess then is I had local MySQL running on port 3306, it failed to bring up a containerized instance of the mysql image but also failed to clean up after itself, the `docker-compose rm -f` seems to have fixed this. Sorry I missed the initial response line on account of my inbox compressing them to a single email notification.

[2017-08-01 15:05] #102 closed

[2017-08-01 15:07] cytopia commented on #102
Good to hear and good luck with your project. If you run into any other issues regarding the devilbox, feel free to open up more tickets.

[2017-08-04 06:17] HappyCampers opened #103 "Not able to change directory for the Virtual Machine on Windows."
I'm currently having an issue with installing Laravel and running DevilBox at the same time.

The machine I'm using is a Windows 10 machine that has a fresh installation of Devilbox. I have successfully created the VirtualMachine for my laravel applications but seem to be having an issue making the directory point to the "/public" folder.

I have checked the docs, but the ones related to Laravel a

[2017-08-04 14:54] minorgod opened #104 "Documentation - install page 404 error"
Just noticed this page is showing a 404 error:
https://github.com/cytopia/devilbox/blob/master/docs/Install.md
Oh..nevermind, it's back up now. Weird. I just tried closing this issue and GitHub won't let me. Sorry.

[2017-08-04 17:01] pro6ka commented on #103
hello HappyCampers. I think you can use FAR manager in windows to create simbolic link, or use other windows tools for it.

[2017-08-05 20:54] bsormagec opened #105 "docker-sync support"
I think docker-sync support will be good for mac because docker has poor performance on osx. Can you add this to devilbox ?

[2017-08-06 18:59] iadj opened #106 "Custom Virtual Host (vhost)"
I'm looking to use a `yii2-app-advanced` project with Devilbox. I need to be able to set a custom vhost configuration for this, instead of the one being auto-generated. Is this possible? If so, how?

[2017-08-08 07:58] cytopia commented on #103
Hi @HappyCampers

Did you follow the provided instructions:
https://github.com/cytopia/devilbox/blob/master/docs/Examples.md#4-setup-laravel

Did you enter the PHP container and created the symlink from inside the PHP container?

[2017-08-08 07:58] cytopia commented on #104
@minorgod no problem. I will close it for you.

[2017-08-08 07:58] #104 closed

[2017-08-08 07:59] cytopia commented on #105
@bsormagec thanks for pointing it out. Can you direct me to some more documentation about this.

[2017-08-08 08:00] cytopia commented on #106
@iadj I am afraid, this is currently not yet possible.

Can you let me know what vhost settings you require. I will try to find a temporary solution for you until this feature has been fully integrated.

[2017-08-08 19:40] cytopia commented on #83
@laeckerv do you know how to generate **all** locales under CentOS?

[2017-08-09 10:06] fe3dback opened #107 "Add feature to add custom .so modules"
Some my project require ioncube-loader extension. So now i copy it to docker by hands and rebuild image with this extension.

So will be good if in devilbox users can just copy our extension in folder, and add custom ini config with loader.

devilbox/modules/ioncube_loader_lin_7.0.so
devilbox/config/php-fpm-7.0/00-ioncube-loader.ini:
[code]

[2017-08-11 06:30] cytopia commented on #107
Good idea, I will add that feature

[2017-08-11 14:22] eortega commented on #107
This feature will be really helpful !

[2017-08-12 09:11] cytopia commented on #107
I made a few quick changes to allow custom modules.

* PR: https://github.com/cytopia/devilbox/pull/108
* Branch: DVL-012-custom-php-modules

**How to (Example for `PHP 7.0` and module `ioncube_loader_lin_7.0.so`)**

1. Copy your custom `*.so` modules to: `./cfg/php-fpm-7.0/ioncube_loader_lin_7.0.so`
2. Create your config to load this module
[code]

**Note:** The config file name needs to begin wi

[2017-08-12 14:24] lbngoc commented on #90
In my case, I often save my projects to `/home/ngoclb/projects`, so I create another environment variable called ` HOST_PATH_REAL_DATADIR` and move to containers. It make htdocs can follow symlinks without get multiple ERR in http://localhost/vhosts.php

In `.env`:
[code]

In `docker-compose.yml`:

[code]

After restart container, docker can follow symlinks like this:

[code]

Hope this help !

[2017-08-13 10:32] cytopia commented on #90
@lbngoc

Thanks for the information. As you seem to be using Linux it should be much easier for you to accomplish the same:

In `.env`:

[code]

In your `ngoclb` project folder:

[code]

[2017-08-13 10:46] lbngoc commented on #90
Hi,

devilbox is actually good but I don't like use `HOST_PATH_HTTPD_DATADIR`  inside my working space folder (projects), because it will scan all my children project folders and put multiple error on page `http://localhost/vhosts.php`

Example my `data/www`:
└── www
    ├── ngoclb
    │   └── htdocs -> /home/ngoclb/projects/private/ngoclb.com/public_html
    └── abc
        └── htdocs -> /home/ng

[2017-08-13 12:03] cytopia commented on #97
Sorry, ticket got auto-closed by merging the PR.
The above merged PR introduced some minor enhancements, but does not yet fully resolve the issue.
I will probably go with your solution to separate Adminer from the devilbox intranet.

[2017-08-13 12:05] cytopia commented on #90
@lbngoc I see what you mean now. Still good solution you have provided.

[2017-08-13 12:11] cytopia opened #109 "Bundle `awesome-ci` with each PHP|HHVM Docker Container"
**[awesome-ci](https://github.com/cytopia/awesome-ci)** contains various source code analyzers and linters as well as being able to fix problems directly inside your files.

It will be good to have them integrated, so that they don't have to be installed on the host system itself.

#### TODO:

* [x] Add to Docker container
* [x] Add dependencies to Docker container
* [x] Add documentation for how

[2017-08-13 15:03] cytopia commented on #109
# Docker

* [X] https://github.com/cytopia/docker-php-fpm-5.4/pull/27

[2017-08-13 15:03] cytopia commented on #83
# Docker

* [X] https://github.com/cytopia/docker-php-fpm-5.4/pull/27

[2017-08-16 06:09] cytopia commented on #83
@laeckerv

I have rebuilt all PHP/HHVM Docker containers. The following locales have been added by default:
https://github.com/cytopia/docker-php-fpm-5.4/blob/master/Dockerfile#L313

Dockerhub will probably take 60 minutes for them being available. Once the time is up, you can update your containers  (in latest devilbox `master` branch) via:

[code]

[2017-08-16 06:09] #83 closed

[2017-08-16 06:14] cytopia commented on #107
Its been documented, tested and merged.

https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#425-custom-php-modules

[2017-08-16 06:14] #107 closed

[2017-08-16 06:17] cytopia commented on #106
@iadj I will close this issue, as it duplicates https://github.com/cytopia/devilbox/issues/75.

Please let me know in #75 what custom vhost settings you require

[2017-08-16 06:17] #106 closed

[2017-08-16 18:20] cytopia commented on #109
merged

[2017-08-16 18:20] #109 closed

[2017-08-17 06:29] cytopia opened #112 "Invalid docker-compose var BIND_DNS_RESOLVER"
Docker compose uses `BIND_DNS_RESOLVER`, but it should be `DNS_FORWARDER`.

See: https://github.com/cytopia/docker-bind

[2017-08-18 06:40] cytopia commented on #112
merged and fixed

[2017-08-18 06:40] #112 closed

[2017-08-18 07:16] cytopia opened #116 "Custom bash configuration inside PHP/HHVM container"
Make it possible to load custom bash configurations and auto-source them inside the started PHP/HHVM container.

[2017-08-18 18:23] #116 closed

[2017-08-24 08:36] laeckerv commented on #83
@cytopia
Sorry for the lack of response, but I was on vacation. Thank your for this feature!

[2017-08-24 08:40] cytopia commented on #83
no worries, welcome

[2017-08-26 19:19] mrpsiho opened #117 "Webpack (new tool request)"
Any chances that webpack could be included in the next release? I think it is a great tool by itself and it would be handy to have it by default.

[2017-08-27 12:45] cytopia commented on #117
@mrpsiho
Will be available in a few hours. I will comment again with instructions.

* [X] https://github.com/cytopia/docker-php-fpm-5.4/pull/29
* [X] https://github.com/cytopia/docker-php-fpm-5.5/pull/26
* [X] https://github.com/cytopia/docker-php-fpm-5.6/pull/28
* [X] https://github.com/cytopia/docker-php-fpm-7.0/pull/26
* [X] https://github.com/cytopia/docker-php-fpm-7.1/pull/26
* [X] https://gi

[2017-08-27 13:00] cytopia commented on #117
Everything is merged and will be built by Docker Hub now. Should be available in less than one hour.
Simply run `./update-docker.sh` to fetch latest Docker containers then.

[2017-08-27 13:00] #117 closed

[2017-08-28 08:20] barray888 opened #118 "how to install swoole.so"
i want to use swoole ,can i ?

[2017-08-28 08:52] cytopia commented on #118
Can you provide a link to the application and give a brief description what exactly and how you want to use it.

[2017-08-29 21:30] jayson-lynnfield-zen opened #119 "DNS problem (docker-toolbox \ Win7x64 \ non-admin user)"
Hi,
I've already complete setup & using devilbox tool on OS X
(it means that i understand how it works fine)

But on **Windows7 x64** host i have a following issue.
Accordingly to documentation, we need to specify a "**LOCAL_LISTEN_ADDR**",
which is **127.0.0.1** by default. Docker tools software versions provided in attachment image.
In case of windows 7 we can use only **docker-toolbox**, and ca

[2017-08-30 04:35] kanglinyao opened #120 "Access vhost from the network."
I am trying to use devilbox as a production server. I left the listening ip to blank so that all interfaces are listened.  How do I direct all access request to Wordpress site rather than the devilbox home page?

[2017-08-30 07:22] cytopia commented on #120
@kanglinyao I personally would not use it or recommend it as a production server.

To access your Wordpress vhost with a real domain (e.g.: `my-wordpress.com`), you can use the following trick:

1. Set `TLD_SUFFIX=com`
2. Create your project folder by the name `my-wordpress`.
3. Set the DNS record of `my-wordpress.com` to the IP address of your devilbox server

However, once someone access the dev

[2017-08-30 07:28] cytopia commented on #119
@jayson-lynnfield-zen unfortunately it is still doesn't support Docker Toolbox. If you have any change to use Windows 10, go for it, otherwise you will have to wait a bit, until I (or someone else) have found a way.

[2017-08-30 07:33] jayson-lynnfield-zen commented on #119
@cytopia thanks for reply

[2017-08-30 11:20] kanglinyao commented on #120
May I ask how I change default devilbox address to something like localhost:8888 rather than just localhost. Could you also implement a way that people can assign the default vhost when the listening IP is accessed? That way people can work on the same project over at the same time on remote devilbox projects.

[2017-08-30 12:01] cytopia commented on #120
@kanglinyao
Please could you please create separate tickets if there are multiple requests.

I can definitely do the default port change. I will use this ticket for it.
So let's discuss other stuff in different tickets.

[2017-08-30 21:09] kanglinyao opened #121 "Features request for devilbox: Password protect the devilbox control panel page"
I love devilbox so much and thank you for putting this project together. I used to be a XAMPP user, but now I am using devilbox only for testing and development purposes. I think the following features might improve the project.
Features that might improve usability:
1. Password protect the devilbox control panel page.
----

[2017-08-30 21:10] kanglinyao commented on #120
I am sorry for posting in the wrong place. I have moved the feature request to a seperate ticket.

[2017-09-03 08:09] cytopia commented on #120
@kanglinyao

To access the devilbox from the network, you also have to change `LOCAL_LISTEN_ADDR=127.0.0.1:` to `LOCAL_LISTEN_ADDR=` in the `.env` file.

I will add that to the documentation as well.

For your other questions, we will continue in https://github.com/cytopia/devilbox/issues/121

[2017-09-03 08:11] cytopia commented on #118
@barray888 please provide some information to the ticket, otherwise I don't know what this is about and I will close it.

[2017-09-03 08:23] cytopia commented on #119
@jayson-lynnfield-zen
Could you set `LOCAL_LISTEN_ADDR=127.0.0.1:` to `LOCAL_LISTEN_ADDR=` in `.env` and try to access it again?

[2017-09-03 10:50] jayson-lynnfield-zen commented on #119
You mean live it blank (empty)?

[2017-09-03 10:50] jayson-lynnfield-zen commented on #119
@cytopia you mean live it blank (empty)?

[2017-09-03 12:38] jayson-lynnfield-zen commented on #119
@cytopia, i've found one weird moment...
Once i've create internal service-dependent directories (_www, mysql, pgsql_ and _mongo_)
and then get starting devilbox-tool, this folders are not filling by any of temporary working files... is that normal state?

-- My first attempt was a blank address,
such like: _LOCAL_LISTEN_ADDR=_ **web-interface inaccessible** (output log in attachement)
![report](h

[2017-09-03 13:30] cytopia commented on #119
@jayson-lynnfield-zen can you paste the full log for httpd from your first try with an empty `LOCAL_LISTEN_ADDR` (no colon):
[code]

[2017-09-03 13:39] jayson-lynnfield-zen commented on #119
@cytopia yep, I'll send it, when get to the pc...
Through 4-5 hours or so

[2017-09-03 19:20] jayson-lynnfield-zen commented on #119
@cytopia i've execute that,results are below
![report](https://user-images.githubusercontent.com/26794208/30005908-420182e8-90dc-11e7-8ae9-72c69d943107.png)

[2017-09-08 00:44] normance opened #122 "Can not install npm grunt"
Hi,

I have just update following https://github.com/cytopia/devilbox/blob/master/docs/Update.md
(because I was expecting more locale but localedef -i fr_FR -f UTF-8 fr_FR.UTF-8 and localedef -i es_ES -f UTF-8 es_ES.UTF-8 are still missing ... anyway that is another topic).

I notice that ./shell.sh has replaced ./bash.sh  and ./root_bash.sh (on master)

But while before (master in early July) I c

[2017-09-08 03:25] barray888 commented on #118
https://github.com/swoole/swoole-src

[2017-09-08 07:05] cytopia commented on #122
Hi @normance  good catch. I can reproduce the problem. Expected behavior should be as simple as this:

[code]

I will fix this.

Please also open up a separate ticket for all the locales you are missing.
See here for currently added locales: https://github.com/cytopia/docker-php-fpm-5.4/blob/master/Dockerfile#L341

[2017-09-08 07:08] barray888 commented on #118
@cytopia

[2017-09-08 08:37] normance opened #123 "Add locale fr_FR and es_ES"
In order to allow php producing date in other languages than english, could you please add the following ones :
localedef -i fr_FR -f UTF-8 fr_FR.UTF-8
localedef -i es_ES -f UTF-8 es_ES.UTF-8

[2017-09-09 06:13] cytopia commented on #122
@normance

I have updated the Docker containers:

* [X] https://github.com/cytopia/docker-php-fpm-5.4/pull/30
* [X] https://github.com/cytopia/docker-php-fpm-5.5/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-5.6/pull/29
* [X] https://github.com/cytopia/docker-php-fpm-7.0/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-7.1/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-7.

[2017-09-09 06:13] #122 closed

[2017-09-09 06:15] cytopia commented on #123
@normance

I have updated the Docker containers:

* [X] https://github.com/cytopia/docker-php-fpm-5.4/pull/30
* [X] https://github.com/cytopia/docker-php-fpm-5.5/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-5.6/pull/29
* [X] https://github.com/cytopia/docker-php-fpm-7.0/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-7.1/pull/27
* [X] https://github.com/cytopia/docker-php-fpm-7.

[2017-09-09 06:15] #123 closed

[2017-09-09 06:33] cytopia commented on #103
@HappyCampers I will close this ticket due to missing feedback.

As far as I have understood your problem, it should be **resolvable with the above stated documentation**.
If you still encounter problems with laravel, please re-open and provide more information.

[2017-09-09 06:33] #103 closed

[2017-09-09 06:44] cytopia commented on #120
@kanglinyao

For accessing the devilbox from other computers on your network, refer to: https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#23-host-computer-listening-address

That explains it. If you find that documentation insufficient, please let me know and I will extend it.

[2017-09-09 06:44] #120 closed

[2017-09-09 06:50] cytopia opened #125 "Features request for devilbox: Add port number for localhost"
Originally from @kanglinyao. (Multiple feature requests moved into separate stand-alone tickets)

[2017-09-09 06:51] cytopia opened #126 "Features request for devilbox: Allowing users assign the default vhost when the listening IP is accessed"
Originally from @kanglinyao. (Multiple feature requests moved into separate stand-alone tickets)

[2017-09-09 08:47] cytopia commented on #125
@kanglinyao Do you mean to only change the port of the devilbox intranet or to change the ports for all vhosts (including the devilbox intranet)?

[2017-09-09 08:55] kanglinyao commented on #125
Hi Cytopia:

Change the port of the intranet and all vhosts still use port 80.

[2017-09-09 09:16] cytopia commented on #121
@kanglinyao can you check out branch `DVL-012-password-protection` and see if this is sufficient.

Note, you must edit `.env` (check `env-example` for new changes) and enable password protection.

[2017-09-09 09:17] kanglinyao commented on #121
Ok. Thank you.

[2017-09-09 12:23] cytopia commented on #118
@barray888 Do you only need the `swoole.so` extension to be present and loaded? If so let me know and I can add it to each PHP/HHVM Docker container

[2017-09-10 09:54] #97 closed

[2017-09-10 09:55] cytopia commented on #121
Code is merged.

[2017-09-10 09:55] #121 closed

[2017-09-11 03:47] barray888 commented on #118
ok thank you sir ~.~

[2017-09-11 06:50] cytopia commented on #118
@barray888

Could you please answer the question

[2017-09-11 12:41] bsormagec commented on #105
Sure,

https://github.com/EugenMayer/docker-sync/wiki/2.-Configuration

[2017-09-15 17:35] normance opened #128 "doc : suggest shell env var mechanism"
It is not clear where and how user-defined environment var should be handled.
I would expect using a dedicated (using prefix MY_ ?) sections in the .env file, so I would find my vars when running 'set' after ./shell.sh

Currently it is not the case (you only export what you know and expect from .env), and I am not in apache/php shell to manually perform export env vars. So I am doing an hugly hack

[2017-09-16 10:54] cytopia commented on #128
@normance I made a few tests and it seems pretty simple to accomplish that.
Do the following in `docker-compose.yml` under the php section:

Just add `env_file:` pointing to the local `.env` file:
[code]

Now you will be able to have any value specified in `.env` to be avilable in each php container.

Can you give this a try and let me know if it works as expected for you,

[2017-09-16 13:16] normance commented on #128
It works fine, thanks for the support 👍

because of the priority of  `environment:` over `env-file:` you could even make this mechanism as default behaviour in docker-compose.yml ?

The reference you provide deserve to be added in your doc, it is very usefull.

[2017-09-16 15:16] cytopia commented on #128
@normance glad it works. I will add this to master as well as to the documentation. Let's keep this issue open until its been merged.

[2017-09-18 06:23] barray888 commented on #118
yeah . please add it into php container if you can ,thank you

[2017-09-18 19:09] degoya commented on #75
how is the progress on this? looking for custom nginx configuration for each project setup.

[2017-09-18 22:43] cytopia commented on #75
Hi guys, to give you some heads up, it is still under development, but shouldn't been too long until its finished (~4 weeks).

I am currently refactoring and modulizing everything at https://github.com/devilbox and put each tool in separate directories so it is either for people to contribute and find errors.

Current work involves making the customization of vhosts work as well as basing all webs

[2017-09-26 06:41] Novitsh opened #129 "Volume mount in mariadb-10.1"
Not sure if it's an actual issue but I noticed on https://hub.docker.com/r/cytopia/mariadb-10.1/~/dockerfile/ following volumes block:

[code]

Should the last volume not be prefixed with a slash?

[2017-09-26 14:15] cytopia commented on #75
To keep you guys up to date with the progress. Listing available/open/closed pull request for that feature.

* [X] nginx stable: https://github.com/cytopia/docker-nginx-stable/pull/6
* [ ] nginx mainline
* [ ] apache 2.2
* [ ] apache 2.4

[2017-09-26 17:42] cytopia commented on #75
Is going to be included in the upcoming release: https://github.com/cytopia/devilbox/pull/130

[2017-09-26 17:44] cytopia commented on #126
@kanglinyao In the upcoming pull request: https://github.com/cytopia/devilbox/pull/130

You can completely disable the intranet. When disabled, any request will be served by the first found vhost. So when you access it by its ip address, the first found vhost (of your projects) will server it.

Is this sufficient?

[2017-09-26 17:54] cytopia commented on #128
It's up for the next release: https://github.com/cytopia/devilbox/pull/130

[2017-09-26 19:08] kanglinyao commented on #126
This is good enough. Thank you so much.

Sent from my iPhone

[2017-09-27 21:26] cytopia commented on #119
@jayson-lynnfield-zen I made a major rewrite to overcome some limitations. I hope I could also address your problems. Pull request is not merged yet (https://github.com/cytopia/devilbox/pull/130), however could you checkout the branch and give it a try:

1. just to make sure everything is reset
[code]
2. Check out new branch
[code]
3. Compare new `env-example` with your local `.env`
[code]
4. Star

[2017-09-27 21:27] cytopia commented on #71
@dany-eudes @mizunoer I made a major rewrite to overcome some limitations. I hope I could also address your problems. Pull request is not merged yet (https://github.com/cytopia/devilbox/pull/130), however could you checkout the branch (**REL-0.12**) and give it a try:

1. just to make sure everything is reset
[code]
2. Check out new branch
[code]
3. Compare new `env-example` with your local `.env`

[2017-09-27 21:28] jayson-lynnfield-zen commented on #119
Thanks man, I'll check it as fast as I can, write you later

Best regards, Jason E.

Отправлено из ProtonMail mobile

-------- Исходное сообщение --------
Вкл 28 сент. 2017 г., 2:26, cytopia написал(а):

[2017-09-27 21:29] cytopia commented on #24
@dany-eudes  @doku-san  It should be fixed in the upcoming version:

Pull request is not merged yet (https://github.com/cytopia/devilbox/pull/130), however could you checkout the branch (**REL-0.12**) and give it a try:

1. just to make sure everything is reset
[code]
2. Check out new branch
[code]
3. Compare new `env-example` with your local `.env`
[code]
4. Start it up
[code]
Hope it can fix som

[2017-09-28 15:13] jayson-lynnfield-zen commented on #119
@cytopia
I've downloaded latest version, it gives an error right from starting... (See attached file)
i've set dns server to my own, than to Google's, afterwards i change IP to null, and to docker-toolbox IP with no any results. Firewall was disabled.
![output](https://user-images.githubusercontent.com/26794208/30974396-1ebbc280-a45f-11e7-93e5-da9e51ba53ea.png)

[2017-09-28 15:33] cytopia commented on #119
There seems to be two docker networks. One from your previous devilbox instance and the new one. However both do use the same IP.

So do the following (**First shutdown the devilbox**):
[code]

Alternatively use this command:
[code]

That should fix your problems

[2017-09-28 15:52] jayson-lynnfield-zen commented on #119
@cytopia ok, I'll check it, thanks

Best regards, Jason E.

Отправлено из ProtonMail mobile

-------- Исходное сообщение --------
Вкл 28 сент. 2017 г., 20:33, cytopia написал(а):

[2017-09-28 19:36] cytopia commented on #129
@Novitsh good catch. As I have this also affects other mariadb dockers.

[2017-09-29 06:57] cytopia commented on #129
@Novitsh looks like it has affected every MySQL, MariaDB and PerconaDB server. PR's are open and ready to be merged once they passed travis checks.

* https://github.com/cytopia/docker-mysql-5.5/pull/9
* https://github.com/cytopia/docker-mysql-5.6/pull/9
* https://github.com/cytopia/docker-mysql-5.7/pull/13
* https://github.com/cytopia/docker-mysql-8.0/pull/8
* https://github.com/cytopia/docker-ma

[2017-09-29 07:05] cytopia commented on #24
Another thing. You could also leave `LOCAL_LISTEN_ADDR=` empty, so it will bind on all interfaces, which would make sure it is available to the outside of your VirtualBox.

If there are no further issues, I will mark this ticket as resolved with the upcoming release, so please double check and reply back here.

[2017-09-29 07:09] cytopia commented on #70
@dany-eudes the whole problematic will be resolved in the upcoming release: https://github.com/cytopia/devilbox/pull/130

The intranet itself is setup to be served from a default virtual host container and should be reachable from any domain (except project domains) pointing to the webserver.

If you want to check it out before the actual release will be merged, follow the instructions described i

[2017-09-29 07:25] cytopia commented on #75
@ilsenem @degoya Could you give it a try and report back if it works as expected for you.

[2017-09-29 08:46] cytopia commented on #128
@normance could you please confirm that it works for you in the upcoming relase: #130 (Detailed Instructions for how to check it out in the comment)

[2017-09-29 10:04] jayson-lynnfield-zen commented on #119
@cytopia Yep, it was not so simple as i want,
but anyway, i did removed those networks, forcefully...
Afterwards i perform a clean start of devilbox...
on default IP (127.0.0.1) and on docker-machine IP (192.168.99.100) web interface were still inaccessible.
on service IP (172.16.238.11) it gives an error (can't assign requested address)

[2017-09-29 13:57] cytopia commented on #119
That means address or port is already in use on your side. Can you check what else is listening on the required ports on those IP addresses

[2017-09-30 03:06] jayson-lynnfield-zen commented on #119
@cytopia Can you advise, which command should i use for that checking?
basic netstat can show little bit more excess for security reasons...

also there's some outputs for executed commands...
Maybe this provide some help.

While IP is broadcasted (**LOCAL_LISTEN_ADDR=**)
- webUI not responding (sql & http logs are):
![broadcast](https://user-images.githubusercontent.com/26794208/31041524-9123a1d0

[2017-09-30 06:19] cytopia commented on #119
@jayson-lynnfield-zen yes I can help :-)

You are using the `master` branch, however, all the fixes are currently not yet merged to master and are still in branch `REL-0.12`.

So as described above, checkout `REL-0.12`, compare the `env-example` with `.env` and start it up.

[2017-10-03 09:51] cytopia commented on #129
Looks like MySQL 8.0 is currently working. I have to wait until its fixed before I will merge them and close this issue.

[2017-10-03 09:54] cytopia commented on #125
@kanglinyao I am afraid, separating Intranet port and project ports is not going to be easily included and won't fix atm.

You can however now disable the Intranet completely. See here: https://github.com/cytopia/devilbox/issues/126

I will have to close this as: WON'T FIX

[2017-10-03 09:54] #125 closed

[2017-10-03 09:56] cytopia commented on #75
@ilsenem @degoya can you check out this documentation part and see if it is easy to understand how to change the configuration: https://github.com/cytopia/devilbox/blob/c87201db13b43de0dc73098602f1357788f6a886/docs/Configure.md#433-customize-the-vhost-configuration

[2017-10-03 12:33] maxencedubois opened #131 "New logo and icons suggestion"
Hello,

I am a Devilbox user and I've seen on the to-do list in Contributing file that you were searching some help for better logos. I've tried to draw something that could suit well to any desktop (windows, macos and linux) with size variations. Could you tell me what you think of this proposal or suggest what could be done to make it as best as possible?

Thank you,

Maxence Dubois

[logo_propo

[2017-10-03 14:05] normance commented on #128
tested with success on REL-012 branch :)

[2017-10-03 20:51] rslid opened #132 "Auto-DNS not working properly"
Hi,

I have pulled today latest image and all works well except auto-dns feature. Under php 7.1, apache 2.4, Docker version 17.09.0-ce, build afdb6d4 and osx high sierra when I set `nameserver 127.0.0.1` in resolv.conf, flush the dns cache, delete the container and run compose up virtualhosts are not properly resolved. If I place them in hosts file all works well. Any suggestions for further debug

[2017-10-05 14:02] cytopia commented on #131
@maxencedubois Thank you very much for your logo pack :+1: .

I have look through it carefully. It is well designed and a good idea - even taken literally, but it does not really fit my personal taste. I would rather go with a more minimalist approach. Something like:

* Keep current type of colors: red, black and white (other shading of them is totally fine)
* Maybe 2d instead of 3d
* Should be r

[2017-10-05 14:02] #131 closed

[2017-10-05 14:57] cytopia commented on #132
@rslid

1. Did you change the Nameserver port to 53 in `.env`?
2. Can you try again with current PR branch: `REL-0.12`

Additional instructions for how to use new features in current PR can be found here: https://github.com/cytopia/devilbox/pull/130

[2017-10-07 12:39] jayson-lynnfield-zen commented on #119
Hi, sorry for long responding...
You asking to check address and ports,
Which command should I use for that?
I'm about flags, or args of netstat...
Also my local IP, for that particular case, is 192.168.5.129
Thanks

Best regards, Jason E.

Отправлено из ProtonMail mobile

-------- Исходное сообщение --------
Вкл 30 сент. 2017 г., 11:19, cytopia написал(а):

[2017-10-07 16:18] cytopia commented on #119
Looks like the port assigned to bind in `.env` is already taken.

* Alter the bind port in `.env`
* Checkout above mentioned branch `REL-0.12`
* Start up again (try only with `httpd`, `bind` and `php`)

[2017-10-07 22:06] fly-man- opened #133 "Devilbox not booting / Error message included in report"
- [X] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [X] Specify used docker versions (php, web and database)
- [X] Attach logs for php, mysql and webserver (found in `log/` directory)
No logs created
- [X] Start with debug mode and attach docker-compose output (`.env` setting `DEBUG_COMPOSE_ENTRYPOINT=1`)
- [X] Never use different mysql|mariad

[2017-10-07 22:10] cytopia commented on #133
@fly-man-
Can you try this again with a different docker-compose version set in `docker-compose.yml`

Please change `version: '2.1'` to `version: '2.0'` and give it a shot.

[2017-10-07 22:12] fly-man- commented on #133
Changed it to 2.0, next error came up after running docker-compose up

**ERROR:** Invalid interpolation format for "image" option in service "httpd": "cytopia/${HTTPD_SERVER:-nginx-stable}:latest"

[2017-10-07 22:13] cytopia commented on #133
Try to change `"cytopia/${HTTPD_SERVER:-nginx-stable}:latest"` to `"cytopia/${HTTPD_SERVER}:latest"` Looks like variable interpolation is supported from v2.1 onwards.

[2017-10-07 22:15] cytopia commented on #133
Btw just saw it now, your docker-compose version is simply outdated. You have `docker-compose version 1.8.0, build unknown`

When you update it to `Compose 1.9.0+.` everything should work fine without any changes

[2017-10-07 22:16] fly-man- commented on #133
That's the version that the installation script for Docker installed, will have a look how to get it to update to 1.9+

[2017-10-07 22:23] cytopia commented on #133
Good, let me know how it works out for you. Also while you're at it try out git branch `REL-0.12` this has all the latest changes and is going to be merged within the next few days.

[2017-10-07 22:25] fly-man- commented on #133
I just issued these 2 commands from this page to get docker-compose to update:

* https://github.com/docker/compose/releases

And currently it's downloading and updating the images so it's doing something more now.

[2017-10-07 22:36] fly-man- commented on #133
Devilbox is running now, it was indeed the "older" version of docker-compose that made the issue.

[2017-10-07 22:36] #133 closed

[2017-10-10 08:41] jayson-lynnfield-zen commented on #119
@cytopia I've finally got my windows-desktop, and apply REL-0.12 branch...
I've made a clean install, .env file being created right from your new env-example file...

first attempt with no any address specified (broadcasted):
localhost, 127.0.0.1, 172.16.238.11 are not responding
**192.168.99.100** got step forward... it gave me a **404 error**...

second attempt was with docker ip specified (192.

[2017-10-10 08:43] jayson-lynnfield-zen commented on #119
@cytopia and there's output from logs httpd & bind services
![output](https://user-images.githubusercontent.com/26794208/31377300-15f78030-ad97-11e7-8288-39261be404ee.png)
5.39 is router

[2017-10-10 09:49] cytopia commented on #119
@jayson-lynnfield-zen

I think, the only way to go from your debugging is:

1. `LOCAL_LISTEN_ADDR=` (empty, so it listens on all address)
2. Open URL: `http://192.168.99.100`

This leads to a `404`, the furthest you got.

So can you paste the httpd error log from nginx here after you made a request to `http://192.168.99.100`

[2017-10-10 14:23] #128 closed

[2017-10-10 14:23] #126 closed

[2017-10-10 14:23] cytopia commented on #75
Merged and ready in v0.12

[2017-10-10 14:23] #75 closed

[2017-10-10 14:24] cytopia commented on #128
Merged and ready in v0.12

[2017-10-11 05:12] jayson-lynnfield-zen commented on #119
@cytopia correct me if i wrong...
_httpd error log_ called by **docker-compose logs httpd** command right?

there's a log right after utility being started (
![afterstart](https://user-images.githubusercontent.com/26794208/31423154-6d408b56-ae42-11e7-8a39-277e127e1dd1.png)

and there's a log after i made a request... (seems all the same)
![afterrequest](https://user-images.githubusercontent.com/26

[2017-10-11 06:41] cytopia commented on #119
@jayson-lynnfield-zen No. I mean the physical log file inside the `./log/nginx-stable/` folder.

[2017-10-11 06:57] jayson-lynnfield-zen commented on #119
@cytopia in my case log folder has only one, single file, called .keepme

[2017-10-11 07:02] cytopia commented on #119
@jayson-lynnfield-zen there must be something as soon as the devilbox starts. Could you do the following and paste the folder structure here:
[code]

[2017-10-11 07:04] jayson-lynnfield-zen commented on #119
@cytopia
![testt](https://user-images.githubusercontent.com/26794208/31426331-6adfc86c-ae52-11e7-8180-736a41b72044.png)

[2017-10-11 07:04] cytopia commented on #119
@jayson-lynnfield-zen
You could also quickly join the gitter chat. I have a few more minutes before I have to leave: https://gitter.im/devilbox/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2017-10-12 09:01] mikados opened #134 "Read-only file system in shared folder"
Hi,

### my config:
[code]

### problem:
Everything works fine, but when trying to create a file from the httpd container it indicates the following error:

[code]

Why is the shared file system mounted read-only? Is it possible to write?

Thanks

[2017-10-12 11:22] cytopia commented on #134
@mikados it looks like your are using an old version of the devilbox. Did you pull the latest updates from the master branch? It used to be read-only a while ago and has already been fixed.

Additional, please check [Requirements](https://github.com/cytopia/devilbox/blob/master/docs/README.md#4-requirements). Your Docker-compose version (`Docker-compose version 1.16.1 build 6d1ac219`) is too old.

[2017-10-12 20:43] cytopia commented on #57
@Vasary  finally found some time to play around with RabbitMQ.

Should already be working in [Release v0.13](https://github.com/cytopia/devilbox/pull/135). Only thing that's missing is Intranet layout adaptions and Documentation.

[2017-10-13 15:53] eortega commented on #57
@cytopia thanks for add rabbitmq, nowadays i'm using a custom devilbox setup for my projects, but i see that soon i could use devilbox out of the box.

[2017-10-14 18:09] clindelof opened #136 "403 Errors on additional projects"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [x] Attach logs for php, mysql and webserver (found in `log/` directory)
- [x] St

[2017-10-14 21:50] cytopia commented on #136
@clindelof `403` just looks like you cannot reach the requested resource. Is there an `index.php` file inside `htdocs/` directory?

Could you also please attach the webserver logfiles from the `log/` directory.

[2017-10-15 17:00] clindelof commented on #136
index.php was there but when I checked the file permissions on that file in specific it didn't have access to it.

closing this issue.

[2017-10-15 17:00] #136 closed

[2017-10-15 17:08] cytopia commented on #136
Good to know.

[2017-10-18 16:59] SethTompkins commented on #132
This is also failing for me: macOS High Sierra 10.13

Bind is running and sets up my wildcard domain correctly, however all requests to the site timeout. Interestingly, if I use dnsmasq to forward requests for *.test to 127.0.0.1 then the site works.

[2017-10-19 09:34] cytopia commented on #132
@SethTompkins Did you change Bind port to `53` in `.env` file?

[code]

[2017-10-19 13:03] SethTompkins commented on #132
@cytopia I do have that set, here is my `/etc/resolv.conf`

[code]

[2017-10-19 13:11] cytopia commented on #132
@SethTompkins looks good so far.

1. What about `HOST_PORT_BIND`?
2. Test local nameserver

Can you do the following (Replace `loc` to whatever you have set `TLD_SUFFIX`) and add the output here.

[code]

[2017-10-19 13:14] SethTompkins commented on #132
@cytopia, `HOST_PORT_BIND` is set to 53, here is the output for that command:

[code]

When I try to hit that site in my browser though, it spins until I eventually get a `ERR_CONNECTION_TIMED_OUT`

[2017-10-19 13:16] SethTompkins commented on #132
Additionally, in the devilbox admin it displays this message for the virtual host:
[code]

[2017-10-19 13:18] cytopia commented on #132
@SethTompkins everything looks fine.

Can you make sure, that you are on the latest `master` branch, as well as have the latest Docker images.

Please do the commands in the described order and in case of differences, paste those please.

[code]

If there were changes, try to restart the devilbox:

[code]

[2017-10-19 13:21] cytopia commented on #132
Btw, can you also check if your local installation meets the following requirements:

https://github.com/cytopia/devilbox/blob/master/docs/README.md#4-requirements

[2017-10-19 13:27] cytopia commented on #132
Additionally, if it still does not work:

1. Use Chrome
2. Use an incognito window
3. Open Developer console
4. Disable Cache

Are there any error messages in the developer console from chrome?

[2017-10-19 13:41] SethTompkins commented on #132
@cytopia I ran all of the commands specified, there were no changes. The update script ran for a while but after running it and the docker-compose commands I am still in the same situation.

Using an Incognito window in Chrome w/ dev tools and cache disabled yields the same results as well - no error messages in the console.

I am on latest macOS with latest version of Docker for Mac.

[2017-10-19 13:51] SethTompkins commented on #132
Only other piece of info that might be helpful: if I use dnsmasq via homebrew to forward all *.test requests to 127.0.0.1 the site works.

[2017-10-19 14:26] cytopia commented on #132
I don't quiet understand how the devilbox DNS can listen on `:53` as well as the dnsmasq (which should also listen on `:53`).

Is dnsmasq part of MacOS nowadays?

[2017-10-19 14:27] cytopia commented on #132
Btw, can you actually reach `172.16.238.11`. Try to open it in a browser `http://172.16.238.11`

[2017-10-19 14:40] SethTompkins commented on #132
I cannot reach `172.16.238.11`, it times out just like trying to reach one of the sites.

dnsmasq is not part of macOS, I installed it via homebrew. I am going to try to completely remove it and see if that fixes my issues.

It has been stopped all of the times when I have been testing this though - possibly some sort of configuration that is causing a collision.

[2017-10-19 14:44] cytopia commented on #132
@SethTompkins not required to check anymore.

The problem is that `172.16.238.11` is not reachable. This is the HTTPD docker Container (Nginx or Apache).

So it must be some problem with Docker bridged network on OSX. Can you ping/reach any of the following IP addresses (when the devilbox is running):
[code]

[2017-10-19 14:46] cytopia commented on #132
I just found the documentation in the Docker docs:

https://docs.docker.com/docker-for-mac/networking/#there-is-no-docker0-bridge-on-macos

At least the problem is finally identified

[2017-10-19 14:48] SethTompkins commented on #132
What is strange then is that I can connect to the mysql instance from my host computer via SequelPro, shouldn't this issue prevent that as well?

[2017-10-19 14:50] cytopia commented on #132
Yes, you can connect to it via `127.0.0.1` or?, but not via `172.16.238.12:3306` (which is the IP address of the MySQL container).

So all ports forwarded to your host OS work, but connecting directly to the Docker container's IP addresses does not seem to work.

[2017-10-19 14:54] SethTompkins commented on #132
Correct, I am connecting with the host as `127.0.0.1`, which makes sense why DNS works with dnsmasq as it is set to simply forward all requests on my wildcard tld to `127.0.0.1`

[2017-10-19 15:00] cytopia commented on #132
Ok, I will try to find a solution, so that DNS is forwarding requests to `127.0.0.1` instead of the docker IP

[2017-10-19 15:22] cytopia commented on #132
Can you give this a try: https://github.com/cytopia/devilbox/pull/138

Branch: `DVL-013-fix-dns`

[2017-10-19 15:26] SethTompkins commented on #132
Works like a charm for me :)

Thanks for all of your help and quick replies!

[2017-10-19 15:27] cytopia commented on #132
Good to hear. I will keep the PR open, until its been also proven on Linux and Windows.

[2017-10-19 20:23] rslid commented on #132
Guys sorry for the late join in the discussion and thanks both of you for resolving this issue. I can confirm that DVL-013-fix-dns works for me perfectly.

[2017-10-20 18:45] SethTompkins commented on #132
@cytopia update on this: after having to restart my devilbox instance the DNS no longer seems to work. The devilbox admin reports that there are no records for the sites as well. Bind is reported as running in the admin though.

[2017-10-20 18:55] SethTompkins commented on #132
To add to that last note, now I am getting an `ERR_NAME_NOT_RESOLVED` rather than a timeout.

[2017-10-20 20:30] cytopia commented on #132
@SethTompkins don't really understand what you mean. On the provided screenshot everything looks good.

Apart from that, did you do a full restart:
[code]

[2017-10-20 20:55] SethTompkins commented on #132
@cytopia yup, just did all those commands again for good measure, DNS still not registering. Only thing I notice form that screen is that bind does not have `127.0.0.1` listed after its internal ip.

[2017-10-20 20:58] cytopia commented on #132
Then were do you get those errors? The screenshot looks all good

[2017-10-20 21:01] SethTompkins commented on #132
Screengrab from the vhosts section:
![image](https://user-images.githubusercontent.com/3925226/31841614-398c8a62-b5b8-11e7-89eb-f05619795956.png)

If I try to access one of those sites I do not get a timeout like before, it simply tells me "(project name's) server DNS address could not be found."

[2017-10-20 21:02] cytopia commented on #132
Was your `/etc/resolv.conf` auto-updated by OSX or do you still have the devilbox dns server present?

[2017-10-20 21:05] SethTompkins commented on #132
`nameserver 127.0.0.1` is in that file, here is the output from `scutil --dns`

[code]

[2017-10-20 21:06] cytopia commented on #132
What does dig say? `dig wax-app.test @127.0.0.1`

[2017-10-20 21:07] SethTompkins commented on #132
Dig output:

[code]

[2017-10-23 13:58] SethTompkins commented on #132
@cytopia here is the output of `docker-compose logs` for bind:

[code]

[2017-10-23 15:02] cytopia commented on #132
@SethTompkins something must have changed on your side in between. It did work at some point or?

@rslid can you please check again if it still works for your.

[2017-10-24 08:05] lbngoc opened #139 "Add support multiple TLD_SUFFIX"
Can devilbox support nultiple TLD_SUFFFIX ?
eg `TLD_SUFFIX=loc,dev,test `

[2017-10-25 14:08] SethTompkins commented on #132
@cytopia I seem to have tracked down the issue:

Occasionally at work I have to use a dumpster fire of a VPN program - Forticlient. When that program is active it messes up my local DNS and devilbox bind does not work. Sorry for wasting your time with this, looks like the issue is entirely on my end.

[2017-10-25 22:31] rslid commented on #132
@cytopia I have tested now on completely new osx as I don't have access to old setup and branch DVL-013-fix-dns seems to not work for me. I get the same results as @SethTompkins mentioned above, I checked resolver.conf, stopped/killed and up'ed all containers and etc but without any success. I don't have any vpn's or other software which could be messing up this. I used dig and response was the sa

[2017-11-04 16:39] cytopia commented on #134
@mikados I will close this due to inactivity.

As already mentioned this problem has been fixed some time ago. Please use latest `master` branch and give it another shot. If you still encounter this problem, please Update Docker/Docker-compose to the above described minimum versions and provide your `.env` file as well as an extract from `docker-compose logs`

[2017-11-04 16:39] #134 closed

[2017-11-08 17:35] mrpsiho opened #142 "How to add subdomains?"
Hi,

I'm sorry, I'm not sure how can I use devilbox along with WP multisite? To be more precise, I would like to use subdomains. So, maybe this is the main question - how to add subdomains ?
Thanks!

[2017-11-08 17:41] cytopia commented on #142
Hi @mrpsiho

As an example. When your `TLD_SUFFIX` is set to `com`.

If you create a project directory named `my-wordpress/`, your site is reachable by the servername: `http://my-wordpress.com`.

If you create a project directory named `www.my-wordpress/`, your site is reachable by the servername: `http://www.my-wordpress.com`.

If you create a project directory named `api.my-wordpress/`, your sit

[2017-11-08 17:41] cytopia commented on #139
@lbngoc could you explain the use-case for multiple `TLD_SUFFIX`'s?

[2017-11-08 17:48] mrpsiho commented on #142
No, sorry. Such tactic is pretty good, but it doesn't solve my case. So, the main question was 'How to use WP multisite with type 'subdomains' as the chosen method of adding network sites?'

Sorry, I'm not that good with DevOps stuff. I guess, this is what I need https://codex.wordpress.org/Configuring_Wildcard_Subdomains , but I don't know how/whether it is possible with devilbox. Please, suggest

[2017-11-08 17:51] cytopia commented on #142
So you want to set up a `wildcard` Hostname for one project?

[2017-11-08 17:52] mrpsiho commented on #142
I think so.

[2017-11-08 17:54] cytopia commented on #142
Yes this is possible now, as every web server is base on [vhost-gen](https://travis-ci.org/devilbox/vhost-gen).

So far I am lacking a bit of documentation, but some has already been documented here:
https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#433-customize-the-vhost-configuration.

Basically saying: Each of your vhosts (project dirs) can have a completely custom web server c

[2017-11-08 18:07] cytopia commented on #142
@mrpsiho I fixed above vhost-gen link.

[2017-11-08 18:08] mrpsiho commented on #142
Ok, thanks!

So, since I use nginx, the only file I need is nginx.yml unde 'devilbox' folder next to htdocs folder of my project, right?

Then, I tried to add the second 'server' section below the original one, this is how it looks like:

`server {
        listen       __PORT____DEFAULT_VHOST__;
        server_name ~^(.*)\.__VHOST_NAME__$ ;

        access_log   "__ACCESS_LOG__" combined;

[2017-11-08 18:15] cytopia commented on #142
Your template is invalid. Not correct yaml. You need to use the whole template and just modify the sections.

Copy this file: https://github.com/devilbox/vhost-gen/blob/master/etc/templates/nginx.yml

[2017-11-08 18:19] mrpsiho commented on #142
No, actually I'm already using this whole document. I cited just a part that I added below the first 'server' block.

I thought maybe just editing the first block is enough, so I tried this:

[code]

But it also doesn't work((

[2017-11-08 18:22] cytopia commented on #142
I am on the go, but will reply back latest by tomorrow with something you can work on.

[2017-11-08 18:22] cytopia commented on #142
I am on the go, but will reply back latest by tomorrow with something you can work on.

[2017-11-08 18:22] mrpsiho commented on #142
Thanks! I will wait.

[2017-11-09 15:58] tracyfloyd opened #143 "Linuxbrew support?"
Any chance you could pre-install http://linuxbrew.sh/ in the PHP containers?

[2017-11-09 17:02] cytopia commented on #143
@tracyfloyd can be added.
Can you please direct the request here:

https://github.com/devilbox/docker-php-fpm-7.3

This is going to be the base for all PHP container. Once this one has been finalized, I will copy it to the other versions.

[2017-11-09 18:43] tracyfloyd commented on #143
Done - thanks!
https://github.com/devilbox/docker-php-fpm-7.3/issues/6

[2017-11-09 18:43] #143 closed

[2017-11-10 16:59] mavimedia commented on #142
Hi Cytopia, great work!

I'm also interested in changing vhost settings of projects. It couldn't get it running, too.

Best regards!

[2017-11-11 14:53] cytopia commented on #142
Hi @mrpsiho @mavimedia

I just double checked it locally and it seems to work fine.
The steps I did are as follows:

**`.env` file**
[code]
**`/etc/hosts`:**
[code]

**Projects:**
[code]

Now download the nginx.yml template (in case of using nginx):
[code]
Note, keep the whole file as it is and do not remove any sections from it.

Now I have simply added a line below `server_name`, to get multiple

[2017-11-11 14:56] cytopia commented on #142
Please let me know if it works out for you or at what steps you still have struggle.

[2017-11-11 17:18] mrpsiho commented on #142
Ok, I did the same and whenever I try to reach my subdomain, it shows me the content of localhost  (devilbox info page). I'm using  Devilbox v0.12 (2017-10-10). Is it the correct version?

[2017-11-11 17:25] cytopia commented on #142
@mrpsiho can you check how the vhost actually looks inside the httpd container:

[code]
And paste the output here along with your `nginx.yml`

[2017-11-11 17:32] mrpsiho commented on #142
this is what it actually looks like:
[code]

and this is the content of `nginx.yml`

[code]

P.S. Yep, I also try to use a different domain for my multisite installation

[2017-11-11 17:34] mrpsiho commented on #142
Omg! I must use '.devilbox' folder name? Not just 'devilbox'? Maybe this is the reason...

[2017-11-11 17:34] cytopia commented on #142
Yes ;-p

[2017-11-11 17:34] cytopia commented on #142
You can however change this by altering: `HTTPD_TEMPLATE_DIR=.devilbox` to `HTTPD_TEMPLATE_DIR=devilbox`

[2017-11-11 17:36] mrpsiho commented on #142
Haha, omg. I just wasn't attentive enough(((

Yes, it works. I conmfirm this!
Just in case - WP multisite edition also works! :)

Thanks a lot! Devilbox is must have for developers!))

[2017-11-11 17:37] cytopia commented on #142
Good to hear. I will keep this open until @mavimedia issue has also been resolved and until better documentation has been added.

[2017-11-11 18:37] mavimedia commented on #142
It works for me too. Thanks.

I'm using Apache 2.4. I have made with ServerAlias *.__VHOST_NAME__ directive.

[2017-11-11 19:29] cytopia commented on #132
@SethTompkins  @rslid I will do some more digging into this topic once I have finished working on the new PHP-FPM images.

[2017-11-11 22:04] mavimedia commented on #142
Is it possible to override the global vhost templates?

[2017-11-11 22:06] cytopia commented on #142
@mavimedia could you add a custom issue for this new topic please

[2017-11-11 22:08] mavimedia opened #144 "Overriding vhost-templates global"
Is it possible to override the vhost-templates global, so it will be used for all projects?

[2017-11-11 22:09] cytopia commented on #144
At the moment you can only alter general server settings. For that see `cfg/apache-2.4` directory which also includes an example.

Is this sufficient or do you need to alter the vhost itself in general?
If so, could you give some examples about what settings you require.

[2017-11-11 22:13] mavimedia commented on #144
One can override the vhost-templates for each project like you described in the issue https://github.com/cytopia/devilbox/issues/142

I would like to do something like that, but global, so i don't need to put .devilbox folder inside the projects folder.

[2017-11-11 22:16] cytopia commented on #144
As said, this is currently not possible. Depending on the options:

1. If yours are better default option than current present, I will add them to: https://github.com/devilbox/vhost-gen
2. If yours are very specific to your local dev environment I will have to implement a way to generally overwrite the defaults

[2017-11-11 22:23] mavimedia commented on #144
I think, it would be nice, if all projects are also accessible over www.project.loc, not only over project.loc. But maybe other users don't want this behaviour like me.

[2017-11-11 22:27] cytopia commented on #144
@mavimedia OK.

So this is not (yet) officially ported, but as a quick work-around you can do the following:

---

1. In the devilbox root directory, create a new directory `vhost-gen/`
2. Copy all three templates files into the new `vhost-gen/` dir from: https://github.com/devilbox/vhost-gen/tree/master/etc/templates
3. Add a new volume mount as shown below into `docker-compose.yml`

[code]

This

[2017-11-11 22:59] cytopia commented on #118
@barray888 I will take care that it goes into the PHP Images. For all further questions, see new ticket:

https://github.com/devilbox/docker-php-fpm-7.3/issues/9

[2017-11-11 22:59] #118 closed

[2017-11-12 09:38] mavimedia commented on #144
It works, thanks!

But in ypur example it should be

  httpd:
    ...
    volumes:
      ...
      - ${DEVILBOX_PATH}/**vhost-gen**:/etc/vhost-gen/templates
      ...

[2017-11-12 09:59] mavimedia opened #145 "Indexing Vhosts"
Current behaviour is that vhost-gen is indexing all folders under ./data/www.

[code]
this will result in URLs like
[code]
What i want to do is to structure my projects a little bit, like customers or project types or other criteria.
E.g.
[code]
The domains could still get the projects folder name, but indexing should be a level deeper.

Is this possible?

[2017-11-12 11:32] cytopia commented on #144
Yes you are right. I will fix my comment above for others to better see how it works.

[2017-11-12 11:37] cytopia commented on #145
@mavimedia this is currently not possible. Implementing this would also raise other problems, such as:

You could have the same folder name in `customer1/` and `own-projects/` which would result in creating only one vhost for either one of them.

This might be solveable, but will rather be time consuming. I currently have some other features to work on. It is a very valid request, so I leave it op

[2017-11-12 12:11] mavimedia commented on #145
That's right, this could be, but in normal, one domain will show only on one folder, so generating of one vhost wouldn't be the problem.

Problems could be in the following case:
[code]
In those cases, the user maybe renames his folders:
[code]
or something else.

**Those problems could also be solved with a static host entry in a local vhost-gen template.**

That's something, the user has to rule

[2017-11-12 12:17] cytopia commented on #145
There could also be a trade-off solution. You could name your projects as follows:

[code]

Then I could add grouping the the vhost intranet page based on the sub-domain:

[code]

Would that something to better distinguish between different customers?

[2017-11-12 12:35] mavimedia commented on #145
Yes sure, that's the way i do now.

But there are so many folders in data/www/. I don't like this and would like to organize them a little bit better.

I will end up like this:
[code]
And i don't want foldername as subdomain all the time. Ok, i could rename customers to www. That would look a little bit better, but there are still many folders :( unorganized :(

[2017-11-12 15:49] cytopia commented on #145
Another thought I just had.

You can have multiple `.env` files. I guess keeping the default and all other files simply overwrite `HOST_PATH_HTTPD_DATADIR` to whatever customer base directory. This way you can start up the devilbox with explicit settings per customer.

[2017-11-12 16:51] mavimedia commented on #145
I also thought about it. This way is interesting for one more point. I can prepare settings for those projects, like PHP Version etc.

OK, i will give it a try.

[2017-11-14 07:13] cytopia commented on #145
@mavimedia I haven't tried it myself yet. If you have a viable solution for using different `.env` files, could you please report back here with a few examples.

[2017-11-14 07:19] cytopia opened #146 "(Community Discussion) Run multiply PHP versions at the same time"
# Community Discussion: multiple PHP versions

Hi everybody,

hope you enjoy the devilbox so far. I was thinking about a new feature, which might be a bit difficult to get it done, could however be something very useful for some of you:

## Feature

**Be able to run multiple PHP-FPM container at the same time**

## Benefits

- test your site simultaneously with different PHP versions
- useful for

[2017-11-14 08:21] lbngoc commented on #139
I think it may be a new ENV,  bind service should be listened to all TLD_SUPPORTED_SUFFIX in the list instead one at current. For example:
- File `.env`
[code]
- In `data/www`:
[code]

[2017-11-14 08:54] cytopia commented on #139
By looking at your directory structure, I now better understand why this should be added. Looks valid to me.

[2017-11-14 23:01] mavimedia commented on #145
Here is a small tutorial.

Copy your .env file to
[code]

or any other all in devilbox root directory. Open this files in your editor and change your config as you want.
In my case i have prepared these 2 files one with PHP 7.1 an the other with PHP 5.6. You can create config files with any combination you want.

Then make a shell-script `env.sh` with this content
[code]

Don't forget to `chmod`
[

[2017-11-15 15:57] alivelimeli opened #147 "Customized Nginx Conf hasn't applied"
**Note:** This issue have been resolved. While creating custom configuration based on templates don't use "\t" (TAB) characters on yml files. They will cause you some trouble :)

Original Issue:
--------------------
Hello,

I'm using Devilbox on Linux: Latest release, latest docker and latest docker-compose version.

I am using PHP 7.1, Nginx-Stable versions.

I've created `.devilbox` inside my pr

[2017-11-15 16:10] cytopia commented on #147
@alivelimeli could you read through this issue here: https://github.com/cytopia/devilbox/issues/144

Maybe you have missed something.

[2017-11-15 16:21] alivelimeli commented on #147
I've used the documentation as a reference: https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#433-customize-the-vhost-configuration

I've just copied nginx.yml to my project folder `./devilbox/data/www/myproject/.devilbox`

And I've expected to see the changes after devilbox restart, but it didn't worked.

So from issue #144 my understanding is; at the moment I cannot customize vho

[2017-11-15 16:23] cytopia commented on #147
Sorry, wrong ticket number, I actually meant: https://github.com/cytopia/devilbox/issues/142

[2017-11-15 16:32] alivelimeli commented on #147
Yes, I already check #142 also. I've applied same steps, but it didn't worked on my side.

1- Created a new project folder `/devilbox/data/www/myproject`
2- Created a new htdocs folder `/devilbox/data/www/myproject/htdocs`
3- Downloaded `nginx.yml` and copied into `/devilbox/data/www/myproject/.devilbox` folder.
4- Added required nginx related configurations to yml file (`fastcgi_read_timeout 300;

[2017-11-15 16:46] cytopia commented on #147
Looks all good to me so far.

Can you paste your yml file.

Also, whatever you added to the yml file. Did that show up inside your `myproject.conf` after devilbox restart?

[2017-11-15 17:04] alivelimeli commented on #147
My yml file:
`---

# Nginx vHost Template defintion for vhost-gen.py
#
# The 'feature' section contains optional features that can be enabled via
# conf.yml and will then be replaced into the main vhost ('structure' section)
# into their corresponding position:
#
#    __XDOMAIN_REQ__
#    __PHP_FPM__
#    __ALIASES__
#    __DENIES__
#    __STATUS__
#
# The features itself also contain variables to

[2017-11-15 17:09] cytopia commented on #147
Could you please also paste the final generated vhost config for `myproject.conf`

[2017-11-15 17:14] alivelimeli commented on #147
Sure. Here it is:
[code]

[2017-11-15 17:42] cytopia commented on #147
What is the value of `HTTPD_TEMPLATE_DIR` in your `.env` file?

[2017-11-15 17:43] cytopia commented on #147
And can you do an `ls -laR` inside your `myproject` directory.

[2017-11-15 22:15] kanglinyao opened #148 "Project folder cannot contain numbers?"
It seems that project name cannot contain numbers. I try to create a project folder called drupal8, but Auto DNS won't create a DNS record in the host file. But creating a folder called drupal will give me a working drupal.loc vhost.

I am using the latest devilbox.

[2017-11-16 07:34] alivelimeli commented on #147
Its default value: `HTTPD_TEMPLATE_DIR=.devilbox`

Folder contents:
[code]

[2017-11-16 12:37] alivelimeli commented on #147
Everything looks normal but inside httpd container standart nginx.conf is created:

[code]

[2017-11-16 12:39] alivelimeli commented on #147
Docker version:

[code]

docker-compose version:
[code]

[2017-11-16 12:58] cytopia commented on #147
@alivelimeli could you set `DEBUG_COMPOSE_ENTRYPOINT` to `1` in `.env`.

As well as setting the `DEBUG_ENTRYPOINT` in `docker-compose.yml` to `2` only for the `httpd` section.

Then start up the devilbox, wait for httpd to add your vhost and please post the docker logs for httpd

[2017-11-16 12:59] cytopia commented on #147
Apart from that you meet all the requirements which are at least:
[code]

[2017-11-16 13:30] alivelimeli commented on #147
Here are the logs:

[code]

[2017-11-16 14:09] alivelimeli commented on #147
I think its replacing required configuration on supervisord.conf on this line:

`httpd_1  | root $ sed -i'' 's/__MASS_VHOST_TPL__/.devilbox/g' /etc/supervisord.conf`

But its somehow not working. Any ideas?

[2017-11-16 14:12] alivelimeli commented on #147
I also tried to change folder name, logs created but it didn't worked again. (custom config is not applied)

[code]

[2017-11-16 14:20] cytopia commented on #147
Can you show the contents of `/etc/supervisord.conf` please

[2017-11-16 14:25] alivelimeli commented on #147
Sure, here it is:
`# cat /etc/supervisord.conf `
[code]

[2017-11-16 14:39] cytopia commented on #147
Replacement of `sed -i'' 's/__MASS_VHOST_TPL__/.devilbox/g' /etc/supervisord.conf` is fine.
I will need to add some debug to `vhost-gen.py` itself for docker-logs.

[2017-11-16 14:42] alivelimeli commented on #147
What do you advice me to do now? Will it take some time?

I think this will also probably solve my problem but its a hacky solution for now: https://github.com/cytopia/devilbox/issues/144#issuecomment-343698418

[2017-11-16 14:42] cytopia commented on #147
One more thing. Could you give it a try with nginx-mainline instead of nginx-stable?

[2017-11-16 14:47] alivelimeli commented on #147
I've tried with nginx-mainline, still same. The configuration from nginx.yml file inside /myproject/.devilbox folder not applied.

[2017-11-16 14:49] cytopia commented on #147
Yes, use it for now, until I have more debug into `vhost-gen.py`

[2017-11-16 15:00] alivelimeli commented on #147
I found the problem after I tried #144

It looks like nginx.yml doesn't like tab characters.

It gave this error:

[code]
I've removed #144 changes and start over with /myproject/.devilbox/nginx.yml file. Replaced tab characters with spaces.

And voila! It worked.

So tab characters caused trouble. Was it documented and maybe I've missed that point? Or should it be added on the documentation?

[2017-11-16 15:04] cytopia commented on #147
In your above pasted `docker logs` I don't see any error message. So why didn't it work then?
And how did you trigger this error message?

Should be added to the documentation for sure.

Btw, could you put an *Update* section at your initial comment of this issue stating the problem and that it has been resolved.

I will also keep this issue open until it has been properly documented.

Good catch

[2017-11-16 15:05] cytopia commented on #139
I further looked into this feature. It requires changes in

* Intranet
* Apache 2.2, Apache 2.4, Nginx stable, Nginx mainline
* DNS server

Its quite extensive, but possible

[2017-11-16 15:19] alivelimeli commented on #147
Well after I tried the instructions on  #144 it gave error while starting on docker logs. So I've checked the contents of nginx.yml file and found that to keep indentation I added custom lines with tab. So I've replaced tabs with spaces and tried again and it worked.

Later I revert my changes related to #144 and tried again with tab replacement and it worked.

[2017-11-16 15:21] alivelimeli commented on #147
I've updated initial comment.

Thanks.

[2017-11-16 17:09] lbngoc commented on #78
How can I setup VS Code with Xdebug?
I think Xdebug was started but VS Code cannot "listen" it.
Here is my xdebug.log
[code]
PHP Debug for VS Code: https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug

Thanks a lot!

[2017-11-16 18:14] cytopia commented on #78
@lbngoc Unfortunately I have never used VS Code, so I will not be able to help you on the client side.

On the devilbox side however, you should simply apply those settings:
[code]
Change `192.168.0.215` to whatever IP address you local computer (where VC Code runs on) is using.

[2017-11-17 09:29] lbngoc commented on #78
@cytopia
Can we expose port 9000 to localhost of local computer?
I see that my local IP changed every I power on my laptop.
@ilsenem
Could you please share your debug config with PHPStorm ?

[2017-11-17 10:22] ilsenem commented on #78
@lbngoc There is no config, really. I just replace default IP provided in **devilbox** configuration with my machine IP and all worked. The only thing i changed is path mappings, but **PhpStorm** will ask for it on first debug session.

[2017-11-17 17:34] alivelimeli opened #149 "How to have another git repository inside project folder?"
Hello,

Maybe this question is not exactly related to devilbox but its an issue that I get while using devilbox.

As you know mostly users will have git repository for their projects.

But devilbox is installed using `git clone` command. Projects stay inside `/data/www` folder.

But that folder is in `.gitignore` :)

So how can I have another git repository on my project folder? ( like `/data/www/

[2017-11-18 04:32] lbngoc commented on #78
@ilsenem Thanks you. I also think my issue maybe come from the path mapping, I will find another way.

[2017-11-18 08:59] cytopia commented on #149
Hi @alivelimeli this is exactly the reason why `.gitignore` is ignoring the `data` folder.
The devilbox git repository will ignore the data folder and does not care what you put into this. You can have your own git directories inside that folder and work normally.

If `.gitignore` was not ignoring that folder, it would show as changed for the devilbox git repository and not your owns.

Give it a t

[2017-11-18 09:04] cytopia commented on #148
@kanglinyao this works just fine on my machine.

![screenshot 2017-11-18 10-03-03 selection](https://user-images.githubusercontent.com/12533999/32978698-ba740588-cc47-11e7-8518-3431dba5253e.png)

[2017-11-18 09:15] cytopia commented on #148
Could you provide any logs. Such as

* The ajax request on the vhost page
* docker logs

As well as what version you use of docker and docker-compose

[2017-11-18 16:10] Geek-Daddy opened #150 "devilbox_bind_1 exited with code 1"
I'm using Xubuntu 16.04 with 17.09.0-ce and docker-compose 1.17.1 and 90% of times I get:

`devilbox_bind_1 exited with code 1`

I don't have anything custom, just copied env-example to .env. What could be wrong?

[2017-11-18 16:20] cytopia commented on #150
@Geek-Daddy could you please provide some more information:

* Docker version
* Docker Compose version
* Debug output of docker logs for bind

Btw, do you have a local DNS server listening on port 53?

[2017-11-18 16:31] Geek-Daddy commented on #150
Docker is 17.09.0-ce
Docker-compose 1.17.1

docker-compose logs bind output:

bind_1   | [INFO] Starting BIND 9.10.3
bind_1   | [INFO] Adding wildcard DNS record: '*.loc' -> '172.16.238.11'
bind_1   | root $ echo 'include "/etc/bind/custom-named.conf.loc";' >> /etc/bind/named.conf
bind_1   | [INFO] Adding custom DNS forwarder: 8.8.8.8,8.8.4.4
bind_1   | root $ sed -i'' 's/^};$/	forwarders {
bind_1

[2017-11-18 17:17] cytopia commented on #150
Is devilbox bind port listening on 53 or 5353?

[2017-11-18 17:43] Geek-Daddy commented on #150
That is the HOST_PORT_BIND setting? If so it's set to 1053

[2017-11-18 17:52] cytopia commented on #150
Can you check if any other local service is listening on port `1053`

[2017-11-18 17:59] Geek-Daddy commented on #150
There is nothing on that port.

[2017-11-18 18:23] simiula opened #151 "web interface->virtual hosts (not work properly using 8080) on mac High Sierra"
- [OSX] High Sierra
- [lastest ] `docker version`
- [ lastest] `docker-compose version`

I setup using port 8080 because I'm running another web server in port 80.
I create a .loc site and its running using:
http://simiula.loc:8080
But when I go to the web interface of devilbox->virtual hosts
tells me
"No Host DNS record found. Add the following to /etc/hosts:"
Maybe insert in docs that about usin

[2017-11-20 06:52] alivelimeli commented on #149
Hello,

Yes it looks like my fault :) I've somehow updated origin url of the git repo (devilboxs) and commited to my repo :)

Thank

[2017-11-20 06:52] #149 closed

[2017-11-20 07:26] alivelimeli opened #152 "PHP FPM Curl Updates"
Hello,

I'm not sure if this is the correct place or https://github.com/cytopia/docker-php-fpm-7.1 project is the correct place for this issue.

There are lots of updates on Curl. (Please check: https://curl.haxx.se/changes.html#7_56_1 )

Is it possible to update Curl version on PHP-FPM Images?

Thanks

[2017-11-20 10:25] cytopia commented on #152
@alivelimeli yes this is indeed a critical issue.
I am already working on the problem to solve it once and for all.

New Docker Images will be built by tavis-ci every 24 hours with latest software and patches and pushed to Dockerhub on success. This has already been done on three PHP images, but I still have to implement it for the rest as well:

* https://github.com/cytopia/docker-php-fpm-7.1/pul

[2017-11-20 10:25] #152 closed

[2017-11-20 10:26] cytopia commented on #151
@simiula good catch, I will have to take port changes into account.

[2017-11-21 07:45] cytopia commented on #150
@Geek-Daddy could you please append the following:

* Complete `.env` file
* `git log | head -1`

Also in your above `docker-compose logs bind` I don't see bind exiting. Could you add the full log here as well.

[2017-11-21 08:02] #151 closed

[2017-11-21 08:03] cytopia commented on #151
This is now fixed in latest commit of the master branch.

[code]

[2017-11-21 08:08] cytopia commented on #139
@lbngoc I had another look. I missunderstood you.

When having multiple tld suffices, it is not going to give you want you want. Lets check your example:

`TLD_SUFFIX=dev,com,net`
[code]
This would make each of your projects available under three suffices:

For directory `example.dev/`:
* `http://example.dev.dev`
* `http://example.dev.com`
* `http://example.dev.net`

For directory `example.com/`:

[2017-11-21 08:11] cytopia commented on #139
You could however use a custom virtual host config for your webserver and set the `server_name` (nginx) or `ServerName` (apache) yourself. Have a look at the following comment to see how to customize a single vhost configuration:

https://github.com/cytopia/devilbox/issues/142#issuecomment-343670549

Let me know if this helps

[2017-11-23 18:33] cytopia opened #154 "(Community Discussion) New PHP images: Post your required tools"
# Community Discussion: Required Tools

PHP-FPM images should be rebuild every night in order have latest patches and security updates applied.

*Acceptance Criteria*:

* PHP-FPM images are automatically built every night
* PHP-FPM images ship latest versions of common development tools

---

## Reference Implementation

**[https://github.com/devilbox/docker-php-fpm](https://github.com/devilbox/do

[2017-11-24 18:42] jeffwhitfield commented on #146
There is a huge benefit to allowing multiple PHP versions. Setting a specific project to a different version of PHP other than the default is extremely useful. I personally don't need to test against multiple versions...but I can certainly see how that might be useful for some developers. The main benefit for me is that I can make sure a specific project is running the same version of PHP that is

[2017-11-25 11:59] cytopia opened #157 "Move documentation to readthedocs.org"
As this projects advances it must be taken care of proper documentation that is easy to maintain, easy to add and also searchable.

The best candidate for this seems to be: **https://readthedocs.org/**

* Namespace: http://devilbox.readthedocs.io/en/latest/

## Where to preview:

http://devilbox.readthedocs.io/en/documentation/

---

This is going to take some time as I am not yet experienced with

[2017-11-25 12:04] cytopia commented on #147
The whole thing is going to be documented with new documentation setup: https://github.com/cytopia/devilbox/issues/157

[2017-11-25 12:05] cytopia commented on #145
@mavimedia thanks for the feedback. :+1:

The whole thing is going to be documented with new documentation setup: https://github.com/cytopia/devilbox/issues/157

[2017-11-25 12:06] cytopia commented on #144
The whole thing is going to be documented with new documentation setup: https://github.com/cytopia/devilbox/issues/157

[2017-11-25 12:06] cytopia commented on #142
The whole thing is going to be documented with new documentation setup: https://github.com/cytopia/devilbox/issues/157

[2017-11-25 17:15] mavimedia commented on #146
I think, this would be great. There are many projects running with a different php version, so this would make my work easier.
At the moment, i have to upgrade a project from php 5 to 7. The php 5 project is not compatible with php7, so i have to switch the php version everytime when i will test the old one.

I don't know, how you will make this possible, but maybe you can combine it with server v

[2017-11-27 09:36] jeffwhitfield commented on #146
Well, one way that might be possible is to setup handlers for each version installed. Pretty much the way most hosting providers do it. That way, if the default is set to PHP 7.0 but you want to use PHP 7.1 to test an application, all you would need to do is add the following to your .htaccess file:

`AddHandler application/x-httpd-php71 .php .php5 .php4 .php3`

Pretty straight-forward solution. H

[2017-11-27 09:49] cytopia commented on #146
Hi guys,
I thought about something like this, which would be do-able

## 1. `.env` (Define the default PHP version):
[code]

## 2. Startup

This will startup 3 PHP container, httpd and DNS
[code]

## 3. vHosts
The vhosts will be configured normally (default php version) and have duplicated vhosts for each php version with different domain suffices.

* Project name: test01
* vHost (default): test01

[2017-11-27 10:31] jeffwhitfield commented on #150
I'm getting a similar result. Basically, if I simply stop Devilbox and then restart it, the problem with bind happens. If I stop it and then run the same `down` command again then bind will usually behave on restart. Sometimes have to use a `rm` command though. I'm running on Mac High Sierra with bind set to listen on port 53. Here's my log:

[code]

[2017-11-27 13:11] mavimedia commented on #146
Hi,
what about a possibility, to setup the php version in specific project?

[2017-11-28 07:56] cytopia commented on #150
@Geek-Daddy @jeffwhitfield could you please try the following and see if it still occurs:

Run the container (explicitly specifying bind)
[code]
Stop the container
[code]
Run the container again (explicitly specifying bind)
[code]

[2017-11-28 14:24] mavimedia commented on #146
@cytopia: I have a comment to the possibility to chose the php version over domain name (3. vHosts).
This way is also possible for zendframework or laravel projects. But for projects made with wordpress it is not. The domain name is placed in database, so it would redirect to that. Maybe some other frameworks work the same way.

[2017-11-28 14:34] jeffwhitfield commented on #150
Funny thing is that this is exactly what I'm doing now. Only thing I'm not doing is running a kill command when I shut things down. Kind sucks that a simple `down` command doesn't do it but, that's ok. I'm using simple shell scripts to automate things a bit so no biggie. :P

If I use the `rm` command after shutting things down then it seems that bind usually behaves. I'll keep tabs on it and, if I

[2017-11-29 09:29] cytopia commented on #150
@jeffwhitfield do you explicitly specify `bind` when using `docker-compose up`?

Like this:
[code]
Or do you let it auto-load without specifying it:
[code]

[2017-11-29 09:42] cytopia commented on #146
This doesn't make any sense. If you have one project which should be server by php54 and one for php56, you will have to start both containers anyway and could also use both versions on both projects or?

[2017-11-29 14:17] mavimedia commented on #146
Yes sure, the containers have to be started. When a project runs with php7, it is not nesseary to test it with php5. In most cases a project is build for a specific php version.

[2017-11-29 14:23] mavimedia commented on #146
If it is easier for you to go this way
[code]
i think, this is somethink, we can live with ;)

[2017-11-29 14:43] cytopia commented on #146
If this proposal does the job that projects can be tested against multiple php versions in general then I would say lets go with this implementation.

All other improvements are very valid to follow, however getting it done in the most simple way at the beginning is prioritized, so we might find other flaws as early as possible as well.

[2017-11-29 18:49] mavimedia commented on #146
Great! Please, be free to tell me, if i can make some tests.

[2017-11-29 18:52] jeffwhitfield commented on #150
Yep! That's exactly what I'm doing. I think the `down` and `rm` commands in combination are what is keeping things in check though.

[2017-11-29 19:18] mavimedia opened #158 "How to install additional software in the containers"
I want to install some additional software like nano or something else.

I tried this in docker-compose.yml

[code]
but it doesn't work

How can i do that?

UPDATE:
[code]
doesn't work, too

[2017-11-29 19:30] cytopia commented on #158
This currently won't work. All PHP images are CentOS-based and the HHVM image is Debian-based.

You will have to enter the container via `./shell.sh` and then use something like `sudo yum install nano`.

Alternatively, if you require basic software that you would like to see in those images by default, just paste the software you require here: https://github.com/cytopia/devilbox/issues/154

[2017-11-29 19:46] mavimedia commented on #158
[code]
works with shell.sh

is it possible to execute shell.sh automatically when calling ```docker-compose up -d``` ?

[2017-11-29 19:49] cytopia commented on #158
What about:

[code]

[2017-11-29 20:03] mavimedia commented on #158
Yes right, this way it works. but start and stop is taking more time now. :(

Would it be possible, that you install nano as default in the containers like the other stuff?

[2017-11-29 20:17] cytopia commented on #158
Sure, added here: #154

[2017-11-29 20:17] #158 closed

[2017-12-01 00:04] eortega commented on #146
Sounds really great, in case someone is upgrading a project from php version this new feature will give capability to test the entire functionally through php versions.

In the current stack which i'm working, we have projects since php 5.4 to 7.1. Some of those are only cli applications, i suppose that its in mind that each php container will have a shell like root_bash.sh or we could pass some f

[2017-12-01 00:15] jeffwhitfield commented on #146
Definitely can see the value in what is being discussed. For projects that need testing like this, this would indeed be the right approach.

However, I still think it would be good to be able to use handlers though. The need for different versions of PHP for different projects is a different problem than testing a single project with multiple versions of PHP.

If multiple versions of PHP are avail

[2017-12-02 06:04] lbngoc commented on #139
Hi @cytopia,

I have already config vhost before open issue here, I think that a core issue here came from bind_service. I could not disable TLD_SUFFIX (because the default is .loc), then maybe all my vhost was not working.

I will reconfigure this again and let you know my results later. Thanks.

[2017-12-02 08:31] Cipa opened #159 "can't setup default configuration, also tried 5 others"
Hi,

Just downloaded the latest Docker and setup the latest devilbox and none of the configurations work for me. So I tried to setup the default one and it gets stuck at php_1    | [INFO] Starting PHP 7.1.9 (fpm-fcgi) (built: Aug 30 2017 20:08:00)

Note: every configuration seems to get stuck at a different point. Maybe if I fix this one I can move to the next

MacOs High Sierra

MacBook-Pro:~ mac

[2017-12-02 09:06] #159 closed

[2017-12-02 10:14] cytopia commented on #118
Scheduled in PR: https://github.com/cytopia/devilbox/issues/154

[2017-12-02 10:26] cytopia commented on #146
@jeffwhitfield not quite sure If I fully understood you.

No, one project in one directory would be accessible with multiple php versions only differentiated by different domains.

| project | dir | php version | domain |
|----------|-----|------------------|------------|
| test    | /shared/httpd/test/htdocs/ | default | test.loc |
| test    | /shared/httpd/test/htdocs/ | 5.5 | test.php55.loc |
|

[2017-12-03 20:26] jeffwhitfield commented on #146
Let's say you have the following PHP CGI executables setup in the following directories:

[code]

Granted, the actual paths for each version might be different. Now, let's say the default is set for 7.2 but you have one project that needs to be set with 5.6 for some reason. You could then setup your Apache config like so:

[code]

Then, in the htaccess file for the project, you could simply add th

[2017-12-03 22:36] cytopia commented on #146
@jeffwhitfield unfortunately PHP is not installed on the `httpd` container. PHP is delivered by its separate PHP-FPM container. So there must be something that will work with Apache and Nginx on remote PHP-FPM container.

[2017-12-04 15:45] jeffwhitfield commented on #146
Ah, I see. Still new to Docker so there's bits that I probably don't get. Access to each container would definitely pose a problem. That said, if there was a way for the `httpd` container to access the PHP-FPM executables then using handlers might be do-able.

[2017-12-04 16:28] cytopia commented on #146
There is no need to physically access the PHP-FPM executables. It's done via an IP addresses/hostnam (hosts: `php56`, `php70`, `php71`, ...) to interpret php files from the `httpd` server.

[2017-12-04 21:12] mavimedia commented on #146
@cytopia how is it registered on http site? is it registered in vhost or anywhere else?

[2017-12-05 07:21] cytopia commented on #146
## General setup

The `httpd` container (either Nginx or Apache) send all php requests to the `php` container and receives the rendered code that then can be displayed.
[code]

### Httpd directives (Apache)
[code]
The important line is ` SetHandler proxy:fcgi://php:9000` Where `php` is the hostname of the PHP-FPM server and `9000` is the port of the PHP-FPM process on the `php` host.

### Httpd di

[2017-12-05 07:42] mavimedia commented on #146
Why not running php in different ports? Let's assume we use the php version as portnumber like 9056, 9070, 9071 , 9072 etc.

I think it should be possible to say one global setting for all vhosts
(your example changed a little bit)
[code]
and if someone needs a specific php version for a project, he could do it in the project vhost-gen ```project/.devilbox/apache24.conf```
like
[code]
could this b

[2017-12-05 07:44] cytopia commented on #146
@mavimedia when using different ports then all PHP versions must be on the same machine `php` (Note, this is not a binary, but a hostname of a Container running PHP-FPM).

So from what you are recommending, the user could specify a different hostname (instead of different port) via vhost-gen to accomplish exactly this.

[2017-12-05 08:00] mavimedia commented on #146
Does this mean, that i can put a vhost-gen conf into the projects folder like the following (the global configuration is e.g. php71)
[code]
and it runs test.loc as php56 and additionally test.php56.loc, test.php70.loc, test.php71.loc etc.?

[2017-12-05 08:04] cytopia commented on #146
Not at the moment, as there is always only one PHP-FPM container running (hostname: `php`), but this was the actual plan for running multiple PHP-FPM container. So once this is implemented: Yes.

However, you will still have to start all PHP-FPM container that you want to use.

[2017-12-05 08:30] mavimedia commented on #146
Yes sure, that's clear, not now, but in future. Great!  👍

[2017-12-05 15:30] aadi-khan opened #160 "MongoDB not starting"
Hi,

I am using the windows 10 pro and i have recently installed the docker the latest version.

I wanted to use devilbox services everything is working fine but the mongodb and postgre database.

I am getting the below mention error while looking into the mongo logs.
[code]
I dont understand this error and so i decided to ask you for help. Please guide me if there anything i need to change.

Than

[2017-12-05 15:37] cytopia commented on #160
@aadi-khan can you please post your `.env` file as well as docker and docker-compose versions

[2017-12-05 15:42] aadi-khan commented on #160
Sure,

Here is the files .env and docker-compose in the zip folder.

[devilbox.zip](https://github.com/cytopia/devilbox/files/1531765/devilbox.zip)

[2017-12-05 15:47] aadi-khan commented on #160
![screenshot-localhost-2017-12-05-20-44-35-954](https://user-images.githubusercontent.com/7964591/33615947-41c65636-d9fd-11e7-97ee-9e09a6315518.png)

This is the screenshot of the devilbox page, it shows 100% health but two services have not yet started.

[2017-12-05 15:49] cytopia commented on #160
Please provide Docker and Docker Compose versions and also your command you used to start up the devilbox

[2017-12-05 15:53] aadi-khan commented on #160
Docker version 17.09.0-ce, build afdb6d4

docker-compose version 1.16.1, build 6d1ac219

I have download the devilbox repository and after making the .env file and i have simply run docker-compose up -d

[2017-12-05 15:55] cytopia commented on #160
Are you using Docker for Windows or Docker Toolbox?

[2017-12-05 15:56] aadi-khan commented on #160
I am using docker for windows not the toolbox

[2017-12-05 15:57] cytopia commented on #160
Can you shutdown the devilbox and try a few different MongoDB versions and check if it has the same problem

Properly shutdown before starting up a different version:
[code]

[2017-12-05 16:01] aadi-khan commented on #160
Alright, I am now shutting down my services and restart again with the different mongodb version. I am currently using MONGO_SERVER=3.4 and now i am going to use the MONGO_SERVER=3.5 and than i will let you know if this happen again.

Thank you very much for your time.

[2017-12-05 16:02] cytopia commented on #160
Just FYI: If you do not need MongoDB, you could also just startup exactly what you need.

**Example (Only starts up httpd, bind, php and mysql):**
[code]

[2017-12-05 16:16] aadi-khan commented on #160
Yes I have already setup wordpress and its working fine but i have few more projects that i need to setup which is angular and magento. I wanna bind the separate angular container with the mongodb. Is it possible ?

[2017-12-05 17:18] aadi-khan commented on #160
Nope its not working either on mongodb 3.5, I think i should have to setup the another MEAN stack container stack.

Thanks again bro

[2017-12-05 19:43] Cipa opened #161 "Configure mailtrap/devilbox interface to show html emails"
Hi,

Is there a way to see the html email instead of the text version of the email in the interface?
Additionally would stopping mailtrap allow for the emails to be sent? How can I stop mailtrap?

Thank you

[2017-12-05 19:51] Cipa commented on #161
To the first one I found the answer

use
[code]
instead of
[code]
in devilbox/.devilbox/www/htdocs/mail.php

[2017-12-06 06:52] Cipa commented on #161
I added my own, created a pull request

[2017-12-06 06:52] #161 closed

[2017-12-06 06:53] cytopia commented on #160
@aadi-khan could you try one more thing to check if the MongoDB actually works on Windows:

Without mounts
[code]

With mounts
[code]

[2017-12-06 06:56] Cipa opened #163 "Fix bind connect"
Hi,

I seem to have some bind connect issues. It doesn't affect me much but I would like to solve them.
Any ideas on where to start?
<img width="337" alt="screen shot 2017-12-05 at 10 56 13 pm" src="https://user-images.githubusercontent.com/293377/33648598-84b535f4-da0f-11e7-86fd-c166e002ba26.png">

Thank you

[2017-12-06 07:22] cytopia commented on #163
Could you please provide your Docker and Docker Compose versions as well as your operating system.

Also, please attach your `.env` file here.

[2017-12-06 07:25] cytopia commented on #163
Could you also have a look here to see if it is of any help:

* https://github.com/cytopia/devilbox/issues/132
* https://github.com/cytopia/devilbox/issues/150

[2017-12-06 07:29] aadi-khan commented on #160
This is the message on without mounts

[2017-12-06 07:29] aadi-khan commented on #160
λ docker run -it -p 27017:27017 mongo:3.5
2017-12-06T07:02:03.279+0000 I CONTROL  [initandlisten] MongoDB starting : pid=1 port=27017 dbpath=/data/db 64-bit host=dc0a689a9e68
2017-12-06T07:02:03.279+0000 I CONTROL  [initandlisten] db version v3.5.13
2017-12-06T07:02:03.279+0000 I CONTROL  [initandlisten] git version: 52bbaa007cd84631d6da811d9a05b59f2dfad4f3
2017-12-06T07:02:03.280+0000 I CONTROL

[2017-12-06 07:30] aadi-khan commented on #160
And this is the message appears with mounts , it say the port is already allocated

E:\Docker\devilbox (master)
λ docker run -it -p 27017:27017 -v /tmp/mongo:/data/db  mongo:3.5
docker: Error response from daemon: driver failed programming external connectivity on endpoint vigilant_wilson (b7eb68a75788bb47ae0abd4ca4993671842c5aae2286dade3ad85df12b18a9b2): Bind for 0.0.0.0:27017 failed: port is alr

[2017-12-06 07:33] aadi-khan commented on #160
Its just keep waiting on both situation with mounts and without mounts.

[2017-12-06 07:35] cytopia commented on #160
The first one (without mounts) seems fine as far as I can tell. It looks like initialization was successful and it awaits connection.

The second one cannot start up, as the port is already in use (maybe the first run wasn't shutdown properly and is still running?). Can you check (before trying the mount version) with `docker ps` if you already have a mongo db running, or leave out the port comple

[2017-12-06 07:45] aadi-khan commented on #160
Now i have stopped all the containers and restart the docker-compose up -d.

λ docker-compose up -d
Creating network "devilbox_app_net" with driver "bridge"
Creating devilbox_bind_1 ...
Creating devilbox_bind_1 ... done
Creating devilbox_php_1 ...
Creating devilbox_php_1 ... done
Creating devilbox_httpd_1 ...
Creating devilbox_httpd_1 ... done
Creating devilbox_mysql_1 ...
Creating devilbox_pgsql_

[2017-12-06 07:46] aadi-khan commented on #160
it says the health is 100% but the 2 services havent yet started

[2017-12-06 07:49] aadi-khan commented on #160
nor the Mongo container appears on docker ps

[2017-12-06 07:50] cytopia commented on #160
Can you give a standalone MongoDB container with mounts and withouts ports a try:
[code]

[2017-12-06 07:51] cytopia commented on #160
Also make sure  you have the latest MongoDB images:
[code]

[2017-12-06 07:52] aadi-khan commented on #160
λ docker images
REPOSITORY              TAG                 IMAGE ID            CREATED             SIZE
redis                   4.0                 e5f9a9e182f4        4 days ago          107MB
postgres                9.6                 d3ac03f9698d        3 weeks ago         268MB
mongo                   3.5                 a2ab5e364821        4 weeks ago         371MB
mongo                   3

[2017-12-06 07:55] aadi-khan commented on #160
![untitled](https://user-images.githubusercontent.com/7964591/33650643-acf9190c-da84-11e7-8bb2-b538be7b00f2.png)

[2017-12-06 08:01] cytopia commented on #160
Seems to work fine standalone.

Can you stop all containers:
[code]
Shutdown the devilbox
[code]

Comment the following line in `docker-compose.yml` (around line 413), so that MongoDB does not mount anything
[code]

And then start up just a few containers:
[code]

[2017-12-06 08:07] aadi-khan commented on #160
λ docker-compose up httpd bind php mongo
ERROR: The Compose file '.\docker-compose.yml' is invalid because:
services.mongo.volumes contains an invalid type, it should be an array

[2017-12-06 08:08] cytopia commented on #160
Also comment the `volumes` line in the `mongo:` section:
[code]

[2017-12-06 08:15] aadi-khan commented on #160
![untitled](https://user-images.githubusercontent.com/7964591/33651390-801d3c94-da87-11e7-905e-0c7df478d52d.png)

seems like its working but on localhost it get 503 error gateway timeout

[2017-12-06 08:18] aadi-khan commented on #160
![untitled1](https://user-images.githubusercontent.com/7964591/33651510-eb2aff26-da87-11e7-96ce-fc39e90b91fc.png)

[2017-12-06 08:19] cytopia commented on #160
Looks like it is receiving connections now. Are you still getting the `504` on `http://localhost`? If so, can you paste the web server error  logs here.

[2017-12-06 08:24] aadi-khan commented on #160
![untitled2](https://user-images.githubusercontent.com/7964591/33651723-ae84fa12-da88-11e7-985f-6ea51c5403bf.png)

Yes still get the 504 gateway timeout error

[2017-12-06 08:27] cytopia commented on #160
Can you provide the logfiles from `log/nginx-<your-version>/*`

[2017-12-06 08:34] aadi-khan commented on #160
[defaultlocalhost-access.log](https://github.com/cytopia/devilbox/files/1534384/defaultlocalhost-access.log)
[defaultlocalhost-error.log](https://github.com/cytopia/devilbox/files/1534385/defaultlocalhost-error.log)

[2017-12-06 09:00] aadi-khan commented on #160
did you get the errors, what should i do now what would you suggest ?

Thanks

[2017-12-06 09:21] cytopia commented on #160
Looks like it cannot find `index.php`. Did you remove any other volumes from `docker-compose.yml`?

[2017-12-06 10:03] aadi-khan commented on #160
hey its working fine now, all the services are running now i comment the volume part of postgre and it work as well as mongo.

Thank you so much for your time and support you are amazing.

[2017-12-06 10:06] cytopia commented on #160
Ok, however this is still not the optimal solution as data inside MongoDB/PostgreSQL might not persist across devilbox restarts. At least we know that it does work and seem to have some problem with paths on Windows mounts.

If I come up with a new idea I will let you know.

[2017-12-06 10:10] aadi-khan commented on #160
Alright, wish you all the best for new idea's.

Just one last thing if you dont mind "what is your name sir ?"

[2017-12-06 16:57] Cipa commented on #163
docker-compose version 1.16.1, build 6d1ac21
docker-py version: 2.5.1
CPython version: 2.7.12
OpenSSL version: OpenSSL 1.0.2j  26 Sep 2016

Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:40:09 2017
 OS/Arch:      darwin/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:

[2017-12-06 17:22] cytopia commented on #163
Unfortunately I am totally unable to reproduce any of those bind issues people are reporting. Is there any way you can provide a reproducible scenario?

[2017-12-06 17:43] Cipa commented on #163
applying
https://github.com/cytopia/devilbox/pull/138/commits/b499d5ebdf884561a85cfa8970a9eddbf47b2cdf

to my project seems to have fixed the issue

also did a stop/down/up after it

[2017-12-06 17:51] Cipa commented on #163
Not a networking expert but pinging 127.0.0.1 and localhost works but pinging the IP in WILDCARD_ADDRESS doesn't work.
Maybe there is mapping missing somewhere

[2017-12-07 07:21] cytopia commented on #163
Pinging the `WILDCARD_ADDRESS` should work inside the Docker container. If it doesn't, please let me know.

When you also want to enable Auto-DNS for your host system, have a look at this section: https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#62-auto-dns

[2017-12-07 07:47] cytopia commented on #160
@aadi-khan just call me by my github nickname here :-)

Btw, could you paste all the changes here you now have applied to `docker-compose.yml`.

[code]

[2017-12-07 07:49] cytopia commented on #163
Also be aware that b499d5e seemed to have worked initially for some people, but then somehow stopped working after some time without any explanation.

[2017-12-07 07:58] Cipa commented on #163
netstat -tulpen | grep ':53'
did not work for me. I got
netstat: en: unknown or uninstrumented protocol

netstat -tuln | grep ':53'
returns nothing

I will try your auto dns instructions and report back

[2017-12-07 07:59] cytopia commented on #163
What operating system are you on?

[2017-12-07 08:00] cytopia commented on #163
I have disabled Auto-DNS by default, simply by setting the DNS port to `1053` instead of `54`. See here: https://github.com/cytopia/devilbox/blob/master/env-example#L504

You will need to set it to `53` in order to enable Auto-DNS on the host system.

[2017-12-07 08:22] cytopia opened #166 "(Community Discussion) Tutorials and blog posts"
# Community Discussion: Tutorials and Blogs

Hi everybody,

As the devilbox matures and more features are added, I am still a bit behind with the documentation. Sometimes it is good to read about a topic from different perspectives.

So, If anybody has written or is going to write a tutorial or blog post about the devilbox for a specific use case or in general, please let me know and I will link i

[2017-12-07 08:55] aadi-khan commented on #160
I have just comment out the MongoDB volume section

# ------------------------------------------------------------
  # MongoDB
  # ------------------------------------------------------------
  mongo:
    image: mongo:${MONGO_SERVER:-latest}

    ports:
      # [local-machine:]local-port:docker-port
      - "${LOCAL_LISTEN_ADDR}${HOST_PORT_MONGO}:27017"

    networks:
      app_net:
        ipv4_a

[2017-12-07 09:37] aadi-khan commented on #160
I have encountered  another issue that is related to php, first thing is i am not able to access the shell.sh and the second is laravel installer throws the warnings and errors while i was executing the command

In short i wasnt able to use the php tools.

[2017-12-07 10:12] cytopia commented on #160
Just go with `./shell.sh` and then post the errors here you encounter with the `laravel` cli-tool.

[2017-12-07 12:29] aadi-khan commented on #160
![untitled](https://user-images.githubusercontent.com/7964591/33715358-08397182-db74-11e7-9372-73e8d071117c.png)

when i run _shell.sh_ this window pops up and disappear and nothing works after it.

[2017-12-07 12:30] aadi-khan commented on #160
also is it possible to install Mysql and intl php extensions in my php module ?

[2017-12-07 12:33] aadi-khan commented on #160
![untitled](https://user-images.githubusercontent.com/7964591/33715521-ae573b1c-db74-11e7-96c5-66630ba4b208.png)

See this is what happen when i run the exec command

[2017-12-07 12:36] aadi-khan commented on #160
![untitled](https://user-images.githubusercontent.com/7964591/33715649-205c518e-db75-11e7-8e42-46b022ab2619.png)

This is what appears when i run the exec command in htdocs folder

[2017-12-07 12:39] aadi-khan commented on #160
I would appreciate if you can confirm that the php extensions can be install in the current module or no.

Thank you

[2017-12-07 13:48] cytopia commented on #160
MySQL and intl extensions are installed already. However it looks like you have a seriously broken configuration. All those warnings/errors shown in your screenshot above should never appear.

Can you make a fresh clone of the devilbox (even use a different directory name for the clone) and see if all those warnings go away.

[2017-12-08 08:31] cytopia commented on #160
Sorry my bad. Just saw that you are executing `docker-compose` in the `htdocs/` directory. You can only ever use `docker-compose` command within the root git directory. It requires the `docker-compose.yml` to be in the same directory.

For what you want to do, simply use `shell.sh` to enter the Docker container and just execute your commands normally:
[code]
https://github.com/cytopia/devilbox/blo

[2017-12-08 12:14] vzlatev commented on #105
Hello,

Any plans to include it in the upcoming releases - on OSX without docker-sync web apps are awfully slow.

Regards

[2017-12-13 18:28] destillat commented on #160
@aadi-khan you probably forgot to mount your E drive
https://docs.docker.com/docker-for-windows/#shared-drives

[2017-12-14 04:30] Cipa opened #167 "How do I set xdebug.remote_autostart = 1?"
Hi,

I am trying to set xdebug.remote_autostart = 1 because I am not sure what else I can do to make Xdebug work. I even went into the php docker image and updated php.ini with the value above, and restarted. But http://localhost/info_php.php still shows xdebug.remote_autostart OFF

Is there a better way?

Thank you

Edit: I just found out about php.d. Will try to edit there but vi is pain in the

[2017-12-14 04:56] Cipa commented on #167
Turns out I did not read the docs properly

# Copy to file ending by *.ini
$ cd cfg/php-fpm-5.6
$ cp devilbox-custom.ini-example devilbox-custom.ini

# Edit settings
$ vi devilbox-custom.ini

[2017-12-14 04:56] #167 closed

[2017-12-14 06:27] Cipa commented on #78
@lbngoc did you find a solution. I have the same issue
Log opened at 2017-12-14 06:21:58
I: Connecting to configured address/port: 192.168.0.215:9000.
E: Time-out connecting to client. :-(
Log closed at 2017-12-14 06:21:58

PHP_XDEBUG_REMOTE_HOST=192.168.0.215

If it needs to be different what would the ip be, the ip on the local network 10.0.1.XX?

Thank you

[2017-12-14 07:29] jeffwhitfield opened #168 "HTTPD: Address already in use"
Here's what I'm currently running:

Docker for Mac 17.09.1-ce-mac42 (21090)
Client:
 Version:      17.09.1-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   19e2cf6
 Built:        Thu Dec  7 22:22:25 2017
 OS/Arch:      darwin/amd64

Server:
 Version:      17.09.1-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   19e2cf6
 Built:        Thu Dec  7 22:28:

[2017-12-14 07:40] jeffwhitfield commented on #168
Just downloaded an older version of Docker for Mac. No correlation between versions so...must be something else. :P

[2017-12-14 10:33] cytopia commented on #168
@jeffwhitfield yes that means there is already something listening on your host system on port 80.
When devilbox is shutdown try:

[code]

[2017-12-14 13:07] jeffwhitfield commented on #168
Actually...I think this might explain things:

https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/

Seems that .dev domains are being redirected to HTTPS which, ironically, that's exactly what I'm seeing with one particular project. For testing, I migrated a project back to MAMP and noticed that it kept redirecting to HTTPS no matter what I did. Switched it to a .local address a

[2017-12-14 20:43] jeffwhitfield commented on #168
Ok, I spoke too soon. So, when I run the `netstat` command, nothing is listening on port 80. If I fire up Devilbox and rerun `netstat` I then notice a port 80 listing. So...seems it's a DNS thing within just HTTPD or the like. Odd.

[2017-12-14 21:20] cytopia commented on #168
When starting the devilbox, port 80 will be populated by its httpd server. This is the desired case.
You might have had an unclean shutdown where the httpd server was still running in the background and no new could be started. Give the following a try for a clean start:

[code]

[2017-12-14 21:28] jeffwhitfield commented on #168
Wish I could say, "That did the trick!" Unfortunately, that doesn't make any difference. Strangely enough, those are the same commands I run via a shell script when I go to shut everything down.

I also did a complete reset of my Docker environment. Figured maybe there was something messed up with a container or the main Docker settings. Still didn't help. :(

[2017-12-14 22:27] cytopia commented on #168
Can you try the folllowing:

1. Make sure your master branch is up-to-date
2. Make sure your docker images are up-to-date
3. Try a different httpd server (e.g.: nginx)
4. Post your `.env` file here

[2017-12-14 23:01] jeffwhitfield commented on #168
You bet! Tried nginx with no change. Gonna also check some things dealing with my local DNS config.

Here's my `.env` file:

[code]

[2017-12-15 23:01] cube-dan commented on #166
I'd be happy to blog about your Devilbox beastie! You've done a fantastic job. Hand's down it's the best of the best. No debate, no question, no better pain-free devstack.

Devilbox has been a HUGE productivity to my development workflow. I no longer want to cut off my own fingers with dull pruning shears after fighting for hours homebrew.

I came here to say thank you for your hard work but maybe

[2017-12-17 12:27] cytopia commented on #166
Really good to hear that it is such a helper :-)

[2017-12-18 14:00] alivelimeli opened #169 "Production Suggestion"
Hello,

I like and use Devilbox on local development environment. I know its for local development but do you have a suggestion similar like devilbox to be used on production?

Thanks

[2017-12-18 14:08] cytopia commented on #169
Hi,

I am not aware of anything similar (if it is about the features).

Apart from that you could always go with a custom `docker-compose.yml` file and use the official docker images of nginx and php-fpm.

However, I am currently working on making the devilbox docker images more robust with auto-rebuild every night in order to have all the latest patches applied.

The PHP-FPM 7.3 Image is already

[2017-12-18 16:25] jeffwhitfield commented on #168
Ok, so I went ahead and reset my whole system. Basically, I wiped my computer and started from scratch. I've gone through a few OS upgrades so it was probably due for a full reinstall anyways. I just had a feeling that there was something messed up with my system configuration so, rather than try and hunt for a needle in a haystack, I decided to just start with a clean slate. So far, so good. No e

[2017-12-18 16:25] #168 closed

[2017-12-18 16:41] cytopia commented on #168
Good to hear that it works now.

[2017-12-19 18:30] cytopia commented on #169
@alivelimeli I will close this issue as I am not really aware of except for the official docker images and question has been answered as much as i could.

At the very beginning of next year I hopefully have time to set up a simple board so that questions like this will have a broader audience.

[2017-12-19 18:30] #169 closed

[2017-12-19 18:31] cytopia commented on #160
@aadi-khan could you please report back if the suggestion form @destillat works for you.

[2017-12-19 18:32] cytopia commented on #148
@kanglinyao I will close this due to missing information and inactivity. Feel free to re-open when you have more details

[2017-12-19 18:32] #148 closed

[2017-12-25 22:20] kazuo commented on #132
I encountered the same issue and tried the DVL-013-fix-dns branch (with merging master). The branch works for me with a few caveats. By the way, I'm running macOS 10.13.2 (High Sierra) with Docker Edge.

When using the Auto-DNS configuration, I can't use `local` as a search domain with any `docker-compose` command (i.e. `up`, `down`, `rm`, etc). I either need to remove the `local` search domain or

[2017-12-26 02:20] cytopia commented on #132
@kazuo good to know and thanks for reporting.

[2017-12-27 06:48] mrpsiho opened #170 "Help with enabling https"
Please, point me out to the related article in the documentation or give a tip on how to enable using 'https' for my local development.

Thanks!

[2017-12-27 13:05] cytopia commented on #170
@mrpsiho https is currently not yet supported. This is planned for the first quarter of the new year.