[2021-07-01 10:12] cytopia commented on #822
There are no arm64 images available at the moment.

[2021-07-01 22:27] lokinz opened #823 "Laravel missing when using PHP8"
Setting PHP level to 8.0 in the .env file pulls in `devilbox/php-fpm:8.0-work-0.127`

When I shell into the PHP container and try to run `laravel` I get the `bash: laravel: command not found` error.
This works fine on the 7.4 container.

Other tools (like symfony) work fine.

[2021-07-05 05:46] llaville commented on #819
Hello @ultrablue

I'm working on a new refactoring (again) of cytopia project https://github.com/devilbox/docker-php-fpm.

My first approach was to fixed some issues before cytopia finally fixed it in official version by my fork still available at https://github.com/llaville/docker-php-fpm/tree/software_enabled_refactoring
and added new extensions. https://github.com/devilbox/docker-php-fpm/issues

[2021-07-06 21:23] ultrablue commented on #819
Hi, @llaville:

Oh, cool, thanks.

I appreciate your efforts on this. If there's anything I can do to be of assistance, let me know.

Thanks!

[2021-07-07 07:47] llaville commented on #819
@ultrablue review my new report https://github.com/devilbox/docker-php-fpm/issues/215 and give me your feedbacks are welcome

[2021-07-08 08:44] #735 closed

[2021-07-08 08:44] #698 closed

[2021-07-08 08:44] #744 closed

[2021-07-08 08:44] #758 closed

[2021-07-08 08:44] #763 closed

[2021-07-08 08:44] #762 closed

[2021-07-08 08:44] #702 closed

[2021-07-08 08:44] #737 closed

[2021-07-08 08:44] #772 closed

[2021-07-08 08:44] #780 closed

[2021-07-08 08:44] #784 closed

[2021-07-08 08:44] #786 closed

[2021-07-08 08:44] #730 closed

[2021-07-08 08:44] #774 closed

[2021-07-08 09:06] fkaminski commented on #754
Would still be a nice feature ...

[2021-07-08 09:06] cytopia commented on #754
Agree

[2021-07-08 09:10] llaville commented on #722
+1 to keep this feature on the roadmap

[2021-07-08 09:30] fkaminski commented on #628
Thank you for all these informations!
(Especially the detailed information from @boumanb helped me.)

Possibly this information would also be suitable for the devilbox documentation like:
https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug.html
(even if it is not devilbox specific topic)

II will try in any case to take up this approach in our [Contao documentation](https:/

[2021-07-08 09:35] cytopia commented on #628
Cool. Let me know when its in and I can replicate it on the Devilbox documentation as well

[2021-07-08 10:51] fkaminski commented on #628
Check.
I will summarize the info and create a PR for the Contao doc. As soon as this is accepted I will let you know...

[2021-07-08 11:14] fkaminski commented on #628
So I don't forget see:
https://github.com/contao/docs/issues/790

[2021-07-11 09:50] fkaminski commented on #628
Unfortunately, I still have a question.
I had used VSCode with Xdebug, with this "[PHP Debug](https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug)" extension installed **locally** in VSCode.
Together with the information from the [devilbox documentation](https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/windows/vscode.html#configure-php-xdebug-win-v

[2021-07-12 10:09] fkaminski commented on #628
Addition:
Here is my working configuration when the VSCode "[PHP debug](https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-debug)" extension is installed **locally** within VSCode
(analogous to the [devilbox documentation](https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/windows/vscode.html#configure-php-xdebug-win-vscode)):

**\devilbox\cfg\php-ini-7.4

[2021-07-12 11:13] fkaminski commented on #628
Now I need help with this procedure:
VSCode is asking me for relaunch according to this:

\devilbox\data\www\demo\\.devcontainer\devcontainer.json
[code]
As already mentioned it works then regarding using VSCode terminal (inside the devilbox php container with the user "devilbox") or using the "Intelephense" extension for example.

The existing extension "PHP Debug" is now grayed out with the opti

[2021-07-12 12:17] folkevil opened #824 "Store database outside of container"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Sometimes Docker crashes and images/containers are deleted, so the database is also lost (mariadb, postgres), the local database backup is sometimes not done. So I propose to add a feature that allows data to be saved in an external folder.

#### Goal

No more lost databases.

[2021-07-12 14:18] cytopia commented on #824
Persistent data is already stored outside of the container: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L348

You'll loose data only, if you delete those docker volumes

[2021-07-12 14:18] #824 closed

[2021-07-13 00:52] #793 closed

[2021-07-13 04:46] llaville commented on #793
FYI: the https://github.com/mlocati/docker-php-extension-installer project already support this extension.
See my new report https://github.com/devilbox/docker-php-fpm/issues/215

On the other side, I don't understand point of view of community that ask for new extension and didn't send their feedback when helper offer to contribute

[2021-07-13 14:56] krebbi commented on #499
when trying to change the node version I get write permission errors:

`nvm install lts/*
Downloading and installing node v14.17.3...
mkdir: cannot create directory ‘/opt/nvm/.cache/bin’: Permission denied
creating directory /opt/nvm/.cache/bin/n`

[2021-07-13 21:57] vpassapera opened #826 "AMQP extension and PHP 8"
### ISSUE TYPE
 - Bug Report

### Checklist
* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through ex

[2021-07-14 07:37] llaville commented on #826
@vpassapera I suggest you to read the last lines of your (summary) report before submitting a new issue, even if it's not the origin of problem

Now to help all of Devilbox users that want to use amp extension with PHP 8

I found an interresting article that may help, even if now it's not really necessary since PECL restored in official PHP 8 Docker images
* https://akrabat.com/installing-php-exte

[2021-07-24 01:06] #718 closed

[2021-07-28 15:10] guycalledseven opened #827 "Set custom date & time in docker php container via datefudge"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Sometimes in programming, one has a need to program stuff that will be executed in future. In order to test such software, usually computer's date & time had to be set in BIOS.

#### Goal
Now with Docker and containers changing BIOS time and restarting Docker is too complicated and there is much easier way by using [datefudge](http://manpages.ubunt

[2021-07-29 05:50] llaville commented on #819
Instead of runkit7, @ultrablue consider to use https://pecl.php.net/package/uopz extension that come with a PHP 8 compatible release (7.0.0) since yesterday

[2021-07-31 13:16] Luc45 commented on #769
I had to point Xdebug to the docker gateway for it to work:

[code]

[2021-08-02 11:09] nasrithamer commented on #638
Hi, Good morning,
i have installed vueJs v2 and i make:

ln -s public/ htdocs
copying ./devilbox ngnix.yml to my directory and modify the port 8080
modify  package.json scripts vue-cli-service serve --host 0.0.0.0 --port 8080
npm run server
everything is ok like the image

![image](https://user-images.githubusercontent.com/13709609/127852342-c511dbfc-be9e-4627-80ca-5ec6a7f32062.png)

but i have 50

[2021-08-06 10:04] Lenitr commented on #822
I'm wondering if you're thinking of supporting arm64 in the future? Or are you dependant on others to test this?

Thanks a lot for your effort and time in this project!

[2021-08-06 13:57] lzomedia opened #828 "Issue with docker-compose for rabbitmq"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [ ] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [ ] I've looked through

[2021-08-09 08:07] nasrithamer opened #829 "Configure Keycloak with devilbox"
Hi,
please if any one has configured keycloak can give us the configuration. Thanks

this is my configuration in docker-compose

    keycloak:
      image: quay.io/keycloak/keycloak:14.0.0
      hostname: keycloak
      ports:
        # ---- Format: ----
        # [HOST-ADDR : ] HOST-PORT : DOCKER-PORT
        - "${LOCAL_LISTEN_ADDR}${HOST_PORT_KEYCLOAK}:8080"
      environment:
        #      KEY

[2021-08-12 15:09] CristianCojocari opened #830 "HTTPD docker completely ignored MASS_VHOST_SSL_GEN to 0"
I've tried to stop devilbox to auto generate a new pair of ssl certificates on docker-compose down, so I could use my own .crt and .key, the problem is that devilbox completely ignores MASS_VHOST_SSL_GEN=0 from docker-compose.yml.
I tried to bash into the httpd container and do echo $MASS_VHOST_SSL_GEN and it does give me 0, but it still auto generates the certificates.

Is there an actual way I c

[2021-08-24 15:43] Ernestopheles opened #831 "Allow another port for HOST_PORT_BIND"
#### ISSUE TYPE

 - Allow another port for HOST_PORT_BIND

#### SUMMARY
Under Ubuntu 20 DNS service is by systemd_resolved, which will use port 53. No Chance to change this. So if I want AUTO DNS, the only way is to have a different port for it

#### Goal
 AUTO DNS not working means manually editing /etc/hosts for each new project

[2021-08-24 15:50] fkaminski commented on #831
Maybe:
https://github.com/cytopia/devilbox/issues/695
or
https://github.com/cytopia/devilbox/issues/225

[2021-08-24 16:21] Ernestopheles commented on #695
In my opinion devilbox should rather use a different port. Disabling Automatic DNS is possible but for sure no recommended solution.

[2021-08-24 16:26] Ernestopheles commented on #831
I do not think both mentioned issues will provide a stable solution

[2021-08-24 21:34] Luc45 commented on #545
+1 to .localhost, as it works out-of-the-box with systemd-resolved: https://www.freedesktop.org/software/systemd/man/systemd-resolved.service.html#Synthetic%20Records

[2021-08-25 06:16] fkaminski commented on #831
Did you tried
https://github.com/cytopia/devilbox/issues/695#issuecomment-652330381 ?

[2021-08-25 14:28] Ernestopheles commented on #831
No, as I do not want to change my systems internet connection configuration. I rather think we should find an alternative way to gain AUTO DNS, f.i. by allowing a different port (if possible)

[2021-08-26 11:28] dgoosens opened #833 "make it possible to specify the required nodeJs version"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Add a param (.env, docker-compose.yml) to specify the NodeJs version that is required for the project.

#### Goal

Devilbox uses NVM to install node...
Right now, it installs the latest version by default.
This may not always be possible when, for instance, the production environment is running a specific version.

It would be nice if it were poss

[2021-08-26 13:02] robots4life opened #834 "PHP 8.1 with AVIF Support in GD extension"
The GD extension in PHP 8.1 and later supports the AVIF image format, making it possible to convert images from and to AVIF.
For this to work the GD extension must be compiled with AVIF support.
It depends on libavif package, which may not be available in default repositories of older operating system versions.

[https://php.watch/versions/8.1/gd-avif#compile](https://php.watch/versions/8.1/gd-avi

[2021-09-01 20:46] plumrocket commented on #604
Why not use Docker on Ubuntu + WSL? You won't have any issues with it. Follow this [tutorial](https://plumrocket.com/learn/devilbox-docker-wsl2):
or watch this video:
https://www.youtube.com/watch?v=9-vY5nLJC00

[2021-09-01 20:54] plumrocket commented on #718
Another suggestion is to use [devilbox](https://devilbox.readthedocs.io/en/latest/) which is dockerized LAMP and MEAN stack for local development. You can install it on Ubuntu with docker and WSL2. Here is the [full tutorial](https://plumrocket.com/learn/devilbox-docker-wsl2) with installation instructions for WordPress and video as well - https://www.youtube.com/watch?v=9-vY5nLJC00

[2021-09-02 05:43] llaville commented on #718
@plumrocket I'm 👍  with you on WSL2 guide in #604 issue, but not on this one 👎. No link with xdebug => that's a non sense here !

[2021-09-06 19:48] #804 closed

[2021-09-08 00:39] cassioalmeidas opened #835 "MySQL does not start on ArchLinux"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `./check-config.sh` output is added below
* [X] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through

[2021-09-08 09:54] cytopia commented on #835
Can you check If you've ran out of disk space for Docker volumes (https://github.com/eveseat/seat/issues/566)

[2021-09-08 16:53] cassioalmeidas commented on #835
I have 85Gb available on my drive. Already run the 'docker system prune' removed everything and did not solve.

[2021-09-08 23:48] cassioalmeidas commented on #835
I have about 85GB of disk free space. I already ran the 'docker system prune' and deleted everything from the docker and to no avail.

[2021-09-10 15:05] llaville commented on #754
Probably you didn't notice yet but Mailhog is able to delete one or all messages in a GUI.
Of course as the default storage is in-memory, we have to configure it to use maildir storage (see https://github.com/mailhog/MailHog/blob/master/docs/CONFIG.md, the `MH_STORAGE` env variable).

Devilbox documentation about Mailhog is available at https://devilbox.readthedocs.io/en/latest/custom-container/en

[2021-09-13 04:32] SiRWaTT86 commented on #540
I guess the error still persist in latest version. I changed mysql password (root) thru phpmyadmin interface... then updated .env MYSQL_ROOT_PASSWORD=****@#$  (same password as mysql root).
Stopped the containers then removed them, then started devilbox again (docker-compose up)...
Within few seconds php-fpm container stopped (with error 255). But when I remove the password in .env or change it to

[2021-09-14 09:00] llaville commented on #597
@madmatt and @cytopia Hello guys

This feature and the one detailed by #722 seems really close.
As I've a solution up and running, I'd like to take the lead (if you are agree)

[2021-09-17 06:13] llaville commented on #722
@frumbert and @cytopia Hello guys

As I've already said in feature #597 , both feature requests are pretty close.
I've worked on a solution that is up and running. I'll propose it on my repository https://github.com/llaville/flames today !

This solution is based on [vector](https://github.com/timberio/vector/).

[2021-09-20 06:19] ptmrio commented on #782
Still not resolved for me. Can't get the websocket to work, it always runs on a different host or port. Still looking for help.

[2021-09-20 12:30] Lenitr commented on #833
This would be great, not just to match production environments (we have some control over that) but also to match other people/colleagues using devilbox since their node versions are also automatic (based on the time of install)

[2021-09-24 12:11] gregfr opened #838 ""find" process hogging a lot of CPU"
Greetings
I've been using Devilbox for a while now and it's amazing!
However there's something I would like to have your opinion about: there a process taking a lot of CPU:
`find /shared/httpd`
while it's running the GUI of Devilbox is available (503) but my sites are working ok.
Any idea what is causing that?  I'm using Ubuntu 18 on a decent configuration (core i7, 48GB ram, SSD)
Thanks in advanc

[2021-09-24 12:36] catsAND commented on #697
Thanks you. Its helped me.

[2021-09-29 08:37] llaville commented on #834
@robots4life Good news. Project `docker-php-extension-installer` since today release [1.2.65](https://github.com/mlocati/docker-php-extension-installer/releases/tag/1.2.65) add support to enable AVIF for GD on PHP 8.1

And I've already mentioned it, my [alternative](https://github.com/llaville/docker-php-toolbox) which is almost compatible to https://github.com/devilbox/docker-php-fpm  (see my cur

[2021-10-02 04:34] llaville commented on #818
Question was [already asked](https://github.com/cytopia/devilbox/issues/769#issuecomment-752124436) and @cytopia already gave an [answer](https://github.com/cytopia/devilbox/issues/769#issuecomment-752136558)

That means if you downgrade your version from 0.127 in your [docker-compose.yml](https://github.com/cytopia/devilbox/blob/v1.9.2/docker-compose.yml#L98) to 0.118 you'll probably also lose so

[2021-10-02 04:37] llaville commented on #823
@lokinz It works as expected with current definition https://github.com/devilbox/docker-php-fpm/blob/master/build/ansible/group_vars/all/work.yml#L556-L558 Laravel, Lumen installer are disabled on PHP 8.x

[2021-10-02 11:56] robots4life commented on #834
@llaville Good work and thank you for the update on this.

For local development this is good, going live, many hosts have not implemented this and imo this will still take a while. For working with JPEG files and converting them to AVIF I can observe a trend where some basic PHP hosts have Node on the console, with this I pass the files to the Node process, convert them there with Sharp and pass

[2021-10-02 13:25] llaville commented on #834
/cc @cytopia

[2021-10-02 14:34] robots4life opened #839 "phpmyadmin-5.0.4 - service unavailable"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-10-06 16:32] antyblin commented on #769
I tried both 9000 and 9003 ports and got same error messages from Xdebug:
[code]
IP address in the message is the same as in `docker.for.lin.host.internal`. I run Docker inside WSL2 and have recommended configuration for the Xdebug 3.
`nc -vz 172.16.238.1 9000` from php container returns `connection refused`
but
`nc -vz 172.21.144.1 9000` from wsl to windows host returns `connection succeeded`.

I

[2021-10-09 20:55] evgeny-2019 opened #841 "Why does xdebug fall off? How to fix?"
#### ISSUE TYPE

 - Documentation

#### SUMMARY

In php.ini I set the following values:
[code]

I put a breakpoint. I open the page. The page loads within 2 minutes. Then I get a 503 error:
[code]
This prevents me from debugging the code.
How do I fix this?

[2021-10-13 12:47] bhujagendra-ishaya opened #844 "Impossible to disable http2"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [ ] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-10-16 05:39] redesigned opened #845 "MySQL 8 Won't Start / Connect"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `./check-config.sh` output is added below
* [X] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through

[2021-10-20 11:16] nickhhg opened #846 "Nvm uses system node instead of default"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version: Windows 10 Pro (Version: 21H1) (Build: 19043.1288)
2. (Windows only) Native Docker or Docker Toolbox: Docker Desktop v4.1.1
3. Docker version: (Engine) 20.10.8
4. Docker Compose version: 1.29.2
5. (Linux) Is SELinux enabled?: no
6. What git commit hash are you on?: n/a

### SUMMARY
when nvm loads it starts w

[2021-10-22 04:52] folkevil opened #847 "Add support for Meilisearch"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Add support for Meilisearch on default setting

[2021-10-26 01:36] jasonskinner opened #848 "php.ini not recognized in phpstorm"
I am trying to setup xdebug on an WP application.

Currently, I cannot get any xdebug.ini file to respond. In fact, no php.ini file can be found by phpstorm.

The documentation is pretty straight forward, but I have setup multiple test environments, including laravel, and have had no success.

https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/windows/phpstorm.html#configu

[2021-10-28 21:54] #848 closed, assigned to nobody

[2021-10-31 10:43] masiorama commented on #575
@ARehmanMahi hello, I installed PHPStorm and tried to follow your suggestions, but still I cannot make it work... maybe I am missing something trivial, but still cannot figure it out.

[code]

![dbgp](https://user-images.githubusercontent.com/731916/139578333-4498ca3c-2c57-4978-8901-6bda1d5fc1d0.jpg)

![validate](https://user-images.githubusercontent.com/731916/139578443-aae9ff2b-ecf8-483e-961f-4a

[2021-10-31 10:50] ARehmanMahi commented on #575
@masiorama xdebug.ini must contains `xdebug.client_host = 172.16.238.1`
I don't see that in your provided gist,

[2021-10-31 12:46] masiorama commented on #575
Hi @ARehmanMahi, actually the ip is there... Or you mean something different?

I also triggered the _Start Listening_ button.

You mean that you are using a LAMP stack instead of the devilbox env?

Thanks!

[2021-10-31 14:27] ARehmanMahi commented on #575
@masiorama yeah, my bad, you have the IP there, by the way I noticed you are using the vwsl linux on windows. I'm actually on ubuntu, and Yes I'm using lamp stack instead of docker. Its way easier and customiseable than devilbox once set correctly.

[2021-10-31 19:44] masiorama commented on #575
@ARehmanMahi exactly, I'm on wsl2 (ubuntu + docker + devilbox).
Thanks for the infos, but I'd like to stick to devilbox since I use it from the beginning (I believe 4 years) and it really suits my flexibility needs... If I could solve this debug issue it would be perfect for me.

[2021-11-02 10:09] masiorama commented on #575
I managed to make it work with Win10 + WSL2 (Ubuntu 20.04): inside WSL2 I installed docker, docker-compose and devilbox. I can debug from VSCODE installed on Win10.

[2021-11-05 03:37] jasonskinner opened #849 "xdebug + phpstorm"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ X] `.env` file is attached
* [X ] `./check-config.sh` output is added below
* [ X] `docker-compose logs` output is added below
* [X ] `docker-compose.override.yml` is attached (if exists)
* [X ] Custom configs from `cfg/` dir are attached (if exist)
* [X ] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X ] I've looked t

[2021-11-07 13:50] felixmosh opened #850 "Mail.php doesn't shows utf-8 emails properly"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x ] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [ x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x ] I've looked throu

[2021-11-09 14:04] mhodge13 commented on #822
This article may help when you are ready to create the arm64 images.

https://www.docker.com/blog/multi-arch-images/

[2021-11-10 15:20] krllgranin opened #852 "there isn't connect to internet inside container"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached [.env.zip](https://github.com/cytopia/devilbox/files/7513753/default.env.zip)
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through t

[2021-11-10 15:58] kritostar commented on #220
I am having the same problem with a site .loc

[2021-11-11 11:01] #778 closed

[2021-11-14 13:13] robots4life commented on #839
@cytopia this is still happening, I cannot use phpmyadmin due to this, are you looking into this ? Is there something I should add to the bug report or do from my side to get this sorted ? Thank you.

[code]

[2021-11-16 19:50] FJLessing commented on #105
@cytopia or anyone really has there been any movement on this front?

[2021-11-17 16:13] dietcheese commented on #839
Encountering same issue.

[2021-11-23 19:43] dietcheese commented on #839
Not sure if it's related, but also intermittently getting this error, and pages will fail to load:

/devilbox/log/php-fpm-8.1/php-fpm.error

WARNING: [pool www] child 1785 exited on signal 11 (SIGSEGV) after 9.012598 seconds from start

[2021-11-24 00:10] yfridelance commented on #499
same permission issue when trying install current lts

nvm install --lts
Installing latest LTS version.
Downloading and installing node v16.13.0...
/bin/mkdir: cannot create directory ‘/opt/nvm/.cache/bin’: Permission denied
creating directory /opt/nvm/.cache/bin/node-v16.13.0-linux-x64/files failed
Downloading https://nodejs.org/dist/v16.13.0/node-v16.13.0-linux-x64.tar.xz...
Warning: Failed to c

[2021-11-28 13:45] 24js commented on #793
I had a problem updating to the latest version since I had so many custom extensions
Finally managed to update <3

[2021-11-28 14:58] llaville commented on #793
☺️

[2021-11-30 18:24] ericp-mrel opened #853 "Update PHP 8.0 container to latest version"
Any chance we can get an updated image for PHP 8.0?

It is currently stuck at 8.0.7, and the latest is [8.0.13](https://www.php.net/ChangeLog-8.php#8.0.13). It also looks like the image that gets pulled down was last built 5 months ago.

[code]

[2021-11-30 18:33] llaville commented on #853
Id you want a compatible version 8.0 with latest release available, consider to have a look on my project : https://github.com/llaville/docker-php-toolbox.
A new docker image with PHP 8.1 will also be available in next hours.

[2021-12-01 06:59] llaville commented on #853
After 4 months to work on this project, I'm proud to announce a final version https://github.com/llaville/docker-php-toolbox/releases/tag/1.0.0, Devilbox architecture compatible, for all users who want an alternative to Docker images outdated.

[2021-12-01 07:57] alikon commented on #853
What does it mean that this project will never receive updates on docker php images ?

[2021-12-01 08:19] llaville commented on #853
@alikon I can't speak in place of @cytopia. I just would like announce that an alternative that work pretty fine with the devilbox is available. You have choice to build your own image (with extensions and tools) without to wait

[2021-12-12 11:47] boumanb commented on #822
Got Devilbox to run on my MacBook Air (MBA) M1 (16GB/512GB) (which I received last week, returning it) without any modifications. Executing `docker-compose up` is all you need to do right now.

However; the performance is horrible. This has nothing to do with Devilbox.

It's the IO operations on mounted volumes on Mac devices. Performance was okay on my 2020 MacBook Pro, nothing compared to linux

[2021-12-15 14:10] jonatanaxe commented on #841
You can take this value to increase the time
request_terminate_timeout = 600s

[2021-12-16 23:44] onasipim opened #854 "rsyslogd is not running, but required for mail logging."
Devilbox logs constantly during running:
`php_1    | rsyslogd is not running, but required for mail logging.
php_1    | 2021-12-16 23:36:24,576 INFO exited: postfix (exit status 1; not expected)
php_1    | 2021-12-16 23:36:25,652 INFO spawned: 'postfix' with pid 5433
php_1    | 2021-12-16 23:36:26,676 INFO success: postfix entered RUNNING state, process has stayed up for > than 1 seconds (startsec

[2021-12-22 14:00] BleddP commented on #854
I have the same issue, wondering if it might have something to do with Docker and support for Apple silicon as I am running on a 14" Macbook Pro with M1 Pro chip.

You can also run `docker composer up httpd php mysql -d` to run it in the background if the warning bothers you.

Either way would be nice to hear what the fix is as I am also not sure

[2021-12-23 17:58] zaarheed commented on #854
Also an issue for me on a new Appe silicon M1 MacBook. The same files and config don't report this warning on a 2014 rMBP

[2021-12-31 22:36] aliz7 opened #855 "Make Images support arm64 natively for development on M1 Macs"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Hi,

I'm using a MacBook Pro 2021 with M1 Pro ARM CPU. Unfortunately, the custom devilbox docker images do not support arm64 natively whereas all the official httpd, php, mariadb etc. images already support arm64 natively.

#### Goal
Make Images support arm64 natively for development on M1 Macs

[2022-01-03 17:33] onasipim commented on #854
Yes, I'm also running on a Macbook Air with M1 chip

[2022-01-03 18:53] onasipim opened #856 "Add sqlite3 to php container"

[2022-01-04 12:06] jamie07051975 commented on #839
Was having the same issue.  Looks like its related to PHP 8.1 running with this version of MySQL.  Running PHP 8.0 works fine

[2022-01-04 15:14] Jarco commented on #823
I have the same issue with Drush. I can see it is disabled in 8.0 and 8.1 but I cannot find any documentation on how to enable it. ( I am not well versed in docker ). The documentation seems to assume it is just there.
Is there a way to enable these tools again? I imagine I am not the only person who stumbles upon this issue during a Google search.

[2022-01-09 15:29] rrodrigofranco opened #857 "Problem to increase set_time_limit and memory"
#### ISSUE TYPE

 - Question

#### SUMMARY

Hello there, I would like to increase the set_time_limit and the memory of the PHP but I ca not.
At first, I tried to use this function:
set_time_limit(-1);
ini_set('memory_limit', '-1');

and do not working. I searched the devilbox documentation and I found this:
https://devilbox.readthedocs.io/en/latest/configuration-files/php-ini.html

I tried to foll

[2022-01-14 13:48] mrbig00 opened #858 "XDebug html var_dump/development aids"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2022-01-17 04:04] nicolaspennesi commented on #854
I having this issue on MacBoom M1 Pro too.

[2022-01-25 10:21] cytopia commented on #835
@cassioalmeidas could you check the branch from this PR: https://github.com/cytopia/devilbox/pull/859

It comes with udpated MySQL images and judging by CI, it should now work. Please let me know.

[2022-01-25 10:21] cytopia commented on #845
@redesigned  could you check the branch from this PR: https://github.com/cytopia/devilbox/pull/859

It comes with udpated MySQL images and judging by CI, it should now work. Please let me know.

[2022-01-25 13:42] cassioalmeidas commented on #835
@cytopia Worked perfectly. Excellent! Thank you.

[2022-01-25 19:14] #789 closed

[2022-01-25 19:14] #853 closed

[2022-01-25 19:14] #835 closed

[2022-01-25 23:30] cytopia commented on #856
`pdo_sqlite` and `sqlite3` are available, see here: https://github.com/cytopia/devilbox#available-php-modules

[2022-01-25 23:33] onasipim commented on #856
I meant the cmd line tool for the shell, not the php lib. You have all major sql engines covered, so sqlite would be nice addition

[2022-01-25 23:57] cytopia commented on #839
@robots4life @dietcheese  @jamie07051975
Seems to have been resolved by: https://github.com/cytopia/devilbox/pull/859 At least it works fine for me now.

[2022-01-25 23:57] #839 closed

[2022-01-26 05:47] llaville commented on #856
I suggest https://sqlitebrowser.org/ that I used myself since a long time now and appreciate a lot

[2022-01-26 10:02] cytopia commented on #852
@krllgranin I had the same issue and it was fixed by restarting the docker daemon:

[code]
See here for more information
https://stackoverflow.com/questions/20430371/my-docker-container-has-no-internet

[2022-01-26 10:02] #852 closed

[2022-01-26 10:16] cytopia commented on #838
@gregfr do you mean the initial find during startup? Or is there an instance which is running constantly?

[2022-01-26 10:17] cytopia commented on #820
@evgeny-2019 can you rephrase this. I didn't quite understand what you mean.

[2022-01-26 11:08] #850 closed

[2022-01-26 11:11] #845 closed

[2022-01-26 11:39] cytopia commented on #847
@folkevil can you add some details on what the requirements/settings would be to support it "on default settings"

[2022-01-27 09:24] olliefwilliams commented on #854
I'm also having the same issue, and also running a M1 Macbook Pro.

[2022-01-28 07:36] #807 closed

[2022-01-28 07:38] cytopia commented on #856
Added

[2022-01-28 07:38] #856 closed

[2022-01-28 07:38] cytopia commented on #823
Added

[2022-01-28 07:38] #823 closed

[2022-01-28 07:38] cytopia commented on #834
Added

[2022-01-28 07:38] #834 closed

[2022-01-28 07:39] cytopia commented on #826
Added in https://github.com/cytopia/devilbox/releases/tag/v1.10.0

[2022-01-28 07:39] #826 closed

[2022-01-30 11:27] cytopia commented on #798
@masiorama @tiktaz can you guys let me know how to reproduce it. I'm unable to get this error with PHP 7.4

[2022-01-30 11:38] cytopia commented on #828
@lzomedia Not able to reproduce. I've pulled the latest rabbitmq image and added the compose override file. For me the container comes up and is available.

Logs from my run are attached here:

<details>
  <summary>Rabbit MQ logs (Click to expand)</summary>

[code]
</details>

Can you let me know exactly how I can reproduce your behaviour and also attach your docker logs for this run.

[2022-01-30 11:44] cytopia commented on #818
@evgeny-2019 see answer from @llaville : https://github.com/cytopia/devilbox/issues/818#issuecomment-932680051

[2022-01-30 11:44] #818 closed

[2022-01-30 12:19] cytopia commented on #833
@dgoosens @Lenitr automatically changing the node version during startup (by installing from the internet)  is not a good idea to enable by default. This would then result in always requiring an active internet connection for starting Devilbox and people should still be able to use it offline.

You already have all the tools to change it yourself to any desired version:
[code]

[2022-01-30 12:19] #833 closed

[2022-01-30 12:21] cytopia commented on #854
@onasipim this is just a warning and should not affect anything. Simply ignore it as I have not seen any functionality that was broken by this. I'm going to close this issue. If you encounter anything which is not working due to this warning, please clarify.

[2022-01-30 12:26] cytopia commented on #748
This is not going to work for the Devilbox.

The Devilbox architecture uses separate containers for web servers and PHP servers (PHP-FPM) in order to achieve selecting different PHP versions. Litespeed does not work with PHP-FPM (https://support.cpanel.net/hc/en-us/articles/1500012848102-Can-I-use-PHP-FPM-with-LiteSpeed-) and thus cannot be integrated into this project

[2022-01-30 12:26] #748 closed

[2022-01-30 19:20] #754 closed

[2022-01-30 19:22] cytopia commented on #830
Fixed in https://github.com/cytopia/devilbox/releases/tag/v1.10.1

[2022-01-30 19:22] #830 closed

[2022-01-30 19:22] cytopia commented on #754
Fixed in https://github.com/cytopia/devilbox/releases/tag/v1.10.1

[2022-01-30 19:28] cytopia commented on #858
This is a very subjective way of describing things ;-)  As `var_dump` and its configuration is not a "bug" with Devilbox, I will close this bug report.

Just to add: There was a recent switch from Xdebug 2 to Xdebug 3, this might be related. I would then rather check with Xdebug configuration.

[2022-01-30 19:28] #858 closed

[2022-01-31 12:36] masiorama commented on #798
Hi @cytopia neither I was able to reproduce the error.  Since then (when I opened the issue) I migrated my dev env to WSL2, installing Devilbox inside Ubuntu (on WSL2), and I have the previous env no more. What I can say is that building up the same stack I see no error in the mail section of Devilbox dashboard.

[2022-01-31 12:42] cytopia commented on #798
Alright, I'll give it a few more days to wait for @tiktaz and check if he's still facing this issue and if not I'm gonna close this one.

[2022-01-31 13:01] lesteak commented on #798
I've been facing this issue for some time with PHP7.4 and still am after updating to Devilbox 1.10.1 today. Thanks

[2022-01-31 13:06] cytopia commented on #798
Can you provide instructions on how one could reproduce this issue.

[2022-01-31 15:52] acoalex opened #862 "Couldn't create the ssl-cache mutex"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2022-01-31 16:23] acoalex commented on #862
Switching to v1.9.2 tag work perfectly.
Thanks

[2022-02-01 10:16] cytopia commented on #819
I have tried `uopz`, however some php and pecl commands were failing after it had been installed:
[code]

The only version I was able to install it without issues was PHP 8.1

[2022-02-01 10:19] cytopia commented on #862
These checkboxes should actually only be ticked, if their criteria is fulfilled. Let me know if this is unclear and how I can better formulate this to make it more clear.

When checking google for `AH00023: Couldn't create the ssl-cache mutex` it tells me that "_semaphores are running short on count / space"_. Not sure If this is a host issue, or an issue on the Apache container:
* https://serverf

[2022-02-01 10:33] llaville commented on #819
@cytopia I've let down support for `uopz` extension, because I noticed like you that, side effects with others extensions.
I do not recommend to add it.

[2022-02-01 10:35] acoalex commented on #862
Thanks @cytopia , sorry for that checks, my fault.
I think that should be a problem with apache container, on host i have enought space:

overlay         61255492  32678616  25435552  57% /
tmpfs              65536         0     65536   0% /dev
shm                65536         0     65536   0% /dev/shm
grpcfuse       971350180 179114772 792235408  19% /ca
/dev/vda1       61255492  32678616  254355

[2022-02-01 10:45] #819 closed

[2022-02-01 13:24] acoalex commented on #862
I try with a 2019 Macbook pro with intel processor and works correctly, so its clearly M1 processor fail.
Thanks

[2022-02-02 17:57] #846 closed

[2022-02-04 18:51] cytopia commented on #857
I set `memory_limit` just fine exactly the way you did it. See phpinfo() output.

![Screenshot 2022-02-04 19-50-46  selection](https://user-images.githubusercontent.com/12533999/152586198-71663116-4143-4dfc-a8bb-76350fc84f6e.png)

How do you know it is not working for you?

[2022-02-04 18:58] cytopia commented on #831
@Ernestopheles
You can already set any port you want in the `.env` file:

![Screenshot 2022-02-04 19-57-48  selection](https://user-images.githubusercontent.com/12533999/152587148-4a13603d-97ac-423c-be60-d6c912452dc5.png)

[2022-02-06 16:10] cytopia commented on #827
@guycalledseven thanks for the write-up. The feature will not be added explicitly to the docker images, as this would add up on complexity and I rather decrease the complexitiy. Also you've shown how easily this can already be accomplished with provided customization options :+1:

I'm therefore closing this issue. The "Full Solution" should rather be something for the documentation

[2022-02-06 16:10] #827 closed

[2022-02-06 17:46] cytopia commented on #822
I was looking into building ARM images. This however seems to be rather problematic. I have currently tested it with a base image (PHP 8.2) in this PR: https://github.com/devilbox/docker-php-fpm-8.2/pull/2

* **AMD64** image builds in about **9 minutes** (as it did in single run before)
* **ARM64** image builds in about **100 minutes** (more than factor 11 longer)

Timewise it would all be do-able

[2022-02-06 19:51] cytopia commented on #822
Closing in favour of this: https://github.com/cytopia/devilbox/issues/855

[2022-02-06 19:51] #822 closed

[2022-02-06 19:52] cytopia commented on #855
I was looking into building ARM images. This however seems to be rather problematic. I have currently tested it with a base image (PHP 8.2) in this PR: https://github.com/devilbox/docker-php-fpm-8.2/pull/2

* **AMD64** image builds in about **9 minutes** (as it did in single run before)
* **ARM64** image builds in about **100 minutes** (more than factor 11 longer)

Timewise it would all be do-able

[2022-02-07 15:44] dmorbidi commented on #506
Is possible to overcome the issue by specifying the host in a cnf file? Thanks.

[2022-02-09 15:49] tiktaz commented on #798
Sorry I'm quit my last job and I'm not using Devilbox for the new one.
The way to get the bug was to sent a email containing some HTML tags and try to read them from localhost/mail.php.

[2022-02-10 16:51] lzomedia commented on #828
After updating to the latest version it worked out of the box

[2022-02-10 16:51] #828 closed

[2022-02-13 19:31] jose-sampedro commented on #782
@ptmrio any solution?

Could you share a repository with what you have investigated?

Thank you

[2022-02-14 08:24] ptmrio commented on #782
Nope, no "solution". Latest status is: https://github.com/cytopia/devilbox/issues/782#issuecomment-858392031

I'm using `yarn watch` instead of any hot reload configuration atm. Part of the problem is the transition to webpack 5, part is this combination of browser, docker, and shared ports as well as my lack of knowledge. As mentioned a devilbox lamp + php + phpstorm + webpack (symfony encore) se

[2022-02-15 11:11] cytopia commented on #862
@acoalex can you give the upcoming release a try. Had an explicit fix for the ssl-cache mutex on Apache: https://github.com/cytopia/devilbox/pull/865

[2022-02-15 11:30] cytopia commented on #857
@rrodrigofranco is there any feedback?

[2022-02-15 11:32] cytopia commented on #838
@gregfr feedback on this?

[2022-02-15 11:32] cytopia commented on #820
@evgeny-2019 any feedback on this?

[2022-02-15 11:37] acoalex commented on #862
@cytopia Yes, give me a while and i will try again.
Thanks a lot.

[2022-02-15 12:51] acoalex commented on #862
@cytopia Hi!! I have make a pull request to repository and launch again docker but the same errors appears:

devilbox-httpd-1  | [Tue Feb 15 12:48:20.479133 2022] [core:emerg] [pid 5685:tid 274907404160] (95)Operation not supported: AH00023: Couldn't create the ssl-cache mutex
devilbox-httpd-1  | AH00016: Configuration Failed

Thanks

[2022-02-15 12:53] cytopia commented on #862
Not sure what this means. Did you checkout branch `release/v1.10.4` ?

[2022-02-15 12:55] cytopia commented on #862
It is not merged yet, as the PR is stull open. You need to try it by checking out the above specified branch

[2022-02-15 13:04] acoalex commented on #862
@cytopia Its Works!!! Thanks a lot.

[2022-02-15 15:13] #862 closed

[2022-02-16 20:09] guycalledseven commented on #854
@cytopia Can we please reopen this issue? I can submit PR but don't know where. I think the fix is pretty easy.

While running on M1 Macbook Pro, `pidof` in container(s) does not return anything for any running process if the image is not ARM64, because every program is being run by `qemu-x86_6`.

When I bash into my running php7.4 container I **see running rsyslogd** and eg. php-fpm but like this

[2022-02-16 22:52] cytopia commented on #854
@guycalledseven looks legit. Will re-open and prepare something for you to test out.

[2022-02-20 16:39] Ernestopheles opened #866 "file devilbox-php.ini-xdebug not suitable for xdebug 3"
As far as i know, the configuration for xdebug have changed since version 3.x. In the sample file i find the old configurations for xdebug 2.

[2022-02-26 09:35] geeksupport1 commented on #575
Hi @masiorama ,

I am trying to do the same.

make it work with Win10 + WSL2 (Ubuntu 20.04): inside WSL2 I installed docker, docker-compose and devilbox. I can debug from VSCODE installed on Win10.

Can you please provide a guide on how you did it?

Thanks in advance.

[2022-02-27 10:18] masiorama commented on #575
Hi @geeksupport1, sure, I will help you if I can.
What did you accomplished so far? Where are you stuck at the moment?

I wrote a complete guide in 6 steps/pages on my website, but it is in italian.
Here you can find the step related to xDebug: https://www.masiorama.it/news/come-preparare-un-ambiente-di-sviluppo-php-completo-su-windows-10-wsl2-docker-devilbox-xdebug-step-5

Let me know if you can

[2022-02-27 18:23] aldairsilva commented on #839
I'm trying to delete a database in phpMyAdmin and I'm getting the attached image error. How can I resolve this?

![image](https://user-images.githubusercontent.com/65562859/155894753-e4408241-6ef3-4043-b52b-fcb418cfc46e.png)

[2022-02-28 05:20] juicytoo commented on #575
Hi @[masiorama](https://github.com/masiorama),

 Thanks for the link.

 I think devilbox is great if you have a linux machine,

 But on WSL2, as the founder does not use WSL2 there will continue to be problems.

 After trying it for 2 days, I gave up.

I followed
https://docs.microsoft.com/en-us/shows/beginners-series-to-dev-containers/[https://docs.microsoft.com/en-us/shows/beginners-series-to-de

[2022-03-02 14:35] #812 closed

[2022-03-03 12:41] timo002 commented on #833
When doing so, after a `docker-compose down` and `docker-compose up -d`, node is back to the default installed version (17.x currently). How to make this persistant.

[2022-03-03 13:43] Lenitr commented on #833
This is exactly the issue i had when changing the node version manually as well. I guess the way to do it would be to add the nvm install and nvm use commands to the startup script (perhaps not the most elegant solution but it should work)

[2022-03-10 13:37] ptmrio commented on #453
Hey sorry, did I miss something? I followed the setup from the docs but i can't access `localhost:4040`, nothing comes up. Just to be clear, I do have to install ngrok separately?

Simply edit `docker-compose.override.yml`, add a few constants to `.env`, then `docker-compose up bind httpd ngrok mysql php` and there SHOULD be an interface at port 4040?

Note:  `sudo lsof -i -P -n | grep LISTEN` als

[2022-03-14 15:34] manzolo opened #867 "Wrong css in adminer-4.8.1-en.php"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version: Ubuntu 20.04
2. (Windows only) Native Docker or Docker Toolbox:
3. Docker version: 20.10.13
4. Docker Compose version: 1.25.0
5. (Linux) Is SELinux enabled?:
6. What git commit hash are you on?: 31103f00405386150f1df574ccec513258411dec

### SUMMARY

Wrong  css in adminer tool

![image](https://user-images.gi

[2022-03-17 06:03] MrCrayon opened #870 "Query problem with mariadb-10.5-0.8 and mariadb-10.5-0.15"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through existing issues: https://github.com/cytopia/devilbox/issues
* [x] I've read troubleshooting: https://devilbox.readthedocs

[2022-03-17 07:10] MrCrayon commented on #870
I found this comment on stackoverflow:

The difference between 10.5.7 and 10.5.8 is not big, but I have no idea if the problem is there or if it could be something else:
https://github.com/MariaDB/server/compare/mariadb-10.5.7...mariadb-10.5.8

[2022-03-18 06:22] jhuyvu commented on #769
Add for **bind** & **php** services

[code]

xdebug.ini
[code]

Working for me :) Thank all.

[2022-03-20 04:09] moquette opened #872 "Auto DNS no longer working after MacOS 12.3 update"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [n/a] `docker-compose.override.yml` is attached (if exists)
* [n/a] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked thro

[2022-03-20 04:28] moquette commented on #872
docker-compose logs
devilbox-bind-1  | [INFO] Debug level: 2
devilbox-bind-1  | [INFO] BIND logging: disabled explicitly
devilbox-bind-1  | [INFO] Using default DNS TTL time: 3600 sec
devilbox-bind-1  | [INFO] Using default DNS Refresh time: 1200 sec
devilbox-bind-1  | [INFO] Using default DNS Retry time: 180 sec
devilbox-bind-1  | [INFO] Using default DNS Expiry time: 1209600 sec
devilbox-bind-1

[2022-03-20 10:09] cytopia commented on #872
Can you set `BIND_LOG_DNS_QUERIES=1` in `.env` and

1. Try to resolve from inside container
2. Check what `/vhosts.php` intranet is showing
3. Check from your hosts

And then post docker logs from bind here

[2022-03-20 17:49] moquette commented on #872
I believe I didn't upgrade correctly.

I ran docker-compose stop && docker-compose rm -f && update-docker.sh

Rebooted the system and ran docker-compose up...

Bind is working without anomalies on 1.10.5.

Thank you, feel free to close.

[2022-03-20 17:50] moquette commented on #872
Closed, working after update-docker.sh.

[2022-03-20 17:50] #872 closed

[2022-03-21 10:19] mah484 opened #873 "Update Homepage with Complete Support Versions List"
This is just a suggestion to update what I believe is the [official marketing website](http://devilbox.org/) with newer supported versions.  For example PHP is only listed up to 7.3 at the moment.

[2022-03-22 20:46] #844 closed

[2022-03-22 20:46] #854 closed

[2022-03-22 20:46] #867 closed

[2022-03-22 20:48] cytopia commented on #854
Fixed here: https://github.com/cytopia/devilbox/releases/tag/v1.11.0

[2022-03-22 20:49] cytopia commented on #867
Fixed here: https://github.com/cytopia/devilbox/releases/tag/v1.11.0 via https://github.com/cytopia/devilbox/pull/871

[2022-03-22 20:50] cytopia commented on #844
@bhujagendra-ishaya Fixed here: https://github.com/cytopia/devilbox/releases/tag/v1.11.0 via https://github.com/cytopia/devilbox/pull/871

[2022-03-22 20:54] cytopia commented on #855
## Update

I have added two more required base images to support arm64 on Debian Jessie:
* https://github.com/devilbox/docker-php-fpm-5.4 (base image only)
* https://github.com/devilbox/docker-php-fpm-5.5 (base image only)

[2022-03-22 21:01] cytopia commented on #838
@gregfr closing this due to inactivity. Feel free to provide more information.

[2022-03-22 21:01] #838 closed

[2022-03-22 21:02] cytopia commented on #857
@rrodrigofranco closing due to inactivity. Feel free to provide more information.

[2022-03-23 08:00] howdu opened #874 "PHP8.1 Deprecated Errors - How to disable php pecl extension?"
### ISSUE TYPE

 - Bug Report

When I run PHP 8.1 via cli
[code]

Looks like it will be fixed soon but can I disable this from the docker build until then?
https://github.com/php/pecl-search_engine-solr/pull/30

Is it possible to alter the `--with-pecl` option?
https://github.com/docker-library/php/issues/846#issuecomment-505638494
https://github.com/docker-library/php/issues/1087

I tried adding

[2022-03-23 10:40] cytopia commented on #874
@howdu the extension is `solr` not `pecl`, so you should add:
[code]

[2022-03-23 11:38] #874 closed

[2022-03-24 10:17] joeke commented on #855
@cytopia Not sure if I understand correctly, but to be able to use this on an M1 Mac I can only use one of the PHP base images? So in my docker-compose I cannot use for example `devilbox/php-fpm:${PHP_SERVER}-work-0.136` but can only use the base PHP image (i.e. `devilbox/php-fpm-8.0`) but then I'd have to load php modules etc. manually?

[2022-03-24 11:54] robots4life opened #875 "How to Install and Persist Vercel, Netlify and GitHub CLI in the Devilbox ?"
#### ISSUE TYPE

 - Question

How does one install and persist the Vercel, Netlify and GitHub CLI in the Devilbox ?
https://vercel.com/docs/cli
https://cli.netlify.com/
https://cli.github.com/

#### Goal

When starting up the Devilbox I like these CLI tools to be available on the console.
Right now, when I install them, stop the Devilbox and start it again these tools are gone.

[2022-03-24 11:57] #875 closed

[2022-03-24 12:00] robots4life opened #876 "Available Tools : Add Vercel, Netlify and GitHub CLI to Devilbox"
Would it be possible to have the Vercel, Netlify and GitHub CLI as available tools in the Devilbox ?
https://vercel.com/docs/cli
https://cli.netlify.com/
https://cli.github.com/

[2022-03-24 12:16] robots4life commented on #628
Does anyone know how to install Vercel, Netlify and GitHub CLI to the Devilbox so they work from VS Code and are possibly kept installed between shut down and start ([not when removing containers](https://devilbox.readthedocs.io/en/latest/getting-started/start-the-devilbox.html#stop-and-restart)) ?

[2022-03-24 13:01] robots4life commented on #628
https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html#custom-scripts-globally

In `/devilbox/autostart` I have created a file `clis.sh` with following content.

[code]

**Remember to `chmod +x clis.sh` inside `/devilbox/autostart` so the script can be executed.**
This will install Vercel and Netlify CLI globally in Devilbox and persist the installation as long as the `cl

[2022-03-24 13:03] robots4life commented on #876
https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html#custom-scripts-globally

In `/devilbox/autostart` I have created a file `clis.sh` with following content.

[code]

**Remember to `chmod +x clis.sh` inside `/devilbox/autostart` so the script can be executed.**
This will install Vercel and Netlify CLI globally in Devilbox and persist the installation as long as the `cl

[2022-03-25 04:00] bhujagendra-ishaya commented on #844
Awesome, thank you @cytopia. Works perfectly

[2022-03-25 12:02] acoalex opened #878 "Last 2 updates throws error on Apple M1 no matching manifest for linux/arm64/v8 in the manifest list entries"
### ISSUE TYPE

 - Bug Report

### Checklist

* [] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [ ] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [ ] I've looked through e

[2022-03-25 12:32] acoalex commented on #878
Adding this lines to docker-compose.override.yaml solve the problem:

services:
  mysql:
    platform: linux/amd64

Cheers!!

[2022-03-25 12:34] cytopia commented on #878
@acoalex please see here: https://github.com/cytopia/devilbox/issues/855

[2022-03-25 12:34] #878 closed

[2022-03-25 12:35] cytopia commented on #855
@joeke no, the base images cannot be used for the Devilbox. They are however a requirement to eventually build the Devilbox images.

[2022-03-25 16:41] cytopia commented on #870
@MrCrayon is this a Devilbox issue or an issue specifically with MariaDB?

[2022-03-26 06:49] MrCrayon commented on #870
@cytopia it's most probably a MariaDB issue.

I reported it here because I think it would be worth reverting the default to 0.7.

My other goal was to have this public somewhere because it has been really hard to debug so I wanted to share my findings and make life a bit easier to other people.

I do not want to take your time and I think devilbox it's an amazing tool, so feel free to close the is

[2022-03-26 10:53] jonatanaxe commented on #873
fixed http://devilbox.org/

[2022-03-26 11:53] cytopia commented on #873
Thanks for the PR @jonatanaxe https://github.com/devilbox/devilbox.org/pull/13

@mah484 Closing

[2022-03-26 11:53] #873 closed

[2022-03-26 13:01] cytopia commented on #870
What do you think about making it a PR to the troubleshooting section instead? https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html

[2022-03-31 02:59] MrCrayon commented on #870
I was not sure how to word this in documentation since I could not find an official bug report but now I found it:
https://jira.mariadb.org/browse/MDEV-27937

Affects Version/s 10.3, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9, 10.5.15, 10.6.7
Fix Version/s: 10.3.35, 10.4.25, 10.4.26, 10.5.16, 10.7.4

 I was a bit misled because I thought the -08 was connected with MariaDB version but I guess it's a contai

[2022-03-31 11:54] hielh opened #882 "How could we use default plugin on elasticsearch dockerimage"
#### ISSUE TYPE

 - Question

#### SUMMARY

My need is to install somes plugins in elasticsearch image by default,

RUN elasticsearch-plugin install analysis-icu
RUN elasticsearch-plugin install analysis-phonetic

How can I use devilbox to use by default thoses plugin.

#### Goal

[2022-03-31 11:55] hielh commented on #882
@cytopia any help please

[2022-04-01 00:07] #870 closed

[2022-04-06 07:33] cytopia commented on #855
## Update

Finally full `arm64` support has been released: https://github.com/cytopia/devilbox/releases/tag/v2.1.0

@frumbert @Lenitr @mhodge13 @boumanb @joeke could you guys give some updates on how this is working, as I don't have an arm64 machine myself

[2022-04-06 07:56] joeke commented on #855
@cytopia Awesome, thank you! I'll give it a test on my Macbook and let you know how it goes.

[2022-04-06 17:51] joeke commented on #855
@cytopia Looks to be working as expected from my end. I've used the bind, httpd (nginx), mysql and php (8.1 and 7.4) containers and they all work fine. Also working in the shell of the PHP containers looks good; I've used the node, npm, nvm and composer scripts inside the containers and those seem to be working fine as well.
So in short; looks to be working on M1 Mac!

[2022-04-07 18:29] #855 closed

[2022-04-08 10:17] cytopia commented on #798
@llaville I had a look, unfortunately it's not gonna do it, as I do need support starting from PHP 5.3 onwards.

[2022-04-08 10:19] cytopia commented on #798
I am going to close this issue due to not being able to reproduce it (might have gone away with recent updates).

What I tried:

* Html emails
* Unicode characters
* Really large emails
* PHP 7.4 -> PHP 8.1

I've never encountered the deprecation warning.

If you encounter this again, please let me know exactly how it was triggered

[2022-04-08 13:01] jonatanaxe commented on #882
@hielh  A way I found to install and use a sh and change the

docker-compose.override.yml

/sh/docker-entrypoint-es.sh

[code]

docker-compose.override.yml
[code]

[2022-04-08 13:20] robots4life commented on #709
A heads up on https://github.com/cytopia/devilbox/issues/709#issuecomment-672836495.

I had to run

`sudo find . -type f -exec chmod 664 {} +`

and

`sudo chown 1000:1000 *`

on the `${DEVILBOX_PATH}/ca/certs` directory for latest versions of Svelte and SvelteKit to be able to access the `.key` and `.crt` file from Node.

Running `./check-config.sh` in the Devilbox installation directory then also

[2022-04-08 13:20] robots4life commented on #797
A heads up on https://github.com/cytopia/devilbox/issues/709#issuecomment-672836495.

I had to run

`sudo find . -type f -exec chmod 664 {} +`

and

`sudo chown 1000:1000 *`

on the `${DEVILBOX_PATH}/ca/certs` directory for latest versions of Svelte and SvelteKit to be able to access the `.key` and `.crt` file from Node.

Running `./check-config.sh` in the Devilbox installation directory then also

[2022-04-08 14:07] robots4life commented on #797
Current status.

`npm ls`
[code]

`svelte.config.js`
[code]
With this config and `npm run dev` the app works under **`https://skit.loc:3000`** without endless reload, **HMR works fine**.

If a `.devilbox` folder with `nginx.yml` is included in the root of the project going to `https://skit.loc` returns a **`502 Bad Gateway`** from nginx.

If no `.devilbox` folder is in the root of the project goin

[2022-04-08 15:58] cytopia commented on #797
This integration test generates a working reverse proxy (via http/https without the additional port). You can generate it and compare it against your example:

https://github.com/cytopia/devilbox/blob/master/.tests/tests/rproxy-javascript.sh

[2022-04-09 14:17] robots4life commented on #797
I have tried everything, I think (and surely spent much time on this). Only works with HMR over `https://devilskit.loc:3000`. Fork this https://github.com/robots4life/devilskit and see yourself. Do a simple `npm i` and then `npm run dev`, would be curious to see if you can get it to work on `https://devilskit.loc`.

`1270.0.0.1 devilskit.loc` is in hosts file.

With https://github.com/robots4life/

[2022-04-09 15:26] cytopia commented on #876
Use `sudo` instead of `su`. Sudo will not ask for a password

[2022-04-11 09:51] robots4life commented on #797
The Vite and SvelteKit crew have closed the issue on their end `https://github.com/sveltejs/kit/issues/1134` so unless we find out what is causing the endless reload with the Devilbox I will have to use `http://localhost:3000`. @boumanb and @cytopia if you are interested to solve this https://github.com/robots4life/devilskit will show the issue. I keep having hope that this can be achieved with De

[2022-04-11 10:54] Lenitr commented on #105
Docker on Mac has an experimental feature now that allows directory sharing using a Monterey only function called [VirtioFS](https://www.docker.com/blog/speed-boost-achievement-unlocked-on-docker-desktop-4-6-for-mac/). I'm currently experimenting with it to see if everything runs ok using this.  So far it speeds up the containers significantly, especially on requests with a lot of file reads.

Las

[2022-04-11 11:00] robots4life commented on #797
@cytopia I assume you refer to https://github.com/robots4life/devilskit when asking about documenting all the steps trying to get SvelteKit running on `https://app.loc` with HMR, yeah I can do that on the repo for sure and leave it public for reference.

Also happy, if we can get it running, to write documentation for Devilbox i.e. under https://devilbox.readthedocs.io/en/latest/examples/sveltekit

[2022-04-11 11:03] cytopia commented on #797
I was refering to the wiki page of the Devilbox's GitHub repository, as I don't know how familiar people are with sphinx documentation for https://devilbox.readthedocs.io.

So my idea was using this: https://github.com/cytopia/devilbox/wiki which might motivate more people to add some examples of what they've accomplished with the Devilbox setup. Popular topics can then be moved to the official do

[2022-04-11 11:09] robots4life commented on #797
Yeah I can do that. Bottom line, I am happy to document this in any place you see fit so that other people can refer to it and get things running fine.

I will start with documenting the steps in the https://github.com/robots4life/devilskit/blob/master/README.md, or at least write down there what I have tried with the results.

[2022-04-12 08:59] mastrus commented on #778
The solution is to fisically move the file form /var/lib/docker/volumes/devilbox_devilbox-mysql-5.6/_data/myDataBaseNameDirectory to /var/lib/docker/volumes/devilbox_devilbox-mysql-X.X/_data

[2022-04-13 07:16] timo002 commented on #702
I'm running in this kind of issue myself to.

My project is in the directory `assets.domain.com` and my TLD_SUFFIX is `test`, so automatically it creates a certificate for `assets.domain.com.test`. So invalid certificate.

I added `assets.domain.test` to the `DEVILBOX_UI_SSL_CN` in `.env` so it looks like this:
[code]
But that doesn't work either.

So to sum up my setup:

[code]

In the dir `/path

[2022-04-13 08:56] cytopia commented on #702
Why is this invalid? The certificate should work for `assets.domain.com.test`, which is your defined domain, no?

[2022-04-13 09:12] timo002 commented on #702
The domain I use is (in the browser) `assets.domain.test`. And that does not match wit `assets.domain.com.test`

[2022-04-13 09:56] vikas5914 commented on #702
Then you should name your directory `assets.domain`.

[2022-04-13 10:01] timo002 commented on #702
That is not possible because this get's deployed on a production server this way. Oke, I can do so, but then I would need to modify  my production server where I would like to modify my dev stack. It is not a very big issue, but each time I restart devilbox, I now need to accept the invalid certificate.

[2022-04-13 10:22] vikas5914 commented on #702
There are two possible solutions here.

1. Use only HTTP instead of HTTPS.

2. Create another directory `assets.domain` and use a symbolic link to map htdocs to `assets.domain.test`  's htdocs folder.

Note: The proper solution should change the deployed server that does not reply to the project directory name on your local one. I have multiple projects whose directory names are different in local

[2022-04-13 11:45] timo002 commented on #702
@vikas5914 Awesome, I used option 2 and that works fine. Still I think it would be nice if you can make a change / add something to the vhost file (apache24.yml)

[2022-04-13 12:33] vikas5914 commented on #702
As mentioned above in the comment, Making an SSL certificate based on the Apache/Nginx Config is a different story. I still believe that your production and Local should not depend on having the same name as the directory.  If you can provide some information maybe we can provide some solution on that.

[2022-04-13 13:54] cytopia commented on #702
I see. I would recommend to generally fix your setup. Prod, dev, testing, etc, they should not rely on specific domains. If you get rid of this root problem, then you can name your dev stack whatever. It's probably worth investing some time into this.

[2022-04-14 07:08] timo002 commented on #702
@vikas5914 The symlink option is working, but now my IDE PHPStorm it also has double references to classes. I marked the symlink folders as exclude but they still show up. That might be on my setup.

My setup:
This is all from legacy where we came from shared hosting and the website was just running in a folder. Through the years we created subdomains and new folders where added. So, a lot is lega

[2022-04-15 08:44] cytopia commented on #876
@robots4life not sure if this has worked out for you or not. There is however a new way available since the `v2.2.0` release.

You can now create your own custom set of PHP-FPM flavours via this repository: https://github.com/devilbox/docker-php-fpm-community/

This would allow you to add whatever tools you need and even have it integrated via CI, so it will also build nightly.
These images can th

[2022-04-15 09:07] cytopia commented on #797
@robots4life I just gave it a shot and it works without any problems via correct URL and https support. So here's what I did:

### 1. Inside the PHP container
[code]

### 2. From the host system
[code]

### 3. Inside the PHP container
[code]
Now you can go to https://svelte.loc/ with your browser and it works fine

[2022-04-15 09:38] cytopia commented on #820
@evgeny-2019 Closing this issue as it was not clear what you wanted to achieve and it has been open for a long time without clarification. Feel free to add more info and I could re-open

[2022-04-15 09:38] #820 closed

[2022-04-15 09:40] cytopia commented on #882
@hielh closing this issue as it's been resolved. @jonatanaxe thanks for helping out here!

[2022-04-15 09:40] #882 closed

[2022-04-15 13:47] robots4life commented on #797
Thank you for giving this a shot and obviously getting it to work. :tada:
Unfortunately there are several steps I did different based on the Devilbox docs I found. I must have either misunderstood or not understood several points in the docs since what I tried did not work. Like I said I will document this repo https://github.com/robots4life/devilskit and the steps I took based on the Devilbox doc

[2022-04-15 14:01] robots4life commented on #876
@cytopia Having a simple bash script in the `/devilbox/autostart` folder has worked out for me, thank you.

However I am also taking due note of the new custom PHP-FPM community flavors option and will try to use this use case to create an image that has Vercel and Netlify included as a starter. In this issue I will post the steps taken and likewise also happy to contribute with possibly further d

[2022-04-15 16:32] cytopia commented on #876
Perfect! I will close this issue then :-)

[2022-04-15 16:32] #876 closed

[2022-04-16 20:55] robots4life commented on #797
I have started writing the [documentation](https://github.com/robots4life/devilskit).

Unfortunately bad news, I replicated how you got things to work exactly and face the endless reloading issue or rather HMR not working and not connecting.

Can you do me a favor please and once you start the SvelteKit app on `https://svelte.loc` can you open Dev Tools in the browser and check the Console for a l

[2022-04-17 08:10] cytopia commented on #797
In the console I also only get:
[code]
There is an error popping up every1-2 seconds, but it flashes away to quickly to read it.

Adding custom HTML in `src/routes/index.svelte` works however

![Screenshot 2022-04-17 10-08-43  selection](https://user-images.githubusercontent.com/12533999/163706236-9c252326-7a2a-4c83-8e33-af08ab9f1427.png)

[2022-04-17 15:50] robots4life commented on #797
HMR over `wss` needs to connect and work. Check out the [video](https://github.com/robots4life/devilskit/blob/master/2022-04-17%2017-25-02.mkv).

HMR makes the changes available without a browser reload, i.e. form values are kept while one works on a form etc.

|                                           | Error                | OK   |
| -                                         |-

[2022-04-17 17:33] #604 closed

[2022-04-17 17:33] #722 closed

[2022-04-17 17:33] #849 closed

[2022-04-17 19:57] cytopia commented on #797
The I think it has issues reaching it through the reverse proxy. Are there any examples on how to set this up properly with an Nginx reverse proxy?

[2022-04-18 10:05] robots4life commented on #797
This seems to be an example that should work, I have not tried it but will give this a go to check if things can be made to work with Vite and a Docker environment.
https://github.com/sveltejs/kit/issues/1134#issuecomment-964321953
I am not the most familiar with Docker, perhaps you could give this a run as well and report back so we can rule out Vite not working and the error being on the Docker

[2022-04-18 11:14] cytopia commented on #797
For me the endless reloading stopped by:

1. Using `https` in the browser instead of `http`
2. Using `nginx-mainline` instead of `nginx-stable`

With the following server directive in the vhost-gen yaml file:
[code]

And the following svelte.config.js
[code]

I then start it up via:
[code]

[2022-04-18 13:45] robots4life commented on #797
### I can confirm, it works on `https://devilskit.loc` with your changes to the vhost-gen yaml file and the config for the Vite server with HMR. Thank you for having a look into this and coming up with a working setup. :crossed_fingers: :tada: :100: :sunglasses:

I will document how to get it to work in the [repo](https://github.com/robots4life/devilskit) and I would love to contribute to your doc

[2022-04-19 12:27] robots4life commented on #797
@cytopia have a look [at the documentation of the example setup](https://github.com/robots4life/devilskit) and let me know where I can be of help writing this up for your Devilbox documentation.

If you could add websockets support to the vhost-gen templates of Apache 2.2. and Apache 2.4 I could write up a complete example. Bottom line, thank you for your help on this issue, if you need any help w

[2022-04-19 12:39] cytopia commented on #797
The documentation looks straigh forward :+1:  For the values you asked me about, I actually don't really know what `strictPort` or `clientPort` do, I trial&errored them together until it workied, based off a couple of different google searches.

[2022-04-21 09:27] Lenitr commented on #105
So far so good, haven't encountered any issues anymore since switching.
Running composer, installing npm packages etc. all done in devilbox php container ran without issues (at least for my usage).

I'm running `MacOS Montery 12.3.1` on an Intel Macbook with `Docker Desktop 4.7.1` (4.7.0 last week).

The feature can be enabled here:
<img width="1264" alt="Screenshot 2022-04-20 at 11 19 48" src="ht

[2022-04-21 15:01] jakeparis opened #892 "[Bug]: AutoDNS not working on Mac OS"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-04-21 17:36] cytopia commented on #892
Can you resolve `foobar.local` from inside the PHP container?

[2022-04-21 20:18] jakeparis commented on #892
I sure can!
[code]

[2022-04-22 08:33] cytopia commented on #892
Hmm, that means that the DNS server is functioning correctly. Can you check your system's DNS settings to see if you're actually using the the DNS server from `127.0.0.1` on your host system.

[2022-04-22 12:41] jakeparis commented on #892
This what I get from a `nslookup` on the host machine:
[code]

[2022-04-22 12:57] cytopia commented on #892
Are you able to successfully `ping` it from your host system?

[2022-04-22 12:58] jakeparis commented on #892
This seems to have something to do with using the `.local` TLD. When I used `dig` I got the following. Note the WARNING.
[code]

So I changed the TLD to *foo* and it works perfectly. I know that using .local should be an accepted practice, as that's what I've always used, and it's even in the .env comments as a suggestion. Does this perhaps have something to do with a recent Mac OSX update, I wond

[2022-04-22 12:59] jakeparis commented on #892
No, it doesn't ever return.

[2022-04-22 13:08] cytopia commented on #892
That could be a Mac thing then. Unfortunately I don't have one at hand to further debug this. If `.local` does not seem to work, then I will have to update the docs accordingly.

[2022-04-22 13:10] cytopia commented on #892
`local` seems indeed to be reserved for multicast DNS. After a quick google search I found a few other issues with Ubuntu and Fedora regarding the same.

Wiki makes it clear: https://en.wikipedia.org/wiki/Multicast_DNS

So `local` should then be avoided.

[2022-04-22 13:10] jakeparis commented on #892
Now that I see what to look up, there's a lot of helpful information for people like me, who know nothing about DNS. https://serverfault.com/a/399958 for example and https://discussions.apple.com/thread/6555023

So @cytopia thank you for all of your assistance as usual. At this point, I'm not sure if this is something that needs to be "fixed" in the project or the docs, or if I should simply stop

[2022-04-22 13:11] jakeparis commented on #892
Want me to do a PR updating some docs and things?

[2022-04-22 13:12] cytopia commented on #892
I'd say we keep this issue open, until I've adjusted the docs and comments in `.env`. Feel free to submit anything if you'd like

[2022-04-24 08:23] cytopia commented on #892
@jakeparis thanks for the PR! :+1:

[2022-04-24 08:23] #892 closed

[2022-04-24 20:31] anselmdk commented on #105
@Lenitr that sounds awesome. Is that all you needed to do, no settings withing devilbox?

[2022-04-25 07:55] Lenitr commented on #105
@anselmdk Yes, correct. The slowness was not a Devilbox issue, but rather Docker on Mac issue. Sharing the filesystem was very slow, but this new technique seems to be a bit faster. Only changing the setting in Docker desktop sped up the containers for me.

To manage your expectations though, it's still not as fast as running any Docker containers on a Linux host, but it's a nice improvement.

[2022-04-25 16:06] masiorama opened #894 "[Bug]: php-fpm:7.3-work-0.139 not pullable -> failed to register layer error creating overlay mount"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-04-25 18:53] cytopia commented on #894
For me this image pulls just fine:
[code]

Can you try the docker pull command manually

[2022-04-25 19:00] masiorama commented on #894
Just tried and this is the log:

[code]

Something cannot be extracted, it seems. Any idea?

[2022-04-25 19:35] masiorama commented on #894
I tried again after upgrading to docker 20.10.14 (from 20.10.10), but this is the result:

[code]

[2022-04-25 19:36] cytopia commented on #894
This:
[code]
looks like an issue on your local machine.

[2022-04-25 19:38] masiorama commented on #894
I thought it could have been related to the image because I experienced it only on the php7.3 image, but what you suggest seems the right thing to focus on. I'll dig deeper and report as I have more news.
Thanks @cytopia

[2022-04-25 20:18] masiorama commented on #894
I managed to pull the previous image I worked on work-127.
Still no idea why newer 7.3 images do not work on my env, but since I am on tight schedule with 2 projects I am gonna stick to this and dig deeper in the near future.

Should I close the issue @cytopia ?

[2022-04-28 07:02] masiorama commented on #894
@cytopia  I tried to pull the latest 7.3 on another pc and indeed it worked without issues, so it is definitely a problem of my environment.

Still, is it possibile to `docker-compose up php` specifying 0.134 image version instead of the latest 0.139? Thanks!

[2022-04-28 11:46] cytopia commented on #894
Yes, either overwrite the version string in `docker-compose.yml` directly: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L97

Or create a `docker-compose-override.yml` file: https://devilbox.readthedocs.io/en/latest/configuration-files/docker-compose-override-yml.html.

You could even try out the community PHP images (which have feature parity): https://github.com/cytopia/devi

[2022-04-28 13:57] masiorama commented on #894
I am gonna try this and keep you posted! Thanks @cytopia!

[2022-05-02 05:29] ibent95 opened #895 "[Bug]: Error on run devilbox after pull from master"
### Have you already looked into this bug?

- [x] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-05-02 07:58] cytopia commented on #895
@ibent95 it looks like you have an outdated `.env` file. Can you compare your local `.env` file with `env-example`.

The changes were introduced in `v2.0.0`: https://github.com/cytopia/devilbox/releases/tag/v2.0.0

[2022-05-02 14:25] ibent95 commented on #895
I think it's true that my local `.env` file is outdated.
![devilbox_002](https://user-images.githubusercontent.com/24244569/166250991-8c6e6f99-5b68-4ced-8533-44686ba6c19f.png)

After I updated the `.env` file of the `env-example`, I can now run devilbox again. Thank you...

[2022-05-02 14:43] #895 closed

[2022-05-02 15:06] cytopia commented on #894
Hi @masiorama how are the alternatives working out for you?

[2022-05-02 15:14] masiorama commented on #894
Hi @cytopia I had success with the first two options, and I wanted to dig a bit more with option 3, but I guess that right now I have no spare time to focus on this.
Anyway, this issue can definitely be closed since this was not a bug of devilbox.
Thanks for your support!

[2022-05-02 15:14] #894 closed

[2022-05-10 16:03] masiorama commented on #692
Hello @stu177 how did you configure supervisor on devilbox? I encountered this argument here https://laravel.com/docs/9.x/queues#configuring-supervisor and  I would like to try to do the same you probably already accomplished.
Thanks!

[2022-05-11 15:01] hielh commented on #866
@Ernestopheles As i know you should use something like this in your file
 cfg/php-ini-7.4/xdebug.ini

[code]

After my last upgrade it doesn't work anymore, I'm not sure if it depond on some upgrade

[2022-05-16 10:16] hielh commented on #769
Hi,
All solutions didn't work for me. Following the activation of the rabbitmq and the activation of the firewall to make it work. My xdebug didn't work anymore.

After a day of research, I would have to deactivate the firewall.
Ubuntu 20
PHPSTORM
[code]
solution disable the firewall
###  **sudo ufw disable**

[2022-05-18 09:57] nicolabeghin opened #898 "[Bug]: mariadb-10.1 crashing on ARM64"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-05-18 09:59] nicolabeghin commented on #898
Please note: by using `mariadb-10.2` in place of `mariadb-10.1` image, it's working as expected.

     Linux instance-xxx 5.4.17-2136.306.1.3.el8uek.aarch64 #2 SMP aarch64 aarch64 aarch64 GNU/Linux

[2022-05-19 12:25] ldarikl commented on #866
Hi @Ernestopheles

Were you able to run xdebug?

[2022-05-20 17:17] skoskie commented on #589
Note that the above solution works on MacOS too, as of `12.4 (21F79)`. Thank you @science695!!

However, note that **both** localhost **and** the bind server must be listed and must come before other DNS servers.

<img width="337" alt="2022-05-20 11 15 11 Screenshot of System Preferences ()" src="https://user-images.githubusercontent.com/495511/169579324-958d2ecd-170a-44c2-8654-0d9e130caebb.png">

[2022-05-23 15:27] cytopia commented on #898
@nicolabeghin unfortunately I cannot reproduce this and it really looks like an issue with MariaDB itself.

[2022-05-23 15:35] nicolabeghin commented on #898
thanks @cytopia I used the workaround to have mariadb 10.2 in place of 10.1 so for now it's good anyway (not such a huge difference in terms of mysql compatibility).
**Kudos to all the work you did to get devilbox working on Apple Silicon in such a neat way!**

[2022-05-23 17:06] henriquemattos commented on #862
@cytopia given your commit, it's not clear what you did to fix Mutex SSL. Is there a specific configuration/setting you modified either in a Dockerfile or [httpd|apache|*].conf that you could share?

I'm not using your software, but I'm having similar problem on M1 and setting `Mutex posixsem` stops the error from the log but I keep loosing requests - and given the frequency and timing, I believe

[2022-05-25 11:43] acoalex opened #899 "pdo_sqlsrv version update[Feature]:"
### What is your idea or feature suggestion?

For Mac M1 users the provided version of pdo_sqlsrv 5.9 is not compatible with the M1 processor.
Using that driver throws an Unknown processor architecture Fatal error:
https://github.com/microsoft/msphpsql/issues/1223

I think in the new 5.10 version was solved.

### Benefits

Can use pdo_sqlsrv driver on Devilbox php container

### Where can we find

[2022-05-25 18:58] jonatanaxe opened #900 "[Feature]: OpenSearch"
### What is your idea or feature suggestion?

Possibility to use OpenSearch

### Benefits

_No response_

### Where can we find information about this?

https://opensearch.org/
https://github.com/opensearch-project/OpenSearch

### Are you willing to provide a PR to address this?

_No response_

[2022-05-27 10:46] zfranco55 opened #901 "[Howto]:"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [ ] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [ ] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-06-16 14:46] gregfr commented on #838
Oops sorry, I forgot about this one and GIthub didn't notice me for some reason :(

Yes it's a permanent process:

[code]

I have to regularly "compose down" so I can work on other things.

[2022-06-16 14:47] gregfr commented on #838
Note that the PID is changing, so it's not a single process stuck.

[2022-06-16 15:10] belvgdeveloper commented on #142
Hi all. And if, for example, I need to make such a folder structure and a project. The **_my-project_** folder contains two folders: **_front_** and **_backend_**. And I want the **_front_** folder to be displayed at the address **my-project.lok** and the **_backend_** folder to be displayed at the address **admin.my-project.lok**. How to implement this?

[2022-06-16 15:15] cytopia commented on #142
@belvgdeveloper just treat them as two separate projects/services. The Devilbox supports unlimited number of projects/services running at the same time (they can also communicate with each other).

See a directory structure here:
[code]
* `source/` is the directory, where the code for frontend and backend is stored.
* `htdocs` symlinks to the webroot (could also be a subdirectory inside `source/`

[2022-06-16 16:26] belvgdeveloper commented on #142
Your option is logical and I know that it works. But I meant a more complicated version =)

I want both of these apps to have the same root path

$ tree  data/www/
data/www/
├── my-project
    ├── front/
        ├── htdocs -> source/
        └── source/
    ├── backend/
        ├── htdocs -> source/
        └── source/

[2022-06-16 16:34] cytopia commented on #142
This way won't really work, as vhost names are determined by the root directory name.

You could however symlink your `my-project/backend/source/` directory out to `./admin.my-project`.

[2022-06-16 16:40] belvgdeveloper commented on #142
I'm currently looking at your guide https://devilbox.readthedocs.io/en/latest/vhost-gen/example-add-subdomains.html and I'm trying to do something similar, but there is no option you mentioned. Can you clarify please. I make my project folder, make a symbolic link to htdocs and the site will display the front. And how, from where and where to make a symbolic link to the admin part is unfortunately

[2022-06-17 14:24] TheoD02 opened #903 "[Feature]: Add mercure.rocks addionnal container"
### What is your idea or feature suggestion?

Add support of mercure.rocks in devilbox to add more possibilities for developers with new features

### Benefits

Allow user to make her application more live.

### Where can we find information about this?

[https://mercure.rocks/](https://mercure.rocks/)

# docker-compose.yml
[code]

### Are you willing to provide a PR to address this?

No

[2022-06-21 11:07] hielh opened #905 "[Feature]: Add jasperreport addionnal container"
### What is your idea or feature suggestion?

Our need in one of our project is to use Jasperreport

### Benefits

By default devilbox doesn't content any container of Jasperreport.
I tried to use another docker image from bitnami:
https://github.com/bitnami/bitnami-docker-jasperreports/blob/master/docker-compose.yml

But I get an error of: port is already in use, I changed the port to 8080:8080,

[2022-06-22 19:26] bartech opened #906 "[Bug]: xDebug session cause db aborting connection after 3 minutes."
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-06-22 19:29] bartech commented on #906
I'm running devilbox in WSL2 Ubuntu 20.04.4 LTS

[2022-06-25 13:27] hielh commented on #905
### Update
I Installed the container of bitnami on devilbox using this code below:

`  #   mariadb & jasperreports
  #  ____________________________________________________________________________
  mariadb:
    image: mariadb:latest
    ports:
      - 3306:3306
    volumes:
      - ~/apps/mariadb:/var/lib/mysql
    networks:
      app_net:
        ipv4_address: 172.16.238.251
    environment:

[2022-06-26 09:30] hielh commented on #905
the problem is if I'm using postman to get my result from Rest services:

The result from postman:
![image](https://user-images.githubusercontent.com/909932/175808005-9309d667-67ba-4f5e-a3f4-858e9a771899.png)

but using php code from devilbox I get :
![image](https://user-images.githubusercontent.com/909932/175808066-30707622-8284-4a76-9c4d-aa4ece93a30a.png)

Failed to connect to jasperreports.loc

[2022-06-26 09:31] hielh commented on #905
@cytopia any help please why I can't call my jasperreport container from php container.

[2022-06-26 12:59] cytopia commented on #905
@hielh `localhost` is not going to work, as this is the localhost service of the PHP container and there is no jasperreport service running. You should try either:

1. `curl -I http://172.16.238.250:8080`
2. Or add a forwarder to jasperreport here: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L147 (ofc you can use the override file to stay clean with git)

[2022-06-27 08:51] gregfr commented on #905
Just a question you might want to ask yourself, is your use of JasperReport linked to your use of DevilBox?
If not, you probably better keep DevilBox for what it is very good at, namely to deal with LAMP versions, and use something like Portainer for the rest of the Docker-related products.

[2022-07-01 09:58] Lenitr commented on #499
@krebbi @yfridelance

For anyone running into the permission issue when trying to install node versions that are not available in the `nvm use X` command, try running `sudo chmod -R 777 /opt/nvm` before you run the install.

[2022-07-01 13:12] Lenitr commented on #499
@cytopia  to reproduce it:

- `./shell.sh` into the php container (I don't change the user, so logged in as `devilbox`)
- `nvm install 12` (or any other version that is not installed
- In my case currently
[code]
Changing the permission like I mentioned in the previous comment is what allows me to run the install though. (777 is a bit much, but it confirms the issue is somewhere with the permissio

[2022-07-01 13:13] cytopia commented on #499
That is exactly what I did. Everything works fine.
What PHP version are you using?

[2022-07-01 13:16] Lenitr commented on #499
I'm running php `8.0.7`

[code]

I see my owner is different, looks like the default Docker user.
Could it be related to the host system being different? I'm running Docker Desktop `4.9.1` on Mac OS

[2022-07-01 13:17] krebbi commented on #499
With PHP_SERVER=8.1

https://user-images.githubusercontent.com/3884521/176902083-8c1ad15f-b27e-4ff2-9c0a-6a80a6e77b0f.mov

[2022-07-01 13:19] cytopia commented on #499
The owner does look different.

Can you post the output from `id` command from your host system and from within the PHP container as devilbox user

[2022-07-01 13:22] Lenitr commented on #499
On my host
[code]
In devilbox
[code]
Interestingly, @krebbi  seems to be on Mac OS too, wonder if that's causing the difference here

[2022-07-01 13:23] cytopia commented on #499
OK, got it. Afaik the entrypoint script is not taking care about `/opt/nvm` permissions. Will have to fix it, so that it `chowns` this directory to the correct uid and gid

[2022-07-01 13:26] Lenitr commented on #499
@cytopia You're awesome, thanks a bunch!

[2022-07-01 13:31] cytopia commented on #499
The build will take quite a lot of hours though: https://github.com/devilbox/docker-php-fpm/pull/243

[2022-07-03 10:42] cytopia commented on #499
Changing ownership during startup takes >5min, so I am changing file system permission during build time and make them wide open. Kinda dirty, but I don't see a better way.

[2022-07-04 09:04] cytopia commented on #499
PR went through, now need to wait for the tagged build: https://github.com/devilbox/docker-php-fpm/releases/tag/0.141

[2022-07-06 16:02] Lenitr commented on #499
Just FYI, did a test on my Linux machine, there was still and older PHP container there. On the Linux host this problem didn't occur at all it seems, so that explains why for some people it occurred and for others didn't.
(both host and container do have uid 1000 here so that's probably why).

Thanks for fixing the issue for the other hosts.

[2022-07-06 16:51] cytopia commented on #499
Reason is that by default the first user being created on Linux gets uid 1000 and gid 1000 (it increments with additional users). This is also the default uid/gid used inside the PHP container.

[2022-07-07 21:21] jonatanaxe commented on #906
@bartech  Have you tried this config how do i use it here
https://github.com/discorgento/dev-env-devilbox/blob/main/devilbox/cfg/php-fpm-x.x/www_server.conf

[2022-07-07 21:58] bartech commented on #906
@jonatanaxe was missing php-fpm conf 🤦‍♂️ Problem solved, big thanks!!!

[2022-07-07 21:58] #906 closed

[2022-07-11 13:55] bvgdeveloper opened #907 "[Howto]: set bin/watch-administration.sh (or for storefront) in devilbox (Shopware 6)?"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [ ] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-07-11 14:35] cytopia commented on #907
I would suggest adding some more information to this community request, otherwise noone might be able to support you here.

Can you be a bit more specific about what `watcher` is, and how it is usually run? Where can I find it? What is `storefront`?

What is `port` and can you show a snippet?

[2022-07-12 11:21] belvgdeveloper commented on #907
![image](https://user-images.githubusercontent.com/98733529/178478281-6f8173b3-14a5-4338-b3c1-4c247f95696c.png)
YA khotel by rasshiritʹ svoy vopros. Poluchayet·sya skript pytayet·sya zapustitʹ proyekt na http://localhost:8080/. Mozhet yestʹ kakoy nibudʹ sposob sdelatʹ tak , chto by po etomu adresu otobrazhalsya moy lokalʹnyy sayt?
204 / 5 000
Результаты перевода
I would like to expand my question.

[2022-07-19 10:11] ansaus commented on #649
I have the same problem now. even docker-compose logs causes that error message
ERROR: Named volume "devilbox-pgsql-:/var/lib/postgresql/data/pgdata:rw" is used in service "pgsql" but no declaration was found in the volumes section.

[2022-07-19 10:27] ansaus commented on #649
no that solution didnt help, ok Ill open new one

[2022-07-19 10:43] ansaus opened #908 "[Bug]: Named volume pgsql is used in service "pgsql" but no declaration was found in the volumes section"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-07-19 10:46] cytopia commented on #908
Looking at your `.env` file it seems to be an easy fix. It is outdated. Copy `.env-example` over to `.env` and you should be good to go.

[2022-07-19 11:31] ansaus commented on #908
thank you! that helped )) somehow Ive pulled new devilbox version from git

[2022-07-19 11:31] #908 closed

[2022-07-20 14:38] robots4life commented on #797
@cytopia https://github.com/robots4life/devilskit/issues/1

Having an issue with Nginx resolving the static build. If you have a little bit of time, it seems one has to add a Nginx conf setting, but I would not know how exactly to accomplish that, thank you.

[2022-07-20 14:55] cytopia commented on #797
I've replied in your thread

[2022-07-21 07:19] paddelboot opened #909 "[Howto]: Run Devilbox with PHP as apache module"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-07-29 14:16] minhchu commented on #847
Hi @cytopia I think the default installation of meilisearch is enough.

Or is there any guidance for adding meilisearch to devilbox so I can open a PR

[2022-07-29 14:26] cytopia commented on #847
Nothing in written form as of yet, but generally you will need to address three parts:

* You can add the compose overwrite file here: https://github.com/cytopia/devilbox/tree/master/compose
* Append the contents to the "all" file as well: https://github.com/cytopia/devilbox/blob/master/compose/docker-compose.override.yml-all
* Add the appropriate documentation here: https://github.com/cytopia/dev

[2022-08-03 17:36] pominglam opened #911 "[Bug]: MariaDB 10.4 doesn't work"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-08-15 11:24] frankroc2022 opened #912 "[Bug]: reverse proxy - 502 Bad Gateway nginx/1.21.6 - NodeJS"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-08-15 12:24] gregfr commented on #912
You get the "bad gateway" message when trying to reach the Devilbox GUI or a specific site?

[2022-08-15 15:21] cytopia commented on #912
Are you able to open up the vhosts.php page?

[2022-08-16 06:04] frankroc2022 commented on #912
http://my-node.loc/

[2022-08-16 06:04] frankroc2022 commented on #912
Yes

[2022-08-16 09:07] cytopia commented on #912
Can you dump the vhost configuration here. Maybe there is something wrong with the override. You find it on the vhosts.php page

[2022-08-16 10:03] marcimat commented on #381
I think that documentation isn’t up to date with version 3 of XDebug ?

- https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/macos/vscode.html#configure-php-ini
- https://github.com/cytopia/devilbox/blob/master/docs/intermediate/configure-php-xdebug/macos/vscode.rst#configure-php-ini (can be seen in raw text)

This doc tells us for example to use `xdebug.remote_host=10.254

[2022-08-16 12:42] frankroc2022 commented on #912
---

# Nginx Reverse Proxy Template defintion for vhost-gen.py
#
# The 'feature' section contains optional features that can be enabled via
# conf.yml and will then be replaced into the main vhost ('structure' section)
# into their corresponding position:
#
#    __XDOMAIN_REQ__
#    __ALIASES__
#    __DENIES__
#    __STATUS__
#
# The features itself also contain variables to be adjusted in conf.ym

[2022-08-16 23:28] casparjones opened #913 "[Feature]: phalcon 5 RC4 in php-8.x"
### What is your idea or feature suggestion?

Would it be possible to include in the php8 images phalcon in RC version? Since I would like to migrate my projects to PHP 8.

https://blog.phalcon.io/post/phalcon-v5-0-0rc4-released

### Benefits

_No response_

### Where can we find information about this?

_No response_

### Are you willing to provide a PR to address this?

_No response_

[2022-08-17 05:53] frankroc2022 commented on #912
Can you reproduce the bug?

[2022-08-18 19:15] rozkqu opened #914 "[Feature]: Is it possible to add nvm to available tools in PHP container (https://devilbox.readthedocs.io/en/latest/readings/available-tools.html#available-tools)?"
### What is your idea or feature suggestion?

E.g. i can write simple script to set up node version during PHP container initial startup (and put it in autostart/ dir).

### Benefits

Better automation possibilities for developers.

### Where can we find information about this?

_No response_

### Are you willing to provide a PR to address this?

_No response_

[2022-08-22 12:23] TheoD02 opened #915 "[Howto]: Communicate between 2 projects from php container"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-08-22 12:54] cytopia commented on #915
This should work by default. Is `bind` running? Also, can you do a curl at both of your API's from within the PHP container.

[2022-08-22 16:43] cytopia commented on #915
Can you share the code snippet that is calling the API

[2022-08-23 09:00] stefanobartoletti opened #916 "[Howto]: setup auto DNS with"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [ ] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-08-24 08:54] stefanobartoletti commented on #916
I managed to solve this with some Googling in the end.

I had to edit some properties in `/etc/sysconfig/network/config` with these values (or just make sure that these were already set this way):

[code]

I found a reference here: https://www.suse.com/c/configure-netconfig-static-domain-search-lists/

[2022-08-26 09:49] 06tech commented on #132
Sorry to re-visit this issue but I am getting auto DNS resolve issues on my Mac OS X (Monterey) 12.5.1... I'm running Devilbox  v2.2.0 (Apr 2022). Image for BIND is cytopia/bind:alpine-0.28

When I restart devilbox with a stop/rm -f/up DNS will start to fail when resolving the .loc hostnames with ping responding with ' 'Unknown host'.

The only way to fix it is to remove/re-add 127.0.0.1 in the Ne

[2022-08-26 14:32] frankroc2022 commented on #912
Any new information?

[2022-09-09 18:01] nselden opened #917 "[Howto]: update the php-fpm from 8.0 to 8.0.2"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-09-09 20:24] vikas5914 commented on #917
Do following:

1. `docker-compose stop`
2.  Edit .env and change the PHP version that you required.
3.  `docker-compose up`

[2022-09-09 20:50] wcaaan opened #918 "[Howto]: How can i run multiple projects with different configuration?"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-09-10 14:07] nselden commented on #917
Hey thank you so much for your reply. I only have 8.0 and 8.1 and then everything below 8.0. The 8.0 php -v is not returning 8.0.2 any ideas on where to go from here?

[2022-09-10 15:27] vikas5914 commented on #917
Which package are you using that requires this? can you use 8.1 if possible?

[2022-09-10 15:39] nselden commented on #917
It's symfony that is throwing the error, and I can't use 8.1 because the imagick extension isn't ready yet and the GD extension is incompatible plus a host of other compatibility issues that come with using the newest version of anything.

[2022-09-10 16:42] vikas5914 commented on #917
@nselden I checked and I switch to PHP 8.0 and I got PHP 8.0.19 version.

![image](https://user-images.githubusercontent.com/7912297/189493172-5be3e055-9d41-47e4-b367-ba4656e90be1.png)

[2022-09-10 16:45] nselden commented on #917
Well that's promising...
do you know how to get from to you? maybe I can jump up one from there
![image](https://user-images.githubusercontent.com/22376178/189493273-aafeb535-7f60-465e-8292-76ee9cddab95.png)

[2022-09-10 16:51] nselden commented on #917
I've already tried updating the whole devilbox and the individual container

[2022-09-10 19:09] wcaaan opened #919 "[Howto]: Connect laravel in docker with MySQL on host OS"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-09-11 00:04] vikas5914 commented on #917
show me your `docker-compose.yml `

[2022-09-11 00:31] nselden commented on #917
`---
##
## -------------------------
## |  D E V I L S T A C K  |
## -------------------------
##
## Local LAMP/LEMP stack
##
##
## ${VARIABLE:-default} will evaluate to default if VARIABLE is unset or empty.
## ${VARIABLE-default}  will evaluate to default only if VARIABLE is unset.
##
##
## -- DO NOT EDIT THIS FILE --
##
## Copy 'docker-compose.override.yml-example' to 'docker-compose.override.y

[2022-09-11 10:49] vikas5914 commented on #917
Looks like your `docker-compose.yml` is outdated. I suggest you check if you are on the latest version of the devil box or not.

Once you update the devil box, you can use `docker-compose pull` get the latest image.

[2022-09-11 10:55] vikas5914 commented on #919
@wcaaan I am confused here. If your Host Mysql is running on port `3307`, why are you using port `3306` in Laravel `.env.`

[2022-09-11 11:24] wcaaan commented on #919
I tried it with 3007 as well. it does not connect.

[2022-09-11 11:26] wcaaan commented on #919
I tried it with 3007 as well. it does not connect. Are you implying that this configuration is right and only port is wrong ? if that's the case it means there is something else wrong.

[2022-09-11 13:44] vikas5914 commented on #919
@wcaaan did you set `HOST_PORT_MYSQL` or `DB_PORT` port to `3307`?

[2022-09-11 13:56] wcaaan commented on #919
i tried both.

[2022-09-11 14:48] vikas5914 commented on #919
@wcaaan Remove `HOST_PORT_MYSQL` from the Devilbox `.env`. make sure that Devilbox's MySQL container is stopped.

Now set your host's MySQL to some random port like `15001`  and double check that you can connect to that MySQL via some 3rd party software like [MySQL Workbench](https://www.mysql.com/products/workbench/).

Then set Laravel's `DB_PORT` to your host's Mysql port and try.

If still havi

[2022-09-11 15:33] wcaaan commented on #919
okay thankyou will check and get back to you.

[2022-09-11 17:18] wcaaan commented on #919
Here is what id did

1: There are no containers running so i removed the ```devilbox .env port``` ```HOST_PORT_MYSQL=```

2: I changed the port of my ```host OS MySQL``` to ```15001``` and using sequel ace i successfully connected to mysql with these credentials
```Host: 127.0.0.1```
```user: root```
```database: hanger```
```port: 15001```

3: Now i set ```Laravel .env``` MySQL connection to this

[2022-09-11 17:21] wcaaan commented on #919
I even tried this as well, in ```laravel .env``` i set the ```DB_HOST=host.docker.internal``` as per the documentation [https://devilbox.readthedocs.io/en/latest/advanced/connect-to-host-os.html](url) and throw me this error ```SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known (SQL: select * from `users` where `email` = superadministrator@app.com and `u

[2022-09-11 17:30] vikas5914 commented on #919
@wcaaan, you can do one thing. In the host's Mysql, Instead of `127.0.0.1`, use the local IP (it should be like `192.168.X.X`) and Make sure the host's MySQL is bind to the local intranet IP.

[2022-09-11 17:32] wcaaan commented on #919
I checked my IP in ```system preferences > network > My wifi connection > advanced > TCP/IP > under IPv4``` ```192.168.43.182```

```DB_CONNECTION=mysql```
```DB_HOST=192.168.43.182```
```DB_PORT=15001```
```DB_DATABASE=hanger```
```DB_USERNAME=root```
```DB_PASSWORD=```

This time it given me this error which may lead to something.

```SQLSTATE[HY000] [1130] Host 'wcan-mbp' is not allowed to conn

[2022-09-11 17:34] wcaaan commented on #919
How do i make this sure ```Make sure the host's MySQL is bind to the local intranet IP.``` ?

[2022-09-11 18:08] vikas5914 commented on #919
@wcaaan check this to slow the `not allowed to connect to this server` https://stackoverflow.com/questions/11223235/mysql-root-access-from-all-hosts

[2022-09-11 19:54] wcaaan commented on #919
Okay, @vikas5914 I really appreciate your help, time and guidance. This is how i did it, the application is CONNECTED :smile: but there is still one problem :worried: and i cannot figure out. Why ```host.docker.internal``` is NOT resolving my IP from docker ?

1: ```docker-compose down``` (Delete all the containers)

2: I removed the ```devilbox .env port``` ```HOST_PORT_MYSQL=```

3: I changed th

[2022-09-11 22:59] vikas5914 commented on #919
@wcaaan I think it is easier to get a static local IP. You google for Router and How to set a Static IP for the MAC address.

I also have a question. Why are you using MySQL from the Devilbox?

[2022-09-12 00:12] wcaaan commented on #919
okay, I'll google it, but that i not the permenant solution to the problem, if the doucmentation says that ```host.docker.internal``` should resolve to IP, why is it not working my system. I'm using static MySQL from devilbox because i cannot setup all the databases deperately, I already have around 40 databases on different versions of MySQL, if i use devilbox MySQL for one project i have to setu

[2022-09-12 10:37] vikas5914 commented on #919
@wcaaan Try this, ping `host.docker.internal` from the devil box and see which IP it resolves. And then use the IP in the Laravel env.

My note: You should look and try to upgrade the database so the majority can be used on the same version. At least try to make it so that you will need only two different MySQL versions. That is more possible than running different kinds of MySQL versions at once.

[2022-09-12 10:48] wcaaan commented on #919
Again as usual an error.

```ping host.docker.internal```
```ping: host.docker.internal: Name or service not known```

[2022-09-12 11:09] vikas5914 commented on #919
Inside the docker, run this: `cat /etc/hosts`

[2022-09-12 11:24] wcaaan commented on #919
[code]

[2022-09-12 15:08] vikas5914 commented on #919
Try `172.16.238.1` or `docker.for.lin.localhost` and see if its works.

[2022-09-13 00:48] wcaaan commented on #919
it does not work, the only thing it works with is internal IP of my host machine, which keeps changing and I'm sick of this now, I think i'll try laradock or some other custom stack.

[2022-09-22 11:43] Alexandre-Fernandez opened #921 "[Bug]: Missing gRPC php module"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-09-22 12:44] cytopia commented on #921
@Alexandre-Fernandez this is rather a feature request than a bug. Can you change it to that type and fill in the corresponding information please.

[2022-09-22 12:56] Alexandre-Fernandez opened #922 "[Feature]: Add `gRPC` php module"
### What is your idea or feature suggestion?

Add the `gRPC` php module to devilbox (or add a way to add custom modules so we can add it).

### Benefits

Being able to run projects that use firebase.

### Where can we find information about this?

https://cloud.google.com/php/grpc

### Are you willing to provide a PR to address this?

No

[2022-09-22 12:56] Alexandre-Fernandez commented on #921
https://github.com/cytopia/devilbox/issues/922

[2022-09-22 12:56] #921 closed

[2022-09-29 09:17] frankroc2022 commented on #912
Or anyone else? Am I the only one with this problem?

[2022-09-29 09:55] vikas5914 commented on #912
in the Devilbox, can you do the following and provide the output?

`curl -I http://php:4000`

[2022-09-30 16:52] Alexandre-Fernandez commented on #146
Some CMS don't support having a different domain name. So the `domain.php-version.extension` would break some projects.
As many people said I like the sound of a per project php version better. I have that one project that's still running in php 5.6 and everytime I need to do something on it I need to reload everything.

[2022-10-02 19:28] frankroc2022 commented on #912
In PHP Container: (right?)
curl: (7) Failed to connect to php port 4000: Connection refused

[2022-10-04 15:49] vikas5914 commented on #912
@frankroc2022 Which port is your service running? Maybe run the service and then run the curl command.

[2022-10-06 08:34] frankroc2022 commented on #912
Port 4000 like described in the example:
https://devilbox.readthedocs.io/en/latest/examples/setup-reverse-proxy-nodejs.html

curl: (7) Failed to connect to php port 4000: Connection refused

@vikas5914 It works for you?

[2022-10-06 09:06] vikas5914 commented on #912
@frankroc2022 The port should be where your Nodejs is running. If it's running on 8080 or 8000, you need to use that.

[2022-10-07 20:24] jamisonbryant commented on #866
This is still a problem as of 10/2022. I had to use a very different setup than what's described in the docs in order to get my debugger working on macOS with Xdebug 3.

The documentation pages still reference PHP 5.6 and also possibly other "hacks" that are no longer required. A lot of helpful information also in #769. Can these pages be updated as part of this fix?

[2022-10-09 06:10] Maik1511 opened #923 "[Feature]: MSSQL"
### What is your idea or feature suggestion?

Wie wäre es mit im SQL Stack MSSQL Server 2022 mit aufzunehmen?

### Benefits

_No response_

### Where can we find information about this?

https://hub.docker.com/_/microsoft-mssql-server

### Are you willing to provide a PR to address this?

_No response_

[2022-10-10 10:19] frankroc2022 commented on #912
Thx, **here** was my mistake:
I changed

NODE_PROJECTS=(
"/shared/httpd/my-node/js/index.js"
)

to
NODE_PROJECTS=(
"/shared/httpd/my-node/index.js" **<-- it has to be /shared/httpd/my-node/src/index.js**
)

[2022-10-13 09:18] llaville opened #924 "[Bug]: Devilbox not yet ready for PHP 8.2"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [ ] I have googled t

[2022-10-13 15:50] llaville commented on #924
Just in case you'll ask : I've rebuilt the `devilbox/devilbox/php-fpm-8.2:latest` locally, and get same results.

[code]

[2022-10-13 19:54] vikas5914 commented on #912
@frankroc2022  if it's fixed, I suggest you close the issue.

[2022-10-14 10:36] #912 closed

[2022-10-21 11:38] #924 closed

[2022-10-21 13:29] llaville commented on #924
Have in mind, that the location fixed by PR#925 is not the only one where PHP string interpolation syntax is used into the Devilbox !
I would like to warn you about such possible deprecated messages that may break ouput.

[2022-10-21 13:44] vikas5914 commented on #924
@llaville I checked everywhere and did not find any string interpolation. Please check and point it out if possible.

[2022-10-22 05:51] llaville commented on #924
@vikas5914 OK you're right for only native devilbox and if you excluded vendor sources files.

[2022-10-31 08:03] erstevn opened #929 "[Docs]: Add XDebug configuration for WSL2 Support"
### What is wrong in the documentation?

Apparently there is only linux, mac, and windows tutorial for configuring XDebug to get that working properly. Long story short me and my team struggled how to configure xdebug.client_host based on linux/windows tutorial shown in the docs. VSCode running remote in WSL2 for example,  it will use the hostname from the WSL2 instead of the localhost or docker.f

[2022-11-11 09:18] FrancescoMessage commented on #401
Hi, on a fresh devilbox installation, Drush isn't installed on any version.
From documentation, it seems that Drush should be installed by default, but isn't true, and I'm not able to find any information  on how install it.
Intalling it via composer (following Drush installation guide) it works fine until the container stopping: restarting it, Drush is gone...

Please, do you have any suggestions

[2022-11-11 09:26] FrancescoMessage opened #930 "[Bug]: Drush isn't installed in any version"
### Have you already looked into this bug?

- [X] I have checked the [Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html)
- [X] I have checked [Release notes](https://github.com/cytopia/devilbox/releases) for potential migration steps
- [X] I have checked [existing issues](https://github.com/cytopia/devilbox/issues) for similar bugs
- [X] I have googled t

[2022-11-14 13:06] casparjones commented on #913
In the meantime version Phalcon 5.1.1 has been released.
Are there any plans to include this in the standard images of devilbox?

[2022-11-19 14:05] cytopia commented on #913
@casparjones coming here: https://github.com/devilbox/docker-php-fpm/pull/249

[2022-11-19 14:08] cytopia commented on #899
PHP 7.4 and later will have updated versions available as soon as this one goes live: https://github.com/devilbox/docker-php-fpm/pull/249

[2022-11-19 14:19] acoalex commented on #899
Great!!
Thanks @cytopia

[2022-11-24 11:34] a-morally commented on #687
Encountered the same issue on Fedora 37

Instead of disabling selinux completely, i just added `privileged: true` to services i use in **docker-compose.yml**.
For example httpd service will looks like this:
[code]

[2022-11-25 09:14] AntiNSA commented on #401
I just installed a fresh version and I also can not find drush. I am trying to install drupal 9. Any ideas would be helpful..... it says to install from drush....

[2022-11-25 09:17] AntiNSA commented on #930
How are we supposed to install Drupal 9 without Drush?

[2022-11-25 09:23] AntiNSA commented on #401
this is what I did with composer to install the latest drupal

composer create-project drupal/recommended-project:9.8.8 mywebsiteproject

[2022-11-30 05:22] sachyya opened #933 "[Howto]: How to create SSH keys in /home/devlibox/.ssh since it is mounted as read-only?"
### Have you already checked elsewhere?

- [X] I have read the [Devilbox documentation](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox Troubleshooting Guide](https://devilbox.readthedocs.io/en/latest/)
- [X] I have checked the [Devilbox FAQ](https://devilbox.readthedocs.io/en/latest/support/faq.html)
- [X] I have checked the [Devilbox Howto](https://devilbox.readthe

[2022-11-30 08:28] sachyya commented on #933
I found the solution but please let me know if it's the right one. I added the devilbox user to sudo group and it worked. Is that the right way to go?

[2022-11-30 21:58] cytopia commented on #933
@sachyya you added the devilbox user to the sudo group and kept the `.ssh` dir mounted read-only? That should still not work

[2022-11-30 21:59] cytopia commented on #933
I would suggest to generate your ssh key outside (on your host system). It is anyways mounted and can then be used inside. Having it mounted read-only is only a precaution that you do not accidentally overwrite your ssh keys inside the container