[2017-12-27 13:07] mrpsiho commented on #170
Aha, thanks! Ok, I will wait then)
Once more, thanks a lot for such a nice dev tool! ;)

[2017-12-27 13:07] #170 closed

[2017-12-28 02:55] gowrav-vishwakarma opened #171 "Documentation needed: How do I enable rewrite mod for apache2.4 and allowoverride all"
Thanks for this wonderful project, I could setup my dev-env as quick as it could. Although, Mac CPU usage high issue is something docker should concern now.

Well, I could not find any thing related to subject, to enable .htaccess in my projects I need to allowoverride and enable mod rewrite but from where to do that.

Or please guide to proper documentation.

[2017-12-28 21:04] broodje commented on #71
Greetings,
I stumbled upon this topic as I seem to have run into the same issue.
To provide some more information on the topic:
- i'm using Docker for Windows
- no hosts error occurs for both master branch and rel-0.12 branc
- I can see the correct DNS record through the ipconfig /displaydns command

I have attached a screenshot with some information as you've requested in previous replies if it m

[2017-12-29 22:25] cytopia commented on #171
Hi @gowrav-vishwakarma .
this feature is currently not properly documented, however you can overwrite almost anything on a per vhost base or global base.

For now, please have a look here:
https://github.com/cytopia/devilbox/issues/142

[2017-12-31 20:03] sebastienserre opened #173 "https support on Devilbox"
Hello,
Is it possible to have a self signed SSL to run an https on Devilbox?
If right, then is there any tutorial somewhere ?

[2018-01-03 07:37] idpocky opened #174 "Wordpress - Unable to establish secure connection"
After the installation of Wordpress, I got the warning message while entering the wp-Admin:
[code]
Please help...

---

+ Bind(9.10.3-)
+ PHP(7.1.9)
+ nginx(1.12.1)
+ MariaDB(10.2.8)

I am on the 'DVL-013-fix-dns' branch.

[2018-01-03 07:39] mrpsiho commented on #174
Yes, I receive the same message from time to time. Also, the information about updates of WP plugins is not available in the admin area of the site. Looks like these requests just blocked somehow.

[2018-01-03 07:41] mrpsiho commented on #174
<img width="840" alt="screen shot 2018-01-03 at 9 40 12 am" src="https://user-images.githubusercontent.com/2705129/34512300-21624958-f06a-11e7-918b-35e1ae6a882d.png">
One may think that version 3.1 is the latest for WooCommerce plugin, but that's not true. The information about available updates is just blocked :(

[2018-01-03 09:43] cytopia commented on #174
Could you guys have a look at the Chrome/Firefox console while doing this request. There might be some errors visible why this connection does not work.

[2018-01-03 09:44] cytopia commented on #173
@sebastienserre not at the moment. SSL support is coming in the first quarter of this year.

[2018-01-03 10:02] idpocky commented on #174
Checked...No errors in the console.

I think that user will get this warning message while visiting those pages (plugins, themes...)  which need to connect `api.wordpress.org`. It means that the `httpd server` need to be able to connect `api.wordpress.org`.

Some topics about this `warning message` suggested that user need to edit the `/etc/hosts` to add this line:

[code]

[2018-01-03 10:27] cytopia commented on #174
@idpocky  the `PHP` server will be responsible for doing those requests. Could you enter it and try to curl `api.wordpress.com`:

[code]

[2018-01-03 10:46] idpocky commented on #174
Yes, Tried and curl is ok.

Finally, I tried to add the line ` 66.155.40.189 api.wordpress.org` to the `/etc/hosts`...
Ok, the warning message is no longer appear. I can get the tip of plugin updating too.

But I think it will be great if `devilbox` can do it automatically 😄.

[2018-01-03 10:55] cytopia commented on #174
What does the following command output 1. on your host system and 2. inside the PHP-FPM container:
[code]

[2018-01-03 10:55] idpocky commented on #174
Sorry, The line should be `66.155.40.189 wordpress.org`.
Otherwise, the `plugin-install` page will get error while getting the available plugin list.

[2018-01-03 10:57] cytopia commented on #174
[code]
If you need to change the domain `wordpress.org` to something else in order to get wordpress working, then there is something wrong with wordpress or its plugins itself.

[2018-01-03 11:01] idpocky commented on #174
[code]

Yes, I think so.

[2018-01-03 11:09] idpocky commented on #174
I recovered the `hosts file`, and it works normally now.
Thanks!

[2018-01-03 12:31] mrpsiho commented on #174
@idpocky sorry, you did what? could you explain what you did in order to work it ok? Thanks!

[2018-01-04 03:50] idpocky commented on #174
@mrpsiho I did 2 things:

+ I edited the `/etc/hosts` and added a new line `66.155.40.189 wordpress.org` by `$ ./shell.sh`.
+ I recovered `/etc/hosts` by removing the line added above.

Technically, I did nothing. So ... maybe the reason I got the warning message was due to my internet access problem. After recovering, It works normally.

As @cytopia said, I think the wordpress should be ok if you

[2018-01-04 05:21] mrpsiho commented on #174
@idpocky thanks!
@cytopia without such additional line in `/etc/hosts` it works like that in my case:
- sometimes - quite rarely - I see the information about the updates and do not see that warning mentioned here above
- I try to update a plugin and ends up with this
<img width="626" alt="screen shot 2018-01-04 at 7 10 09 am" src="https://user-images.githubusercontent.com/2705129/34551077-e5b68b3

[2018-01-04 13:02] loxy opened #175 "Using Docker for Windows to volume-mount a Windows drive into a Linux container is bad"
Environment:
- OS: Windows 10 Pro
- `docker version`: 17.09.1-ce
- `docker-compose version`:  1.17.1, build 6d101fb0
- Devilbox: v0.12

When you're using Docker for Windows to volume-mount a Windows drive into a Linux container, that volume is done using a CIFS/Samba network share from the Windows host. For lots of reasons, it's highly unlikely that for example Linux Postgres will work correctly w

[2018-01-05 18:09] mavimedia commented on #154
git-flow would be nice
https://github.com/petervanderdoes/gitflow-avh/wiki/Installation

[2018-01-06 15:08] fathonyfath opened #176 "Access sites using hosts IP"
Environment:
- MacOS High Sierra
- devilbox `master-branch`

It would be great if there is any way I can access my sites with hosts IP address since I'm using devilbox as my debug env to host my REST API and access it with my phone. It's hard to change `/etc/hosts` on my android phone without having root access.

Thank you.

[2018-01-07 09:19] yoshkin commented on #25
@cytopia Hi! Did you wrote documentation? Or when you will add queuing service like beanstalk ? Thanks!

[2018-01-09 09:23] panigrc commented on #163
On Ubuntu 16.04 VM with Windows 7 host I have the same problem.
The first time I run `docker-compose up php httpd bind` bind runs successfully.
After that when I restart the containers bind seems to have problem starting. I get `devilbox_bind_1 exited with code 1`
To start it again I have to rm the containers.
b499d5ebdf884561a85cfa8970a9eddbf47b2cdf did not fix my issue

[2018-01-09 11:14] cytopia commented on #176
@fathonyfath unfortunately this is not easily possible. The devilbox is using [Named Virtual Hosts](https://httpd.apache.org/docs/2.2/vhosts/name-based.html) for both nginx and apache.

So in order to do so you need to set the DNS resolver of your mobile to the one Devilbox provides (if that is possible with some kind of app).

I cannot think of any other possibility.
Maybe somebody else might com

[2018-01-09 11:16] cytopia commented on #163
@panigrc might be that bind is not shutting down correctly and keeping ports open. I will have to look into the container again

[2018-01-11 08:27] panigrc commented on #163
@cytopia Mmm...  it seems that the ports aren't an issue because:

running devilbox after rm -f the port 53 is open and listening which is normal.
`vagrant@vagrant:~/devilbox$ netstat -tuln | grep ':53'
tcp6       0      0 :::53                   :::*                    LISTEN
udp6       0      0 :::53                   :::*`

then stopping the docker containers the `netstat` command at port 53 is

[2018-01-11 08:30] cytopia commented on #163
Somehow the problem now also occurs on my system (Debian 9). So at least it is reproducable for me now.

[2018-01-11 08:45] cytopia commented on #163
OK, I finally tracked the error down. Inside the bind container the `/etc/bind/named.conf.options` file is getting a new forwarder section each time bind is started.

1. First run: 1 forwarder line
2. Sec run: 2 forwarder lines
...

This causes a silent syntax error for bind and not starting up.
I will provide a fix as soon as possible.

[2018-01-11 09:12] cytopia commented on #163
Is currently building: https://github.com/cytopia/docker-bind/pull/5

[2018-01-11 09:22] cytopia commented on #163
@Cipa @panigrc can you adjust `docker-compose.yml` under the `bind:` section (only adjusting the Docker image tag):

**From this:**
[code]
**To this:**
[code]

[2018-01-11 09:32] panigrc commented on #163
@cytopia I can say that now it's fixed :smile:
I have stopped and started the docker containers multiple times and no rm -f required. Thanx!

[2018-01-11 09:33] cytopia commented on #163
Cool. I will leave the issue open for a few days before merging. Just to make sure there are no further bugs introduced with this one. I will let you know when it gets merged (you can revert `docker-compose.yml` afterwards).

[2018-01-11 09:34] cytopia commented on #150
Issue seems to have been fixed. Please get all relevant information from here: https://github.com/cytopia/devilbox/issues/163

I will close this ticket, but leave the other one open until the Docker image is merged.

[2018-01-11 09:34] #150 closed

[2018-01-11 09:37] cytopia commented on #132
@kazuo @rslid @SethTompkins
I have rebuild the Bind image. Could you give it a try (described here: https://github.com/cytopia/devilbox/issues/163)

[2018-01-11 09:41] cytopia commented on #71
@broodje looks like `status.json` cannot be loaded (left screen). Can you see the errors of it when u click on it?

[2018-01-11 22:31] kazuo commented on #132
Pointed `bind` to `release-0.12`, ran `./update-docker.sh`, and before doing so ensured that `127.0.0.1` and `local` was in DNS servers and Search Domains respectively.

* `docker-compose up` worked as expected
* Going to my website using Auto-DNS worked as expected

Working great so far!

[2018-01-13 21:59] rslid commented on #132
@cytopia
I have tested this on my main machine where initial issues with auto-dns feature appeared:
1. Update docker-compose.yml to point to bind release-0.12 (I also used DVL-013-fix-dns branch)
2. Stopped/removed all containers and brought them up again
3. Created new entry in data/www and cleaned hosts file from old records

I'm happy to report that now everything works perfectly, bravo!

[2018-01-14 02:11] JoelSParker opened #177 "./shell.sh not working"
Whenever running $ ./shell.sh I get the error:

env: C:/Program Files/Git/usr/bin/sh: No such file or directory

[2018-01-15 08:52] stepgr commented on #176
I was ready to ask the same question. I use also sometimes bitnami stacks for testing purposes and in their setup (at least in the apache module ) they have some rewrite rules to rewrite urls to the actual  location. This way you can access your environment even from WAN (if you want to show the work to an external user eg, but also inside the LAN  which is not possible now with devilbox). I wiil

[2018-01-15 13:45] herewithme opened #178 "Feature request - Varnish support ?"
Hello,

Thank you for this very interesting project.
Do you plan to support Varnish in the future?

Best,

[2018-01-16 07:11] cytopia commented on #178
If this is a desired service, I will take it into the Roadmap.

https://github.com/cytopia/devilbox/issues/23

[2018-01-16 07:12] cytopia commented on #176
@stepgr  I totally didn't think of rewrite rules. This is something that could for for `localhost`. Good one.

[2018-01-16 08:19] stepgr commented on #176
@cytopia I tried to see how to make such rules for nginx but unfortunately my knowledge of docker is very limited I'm afraid. I can't figure out where  the configuration of nginx lies in the devilbox directory. If you want , I can send you the apache rewrite rules from htaccess  I also found a script online to convert it to nginx rules but I can't figure out where to put them to test!

[2018-01-16 08:43] herewithme commented on #178
Great !

[2018-01-16 08:43] #178 closed

[2018-01-17 09:04] mavimedia commented on #154
Please could you also add "yarn"
https://yarnpkg.com/lang/en/docs/install/#linux-tab

[2018-01-17 09:55] cytopia commented on #154
@mavimedia added to the list

[2018-01-17 10:01] panigrc commented on #154
@mavimedia you were just by an hour faster :smile: cause I wanted to request yarn too

[2018-01-17 10:09] richdel commented on #105
+1, without docker-sync there are a couple of options for os x when mounting shares using bind mounts:

- consistent or default: The default setting with full consistency, as described above.
- delegated: The container runtime’s view of the mount is authoritative. There may be delays before updates made in a container are visible on the host.
- cached: The macOS host’s view of the mount is authori

[2018-01-17 10:11] cytopia commented on #154
I added instructions above how to use the latest reference implementation if you want a sneak preview of PHP-7.3. This will have the latest reference features requested here.

[2018-01-19 07:51] cytopia commented on #175
@loxy after having created the local volumes, where on the local filesystem would you access them?

[2018-01-19 13:06] loxy commented on #175
More infos on that:

First of all: bind mounts work in Windows, but not completely. The problem arises for example when dealing with different users and permissions. Postgres runs under a different user than root, for security reasons. This is mandatory. So, while initializing the image it chowns the PGDATA directory. And this breaks somehow the CIFS/Samba network share. This is the reason why not

[2018-01-22 19:27] Cipa opened #179 "Setup cron entries"
Hi,

What is the recommended way to setup cron entries?

Thank you

[2018-01-22 21:29] cytopia commented on #179
There is currently no preferred way to setup cron entries. Note that they won't even survive a container restart.

So I would say for that feature to work, you will have to mount the cron directory to your host system in order to preserve the entries during restarts.

[2018-01-23 03:11] Cipa commented on #179
Makes sense, thank you

[2018-01-23 03:11] #179 closed

[2018-01-24 14:55] GLOBALcloud opened #180 "Cannot install Devilbox and Q: Will wp multi-network work locally?"
I didn't find any support forums or another place where to ask!

I am new to Docker / Devilbox and have installed the recommended version of Docker on win10.

First to my question;

I've been trying to get the DNS to work to run multi-network locally on xampp,
https://wordpress.org/plugins/wp-multi-network/
if you like to test it, the git version is the one to use:
https://github.com/stuttter/wp-m

[2018-01-26 11:04] kevindaus commented on #180
remove the dollar sign

[2018-01-26 11:12] kevindaus commented on #177
are you using windows or linux ?

[2018-01-26 11:50] mwmllr opened #182 "PHP warnings for 7 showing up when running 5.6"
A few days ago I pulled this repo. One thing that confuses me is why, when running it with PHP 5.6 I get warnings like

which is supposed to show up in PHP 7, not 5.6. Why does that happen?

When I

`echo phpversion()`

I get

PHP 5.6
Apache 2.2
MySQL 5.5
PGSQL 9.1
Redis 2.8
Memcached 1.4.21
Mongo 2.8

Linux
Docker version 1.13.1, build 092cba3
docker-compose version 1.16.1, build 6d1ac21

[2018-01-28 02:41] JoelSParker commented on #177
I am on Windows 10 Home using Docker Toolbox

[2018-01-28 09:11] lbngoc opened #183 "PHP failed to start, Reason: DNS lookup failure for: php"
Today I go to update current devilbox to latest version from github, but after run `docker-compose up -d httpd mysql` command, I can not start my devil box UI on http://localhost, below are error message
[code]
Some logs from devilbox folder:
[code]

[code]

[2018-01-28 13:53] cytopia commented on #182
Can you check in two places:

* web interface (phpinfo)
* via shell (`./shell.sh`) and then `php --version`

[2018-01-28 13:56] cytopia commented on #183
Please do the following and check if it resolves your problem:

Make sure git is really up to date
[code]
Get latest images
[code]
Clean current state
[code]
And try again:
[code]

[2018-01-28 13:56] kevindaus commented on #177
I got mine executing via ```bash shell.sh```
I have cygwin installed here on my computer

[2018-01-28 18:05] lbngoc commented on #183
Hi @cytopia ,

Thanks for your support, I tried your tricks but no luck. PHP service is not started, here are my error logs:

[code]

[2018-01-29 09:28] mwmllr commented on #182
`phpinfo` shows

`./shell.sh` then `php --version` shows

[2018-01-29 09:57] mwmllr commented on #182
I'm going to double-check this and get back to you.

[2018-01-29 10:05] mwmllr commented on #182
`phpinfo` shows

`./shell.sh` then `php --version` shows

I also checked that I could switch the php version in the .env file and I could, so that the above commands updated to, say, php 7.

[2018-01-29 10:11] cytopia commented on #182
I don't think this is a PHP 5.6 issue. Here is someone with PHP 5.4 and the same problem: https://stackoverflow.com/questions/14074101/getting-comments-starting-with-are-deprecated-message-via-cli

Also have a look here: https://github.com/php/php-src/blob/c0891d9326dc6085626a9d5cb9fcb7e62902aedc/Zend/zend_ini_scanner.l#L642

This is from PHP 5.6

[2018-01-29 10:11] #182 closed

[2018-01-29 15:39] panigrc commented on #157
Tempting ...
I could help you with that, to start with you probably need a Read The Docs Account and a Devilbox Docs repo. As I read you attach your github repo to your Read The Docs account and it can automatically update from the master branch.
Make it empty, and I could start porting things, by sending pull requests. Or add me as a collaborator.
My time is limited so don't expect to port this i

[2018-01-30 14:05] panigrc commented on #157
mmm I've checked other documentations and I noticed that the others do it also like this. They place the docs directory within their project repository.
So yeah you can do it like so.
I've registered on Read The Docs but I didn't find this setting, probably because I need to create a repo in github first with docs directory in it.

[2018-01-30 14:10] cytopia commented on #157
This might be achievable via the python configuration file. See here

![screenshot 2018-01-30 15-09-26 selection](https://user-images.githubusercontent.com/12533999/35570483-a0c14efe-05cf-11e8-8ca9-59e69e531a21.png)

[2018-01-30 14:15] panigrc commented on #157
Oh ! nice 😄
Now how is it possible to collaborate to the docs directory ?
Also because Read The Docs will compile the docs, means that we are going to work without a preview ?
Forgive me about my questions but I haven't yet worked with the online service of Read the Docs

[2018-01-30 14:20] cytopia commented on #157
@panigrc readthedocs will auto-compile each branch automatically. So I guess the best way would be:

1. I will create a long-living feature branch with an PR to master (that will stay WIP until fully done).
2. PR's will be created to go into that feature branch.
3. Documentation can then always be seen from that feature branch. `[1]`
4. Once the feature branch is in a useable state (first iteratio

[2018-01-30 14:41] cytopia commented on #157
Feature branch and PR ready:

* branch: `documentation`
* PR: https://github.com/cytopia/devilbox/pull/186

[2018-01-31 09:01] lbngoc commented on #183
@cytopia, I just hope this info may be help
I can run standalone php container by below command on your git repo
[code]
but when I started by docker-compose with LAMP stack, it returned the error
Today, I have switched  to use php-hhvm image as an alternative

[2018-01-31 16:43] cytopia commented on #163
Pr has been merged.

[2018-01-31 16:43] #163 closed

[2018-01-31 16:43] cytopia commented on #132
Pr has been merged.

[2018-01-31 16:43] #132 closed

[2018-02-02 07:01] lbngoc commented on #183
I have fixed this issue by turn off mail-catching, it seems this issue comes from setting up mail
[code]
could you have any ideas @cytopia  ?

[2018-02-03 17:51] joberror opened #187 "Confused on where to place the ./data/www folder on Windows"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [ ] Attach logs for php, mysql and webserver (found in `log/` directory)
- [ ] St

[2018-02-03 18:18] cytopia commented on #187
The paths are relative to the devilbox directory. So in your case, add your www data in:

 C:\Docker\devilbox\data\www

[2018-02-03 19:06] joberror commented on #187
Thanks for replying

Now, I have created the folder and executed the command;
"docker-compose up"

but unfortunately
- no file was copied to the said directories as seen in the video,
- localhost page is not loading,

Below is what was generated in the command line after executing the command above
[command log.txt](https://github.com/cytopia/devilbox/files/1692084/command.log.txt)

Thank you for

[2018-02-03 19:09] cytopia commented on #187
Looks like your configuration is wrong. You have many startup errors complaining about wrong values in `.env`. Also the httpd container stops due to those errors and therefore nothing will show up at `localhost`

[2018-02-03 19:22] joberror commented on #187
[env.txt](https://github.com/cytopia/devilbox/files/1692098/env.txt)

That's a copy of my .env file

NB: I changed the directory from ./data to ./prjDev and created the folders accordingly

Please let me know if anything is wrong

[2018-02-04 01:31] cytopia commented on #187
This looks good so far. Are you using the file extension `.txt` for the env file? It should be `.env`. A leading dot and not extension.

[2018-02-04 01:33] cytopia commented on #187
Another thing you could do prior running `docker-compose up` is to manually source the `.env` file. Just do that on the command line:
[code]

[2018-02-04 01:34] cytopia commented on #177
@JoelSParker does this work for you?

[2018-02-04 01:35] cytopia commented on #180
@GLOBALcloud did you try what @kevindaus suggested?

[2018-02-04 01:37] cytopia commented on #183
@lbngoc unfortunately I cannot reproduce this on my system.
Can you give the new PHP Image a try. I have added a mini-howto into the ticket how to get it up:

https://github.com/cytopia/devilbox/issues/154

[2018-02-04 03:53] joberror commented on #187
No. I only had to convert it to .txt file before I can upload due to Github restriction. I'm confused as to why it's not working.

Maybe I should try using .\data instead of ./data

Don't know if it's going to work that way.

[2018-02-04 11:15] joberror commented on #187
Below are all the information I can get when I run the following commands

**$ docker-compose ps**

[code]

**$ docker-compose images**

[code]

**$ docker-compose logs**

[code]

**$ docker-compose top**

[code]

**$ docker-compose events**

[code]

[2018-02-04 12:14] cytopia commented on #187
Can you paste your docker and docker-compose version here as well as the windows version and whether you use native docker or docker toolbox for windows.

[2018-02-04 12:18] joberror commented on #187
Now, I'm like 35% successful after reading your comment here [Docker Shared Drives](https://github.com/cytopia/devilbox/issues/160#issuecomment-351479801) and following the documentation on Docker website

All necessary files are being copied to the ./prjDev respective folders but Localhost still not loading. below is the log from the command

**$ docker-compose up**

[code]
Looking at above log a

[2018-02-04 12:25] joberror commented on #187
**$ docker version**

[code]

**$ docker-compose version**

[code]

- Windows 10 Pro v1709 OS Build 16229.192
- Native Docker version

[2018-02-04 12:29] cytopia commented on #187
I have the following:
[code]
Can you check if there is a newer docker version available for windows?

[2018-02-04 12:31] cytopia commented on #187
Also it still looks like your `.env` file is not read. That's why you get all those errors. Did you manually source the file prior startup"
[code]

[2018-02-04 12:40] joberror commented on #187
I downloaded it 3 days ago. So I believed that's the latest version, though I download the ` Stable version`

The .env file has been read because all the files in ./prjDev/mysql, ./prjDev/pgsql, ./prjDev/mongo has been copied after executing `docker-compose up` before, no file was copied.

[2018-02-04 13:56] cytopia commented on #187
Looks like the `httpd` container does not like the config values:
[code]
It stops after that.

[2018-02-05 01:49] joberror commented on #187
Funny enough, I used 0, and 0 is also listed as accepted value. So why the error. I'll change it and get back to report the outcome

[2018-02-05 05:28] gowrav-vishwakarma opened #188 "What stops using devilbox for production system"
Hi,
devilbox is something a developer needs as must. But since it has everything needed to run things in proper way in containers, can it be used in production? if not what makes is not suitable for production, if not.

Can I do following:
creating vhosts with different tlds like xyz.com and abc.in
can each vhost can have its own php.ini settings

[2018-02-05 11:05] mwmllr opened #189 "Mounting to an existing MySQL database"
I had a general question regarding the database location, specifically MySQL. I'd like to use my existing database files. In the `.env` file it says

And also

I point the `HOST_PATH_MYSQL_DATADIR` to the correct location, and devilbox creates a folder underneath that with the specific mysql version, with an empty database (or rather with the default

)

This makes sense so far.

But how do I use

[2018-02-05 14:35] joberror commented on #187
![devilbox](https://user-images.githubusercontent.com/905369/35808826-69636700-0a87-11e8-991c-d3caf040693b.jpg)

Finally, the page got loaded and MySQL and PHP started quite alright but pgSQL and Mongo isn't starting as you can see from the screenshot above

Below is the pgsql and mongo log from the command

[code]

I think it's related to what this issue below is about [Using Docker for Windows t

[2018-02-05 15:56] cytopia commented on #189
So I guess the simplest way is to move the content from `/var/lib/mysql/*` to where you store the devilbox mysql data (e.g.: `/home/mwmllr/devilbox/data/mysql/mysql-5.7`). And then just symlink `/home/mwmllr/devilbox/data/mysql/mysql-5.7` to `/var/lib/mysql`

[2018-02-05 16:25] cytopia commented on #188
@gowrav-vishwakarma you can read more here: https://github.com/cytopia/devilbox/issues/169

Once the new PHP container are in place it might be more suitable for production. I am currently also researching automated security testing for those images so it is made sure that at least the underlying software does not have any **known** flaws.

Apart from that I guess it is a matter of adoption. Once

[2018-02-06 03:21] joberror commented on #71
I'm having that same status,json not loaded problem right now

[2018-02-06 09:45] mwmllr commented on #189
Thanks I have now done this and set the database password in the .env file.

On running docker-compose up it says

[2018-02-06 10:27] mwmllr commented on #189
I have now done this. I still need to resolve some problems with the symlink to the original db location - rsyncing is fine if I want to update. I also had to add 172.16.238.10 as a root user in the database. But it seems to be working. Thanks.

[2018-02-06 10:27] #189 closed

[2018-02-06 12:31] mwmichael opened #190 "Adding a custom .so module doesn't seem to work"
I am trying to install MongoClient (the deprecated `mongo.so` not `mongodb.so`, but which I have working on my original system) in the devilbox container.

I followed the instructions [here](https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#425-custom-php-modules)

so

`cp /usr/lib/php/20131226/mongo.so  /var/www/devilbox/mod/php-fpm-5.6/`

and

`cp /etc/php/5.6/mods-available/mong

[2018-02-07 03:06] joberror commented on #187
Gladly I have everything running now.

I think there's need for more documentation concerning Windows User.

Thanks for coming up with such great project

[2018-02-08 07:26] cytopia commented on #190
Did you also adjust the path inside `mongo.ini` to actually point to the so inside the container?

[2018-02-08 07:29] cytopia commented on #188
Different tld's per vhost are currently not supported and not be implemented within the next 6 months. I will therefore close this ticket. Feel free to add your request to the roadmap: https://github.com/cytopia/devilbox/issues/23

Once this is up for schedule I will re-open or create a new ticket.

[2018-02-08 07:29] #188 closed

[2018-02-08 07:31] cytopia commented on #187
@joberror thanks for the feedback and glad that it works for you now. Documentation is on the list to be extended.

[2018-02-08 07:31] #187 closed

[2018-02-08 07:33] cytopia commented on #176
@stepgr sorry for the long waiting time. Please do send me those rules and I try to prepare something for you.

[2018-02-08 09:51] mwmllr commented on #190
So according to [this](https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#134-custom-php-module-example) I add in `cfg/php-fpm-5.6/00-mongo.ini`

`extension=/usr/lib64/php/custom-modules/mongo.so
`

When I run docker-compose up the log states

I also tried with

`extension=/var/www/devilbox/mod/php-fpm-5.6/mongo.so`

but there is the same result

The libcrytpo.so error has precedent

[2018-02-08 19:27] cytopia commented on #190
Yes, looks like a library problem. Then you need to wait another 1-2 weeks until the new PHP Docker images will arrive

[2018-02-08 19:53] cytopia opened #191 "Link container build to anchore.io for automated security tests"
In order to ensure there are no known vulnerabilities within the Docker image installed software each image build should be hooked up to https://anchore.io/ and auto-scanned on build and prior push to docker hub.

[2018-02-10 09:41] GLOBALcloud commented on #180
HI, yes I did, I also tried all versions of the code, I will try again when I have spare time to play with it. Until then it has to be as is!

 I am more curious about the multi-network function if it will work locally?

[2018-02-12 13:31] mwmllr commented on #78
I see a similar problem. I used

`ip route get 8.8.8.8 | awk '{print $NF; exit}'`

and put this in `.env` at `PHP_XDEBUG_REMOTE_HOST`

The xdebug log says

W: Creating socket for '192.168.1.170:10000', poll success, but error: Operation now in progress (29).
E: Could not connect to client. :-(

(p.s. I changed

`PHP_XDEBUG_REMOTE_PORT=10000`

as well as in my IDE)

and according to PHPStorm 'Valid

[2018-02-12 13:49] mwmllr commented on #78
Ok I got this working thanks to some posts, like [1](https://stackoverflow.com/a/41446385), [2](https://stackoverflow.com/a/44284500), and [3](https://github.com/laradock/laradock/issues/460#issuecomment-279271592).

set

`PHP_XDEBUG_REMOTE_CONNECT_BACK = 0`

I could then connect with xdebug but there were problems with my path mappings. PHPStorm makes it simple to apply path mappings to the devil

[2018-02-14 10:52] nlemoine opened #192 "Custom virtual host docroot"
Hi,

- [x]  OSX 10.11.6
- [x] `docker version` 17.12
- [x] `docker-compose version` 1.18

My projects folder structure doesn't match the Devilbox or Valet like structure so I can't use the default behavior: one folder == one domain.
I tried to add a virtual host with a custom `DocumentRoot` (e.g. disable the mass virtual host feature) using the `devil-custom.conf` file in the web server I'm using

[2018-02-14 10:54] cytopia commented on #192
What is the behavior you want?

[2018-02-14 11:37] nlemoine commented on #192
My folder structure is like:
[code]
Where `web` is the document root. But this isn't always true. It sometimes can be `public`, `public_html` or `whatever`.

Sorry for mentioning my folder structure, this seems misleading. The global question is: how can I set a custom virtual host? With a custom `ServerName` and a custom `DocumentRoot`.

[2018-02-14 12:00] cytopia commented on #192
Unfortunately this is not possible by the way `vhost-gen` currenty works. What you could do instead, is the following:

[code]
In each project it doesnt matter how the document root folder is named, simply symlink whatever the directory is called to `htdocs`:
[code]

This will require some manual work, as well as re-symlinking once you add new clients to your project dir, however it could be somet

[2018-02-14 13:31] nlemoine commented on #192
But I still can't choose a custom `ServerName`?
This require indeed a little bit of manual setup.

Thanks for the quick feedback.

[2018-02-14 13:31] #192 closed

[2018-02-14 13:43] cytopia commented on #192
No, the servername will be according to your directory name. You can however customize each vhost on a per project base. The documentation is unfortunately still very basic: https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#433-customize-the-vhost-configuration

[2018-02-15 10:23] laminr commented on #129
does the MySql are fixed? it's Feb 2018 and I have the same issue while trying to use MySql 5.7

[2018-02-16 19:01] uebmaster opened #193 "how to disable ¿debug?"
Hi, always that i open a page of my project i see that, how can i disable?

I tried with DEBUG_COMPOSE_ENTRYPOINT=0 and later docker-compose rm -f but still appearing :/

I am working on windows 10

![image](https://user-images.githubusercontent.com/5565506/36324184-375c3b5c-1319-11e8-8244-9ad1d590f7db.png)

[2018-02-16 23:04] uebmaster commented on #177
i can't run shell. sh

i get the next when i do _bash shell.sh_

_C:\Users\Uebmaster\Documents\GitHub\devilbox>bash shell.sh
shell.sh: line 2: $'\r': command not found
: No such file or directoryd/httpd
: invalid option
Usage:  bash [GNU long option] [option] ...
        bash [GNU long option] [option] script-file ...
GNU long options:
        --debug
        --debugger
        --dump-po-strings

[2018-02-17 10:05] cytopia commented on #177
Can you give this a try:

[code]

[2018-02-17 16:46] pbearne opened #194 "SSH for windows"
This may be have sorted, but I can't see how to SSH into the install. All the dock say ti just run the shell.sh but this doesn't seem to work on windows. So the ask is how do windows users shell in or if we can't then update the DOC's to make it clear (docs for both)

Please also specify the following info:

- [Windows 10 ] Which operating system are you at (Linux, OSX or Windows)
- [18.02.0-ce ]

[2018-02-18 06:41] dozzy100 opened #195 "Working on nodejs projects"
How do you work on nodejs projects with files/folders on local/host machine?

[2018-02-18 09:04] cytopia commented on #195
@dozzy100 how would you do it normally? Could you be a bit more specific

[2018-02-18 09:08] cytopia commented on #193
You can add custom `*.ini` files for each PHP version to configure it the way you need (in your case disable PHP warninigs):
https://github.com/cytopia/devilbox/blob/master/docs/Configure.md#12-the-devilbox-cfg-directory

[2018-02-18 09:40] dozzy100 commented on #195
Normally with both node and project files available on my machine, I would just run the command, for eg:

node app.js

to start the application. But using devilbox with node being inside the container and project files outside it, how do I use it?

[2018-02-18 10:25] cytopia commented on #195
You can do both: Files are both inside as well as outside. There should not be a difference. Files you have on your local machine are just mounted into the container, so that they are available there additionally.

If you want to work inside the container use `./shell.sh` to enter it. It has all node binaries inside. Or you do it from the outside if you have node installed on your host system.

[2018-02-18 10:39] dozzy100 commented on #195
How will the local folders be mounted? I see mount settings for http, mysql, pgsql and mongo in the .env file. How do I specify which project folder to mount? Am I missing something obvious?

[2018-02-18 10:54] cytopia commented on #195
Have a look at this video, it will cover all the basics and make it more understandable:  https://www.youtube.com/watch?v=reyZMyt2Zzo

[2018-02-18 11:11] masiorama commented on #189
Thanks @mwmllr, your comment about the mysql ip as a root user helped me to solve my problem.

[2018-02-20 11:44] dozzy100 opened #196 "Issues while connecting to mysql 5.7"
When I try to connect to mysql I get the following error:

ERROR 1045 (28000): Access denied for user 'root'@'172.16.238.1' (using password: NO)

An existing MySQL database has been mounted for this mysql instance. Tried connecting from command line using:

mysql -h 127.0.0.1 -P 3306 -u root

from inside the container.

[2018-02-20 11:49] cytopia commented on #196
Try:
[code]
And hit enter when it asks for the pass

[2018-02-20 11:52] dozzy100 commented on #196
Still get the error

ERROR 1045 (28000): Access denied for user 'root'@'172.16.238.10' (using password: NO)

[2018-02-20 11:53] cytopia commented on #196
Can you give it a try with a different mysql version

[2018-02-20 12:09] dozzy100 commented on #196
Tried using mysq 5.6, while starting it up get the following error:

devilbox_mysql_1 exited with code 1

Full log:

`$ docker-compose up mysql

WARNING: The REDIS_SERVER variable is not set. Defaulting to a blank string.
WARNING: The PGSQL_SERVER variable is not set. Defaulting to a blank string.
devilbox_bind_1 is up-to-date
devilbox_php_1 is up-to-date
devilbox_httpd_1 is up-to-date
Starting de

[2018-02-20 12:59] cytopia commented on #196
Can u check if there is already a container running?

Maybe even do the following for a fully fresh start:
[code]

[2018-02-20 13:26] dozzy100 commented on #196
Did all what you asked above, still get the error (somewhere in between the log):

devilbox_mysql_1 exited with code 1

[2018-02-20 13:40] dozzy100 commented on #196
While trying again with 5.7, if I do not try to use existing data then it works fine, but if I try to mount my existing databases I get the initial error.

[2018-02-20 14:42] dozzy100 commented on #196
It is working now with 5.7. Need to grant privileges to root for access from all hosts.

GRANT ALL PRIVILEGES on *.* to root@'%';

You will have to log in to the mysql container. Using ./shell.sh will not work as it logs into the php container. Try using:

docker-compose exec --user root mysql env TERM=xterm /bin/sh -c "cd ${CWD}; exec bash -l"

[2018-02-20 14:56] #196 closed

[2018-02-20 15:15] cytopia commented on #196
That's however very strange. The root user should be allowed to be accessed from all hosts. Thanks for the catch!

[2018-02-20 15:27] dozzy100 commented on #196
This happened because all my existing mysql databases were mounted, including the 'mysql' table with all restrictions set in the previous installations.

[2018-02-21 17:27] thedevsaddam opened #197 "How to remove devilbox completely?"
I am using Mac and I want to remove devilbox completely. I have removed all the docker images and stopped containers. But when I start the docker it run the container.

[2018-02-21 18:15] cytopia commented on #197
**Remove devilbox directory**

Make sure everything is stopped and removed
[code]
Then you will have to delete the `devilbox` git directory. The rest of it are just docker images that the devilbox uses. Some of them are official images and some of them are devilbox specific images.

**Remove docker images**

When you also want to remove docker images, have a look at various stackoverflow questions

[2018-02-21 18:16] cytopia commented on #195
@dozzy100 does this answer your question?

[2018-02-21 18:16] cytopia commented on #193
@uebmaster does this answer your question?

[2018-02-21 18:43] #197 closed

[2018-02-21 19:47] uebmaster commented on #193
yes, although the warnings are appearing because in the configuration file of my script had on the error displaying.

Thanks.

[2018-02-21 23:01] cytopia commented on #193
Glad that it solved your issue.

[2018-02-21 23:01] #193 closed

[2018-02-22 11:16] sakonn opened #198 "Use .localhost as TLD_SUFFIX"
Hello,
I wanted to switch my local projects to .localhost because chromium is no longer supporting .dev domain. When I change hosts in `etc/hosts` file and **TLD_SUFFIX** in `docker-compose.yml` Devilbox starts but Bind service will crash. Virtual hosts shows problem but i can acess my local sites but response time is much longer.

![screenshot from 2018-02-22 12-14-11](https://user-images.githubu

[2018-02-22 12:04] cytopia commented on #198
Are you using the latest update from devilbox git branch?

[2018-02-22 12:09] sakonn commented on #198
I updated project before creating issue. I use latest master files.

[2018-02-25 01:44] aditya43 commented on #173
Thanks for the great work.

Please add SSL support as soon as possible. It would be great if you could also add some [devilish commands to automate most of the process](https://gist.github.com/jchandra74/36d5f8d0e11960dd8f80260801109ab0) for creating self signed certificates for local development.purposes.

Cheers!

[2018-02-28 10:57] johnwbaxter commented on #146
I'm trying to come away from using MAMP Pro and would find it much easier to transition if we could run a different php version per project like this. Would love to see it happen!

[2018-02-28 10:59] johnwbaxter commented on #173
I would love to see this added too. Again, moving from a different setup where i have SSL for a lot of projects so to be able to use this would need https! Thanks!!

[2018-02-28 11:39] cytopia commented on #173
Is it generally possible to have a wildcard certificate for a e.g. `*.dev` or does it only work with domains?

[2018-02-28 11:43] cytopia commented on #146
Just to be clear here. From what I have already come up with, it won't be possible to run different PHP versions on a per project base, but to be able to run multiple PHP versions at the same time and to have each of the projects be served by all currently started php versions like so: (If you would start PHP 54, 55 and 56):

* `project1.php54.loc`
* `project1.php55.loc`
* `project1.php56.loc`

Th

[2018-02-28 11:44] cytopia commented on #198
What operating system and docker/docker-compose versions are you using?

[2018-02-28 11:46] cytopia commented on #195
@dozzy100 I will close this. If you have a specific issue regarding your node project, feel free to re-open.

[2018-02-28 12:03] johnwbaxter commented on #173
As far as i'm aware, browsers wont trust a certificate that covers a whole TLD so pretty sure that wouldn't work. It would have to be per domain *.project1.loc

[2018-02-28 12:05] johnwbaxter commented on #146
Yep, what you are doing is exactly what i want. I don't want multiple php versions per project, i just want to be able to specify which php version a project uses. So for example, i can work on 2 different projects at the same time without having to: docker down edit config, docker up; when i switch projects.

What would be great is to be able to use a per project config file to specify the php ve

[2018-02-28 12:06] cytopia commented on #154
`yarn` added

[2018-02-28 12:09] cytopia commented on #146
First iteration would be to have a *default* php version specified in `.env` over which all projects are reachable without `*.php[0-9].*` part in the domain. Let's get this done first and then see how difficult it is to customize it per project

[2018-02-28 12:11] cytopia commented on #173
Then I guess certificates will have to be created for each available project on startup (or at least check if the currently available cert [if any] matches the current chosen TLD_SUFFIX).

[2018-02-28 12:12] cytopia commented on #154
I will create a new PR in the coming days to test the new container.

[2018-02-28 12:14] johnwbaxter commented on #173
I would say that is your only option, yes.

[2018-02-28 12:15] johnwbaxter commented on #146
That sounds like a great idea. Thanks a million for replying to my requests!

[2018-02-28 12:27] cytopia commented on #146
You're welcome.

[2018-02-28 12:29] cytopia commented on #194
Can you try this:
[code]

[2018-03-04 21:49] pleek91 opened #202 "Mailhog Integration"
This isn't a bug or issue but more of a help request. I'd like to use mailhog [https://github.com/mailhog/MailHog](url) instead of the built in mail catcher. I've followed the mailhog docs for installing and configuring it with php but can't seem to get it working.

What do I need to do to have all mail traffic flow through a mailhog container? I've added mailhog  as a service in my docker-compose

[2018-03-05 22:04] cytopia commented on #194
Thanks

[2018-03-05 22:04] #194 closed

[2018-03-05 22:05] cytopia commented on #190
This should fix your problem. Please let me know if it works (`mongo.so` already bundled now): https://github.com/cytopia/devilbox/pull/203

[2018-03-05 22:06] cytopia commented on #177
This has been fixed by adding `shell.bat` for windows.

[2018-03-05 22:06] #177 closed

[2018-03-05 22:07] cytopia commented on #154
It is ready for testing: https://github.com/cytopia/devilbox/pull/203

[2018-03-05 22:08] cytopia commented on #183
@lbngoc  Can u give the new PHP container a try and see if it works for you: https://github.com/cytopia/devilbox/pull/203

[2018-03-05 22:08] cytopia commented on #183
@lbngoc  Can u give the new PHP container a try and see if it works for you: https://github.com/cytopia/devilbox/pull/203

[2018-03-05 22:12] cytopia commented on #198
@sakonn I have reproduced this bug. Looks like it is not fixable for me. The bundled bind server is using a catch-all for the domain, however when doing catch-all for `localhost`, every request ends up on `localhost` instead of resolving `localhost` to some IP address. So I guess you will have to pick a different `TLD_SUFFIX`.

[2018-03-05 22:12] #198 closed

[2018-03-05 22:16] cytopia commented on #202
Every request (on the PHP container) which is send directly via postfix is catched-all and put into the local mailbox. The corresponding PHP.ini directive looks as follows:
[code]
This ensures the PHP mail function is using a local sendmail binary, which then interacts with postfix which does a catch-all.

The postfix settings are here: https://github.com/devilbox/docker-php-fpm/blob/master/Docker

[2018-03-05 22:19] cytopia commented on #180
I am not a wordpress pro, but as far as I know, there shouldn't be a limitation to set it up like this.

If the `$` sign error is resolved, what is the current error on the wordpress multisite?

[2018-03-05 22:22] cytopia commented on #119
As discussed on gitter,  I will close it and mark it as wont fix

[2018-03-06 07:59] cytopia commented on #191
Currently testing this feature for PHP 5.4

* https://anchore.io/preview/dockerhub/devilbox%2Fphp-fpm%3A5.4-base
* https://anchore.io/preview/dockerhub/devilbox%2Fphp-fpm%3A5.4-mods
* https://anchore.io/preview/dockerhub/devilbox%2Fphp-fpm%3A5.4-prod
* https://anchore.io/preview/dockerhub/devilbox%2Fphp-fpm%3A5.4-work

[2018-03-06 08:01] cytopia commented on #169
@alivelimeli  New images have been built and will be security-checked via anchor.io: https://github.com/cytopia/devilbox/issues/191

[2018-03-06 08:01] cytopia commented on #188
@gowrav-vishwakarma  New images have been built and will be security-checked via anchor.io: https://github.com/cytopia/devilbox/issues/191

[2018-03-06 10:13] mwmichael commented on #190
I followed the three steps in #203

I also tweaked the .env file to make my app load, but only
1. php version 5.6
2. mysql 5.7
3. the locations of HOST_PATH_HTTPD_DATADIR and HOST_PATH_MYSQL_DATADIR
4. MYSQL_ROOT_PASSWORD

When I run `docker compose up` in the startup messages mongo exits:

`mongo_1  | 2018-03-06T09:53:20.987+0000 E STORAGE  [initandlisten] WiredTiger error (-31802) [1520330000:98

[2018-03-07 08:34] cytopia commented on #190
Looks like official mongo container have some problems. I have tried mongo 2.8 and mongo 3.0, both crash. Mongo 3.2 works. Can you give it a shot.

[2018-03-07 15:08] dantopa opened #205 "httpd not starting"
Devilbox is not working for me, this is what shows up:
httpd_1  | [ERR]  Wrong value for $DEBUG_ENTRYPOINT: '0'
httpd_1  | [ERR]  Allowed values: 0, 1 and 2
devilbox_httpd_1 exited with code 1

Then, if I config DEBUG_ENTRYPOINT to be 1 instead of 0, this shows:
httpd_1  | [ERR]  $MAIN_VHOST_DISABLE is set to  , but must be 0 or 1.

Please help me. I have configured devilbox for apache 2.4 and php

[2018-03-07 17:33] cytopia commented on #205
Did u create a `.env` file?

[2018-03-08 00:10] dantopa commented on #205
Yes, this is my .env:

 ###

###  ---------------------------------------------------
###  D E V I L B O X   R U N - T I M E   S E T T I N G S
###  ---------------------------------------------------
###
###  All the following settings are applied during
###  $ docker-compose up
###
###  No need to rebuild any dockers!
###

###
### Show all executed commands in each
### docker image during docker-

[2018-03-08 07:23] cytopia commented on #205
What is your docker-compose version?

[2018-03-08 07:24] cytopia commented on #205
I already see it. Looks like your `.env` file is outdated. When you have updated your git branch, also compare your `.env` file with the shipped `env-example`. You are missing a couple of values.

[2018-03-08 07:47] cytopia commented on #191
All PHP Container are now added to https://anchore.io for public security review

[2018-03-08 07:47] #191 closed

[2018-03-08 07:52] cytopia commented on #190
Looks like a mongodb problem. I have created an issue at their repository:
https://github.com/docker-library/mongo/issues/251

[2018-03-08 07:59] cytopia commented on #160
I will close this due to inactivity. In case you still have problems, please checkout this branch if it is still open at the time of reading: https://github.com/cytopia/devilbox/pull/203

If this is already merged to master, simply update your local git directory

[2018-03-08 07:59] #160 closed

[2018-03-08 09:07] mwmichael commented on #190
Yes the 3.2 container sets up without error on `docker compose up`

I still get `Class MongoClient not found.` in my app

[2018-03-08 15:28] dantopa commented on #205
Thanks for the reply, I have updated the .env so is the latest. but there are still problems. I also cloned a new devilbox git but the same happens. I was using devilbox perfectly before, my docker-compose version is 1.19. This is what shows up when trying to run:

[pde@arch devilbox]$ docker-compose up httpd php mysql bind
Creating devilbox_php_1   ... done
Creating devilbox_bind_1  ...
Creating

[2018-03-08 17:31] cytopia commented on #205
That just means that your database credentials are wrong at some place. Can u connect from your host machine or from within the php container via `mysql` binary and check if users still exist with correct permissions.

Alternatively use PHPMyAdmin on intranet.

[2018-03-08 18:25] dantopa commented on #205
Yes, finally found what happened. I set a different mariadb version, so my databases weren't there. Now I finally set the correct version, and all is working fine.

Thanks!!!

[2018-03-08 20:56] cytopia commented on #205
good to here.

[2018-03-08 20:56] #205 closed

[2018-03-09 14:34] johnwbaxter opened #206 "Change docroot in .env"
I am trying to change the docroot of an existing devilbox in the .env file.

The docs say to change the value and restart devilbox which i have done. (docker-compose down and then up)

I had: HTTPD_DOCROOT_DIR=public
I want: HTTPD_DOCROOT_DIR=deploy/public

I seem to get this error in the output which i don't normally:

httpd_1  | vhostgen: [2018-03-09 14:36:32] Adding: localhost
httpd_1  | sed: -

[2018-03-09 15:31] Jarco opened #207 "Vhost with www prefix"
Hello,

Is it possible to change the vhost template so it adds support for www. subdomains? I have lots of sites that are configured to redirect to www.sitename.ext and I cannot figure out how to serve them with devilbox correctly.

I managed to do it for a separate domain with the vhost configuration per domain but would be thrilled if this could be automated in some way.

Docker version 18.02.0-

[2018-03-10 08:36] cytopia commented on #207
@Jarco that is actually pretty simple.

Let's assume your project is called `sitename` (so you have created a directory `sitename/`) The vhost will be `sitename.loc` (if TLD_SUFFIX is `loc`).

In order to use `www.sitename.loc`, simply rename your folder to `www.sitename/`.

So some more examples here:

| directory | `TLD_SUFFIX` | vhost |
|---|---|---|
| `sitename/` | loc | `sitename.loc` |
| `ww

[2018-03-10 08:40] cytopia commented on #206
@johnwbaxter good catch, this is indeed an error with `sed`. I will fix this in the container.

Looking at your special case, I think it can be done more easily.
Keep `HTTPD_DOCROOT_DIR` at the default (`htodcs`). and simply simlink `htdocs` to `deploy/public`.

Have a look at the CakePHP setup at step 4: https://github.com/cytopia/devilbox/blob/master/docs/Examples.md#21-setup-cakephp

Let me kno

[2018-03-11 10:34] cytopia commented on #157
FYI: setup is now working as expected and I already started porting the documentation: http://devilbox.readthedocs.io/en/documentation/

[2018-03-11 12:16] johnwbaxter commented on #206
Ha! I didn't think about a symlink! Nice, i'll do just that :) Thanks!!

[2018-03-11 12:50] johnwbaxter commented on #206
Hmm, not sure why, but my symlink isn't working here. Everything looks right, but, no luck. I'll just wait until you have a fix for this one and then go back to it.

[2018-03-11 13:19] uGiFarukh opened #208 "On high traffic the httpd container is not working"
I have running a docker engine on the latest stable CoreOS in a baremetal. My server configuration is 8 Core @ 3.8GHz Intel Xeon 32GB RAM 10Gbps network and 240GB SSD. It should run quite a lot of traffic. But I used the devilbox LAMP stack on my docker for my high traffic website. But after sometime of start the httpd becomes unresponsive. I couldn't go to my url anymore. Why is that happening? M

[2018-03-11 14:30] cytopia commented on #206
Hmm this should actually work as it is a standard feature and I do it all the time.

What OS are you on and can you also show me the symlink via `ls -la` and the error it throws when opening the project in the browser

[2018-03-11 14:34] cytopia commented on #208
@uGiFarukh is anything actually crashing or is it just unresponsive?

The general design of the devilbox is to use it for local development, so all settings are optimized for that scenario. If you want to use it in high load scenario's I guess the PHP-FPM and the Apache base configuration files need to be tweaked and adjusted to your processor and RAM.

Also to note, that logging should be minimiz

[2018-03-11 14:36] cytopia commented on #208
I would also suggest you stick to this branch as it will get merged very soon (it has completely redesigned PHP container): https://github.com/cytopia/devilbox/pull/203

[2018-03-11 14:36] johnwbaxter commented on #206
I'm on OSX.
ls -la gives me:
lrwxrwxrwx 1 devilbox devilbox   33 Mar 11 12:43 public -> site2018/webroot/deploy/public/

And the error it gives is:

403 Forbidden
nginx/1.12.1

[2018-03-11 14:37] cytopia commented on #206
And `site2018/webroot/deploy/public/` site is in the same directory as the `public` dir?

Also by default the docroot name must be `htdocs`, did you change that to `public`?

[2018-03-11 14:40] johnwbaxter commented on #206
I changed it to "public" in my .env originally so all projects use that folder name as the webroot.

See screenshot for the folder setup as that will explain better!
![screen shot 2018-03-11 at 14 39 22](https://user-images.githubusercontent.com/338729/37254749-27abf160-253a-11e8-9494-fa32b9a474e9.png)

[2018-03-11 14:42] cytopia commented on #206
Public needs to point to `webroot/deploy/public/` and not to `site2018/webroot/deploy/public/`

[2018-03-11 14:52] johnwbaxter commented on #206
I have changed it to that and still get the same error.

I ran `ls-ls` and get:
`lrwxrwxrwx 1 devilbox devilbox   22 Mar 11 14:47 public -> webroot/deploy/public/`

It's ok, i'll change my setup for now. Thanks!

[2018-03-11 14:54] cytopia commented on #206
OK, one other thing that I see just now. Looks like your symlink is inside a directory called `public`, remove that directory and create the symlink on the same level as the rest:

[code]

[2018-03-11 14:55] cytopia commented on #206
You should use symlinks for this kind of stuff, because changing `HTTPD_DOCROOT_DIR` will change it globally for ALL projects

[2018-03-11 14:56] johnwbaxter commented on #206
Yep, just caught that one myself!
All good now :D

Yep happy to use symlinks, but all my projects do follow the same directory structure, so it wouldn't have been an issue.

Thanks!!!!

[2018-03-11 15:02] cytopia commented on #206
Fix is coming

* https://github.com/devilbox/docker-nginx-stable/pull/7
* https://github.com/devilbox/docker-nginx-mainline/pull/8
* https://github.com/devilbox/docker-apache-2.2/pull/7
* https://github.com/devilbox/docker-apache-2.4/pull/7

[2018-03-11 15:03] #206 closed

[2018-03-11 15:05] uGiFarukh commented on #208
Actually the docker container still keep on running. Only nothing shows up on the port 80. I tried testing port 3306 to see if it's a mysql problem but the port 3306 is healthy and working. I did a bit of tweaking on the php and apache configurations. But I think that's not enough for a production server. Can you upload some good tweaks to the php.ini, apache.conf and my.cnf files suitable for pro

[2018-03-11 15:07] uGiFarukh commented on #208
And maybe I can try putting some base config for the production build which can be easily scaled and load balanced throughout coreos clusters or the production environment.

[2018-03-11 15:11] cytopia commented on #208
Feel free to push it to some branch, would be good to have it. I am also planing a `docker-compose-prod.yml` for this kind of stuff. The new PHP images already have a production image each as well as a development image.

So in your case, first step would be to verify if the latency comes from php files or only from the webserver. In times it is not responding, try to fetch a static document from

[2018-03-11 15:11] johnwbaxter commented on #206
Cool, thanks again!

[2018-03-11 15:13] cytopia commented on #190
Then I was to quick closing this issue. So I will try to reproduce your error on my machine.

Can you tell me what framework you have used and how it is configured (just the base, not the custom part), so i can get it working locally

[2018-03-11 15:57] uGiFarukh commented on #208
Alright I will do a push after some research on the production LAMP.

Got it. will try to fetch some static file when it will become unresponsive. And will share my feedback here.

I was planning to give nginx a try but due to my limited knowledge in nginx scripting I decided to put it aside for a while. But if I got some good research outcome on the production build I will also look into nginx in

[2018-03-12 09:21] mwmichael commented on #190
It's Symfony.

The error arises from

[code]
I'm not sure how to say how it is configured but I will edit this answer when I can find out better information on the error.

[2018-03-12 10:53] uGiFarukh commented on #208
Hey @cytopia do you have any gitter or discord channel where we can chat? I really wanna push the production version today because my website is acting weird in the current build. Needed to discuss some stuffs before I do. And, also I was thinking of putting a simple FTP container with LAMP stack.

[2018-03-12 22:02] cytopia commented on #208
gitter is listed right on the front of the readme: https://gitter.im/devilbox/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2018-03-12 22:08] cytopia commented on #190
It seems you are using a deprecated mongo library version: https://secure.php.net/manual/en/class.mongoclient.php

I try to see if this can be added anyway.

[2018-03-12 22:31] cytopia commented on #118
FYI: This in now in the following PR: https://github.com/cytopia/devilbox/pull/203

[2018-03-12 22:46] cytopia commented on #190
Will be available after merge: https://github.com/devilbox/docker-php-fpm/pull/5

[2018-03-13 06:23] mrpsiho commented on #174
It seems like this issue is related to my laptop or ISP I use. Or... I don't know... I have noticed when less tabs in the browser are opened - it works fine for me, no issues.
Anyway, I don't think it is related to devilbox.

[2018-03-13 06:29] cytopia commented on #174
@mrpsiho ok I will close this issue then. FYI: You should give the new PHP container a try (will be merged once I have enough feedback): https://github.com/cytopia/devilbox/pull/203

[2018-03-13 06:29] #174 closed

[2018-03-13 06:33] sonicviz opened #209 "XDEBUG on Windows not working"
- [ ] Which operating system are you at (Linux, OSX or Windows)
Windows 10 Pro 1709 16299.248
- [ ] `docker version`
Version 17.12.0-ce-win47 (15139)
- [ ] `docker-compose version`
1.18.0

I'm trying Devilbox as an alternative to other Docker Wordpress setups I've been using.
I'm managed to get it working up to the point of a WordPress install, all hooked up and working fine.
It's very fast, much

[2018-03-13 15:54] mwmichael commented on #190
I think this is working now as I have not seen the same `Class MongoClient not found.` error.

I have some unrelated issues in the Symfony app, like scripts not being run (presumably due to permissions errors) but I can try to work through those.

[2018-03-13 15:54] #190 closed

[2018-03-14 09:27] cytopia commented on #190
Feel free to create a new ticket on your permission problems. I actually tried hard to make sure that especially permissions should never be an issue. Let's get this sorted.

[2018-03-14 17:23] cytopia commented on #209
[code]

From an initial view, the paths don't match. Shouldn't the left be `"/shared/httpd/wordpress1/htdocs"`.

Also here is some other information I just found: https://stackoverflow.com/questions/37478387/how-to-setup-xdebug-and-phpstorm-with-docker-for-windows-beta

Are you using native Docker or Toolbox for windows?.

Either way I am happy to get this sorted with u as i am currently writing t

[2018-03-14 17:26] cytopia commented on #183
I will close this due to inactivity und myself being unable to reproduce with the provided information. If the new PR does not resolve your issue, feel free to re-open.

[2018-03-14 17:26] #183 closed

[2018-03-14 17:29] cytopia commented on #207
@Jarco does this resolve your issue?

[2018-03-14 17:30] cytopia commented on #180
@GLOBALcloud please provide the actual error and the expected outcome for wordpress multisite setup.

[2018-03-14 17:40] cytopia commented on #209
What you should do is:

1. Use the new php images from this PR: https://github.com/cytopia/devilbox/pull/203
    - This PR contains description for how to check it out
    - It will be merged soon, but is different from current master (which will be deprecated)

2. in the new PR, there is no `.env` setting for xdebug, you need to add this to php.ini yourself.
    - go to `cfg/php-fpm-5.6` (or any

[2018-03-14 22:22] sonicviz commented on #209
I've had a similar issue in the past with 10UP Docker and solved it as outlined here https://github.com/10up/wp-local-docker/pull/53 but it recently broke again. Pita to fix.
Which is why I'm trying Devilbox.

I'll try out the above and see if I can get it working. ty.

[2018-03-15 00:48] sonicviz commented on #209
I got XDebug working with the PR: #203 but with some modification to your instructions.
At least, I successfully got a breakpoint hit in a phpinfo.php test file in the root of htdocs.

Here's the configuration, assuming you are using PR: #203
xdevbug.ini in E:\Source Control\Docker\devilbox1\cfg\php-fpm-7.1\
xdebug.remote_enable = 1
xdebug.remote_connect_back=0
xdebug.remote_autostart = 1
xdebug.r

[2018-03-15 07:30] cytopia commented on #209
Great, I will add it to the documentation. New docs are going to be around here, but are still under development: http://devilbox.readthedocs.io/en/documentation/

[2018-03-15 12:07] uGiFarukh commented on #208
yeah I tried an static html file in the root directory of the domain. The server cannot read this file also, But while this happens if I put the html file in devilbox template directory and try to load it. It works. Really weird.

[2018-03-16 07:28] cytopia commented on #208
Hmm this is very strange, it shouldn't actually be able to serve anything from the devilbox template directory. Could you paste the actual paths for project dir, htdocs dir and template dir.

[2018-03-16 19:49] uGiFarukh commented on #208
Can we discuss this over gitter? And also I will be needing some of your help for the production stack. I haven't been able to get my head around your entrypoint scripts. Some alpine production images would be very good to have in the production stack.

[2018-03-17 09:11] cytopia commented on #208
Guess we're in different timezones and its hard to catch each other. I would suggest you provide all the required information and we work through it step by step and see that we can catch each other on gitter as well.

[2018-03-17 10:32] uGiFarukh commented on #208
project dir: /home/core/www/web/projectdomain

htdocs dir: /home/core/LAXMP/.devilbox/www/htdocs

Template dir: /home/core/LAXMP/.devilbox/www/htdocs/

[2018-03-18 16:43] cytopia commented on #142
Documentation available here: http://devilbox.readthedocs.io/en/documentation/tutorials/adding-subdomains.html

[2018-03-18 16:43] #142 closed

[2018-03-18 16:44] cytopia commented on #207
@Jarco  in-depth documentation available here: http://devilbox.readthedocs.io/en/documentation/tutorials/adding-subdomains.html

[2018-03-18 16:44] #207 closed

[2018-03-18 16:49] cytopia commented on #180
Wordpress multi-sites can be achieved by using multiple sub-domains. I have added documentation for how to have unlimited subdomains: http://devilbox.readthedocs.io/en/documentation/tutorials/adding-subdomains.html

If you encounter any other problems, feel free to re-open

[2018-03-18 16:49] #180 closed

[2018-03-18 16:50] cytopia commented on #147
Documented here: http://devilbox.readthedocs.io/en/documentation/tutorials/adding-subdomains.html

[2018-03-18 16:50] #147 closed

[2018-03-18 16:53] cytopia commented on #70
The above mentioned PR #130 has been merged and should fix this issue.

I have added some information regarding Docker Toolbox: http://devilbox.readthedocs.io/en/documentation/installation/docker-toolbox.html

[2018-03-18 16:53] #70 closed

[2018-03-18 16:54] cytopia commented on #71
@joberror @broodje @mizunoer @dany-eudes

Can you try the upcoming pull request and see if it works for your: https://github.com/cytopia/devilbox/pull/203

[2018-03-29 16:39] uGiFarukh commented on #208
I will proceed with this debugging on a leisure time. Currently working on the production stack. @cytopia Can you please check my recent gitter message because I am having a problem php error with the stack using your php prod and httpd latest.

[2018-03-30 11:11] mrpsiho opened #210 "Redis config"
Hi,

Is it possible to have my own config for redis? Edit the default maybe?

I believe that this approach will help me with my issue https://laracasts.com/discuss/channels/laravel/redis-cache-for-multiple-sites-on-same-server But I am not sure where to put it.

Please, suggest. Thanks!

[2018-04-02 13:06] danemorgan opened #211 "Cannot log in to phpMyAdmin"
I don't think I have a bug. Probably just something I'm not aware that I'm not aware of.

I sorted out how to find a hostname for the MySQL ( 5.5.5.59 ) container and get my WordPress install up and running. I created my user as 'user'@'%'. But I cannot log into PHPMyAdmin with this. I cannot log in to it as the root user either.

Please also specify the following info:

- [Window 10] Which operat

[2018-04-02 13:52] danemorgan commented on #211
I discovered that I can connect with adminer using the hostname for the MySQL container.

That is good enough for me.

[2018-04-02 13:52] #211 closed

[2018-04-03 09:13] BenWaNH opened #212 "[Warning] World-writable config file '/etc/mysql/docker-default.d/my.cnf' is ignored"
Hi,

i can't run mysql container because i've this error log :

[code]

So, I try to override my mysql config, with my cnf file in cfg/mysql-5.7/my.cnf with this content :
[code]

But..... after restart all, i've this message in my log container :
`[Warning] World-writable config file '/etc/mysql/docker-default.d/my.cnf' is ignored`
I don't understand why... And my error above isn't corrected... O

[2018-04-04 05:55] LostNCG opened #213 "Update Adminer"
Adminer version now is 4.3.1, I would like to update it to latest version, but seem like it cant set up through cfg path, currently I revise the setting in folder ./devilbox. I know this is not a good practice, am I missed up some correct solution to change the file adminer.XXX.php?

[2018-04-04 13:10] johnwbaxter commented on #173
Hi! Do you have ETA on this one at all?

[2018-04-05 03:51] Halfnium commented on #195
Dear Cytopia,

Perhaps dozzy100 is looking for some additional flexibility in using symlinks.  As the examples in the documentation show, many frameworks  / CMS tools require that nested folders contain the files to be served.  Devilbox allows this, of course.

However, suppose that you prefer to keep a project's files somewhere _outside_ of /home/devilbox/data/www, perhaps in /home/webprojects.

[2018-04-05 06:16] cytopia commented on #173
There is actually and I wanted to have it implemented by know, however I am still working on the documentation which took a little longer than expected.
This is scheduled when the documentation is finished: https://github.com/cytopia/devilbox/pull/186

[2018-04-05 06:24] cytopia commented on #210
@mrpsiho

**Redis server config**

As I am using the official Redis  Docker image, you need to rely on them what's possible.
By reading their documentation it looks like you can mount a custom config: https://hub.docker.com/_/redis/

If you provide a working `redis.conf` I will integrate it and make it configurable

**Redis config on PHP side**

The link you have provided is just using different R

[2018-04-05 06:29] cytopia commented on #213
I will add a new version soon. Are there any urgent features of the new version you rely on?

For now, you could just place the new version in: `.devilbox/www/htdocs/vendor/adminer-X.Y.Z-en.php` and adjust `.devilbox/www/include/lib/Html.php`

[code]

[2018-04-05 06:31] cytopia commented on #212
@BenWaNH can you do paste the output of:

[code]

I need to see your file permissions.

[2018-04-05 06:47] cytopia commented on #195
@Halfnium thanks for the detailed feedback. Please see my answer below:

These two problems can be resolved by just changing the `HTTPD_DOCROOT_DIR` value via `.env` file.
Simple set it to `HTTPD_DOCROOT_DIR=/home/webprojects` and you have all your data outside the devilbox git directory without having to use symlinks.
Maybe that feature is somewhere hidden within the bloat of the documentation ;-

[2018-04-05 08:39] 1298799999 opened #214 "xdebug log timestamp error:"
![image](https://user-images.githubusercontent.com/31656350/38355500-a8fc14c0-38ef-11e8-9c89-54297d5318d7.png)

[2018-04-05 12:08] BenWaNH commented on #212
Thanks
[code]

[2018-04-05 13:41] LostNCG commented on #213
@cytopia not urgent case, I'm doing it like that right now, but it is not a good practice btw

[2018-04-05 13:41] #213 closed

[2018-04-05 15:13] johnwbaxter commented on #173
So awesome. Thanks!! :)

[2018-04-05 16:14] cytopia commented on #212
Could you `chmod` the `my.cnf` file to `0444` to see if it makes a difference.

[code]

[2018-04-05 16:42] Halfnium commented on #195
The second bit is actually a compliment, not a problem.  Good work, and thank you!

[2018-04-05 18:56] cytopia commented on #195
Now I got it. So does the `HTTPD_DOCROOT_DIR` variable solve your problem?

[2018-04-06 13:46] BenWaNH commented on #212
Ok! Respect!!
It works, I don't understand why.... But that fix it.... -_-
Why 0444 ??

[2018-04-07 07:38] cytopia commented on #212
It was complaining about `[Warning] World-writable config file '/etc/mysql/docker-default.d/my.cnf' is ignored`, so my first guess was to remove any write-able part from the file :-)

[2018-04-07 07:49] cytopia commented on #212
It will be part of the new documentation. Thanks for reporting.

[2018-04-07 07:49] #212 closed

[2018-04-07 08:03] cytopia commented on #214
That's really odd. Could you paste all related xdebug settings you have made. Also compare your local host operating system time and the one from the PHP container.

[2018-04-07 09:17] white-rabbit07 opened #215 "Running moodle in devilbox?"
Hi.
I think moodle 3.4.x would be great to run inside a devilbox!
Did anyone try this?

[2018-04-07 09:34] danemorgan opened #216 "[Questions] local devilbox management / setup"
1. Is there any reason I wouldn't want to put my devilbox in a dropbox folder to allow me to work on a sync'd copy between my desktop and my laptop?

2. If I need more than one configuration. EG. one with PHP 7.0 and Apache and another with PHP 7.1 and Nginx. what would be the best way to do this? Do I do something like this:
- sites
  - apahche
    - devilbox
      - www
  - nginx
     - devilbox

[2018-04-07 09:39] cytopia commented on #216
1. This is totally fine. You could also just sync your projects (if they are outside the Devilbox git directory). I am just now writing the documentation for that.

2. There is no need to separate your projects into that way. The configuration for all services are independent of project organization. Just have one main place on your file system where your projects reside. This will work for any co

[2018-04-07 09:53] danemorgan commented on #216
Can you point me to where I can read about how to configure so that one site gets Apache and another gets nginx?

[2018-04-07 09:55] danemorgan commented on #216
Or do I need to change the commenting in the .env file each time I want to work with a different combination?

[2018-04-07 10:01] cytopia commented on #216
Yes, versions need to be set in the `.env` file. Whenever you want to switch versions, you need to do that in the `.env` file and restart the Devilbox.

Have a look at the new documentation regarding change of versions: http://devilbox.readthedocs.io/en/documentation/tutorials/change-container-versions.html

Let me know if this explains it well enough or needs to be extended.

[2018-04-07 10:05] cytopia commented on #171
@gowrav-vishwakarma please paste your `.htaccess` I will make sure you get it to work.

[2018-04-07 10:09] danemorgan commented on #216
Okay. I understand that.

But the way I'm looking at it, the devilbox folder is only ~100MB - not so big.

So if I keep a separate copy of it for each combination I use, I only have to
1. stop the devilbox
2. cd to the other folder
3. start the devilbox
Then I don't have to do the editing each time, and I don't worry about typos ( I am the typo king ).

Does that make sense or is there a potential

[2018-04-07 10:11] cytopia commented on #216
This could work as well. Make sure to point all of your data (project datadir, mysql-, mongo- and pgsql datadir) to a common location on all devilbox instances.

You could alternatively also have multiple `.env` files that you always copy or symlink into the Devilbox directory

[2018-04-07 10:53] cytopia commented on #216
You could also write a small shell script, which does the copying. I will close it now. Hope everything is answered.

[2018-04-07 10:53] #216 closed

[2018-04-07 11:38] danemorgan opened #217 "Make MySQL hostname persist"
Each time I stop and then restart devilbox the MySQL hostname changes. Is there any way to have this set up so that I do not have to change my wp-config each time?

[2018-04-07 11:54] cytopia commented on #217
The mysql hostname should simply be `127.0.0.1`. This way it is reachable from within the PHP container as well as from the host (if you switch to a host-based LAMP stack). No need to change the config afterwards.

[2018-04-07 11:57] danemorgan commented on #217
Ah. Thank you. I tried localhost, but didn't think to try 127.0.0.1 after I saw the hostname in the database info page.

[2018-04-07 12:09] cytopia commented on #217
Thanks for pointing that out. I made it more clear in the documentation: http://devilbox.readthedocs.io/en/documentation/getting-started/best-practice.html#php-project-hostname-settings

[2018-04-07 12:09] #217 closed

[2018-04-07 14:10] cytopia commented on #139
@lbngoc are there any updates on this?

[2018-04-07 14:34] white-rabbit07 commented on #215
Yes, of course ... but the question is: When I change the database (let's say: ugrade mySQL 5.x --> 5.y) -- is all moodle-data lost or persistant?
My hope is to find an "always-up-to-date"-solution for moodle; no matter on which server it runs. docker might be good for that if the upgrade (docker + moodle itself) worked.

[2018-04-07 14:41] cytopia commented on #215
Data is persistent to each version of MySQL/MariaDB/PerconaDB.

If you want to test out a different version, just dump and import your data to the new version: http://devilbox.readthedocs.io/en/documentation/maintenance/backup-and-restore-mysql.html

Otherwise its not possible and not recommended, because data gets upgraded by MySQL and is not always be downgrade-able across versions. (e.g.: start

[2018-04-07 15:04] white-rabbit07 commented on #215
Ok, this case I have to use this howto:
https://docs.moodle.org/34/en/Moodle_migration
(still many steps to do manually ... I would still prefer a (semi-)**automatic** way to upgrade)

[2018-04-07 15:06] cytopia commented on #215
Yes, use this guide in combination with the one I sent you, to get your data into the Devilbox.

Complain at moodle ;p

[2018-04-09 06:42] cytopia commented on #208
@uGiFarukh while make the Devilbox also configurable PHP-FPM server settings, I hit the same problem that PHP was not responsive. It looks like it was due to the fact, that too little FPM childs started.

I have increased the default number of childs:

https://github.com/devilbox/docker-php-fpm/commit/8b49cd618474cddf2b40610285d04bf226a55366

As well documented how to change it during run-time:

h

[2018-04-10 13:45] masiorama opened #218 "update composer version"
Hello, thank you very much for your work.
Is it possible to update the composer version? At the moment the package includes version 1.5.1, while the latest versione is version 1.6.3.

I'm experiencing a few errors and this update should fix them.
Thanks in advance.

[2018-04-11 06:58] molteber commented on #146
Any thoughts on using composer with different php versions, @cytopia ?

Some projects which use older php versions use different packages etc which may not be usable with never php versions and are therefore giving errors when `composer install` etc.

[2018-04-11 07:05] cytopia commented on #146
@molteber so you would require multiple `composer` versions for each PHP container?

[2018-04-11 07:10] cytopia commented on #218
@masiorama
Yes, this problem is being solved in the next release. Each PHP image will always have the latest versions for all tools as they are being built every night.

If you can't wait for the next release to be merged, you can already use it from the open PR:
https://github.com/cytopia/devilbox/pull/203

[2018-04-11 07:32] molteber commented on #146
Just realized that there is a in composer for this kind of problem I was thinking about.
Might be a neat hint to add in the documentation regarding multiple php versions running at the same time and using composer.

By just `composer config platform.php <php_version_to_use>` the problem is solved (composer.json gets updated, but I can live with that)

https://getcomposer.org/doc/06-config.md#platf

[2018-04-11 10:02] BenWaNH opened #219 "A way to integrate php farm"
Hi!

Do you think it could be possible to find a way to integrate php farm?
Here i found this : https://github.com/splitbrain/docker-phpfarm (built from https://github.com/fpoirotte/phpfarm)
This is very interesting because i would like my docker lamp manage several php environnements for different projects without change version in .env file and restart all (this docker env is for final user (fro

[2018-04-13 06:33] Myster-Gh0s7 opened #220 "Devilbox on VPS : No Host DNS record found"
I'm a big fan of Devil box but this freaking error causing me a big headache.

I've Ubuntu VPS and I've installed docker-compose on it but I've implemented this at my local Windows machine and everything works fine on it using AutoDNS but I've no idea on how to implement on VPS or DNS. Can you guys help me to fix to create a virtual host with or without domain

Modified TLD in .env to ".com" inste

[2018-04-13 07:36] cytopia commented on #220
@Myster-Gh0s7 it should run anywhere, there are no limitations.

The new documentation for Auto-DNS is here: http://devilbox.readthedocs.io/en/documentation/configuration-global/auto-dns.html
Can you check if everything for Linux is done as described.

If you have an official `*.com` domain and its DNS record points to that server, you actually don't need Auto-DNS.

Can you tell me a bit more abou

[2018-04-13 08:14] Myster-Gh0s7 commented on #220
@cytopia Thanks so much for the new guide, I'll look into that.

My VPS is Ubuntu 16.04 which is hosted on Digital Ocean and yeah I think every requirement is fulfilled to my knowledge.

Yeah I do have original DNS record but previously SSL was installed on it so now it's redirecting to https so i don't know how to stop redirecting to it so, for now, I'm using just an Ip address for just to setup

[2018-04-13 09:45] cytopia commented on #220
This is probably the browser cache (try incognito), or you might even had an HSTS header, so it will always redirect.

The problem will also be addressed soon, as the Devilbox gets https support shortly.

I'd rather not do that with people's own server. We should find a solution together to get this working.

[2018-04-13 09:58] Myster-Gh0s7 commented on #220
Yeah that helped man, Thanks

That's awesome, Looking forward to it.

No, i completely understand that it just I already spent too much time (8 hours already) to fix this and instead of working on my project before coming here but I really appreciate that you're offering help at this time.  I'm up all to fix this once and for all.

[2018-04-14 08:31] ProjectKarol opened #221 "I wonder how to connect to mysql"
I love devilbox a lot  , I am looking for some solution with  I don't know how to resolve,
I have wordpress installation and would like use this script "wordmove" (https://github.com/welaika/wordmove) , to  deploy do server.
I don't know  how to set up connection to mysql .
Installed wordmove globally on my linux machine.
I use ubuntu 16.04, Docker version 18.03.0-ce, docker-compose version 1.20.0

[2018-04-14 08:34] cytopia commented on #221
To connect to mysql, just use `127.0.0.1` as its host address, user: `root` and the password you have specified in `.env` (which is empty by default)

[2018-04-14 09:58] cytopia commented on #211
Should this stay closed? Have you fixed the phpMyAdmin issue or are you just gonna stick to Adminer?

[2018-04-14 09:59] cytopia commented on #213
@LostNCG  FYI:
Updated to latest version in upcoming PR (will be merged this weekend): https://github.com/cytopia/devilbox/pull/203

[2018-04-14 10:04] cytopia commented on #175
@loxy I spent some time regarding your request using named volumes.

The problem I have encountered is, that changing versions of a specific service (e.g. `mysql`) will not actually change their named volumes.

I setup named volumes in `docker-compose.yml` which are different for each version of mysql, however when actually changing `.env` and specifying a different mysql version. The new volume i

[2018-04-15 08:55] cytopia commented on #218
New release is out and composer is updated:

[code]

[2018-04-15 08:55] #218 closed

[2018-04-15 08:55] cytopia commented on #157
Resolved

[2018-04-15 08:55] #157 closed

[2018-04-15 08:57] cytopia commented on #208
@uGiFarukh the new release is out and it should resolve the performance issues. Can u give it a try and report back here.

[2018-04-15 09:04] cytopia commented on #171
@gowrav-vishwakarma

I also checked the vhost configuration which looks like this for Apache 2.4:

[code]

So `rewrite` is enabled by default and already used. Also `AllowOverride` is set to allow everything.
`.htaccess` should work. So what error do you get?

[2018-04-15 09:06] #171 closed

[2018-04-15 13:16] mijgame opened #222 "Adding extra containers to the stack"
Is it possible to add additional containers to the devilbox setup? In my case I want to add a laravel-echo-server (websocket server) container to the base stack, since I need this for a project I'm working on. I know I can add it to the docker-compose.yml, but I don't know if this would cause any problems (since it says -- DO NOT EDIT THIS FILE -- right at the top).

Thanks in advance.

[2018-04-15 13:25] mijgame commented on #222
Ah, it was under 'Hacking' in the documentation! I didn't see it there, maybe you could make it a top-level documentation point? I would think a lot of people would like to add custom (personal) containers to devilbox.

[2018-04-15 13:36] cytopia commented on #222
Yes, that's a valid point. Thanks for the feedback.

[2018-04-16 04:00] alzen8work opened #223 "Docker version 18.03.0-ce-win59: unable to finish Pulling bind (cytopia/bind:0.11) as unauthorized: incorrect username or password"
I have done the check list as being inform,

I have check with another machine with older version of docker (Docker version 17.12.1-ce, build 7390fc6), This issue does not occur.

However, at my machine This issue occur:
<img width="607" alt="error" src="https://user-images.githubusercontent.com/20431509/38789447-ce690986-416c-11e8-8091-01b9f5071f78.png">

Perhaps, It would be great if there is an

[2018-04-16 06:25] cytopia commented on #223
@alzen8work are you by any chance logged into a different or private docker repository?

Can you check if any of those work separately:
[code]
[code]

[2018-04-16 07:12] alzen8work commented on #223
<img width="201" alt="screenshot_1" src="https://user-images.githubusercontent.com/20431509/38794643-7298e510-4188-11e8-892f-84e3c0acdbb0.png">

wow, that's seems to be the root cause, i've sign out from docker hub and it work marvelously...
wierd thing though it has no issue if i din sign out from docker version 17.12.1-ce...

[2018-04-16 07:12] #223 closed

[2018-04-16 07:33] cytopia commented on #223
Lucky shot, but good to hear

[2018-04-16 09:54] alzen8work opened #224 "php project showing Bad Request on apache-2.4, apache-2.2, however it works on nginx"
As I have few project running on bare-metal apache 2.4, I was wondering
how to setup a dockerize version, here is the issue I face:

apache-2.4, apache-2.2 my project showing Bad Request

I have configured C:\Windows\System32\drivers\etc\hosts
![image](https://user-images.githubusercontent.com/20431509/38802400-ec93f84e-419e-11e8-856e-a6e3dc9d67dc.png)

Set apache2.4 to be httpd server
![image](ht

[2018-04-16 11:15] cytopia commented on #224
That's strange.

Let's make sure we are both on the same page and please provide some more details for me to work with.

1. Please provide Docker and Docker-Compose version
2. Are you using Docker for Windows or Docker Toolbox?
3. When having selected Apache in `.env`, could you pull latest image via `docker-compose pull httpd`
4. Please provide `docker-compose logs` output when Apache is enabled

[2018-04-16 14:46] alzen8work commented on #224
1) Please provide Docker and Docker-Compose version
-Docker Version: 18.03.0-ce-win59 (16762)
-Docker Machine 0.14.0
-Docker compose 1.20.1
-Notary 0.6.0

2) Are you using Docker for Windows or Docker Toolbox?
-Windows 10 Pro
- Docker for Windows (hyper-v)

3) When having selected Apache in .env, could you pull latest image via docker-compose pull httpd
![box2](https://user-images.githubuserconten

[2018-04-16 14:54] cytopia commented on #224
Did you upgrade from a previous Devilbox version or start from scratch?

[2018-04-16 15:06] alzen8work commented on #224
well im git pulling from previous version

[2018-04-16 15:07] cytopia commented on #224
Can you please compare `env-example` with your current `.env` in case something is missing.

[2018-04-16 15:09] alzen8work commented on #224
PS:
I have also tested the same repo on server, the same issue persist:

server specs:
Operating System: CentOS Linux 7 (Core)
       CPE OS Name: cpe:/o:centos:centos:7
            Kernel: Linux 3.10.0-693.17.1.el7.x86_64
      Architecture: x86-64
Docker

docker -v
Docker version 17.12.1-ce, build 7390fc6

docker-compose -v
docker-compose version 1.20.0-rc1, build 86428af

On the other hand,
Ano

[2018-04-16 15:16] science695 opened #225 "Documentation update: Container DNS issues on Linux (With systemd-resolve)"
The documentation for Auto-DNS mentions that for linux you can manually add 127.0.0.1 to your /etc/resolv.conf

I had difficulties with that setup, but was able to find another way of making it work.
1)
Do not manually edit `/etc/resolv.conf` (the file says "DO NOT EDIT THIS FILE BY HAND -- YOUR CHANGES WILL BE OVERWRITTEN").

Add those lines to this file: `/etc/resolvconf/resolv.conf/head`
And th

[2018-04-16 15:20] cytopia commented on #224
Does it work now?

[2018-04-16 15:20] alzen8work commented on #224
Can you please compare env-example with your current .env in case something is missing.

Oops accidentally close the issue

[2018-04-16 15:21] alzen8work commented on #224
Oops, accidentally close the issue.
Nope. still the same

RE: an you please compare env-example with your current .env in case something is missing.
![diff4](https://user-images.githubusercontent.com/20431509/38818222-d6773908-41cc-11e8-842c-5dcc0433d3c0.png)
![diff3](https://user-images.githubusercontent.com/20431509/38818224-d6ad6cc6-41cc-11e8-88aa-2013d84152d1.png)
![diff2](https://user-images.

[2018-04-16 15:34] alzen8work commented on #224
@cytopia well in summary seems like:

windows 10 pro machine which has the updated docker+ updated devilbox(php5.6.35, apache 2.4.29)
is not working

Centos 7 which has the older docker + updated devilbox(php5.6.35, apache 2.4.29)
is not working

where as,
another windows 10 pro that has older docker + older devilbox(php5.6.31, apache 2.4.27) repo
is working fine

hmmm....

[2018-04-16 15:50] cytopia commented on #224
This is very strange as it even works inside Travis ci.
One more thing you could try to have a fresh start is

#### Remove old stuff
[code]
#### Remove current network
[code]

[2018-04-16 15:57] alzen8work commented on #224
sorry dont get it, One more thing you could try to have a fresh start is?

[2018-04-16 15:58] alzen8work commented on #224
![screenshot_4](https://user-images.githubusercontent.com/20431509/38821025-023dc354-41d2-11e8-8c5c-2d08a311143a.png)

[2018-04-16 16:01] cytopia commented on #224
Hmm strange that there is no `devilbox_app_net` network. Could you just issue `docker network ls` and show the output here.

[2018-04-16 16:03] alzen8work commented on #224
well @cytopia , i think it is because i "docker-compose down" before i execute ur command

[2018-04-16 16:05] alzen8work commented on #224
docker network ls
![screenshot_5](https://user-images.githubusercontent.com/20431509/38821396-f9b73fb6-41d2-11e8-9e6b-afcfbcf65a3f.png)

[2018-04-16 16:08] alzen8work commented on #224
well if docker images:

devilbox/nginx-stable   0.12                da8e151ed02a        6 months ago        148MB
devilbox/php-fpm        5.6-work            8001cc57e6ab        7 hours ago         1.43GB
devilbox/nginx-stable   0.13                91add6c5b204        4 weeks ago         169MB
devilbox/apache-2.4     0.13                eb973214ec30        4 weeks ago         241MB
cytopia/mariadb

[2018-04-16 16:41] cytopia commented on #225
Good job!!! I will update the documentation. Can you also let me know what Linux/Distribution you're using.

[2018-04-16 18:04] aozkan commented on #119
Hi, Was there a solution to this issue?  It is identical to the problems I'm having using Windows 7.

[2018-04-16 19:59] science695 commented on #225
This is from Ubuntu 17.10, but any distribution that uses systemd-resolved should have this same affect. (Ubuntu started in 16.10)

[2018-04-17 22:35] uGiFarukh commented on #208
Sure I will try and let you know soon.

[2018-04-19 07:49] bigxu opened #228 "/etc/bashrc-devilbox.d/*.sh have not been executed"
latest version of devilbox.
/etc/bashrc-devilbox.d/*.sh ( - ${DEVILBOX_PATH}/bash:/etc/bashrc-devilbox.d ) have not been executed.
/etc/bash-custom.d/*sh have been executed. but /etc/bash-custom.d have not been mounted.

[2018-04-19 10:29] pedrosanta commented on #90
That's a nice solution @lbngoc, but changing/editing the `docker-compose.yml` seems too radical IMO, if you need to update devilbox and such.

I think there's the possibility of using a `docker-compose.override.yml` with docker compose, that will override/add/augment config to the `docker-compose.yml`. Maybe we can add this `docker-compose.override.yml` to `.gitignore` and have that real data dir

[2018-04-19 11:29] pedrosanta commented on #90
Amazing, got a neat solution for this.

Just added my `docker-compose.override.yml` as such:

[code]

... and now I can safely symlink to anything inside my home folder (if one needs to symlink outside home folder just adjust this as YMMV). So doing this now works:

[code]

🎉 🚀

[2018-04-21 11:13] cytopia commented on #224
I am afraid not yet. I will come back to this issue shortly after having tried it on CentOS 7.

[2018-04-23 14:02] mad99 commented on #105
Any news about a well usable and reasonably fast system under osx?

Have tried to extend the Makefile  on my own (process to include docker-sync-stack). But it does not work well...
Maybe someone else is also to try to do this way. Would great to share or hear from news in this directions!

[2018-04-23 16:54] nikoslyk2093 opened #230 "How to get user_id and group_id in Windows 10 ?"
I am reading the documentation now to install Devilbox but in a section you mention that i need to set the UID kai GID but it provides the commands for linux only. How can i get these on Windows 10 ?

[2018-04-24 11:01] cytopia commented on #230
@nikoslyk2093 this is indeed very true. I googled a while and couldn't really find anything on that topic either. This might even be totally obsolete on Docker for Windows. Can you try to set this to `1000` (both uid and gid) and afterwards to `1001` (both), just to see how different values impact.

I will update the documentation afterwards.

[2018-04-24 11:02] cytopia commented on #105
This is still on the agenda, however the roadmap is currently really filled and me alone working on that takes some time. Probably somebody wants to jump in on this issue and submit a PR.

[2018-04-24 12:33] nikoslyk2093 commented on #230
@cytopia I already tried that and Devilbox can't even start. It shows errors about user permissions. I suppose this is the problem.

[2018-04-24 13:04] cytopia commented on #230
Can you please provide Docker and Docker Compose version as well as the full dump of docker-compose logs that show the errors. (Are you using Docker Toolbox or Docker for Windows?)

[2018-04-24 22:27] cytopia commented on #222
@pedrosanta @mijgame Documentation is on the way: https://github.com/cytopia/devilbox/pull/231

[2018-04-24 22:31] cytopia commented on #139
I will close this issue due to inactivity. Feel free to open this up again in case you still experience issues.

[2018-04-24 22:31] #139 closed

[2018-04-24 22:54] stefanlesik opened #233 "local subdomain instead of suffix"
I'd like to use local as the sub domain rather that .local as the domain suffix. Is this possible? So local.myproject.com not www.myproject.local. Thanks!

[2018-04-24 22:59] cytopia commented on #233
## TLD_SUFFIX

This is unfortunately not how DNS works. You can only have it as a prefix (when relying on DNS).

Alternatively you can use `com` as your TLD and name your project: `local.myproject`. That would result in the name you want. However, then you are stuck to `com` for all projects.

## Vhost overwrite

You could also alter the vhost configuration itself. This allows you to use any domai

[2018-04-24 23:02] #222 closed

[2018-04-24 23:03] #145 closed

[2018-04-24 23:04] cytopia commented on #210
I will close this issue as the question seems answered.

[2018-04-24 23:04] #210 closed

[2018-04-24 23:06] stefanlesik commented on #233
Thanks for the speedy reply. @cytopia. I'll start reconfiguring all my projects that are local. then! Cheers

[2018-04-24 23:07] cytopia commented on #233
Welcome, I will close this issue then. Feel free to reopen if you hit problems on that approach.

[2018-04-24 23:07] #233 closed

[2018-04-25 16:03] stefanlesik opened #234 "504 Gateway timeout errors"
Hi - I'm getting 504 timeout errors and general performance issues, especially when trying to access wp-admin across various sites within auto DNS. Any ideas? I'm on:

OSX High Sierra
Docker Version 18.03.0-ce-mac60 (23751)
Compose: 1.20.1

Here's my .env attached
[env.txt](https://github.com/cytopia/devilbox/files/1947848/env.txt)

[2018-04-26 16:04] cytopia commented on #225
@science695 I just checked. I am using a Debian system, but the files you have mentioned are not available on my system. In the first the directory does not even exist.

[code]

[code]

[2018-04-26 16:08] cytopia commented on #225
What about adding the following line at the very top to `/etc/dhcp/dhclient.conf`
[code]

and restart network manager afterwards via
[code]

[2018-04-27 14:14] Remo opened #235 "ssh command not available when using composer"
I'm using `shell.bat` to get into my docker console where I'd like to use `composer install` to install some dependencies of my projects. This works fine for most packages, but fails for some private packages. I've got a section like this in my `composer.json`:

[code]

This fails with this error:

[code]

This is not really a surprise, when I type `ssh` it also fails. I think we should have acces

[2018-04-27 14:36] Remo commented on #235
I've installed it myself, it's simple, but I still think it should be part of the distribution:
[code]

[2018-04-27 14:39] cytopia commented on #235
Makes more than sense. Didn't even know it was not available.

[2018-04-27 16:06] bigxu opened #236 "do you know about blackfire ?"
i looked https://github.com/AsgardCms/Platform/blob/3.0/docker-compose.yml had added blackfire.
would you add some software like blackfire ?

[2018-04-27 17:08] yannandco commented on #173
Ooooh yes please! Ssl would be an awesome feature to add!
Thx for the great work!

[2018-04-28 08:30] cytopia commented on #235
ssh binary is on the way: https://github.com/devilbox/docker-php-fpm/pull/16/files

[2018-04-28 08:33] Remo commented on #235
thanks a lot for that quick fix!

[2018-04-28 08:38] cytopia commented on #236
## Add custom services

It is now possible to add your custom services to the Devilbox without having to touch the main `docker-compose.yml`. Use that for now.

Read more about it here:
* http://devilbox.readthedocs.io/en/latest/configuration-files/docker-compose-override-yml.html
* http://devilbox.readthedocs.io/en/latest/tutorials/add-your-own-docker-image.html

## A working example for blackfir

[2018-04-28 10:25] cytopia commented on #235
When the build has succeeded: https://travis-ci.org/devilbox/docker-php-fpm, do a:

[code]

[2018-04-28 10:25] #235 closed

[2018-04-29 09:43] #215 closed

[2018-04-29 09:44] cytopia commented on #225
http://devilbox.readthedocs.io/en/latest/configuration-global/auto-dns.html#linux

Please re-open in case this does not work

[2018-04-30 12:00] cytopia commented on #173
@sebastienserre @aditya43 @johnwbaxter @yannandco @henscu @masiorama @alexagui @mrpsiho @mcliment

#### FYI: Work on HTTPS integration has been started already. See below for Roadmap and progress.

----

### Roadmap

1. [X] Implement SSL in vhost-gen: https://github.com/devilbox/vhost-gen/pull/24
2. [ ] Implement SSL in Nginx stable: currently WIP
3. [ ] Implement SSL in Nginx mainline:
4. [ ] Imp

[2018-04-30 13:03] science695 commented on #225
That would appear to be proper instructions if your particular flavor of linux is **not** using systemd-resolve.

I would recommend including both sets of instructions labeled as With vs Without Systemd-resolve.

[2018-04-30 13:05] cytopia commented on #225
OK, looks like I somehow misunderstood that and took it for `systemd` in general instead of `systemd-resolve`. I will re-open and add your instructions ass well. Thanks for clarifying.

[2018-04-30 13:14] science695 commented on #233
@stefanlesik: With the latest DNS features cytopia has added, you could do this now.

http://devilbox.readthedocs.io/en/latest/configuration-files/env-file.html#env-extra-hosts

`EXTRA_HOSTS='loc.myproject.com=172.16.238.11`
or
`EXTRA_HOSTS='loc.myproject.com=172.16.238.11,loc.mysecondproject.com=172.16.238.11`

[2018-04-30 18:26] cytopia commented on #173
I will create a CA, that is mounted to the Devilbox git directory and only created if it is not present (should not overwrite an existing CA). All subsequent vhost SSL certificates are signed by that CA. This allows you to import the mounted CA file into Chrome/FF/IE and regardless of Devilbox restarts or recreation of site certificates, you will always get a valid certificate for each project.

[2018-04-30 19:06] cytopia commented on #173
First working version for `nginx-stable` is ready to check out. Instructions in PR: https://github.com/cytopia/devilbox/pull/239

[2018-05-01 09:47] mrpsiho opened #240 "Working on NodeJS project - use nginx as reverse proxy / upstream Node app"
Hi! Hope you are doing well. I have a question about using **devilbox** while working on **NodeJS project**. In essence, I would like to ask how to access my Node app via custom domain like 'node-app.loc'?

I start my Node app inside a container via terminal and it is up and running on localhost:3000. But I am lost how to access it? Visiting http://node-app.loc gives me Error 403 Forbidden. I gues

[2018-05-01 10:09] cytopia commented on #173
I have created two scripts to easily generate CA's and certificates for SSL. If anyone here has some OpenSSL knowledge, please have a brief look and let me know if this is fine or needs some adjustments: https://github.com/devilbox/cert-gen

[2018-05-01 10:57] cytopia commented on #195
I will close this issue as it seems to be outdated. I will link it to a more complete issue here: https://github.com/cytopia/devilbox/issues/240

[2018-05-01 10:57] #195 closed

[2018-05-01 11:02] cytopia commented on #240
This needs to be automated ;-)
I still have https support on the agenda and will come to this issue afterwards.

For now, have a look at [vhost-gen](https://github.com/devilbox/vhost-gen/) to generate yourself a reverse proxy config.

[2018-05-02 22:19] cytopia commented on #173
## Done

Looks like it is finished now. Only part that is missing is the documentation. Check out the PR and let me know how it works for you:

https://github.com/cytopia/devilbox/pull/239

[2018-05-03 03:33] panigrc opened #241 "Minor Spelling Error"
When I'm logging into the console (./shell.sh) in the welcoming text, drupal console is written as "druapl-console"

[2018-05-03 07:16] cytopia commented on #241
Thanks. Will be resolved later that day once the image is pushed: https://github.com/devilbox/docker-php-fpm/pull/17

[2018-05-03 07:16] #241 closed

[2018-05-03 12:09] TheClonker opened #242 "Can't access Devilbox UI under localhost with Error 404"
Hi i can't access the Devilbox UI with a fresh copy from Devilbox.

It worked a week or so ago and when i tried it today i would just get an error 404.
I deleted the devilbox directory and all Docker Images but it still doesn't work :/

I am using php-7.2, nginx-stable & mariadb-10.2 but i also tried it with apache-2.4 didnt make a difference.

LOCAL_LISTEN_ADDR is empty and DEVILBOX_UI_DISABLE is

[2018-05-03 21:59] cnewfeldt commented on #234
Seeing the same thing with Docker Engine: 18.03.1-ce, Compose: 1.21.1. Recently updated docker and an apple security patch which required a restart. Now getting 504 gateway timeout errors on /wp-admin.

[2018-05-04 05:45] cnewfeldt commented on #234
hmm, well, went to dive in to the issue this evening and it's working now ¯\_(ツ)_/¯ it may have been the network I was on today. I will check again tomorrow.

[2018-05-04 08:21] fe3dback opened #244 "Connect external container to devilbox"
- [x] Which operating system are you at (Linux, OSX or Windows)
Linux
- [x] `docker version`
Docker version 17.06.2-ce, build cec0b72
- [x] `docker-compose version`
docker-compose version 1.14.0, build c7bdf9e

----

Hello, i read this docs:
https://devilbox.readthedocs.io/en/latest/tutorials/communicating-with-external-hosts.html

but is not resolve my problem.

I have external container (https:/

[2018-05-04 10:15] cytopia opened #245 "(Community Discussion) Discourse forum - requirements inside"
# Community Discussion: Discourse Forum

As more and more questions arise as normal issues I was looking into different forum software. The most modern approach would be to use **[discourse](https://www.discourse.org)** as it offers various auth methods.

**[Discourse](https://www.discourse.org)** only has paid plans, but allows for self hosting as well. I did however find an offer by them where t

[2018-05-04 10:38] cytopia commented on #244
So what hostname are you using to connect to the prometheus container?

Btw, alternatively, you cann add the prometheus definition to `docker-compose.override.yml` and make it part of your devilbox distribution: http://devilbox.readthedocs.io/en/latest/configuration-files/docker-compose-override-yml.html

[2018-05-04 12:50] science695 opened #246 "autodns / WILDCARD_DNS with mac's lack of bridge network"
I am trying to get my devilbox setup to work on a mac, and have run into a problem with autodns that I'm not sure what the best solution is.

Since Mac OS X doesn't do the bridged network right, the docs say to bind all the ports to 127.0.0.1: but then the autodns keeps resolving all the vhosts to 172.16.238.11 which the mac cannot access.

I tried setting the WILDCARD_DNS=TLD=127.0.0.1 but then t

[2018-05-04 12:58] cytopia commented on #246
What happens if you bind to all interfaces nonetheless?

Yes, its actually internal and hidden from the user as its value will be: ``<TLD_SUFFIX>=<DNS_SERVER_IP>

Another thing I haven't rolled out yet (as it requires more successful reportings) is this change: https://github.com/cytopia/devilbox/pull/138/files

This was reported by some macOS users to work, however it was not yet validated on Win

[2018-05-04 13:01] science695 commented on #246
Ah yes, that Pull request.

I must've undone those changes when pulling in the latest update. Thank you!

I would recommend listing those two changes in docs for other mac users, even if you don't pull it into the mainstream branch.

Thanks!

[2018-05-04 13:01] #246 closed

[2018-05-04 13:06] cytopia commented on #246
What about binding to all interfaces instead?

[2018-05-04 13:08] science695 commented on #246
I will check that on Monday. But I thought that the apple host couldn't reach the docker network unless ports were forwarded?

[2018-05-04 13:09] cytopia commented on #246
I always assumed this will depend on if you use Docker Toolbox (VirtualBox) or Docker for Mac (native)

[2018-05-04 13:14] science695 commented on #246
Okay, we are running on native presently. I'll due some sleuthing on Monday.

[2018-05-05 11:26] cytopia commented on #242
@TheClonker `docker-compose logs` seems good so far. Can you attach the php and httpd logs (for your version) from the `./logs/` directory.

[2018-05-05 11:27] cytopia commented on #236
I will close this issue. If the above stated example does not work, feel free to re-open.

[2018-05-05 11:27] #236 closed

[2018-05-05 11:29] cytopia commented on #234
@stefanlesik please attach output from `docker-compose logs` as well as the log files from `./log/` for your httpd and php version.

[2018-05-05 11:32] cytopia commented on #221
You will have to connect to `127.0.0.1` when Devilbox MySQL is running.

For the Ruby version, please open up an issue here: https://github.com/devilbox/docker-php-fpm

[2018-05-05 11:39] cytopia commented on #220
@Myster-Gh0s7 try out the `https` branch https://github.com/cytopia/devilbox/pull/239 and let me know if that works. It now has full HTTPS support. (Instructions in PR)

[2018-05-05 11:40] cytopia commented on #214
@1298799999 any update on that?

[2018-05-05 11:40] cytopia commented on #208
@uGiFarukh any update on that?

[2018-05-05 13:10] TheClonker commented on #242
@cytopia Hey, thanks for replying, are you talking about the `devilbox/log/` Folder or the `/var/log/` Folder in the php and httpd Containers ?

The `devilbox/log/` Folder is empty since i have DOCKER_LOGS=1 so these are all the logs i get.

I did some digging in the httpd container and in the `/etc/httpd/conf.d/localhost.conf` nginx config file the root dir is `/var/www/default/htdocs/` but that

[2018-05-05 13:40] cytopia commented on #242
That's more or less the same, anyway as you are using DOCKER_LOGS, it doesn't matter.

It should actually mount what you will find in the Devilbox git directory under `./devilbox/www/` into `/var/www/default/` (both in httpd and php container).

Does the `/var/www/default/htdocs` exist in the PHP container (as I understood it does not exist in your httpd container)?

[2018-05-05 13:40] cytopia commented on #242
Also, just to be sure do a
[code]

[2018-05-05 14:55] cytopia commented on #230
@nikoslyk2093 I have just checked it on Windows 10 with `Docker Toolbox`. There is a dedicated Docker terminal where commands like `id -u` or `id -g` work normally. Is this the same for Docker for Windows? Is there also a dedicated Docker Terminal?

[2018-05-05 15:36] cytopia opened #248 "Standardize and fix Auto-DNS for Linux, Windows 7/8/10 and MacOS (Native and Docker Toolbox)"
# Auto-DNS standardization and fixes

This ticket will address various Auto-DNS related issues for all operating systems and all Docker versions.

---

## Idea

I will introduce a second DNS container which will always be able to point to whatever IP the Devilbox is running. A second container is necessary to be independent of the internal DNS name resolution.

---

## Goal

* Automatically have a

[2018-05-05 15:39] cytopia commented on #101
## https://github.com/cytopia/devilbox/issues/248

I am already working on this problem. Please find all relevant information in the newly created issue: https://github.com/cytopia/devilbox/issues/248

To reach a broader audience I will close this ticket and link it to the new one (which will be done with multiple related issues as well).

[2018-05-05 15:39] #101 closed

[2018-05-05 15:39] cytopia commented on #71
## https://github.com/cytopia/devilbox/issues/248

I am already working on this problem. Please find all relevant information in the newly created issue: https://github.com/cytopia/devilbox/issues/248

To reach a broader audience I will close this ticket and link it to the new one (which will be done with multiple related issues as well).

[2018-05-05 15:39] #71 closed

[2018-05-05 15:40] cytopia commented on #24
## https://github.com/cytopia/devilbox/issues/248

I am already working on this problem. Please find all relevant information in the newly created issue: https://github.com/cytopia/devilbox/issues/248

To reach a broader audience I will close this ticket and link it to the new one (which will be done with multiple related issues as well).

[2018-05-05 15:40] #24 closed

[2018-05-05 15:41] cytopia commented on #176
## https://github.com/cytopia/devilbox/issues/248

I am already working on this problem. Please find all relevant information in the newly created issue: https://github.com/cytopia/devilbox/issues/248

To reach a broader audience I will close this ticket and link it to the new one (which will be done with multiple related issues as well).

[2018-05-05 15:41] #176 closed

[2018-05-05 15:43] cytopia commented on #220
Btw can you check if the DNS server is actually resolving? Try to ping any of your project domains from the Linux server

[2018-05-05 22:01] cytopia commented on #242
Sorry, got auto-closed by a PR

[2018-05-05 22:14] TheClonker commented on #242
@cytopia No there is no /var/www/default/htdocs in the PHP container and the containers are all up to date

[2018-05-06 08:48] cytopia commented on #242
It will make sense if I add all the required steps for windows to the documentation, so from what I gathered it was:

* docker network must be a `home network`
* grant rights to the drive? (do you happen to have any screenshot of that)

[2018-05-06 08:56] cytopia commented on #129
@laminr merged on Feb 25th. Forgot to close this issue here.

[2018-05-06 08:56] #129 closed

[2018-05-06 09:27] cytopia commented on #173
Released

[2018-05-06 09:27] #173 closed

[2018-05-06 15:43] TheClonker commented on #242
Hey exactly, the Docker Network Adapter had to be a "home network" for my firewall to not block the attempts to access my drive. Could be diffrent for other Firewalls though!

What helped me was this https://docs.docker.com/docker-for-windows/#shared-drives
There are some screenshots and tipps on the page how to get it working.
Maybe just link this page in the Documentation or the FAQ ?

[2018-05-06 18:15] jmcbee opened #250 "Xdebug can't connect on Docker for Mac"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [ ] Attach logs for php, mysql and webserver (found in `log/` directory)
- [ ] St

[2018-05-06 18:16] jmcbee commented on #250
This is the contents of the container's /etc/hosts when I `./shell.sh`:

[code]

[2018-05-06 20:15] cytopia commented on #250
What happens when you ping `host.docker.internal` from inside the PHP container?

[2018-05-07 10:01] panigrc commented on #245
Well we need 1000 stars more.
Is it easy to set it up on own server ?
If yes then we could get a 2.5 euro / month VPS at Hetzner.

[2018-05-07 10:05] panigrc opened #254 "PHP 5.3 Container"
Hi,
is it possible to include a php 5.3 container ?
This would be great for refactoring and testing old applications.

Greetings

[2018-05-07 10:48] cytopia commented on #245
The 2.5/month won't be a problem, its rather self-hosted vs SaaS. I personally don't want to bother additionally with regular security updates, backups etc as it is a time killer and I'd rather spent time on improving the Devilbox itself.

Discourse must also not be the only choice, I personally am fine with what everybody likes most. Also needs to be clarified if this is actually in need at the c

[2018-05-07 11:00] 9034725985 opened #255 "SE Linux"
Update: Please leave this ticket open if it is ok. Still working on it. Can't get sites inside data to show up  in v hosts php

I need to do more work on this.

If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

I think we need to specify rw for SE Linux somewhere?

- [x] Pull latest dockers (e.g.

[2018-05-07 12:13] cytopia commented on #255
Looks like a lot of permission problems.

What does that mean?

How does it behave when u disable SE?

[2018-05-07 12:14] cytopia commented on #250
Can you find out the IP of your Docker bridge interface

[2018-05-07 12:52] cytopia commented on #250
When using `172.16.238.1`, can you reach services that are running on your host operating system (from inside the PHP container)?

[2018-05-07 12:56] cytopia commented on #254
Think that should easily be accomplished

[2018-05-07 14:16] jmcbee commented on #250
I can't. I tried running

[code]

on the host and then running

[code]

[2018-05-07 14:37] science695 commented on #225
If I shutdown system-resolved and made those updates, it seems to be working properly.

however, I had to manually shutdown system-resolved. just

 didn't do it. Its possible that a restart would make it work properly

[2018-05-08 07:07] #225 closed

[2018-05-08 07:10] cytopia commented on #221
I added an issue there for you: https://github.com/devilbox/docker-php-fpm/issues/19

[2018-05-08 07:10] #221 closed

[2018-05-08 11:41] 9034725985 commented on #255
Works as far as I can tell without SE Linux

![screenshot from 2018-05-08 07-39-27](https://user-images.githubusercontent.com/1676445/39755236-10f94e46-5293-11e8-8718-b44e98d185fb.png)

[code]

[2018-05-09 13:28] science695 commented on #246
Okay, my previous statement was while running on docker for mac (native), and is binding on all interfaces. Without that pull request which switches DNS (tested with 127.0.0.1), the lack of a bridge network prevents network connectivity.

(Note, I implemented that pull request in the docker-compose.override.yml file with great success)

[2018-05-09 13:42] science695 opened #258 "Connect additional container to devilbox"
- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`

- Linux and OSX (developing for both)
- `docker version 17.12.1-ce`
- `docker-compose version 1.17.1`

I have another container (running api-umbrella / nginx) as part of my environment that I'm wanting to simulate.

I have configured this container in the docker-compose-override.yml but I am h

[2018-05-09 13:51] science695 commented on #258
Would making a new project folder named umbrella work? or is there a better option?

%{DEVILBOX_PATH}/umbrella/%{HTTPD_TEMPLATE_DIR}/apache24.yml include the proxy settings in that template.

Is there any way I could put in custom code for http vs custom code for https?

[2018-05-09 13:53] science695 commented on #258
About the custom code, could I just send in an environment variable so that vhost_gen.py only built the https version?

[2018-05-09 14:26] science695 commented on #258
I tried to set a custom declaration, but was unable to get vhost_gen.py to include it.

I tried these permutations:
[code]

[code]

[2018-05-09 17:29] science695 opened #259 "Add ssl CA to dockers"
I am getting self-signed troubles with curl calls inside devilbox (in the httpd container).

When you generate the ca cert, can you run an equivalent to this in the php container?

(This example is for a dockerfile, but that wouldn't work with devilbox. Could the docker entrypoint do something equivalent?)
[code]

[2018-05-10 08:27] cytopia commented on #259
Good catch.

Hard-coding is not a good idea, as the CA will be regenerated if it does not exist, this also allows the user to add his/her own CA.

I will rather add it to the startup script and load it, if it is not already loaded.

[2018-05-10 08:30] cytopia commented on #255
OK, then it is a permission issue with SE Linux. Unfortunately I have never used it myself and have no idea how that works. For now I can only make a note in the documentation. If you want to dig into SE Linux and find something, please let me know.

[2018-05-10 11:34] science695 commented on #259
Yes, I agree that hard coding is not an option. That was just the best example I could find.

Thanks for adding this, otherwise all my curl calls have to have CURLOPT_SSL_VERIFYPEER set to false. Which I would prefer to not have in production.

[2018-05-10 11:41] science695 commented on #255
This article talks about how to audit selinux security for an application:
http://robinbowes.com/article.php/20060206181015320

[2018-05-10 11:46] science695 commented on #258
**Solution:** Any extra container that you wish to include in devilbox should be defined in the docker-compose-overrides.yml file and have a project folder for it with something like this added to the template after the __CUSTOM__ block:
[code]
I would recommend having a public and private DNS name for the container:
`EXTRA_HOSTS=other.loc=172.16.238.11,1other.loc=%{CONTAINER_IP}`

And then having

[2018-05-10 11:46] #258 closed

[2018-05-10 12:32] science695 opened #260 "Documentation Improvement: HTTPS Devilbox Root CA"
The documentation shows how to add the root ca to each browser on your computer.
An alternate way to do that is to add the root CA to your OS' registry / keychain, etc...

I found a page showing how to add the ca cert on all 3 major OS':

https://manuals.gfi.com/en/kerio/connect/content/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html

[2018-05-10 21:48] EarlRamirez commented on #255
what is the output of ausearch -m avc -ts recent?

[2018-05-11 01:13] mozgbrasil opened #261 "About using symbolic link"
Good afternoon

About using symbolic link

According to images

We see that the symbolic link display is not working

Note that on the host I created a physical file and a symbolic link in the "src" folder of Container, but only the physical file is displayed

Can you help me ?

-

![captura de tela de 2018-05-10 22-11-53](https://user-images.githubusercontent.com/17202780/39901504-4f92df7e-549f-1

[2018-05-11 02:47] mozgbrasil commented on #261
https://github.com/cytopia/devilbox/issues/90

[2018-05-11 02:47] #261 closed

[2018-05-11 08:57] bigxu opened #262 "is it possible use devilbox in production environment ?"
if i use devilbox in a  production environment and i have multiple sites, many sites.
then:
     1, how to create CA for each site. should i add  https://github.com/Neilpang/acme.sh ?
     2, how to remove xdebug module ?
else if, You don't  recommend use devilbox in production env.
      do you have a good option ?

thank you ~

[2018-05-11 19:18] rhatdan commented on #255
If the compose is volume mounting content into the container, then make sure you are either lableing the content correctly by adding a :Z or :z to the volume mount.    If you need to share content on the host which will be used both outsize and inside the container, you can disable SELinux container separation with the --security-opt label:disable option.

[2018-05-11 22:48] mozgbrasil opened #263 "About: Adding Custom PHP module"
Good afternoon

About: Adding Custom PHP module

I followed the instructions of

https://github.com/vermauv/devilbox/blob/master/docs/Configure.md#134-custom-php-module-example

According to images

We see that the instructions

But the ioncube extension is not loaded

![captura de tela de 2018-05-11 19-41-03](https://user-images.githubusercontent.com/17202780/39949844-ea197c9c-5553-11e8-894e-d4eb

[2018-05-11 22:55] mozgbrasil commented on #263
Good afternoon

By analyzing the file docker-composer.yml, I see that the * .ini files, should be stored in "cfg/php-ini-7.2"

See my attempt

According to images

The attempt to load the extension is now detected but the error is triggered

"Fatal error:[ionCube Loader] The Loader must appear as the first entry in the php.ini file in Unknown on line 0"

![captura de tela de 2018-05-11 19-50-07](h

[2018-05-11 23:00] mozgbrasil commented on #263
Good afternoon

Follow step by step to reproduce the occurrence

    wget http://downloads3.ioncube.com/loader_downloads/ioncube_loaders_lin_x86-64.tar.gz

    mkdir -p ioncube

    tar -xf ioncube_loaders_lin_x86-64.tar.gz -C ioncube --strip-components=1

    ls ioncube

    mv ioncube/ioncube_loader_lin_7.0.so mod/php-fpm-7.0/ioncube_loader_lin_7.0.so

    mv ioncube/ioncube_loader_lin_7.2.so mo

[2018-05-12 01:33] EarlRamirez commented on #255
I would mount the volumes for the containers as described at @rhatdan for php-fpm I would enable **httpd_network_connect 1** using **setsebool -P httpd_network_connect 1**

[2018-05-12 10:08] cytopia commented on #263
Hi @mozgbrasil thanks for the very detailed issue report.
FYI: Current documentation is here: https://devilbox.readthedocs.io/en/latest/

I was thinking of adding this module by default, so it is useable. Do you require any specific version or is `latest` fine?

[2018-05-12 11:50] panigrc commented on #254
Oh I see you already started ! https://github.com/devilbox/docker-php-fpm-5.3

[2018-05-12 11:52] cytopia commented on #254
Yes, this is a backport of the base image. Currently trying to add it to the standard images as well.

[2018-05-12 11:56] cytopia commented on #254
https://github.com/devilbox/docker-php-fpm/pulls, However looks like I need to write the intranet a bit, as most new syntax is not known by PHP 5.3

[2018-05-12 14:53] 9034725985 commented on #255
Thank you, I used `setsebool -P httpd_can_network_connect 1` and blindly applied :z everywhere I could and devilbox loads fine now.

Is it ok to add :z or :ro,z everywhere? Adding z shouldn't break anything, right?

Here's my full paste

https://paste.fedoraproject.org/paste/cLK8uW3uwaxzBz5oz7gDRQ/raw

Thank you!

[2018-05-12 18:32] cytopia commented on #254
https://github.com/cytopia/devilbox/pull/264

[2018-05-12 18:40] #254 closed

[2018-05-13 00:26] may17 opened #265 "seems like http to https redirect is not working"
- operating system OSX
- docker version 18.03.0-ce
- docker-compose version version 1.20.1, build 5d8c71b

First of all thanks a lot for the new https feature.

I\`ve got one troubleshoot atm. It seems like the redirect from http to https is not working. I could open http://myproject.loc and https://myproject.loc and both are working. Shouldn`t been http://myproject.loc redirected to https://mypro

[2018-05-13 03:15] jmcbee commented on #250
This seems to happen on the PHP container only. When I tried pinging inside the `httpd` and `mysql` containers, I'm able to ping the `host.docker.internal`. I'm using PHP 7.2.

[2018-05-13 09:38] cytopia commented on #265
The default is to have both, http and https.

A redirect can however be accomplished by setting:

[code]
to
[code]
in docker-compose.yml

It is not yet a configurable variable in `.env` as it was not yet properly tested. Feel free to report back here how that works.

[2018-05-13 09:53] cytopia commented on #250
@jmcbee can you set the `BIND_DNS_RESOLVER` in `.env` to `127.0.0.11` and see if that works

[2018-05-13 09:57] cytopia commented on #250
To what IP does it resolve?

[2018-05-13 11:48] may17 commented on #265
Thank you for your fast response. I\`ve changed the MAIN_VHOST_SSL_TYPE to redir but it has no effect. The "problem" still exists.

If i changed it to redirect (Just to test if changes are reconized) the log shows me an error after running docker-compose up as expected.

`[ERR]  Invalid value for $MAIN_VHOST_SSL_TYPE: 'redirect'. Allowed: plain, ssl, both or redir`

[2018-05-13 12:09] cytopia commented on #265
It should be `redir`, not `redirect`

[2018-05-13 12:39] cytopia commented on #265
There are actually two places:
[code]

[2018-05-13 14:20] dhavalgshah opened #266 "Existing vhosts are issued certificates as localhost with new https feature"
### Issue Description
Existing vhosts get certificates issued on localhost instead of their hostname. This is not the case for any new project. They get CN as their hostname.

![Screenshot from chrome](https://i.imgur.com/T2nwaeu.png)

#### Git status: With latest pull on master branch on this date.
[code]

### Checklist status
- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`)

[2018-05-13 14:27] cytopia commented on #266
That's really strange shoulnd't even be possible. Vhost certificates are generated at every startup as well as when directories change (which is the same process as the startup does, then everything has changed).

Can you check the docker logs output. Mine looks like this for an existing project:

[code]

[2018-05-13 14:29] cytopia commented on #266
The only way you will have a `localhost` certificate is when there is NO VHOST available, as everything which is not available goes back to the intranet.

[2018-05-13 15:27] dhavalgshah commented on #266
For some reasons unknown to me script is failing to add certificates for some of the projects, while any new projects or where I have followed my workaround.

[code]

[2018-05-13 15:32] dhavalgshah commented on #266
Here are how my directory permissions looks like. They are set to generous 775 but still. They are mapped exactly same as on host machine and I have no permissions disparity whether I am working in or outside of container.

[code]

[2018-05-13 15:36] cytopia commented on #266
I would guess you still have old `vhost-gen` templates in your project directories of those which fail. Take the ones from the `templates/vhost-gen` and replace them.

[2018-05-13 16:34] dhavalgshah commented on #266
You were right. I had custom nginx.yml in .devilbox folders of each of those projects. And because I was moving `project-name/htdocs` to `renamed-project/htdocs`, any other folders in project's root were not moved. Thus that worked.

[2018-05-13 16:34] #266 closed

[2018-05-13 18:39] may17 commented on #265
I`ve added redir to MAIN_VHOST_SSL_TYPE and MASS_VHOST_SSL_TYPE but it is still not redirecting.

[2018-05-14 12:41] mozgbrasil commented on #263
Good Morning

It is recommended to use the latest version

[2018-05-16 03:59] 1298799999 opened #270 "I use devilbox in internet. can i disable xdebug module?"
I like devilbox. it is very convenient.
I want to install it on our company's servers.
how to remove xdebug module?

[2018-05-16 06:40] cytopia commented on #265
It does work fine for me. What is the output of docker logs after applying the above settings?

[2018-05-16 06:47] cytopia commented on #270
At the moment disabling extensions is not supported. I will however provide an option to disable any extension.

[2018-05-16 06:49] cytopia commented on #262
What exactly do you want to do

I am working on this feature: https://github.com/cytopia/devilbox/issues/270

This depends on your use case. Is there anything you require for production use?

[2018-05-16 06:49] cytopia commented on #263
OK I will take care of this.

[2018-05-16 10:28] jmcbee commented on #250
Hi. This was impeding on my progress so I just used another docker-based PHP dev setup. I'm sorry for troubling you.

[2018-05-16 15:28] 9034725985 commented on #255
Thank you @rhatdan

Specifically, is there a reason to not add `z` to the volumes here? I am thinking about submitting a pull request once I get it running...

[2018-05-17 09:08] chrizz1001 commented on #263
Hello,
is there some kind of workaround for adding ioncube at the moment?

[2018-05-17 09:10] cytopia commented on #263
The problem is that it needs to be loaded first, before other modules and this cannot be easily worked-around. I will bake it into the container by default and add an option to selectively disable modules.

[2018-05-17 09:35] chrizz1001 commented on #263
As a **TEMPORARY workaround** one can create the ini file as explained in the documentation, run devilbox, enter php container and `mv /usr/local/etc/php/conf.d/zzz-devilbox-devilbox-custom.ini /usr/local/etc/php/conf.d/000-devilbox-devilbox-custom.ini`. Then stop devilbox and just `docker-compose up`. The 000 file remains there and loads ioncube.

[2018-05-17 20:11] #259 closed

[2018-05-18 12:52] mrpsiho opened #271 "Which MongoDB tools are available?"
Hi,

Basically, the questions is which tools are available? I tried mongod, mongos... Well, I am lost. I would like to create a new db but don't know how to do that. Also, please suggest whether it is possible to use Studio 3T software, connect to mongodb somehow?

From the docs:

mongo* | Various MongoDB client tools.

Thanks!

[2018-05-18 12:56] mrpsiho commented on #271
Oh, my bad. I have just overcomplicated everything))))) Yes, Studio 3T works just perfect. I am able to connect, create etc.

Looks like I just need to complain a bit and then... bump! everything is resolved! :)

[2018-05-19 09:53] mrpsiho commented on #271
Hi again,

I still need an advice here. Please, suggest which tools are available inside php container which I can connect to?

Also, I have this issue:
![mongo](https://user-images.githubusercontent.com/2705129/40267350-998e7294-5b63-11e8-9406-5121d37966a5.gif)
Why it can happen?

Thanks!

[2018-05-19 09:59] cytopia commented on #271
Available command lines tools:
* `mongo`
* `mongoexport`
* `mongoimport`
* `mongorestore`
* `mongotop`
* `mongodump`
* `mongofiles`
* `mongoperf`
* `mongostat`

Additionally you can also Adminer to connect to MongoDB: http://localhost/vendor/adminer-4.6.2-en.php

[2018-05-19 10:05] mrpsiho commented on #271
Thanks!
So I immediately tried to create a DB and got this: " Fatal error: Uncaught Error: Call to undefined function create_database() in /var/www/default/htdocs/vendor/adminer-4.6.2-en.php on line 1795".

[2018-05-19 10:11] cytopia commented on #271
Which MongoDB version are you using? And did you get any errors from docker-compose logs for MongoDB?

[2018-05-19 10:27] mrpsiho commented on #271
No, no errors.

[2018-05-19 10:30] cytopia commented on #271
Hmm either I am missing some files itself from Adminer or some PHP modules are not properly in place for all the mongo functionality. I need to check on this. Which PHP version did you use?

[2018-05-19 10:35] mrpsiho commented on #271
PHP 7.2

Ok, I have also found that maybe I missed some docs about mongo itself. I connected to PHP container, used `mongo` and created a new DB and dummy collection inside this DB. And now this db is persistent. Sorry, I did not know that newly created DB has to have at least one collection to not disappear.

In essence, adminer interface does not work for me. But I can live with that :) MongoDB

[2018-05-19 10:36] cytopia commented on #271
Good to hear. I leave that open to fix Adminer.

[2018-05-19 15:30] l4ci opened #273 "Error: httpd cannot start service - error starting userland proxy (EADDRINUSE)"
- [x] Pull latest dockers
- [x] Specify used docker versions (php `7.2`, web `nginx-stable` and database `maria-db-10.1`)
- [x] Attach logs - only php-fm folder exists - but is just waiting for connection
- [x] Start with debug mode and attach docker-compose output (`.env` setting `DEBUG_COMPOSE_ENTRYPOINT=1`) - no output found
- [x] Never use different mysql|mariadb versions on the same `HOST_PAT

[2018-05-20 10:06] johnwbaxter opened #274 "Slow file access from php based cms"
php7
nginx-stable
mariadb-10.0

OSX High Sierra
Docker: 18.03.1-ce-mac65 (24312)
Compose - 1.21.1

Running a CMS on Devilbox gives me really slow response times. I installed a NewRelic type app to see what was going on, and as far as i can see, the issue seems to boil down to slow file read writes (see attached).

Is this something you are aware of with Docker on Osx? Is there any known fix?
![scr

[2018-05-20 11:01] cytopia commented on #274
This is a known issue how OS(X) has implemented Docker itself. One workaround is to use **[docker-sync](https://github.com/EugenMayer/docker-sync/wiki/2.-Configuration)**. See also this issue: https://github.com/cytopia/devilbox/issues/105
I still need support from people on OSX to actually implement this (even though it should be fairly easy)

[2018-05-20 11:07] cytopia commented on #263
@mozgbrasil do you have a download url where I can grab ioncube?

[2018-05-20 11:53] cytopia commented on #263
Found it. What is the difference between those two modules (for PHP 7.1):
[code]

[2018-05-20 13:16] cytopia commented on #263
IonCube is currently building: https://github.com/devilbox/docker-php-fpm/pull/26

[2018-05-21 03:12] danemorgan opened #275 "cURL error 60: SSL certificate problem: unable to get local issuer certificate"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [X ] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [X ] Specify used docker versions (php, web and database)
- [ X] Attach logs for php, mysql and webserver (found in `log/` directory)
- [ X

[2018-05-21 17:45] johnwbaxter commented on #274
Ah ok, i'll look into docker-sync!

Thanks :)

[2018-05-21 19:50] EarlRamirez commented on #255
@rhatdan thanks for clearing things up, I had a similar issue on a KVM guest and that boolean worked, once again thanks again for the clarification @rhatdan

[2018-05-21 23:29] cytopia commented on #270
New feature is merged:

* Update master branch
* Pull new PHP images
* Disable xdebug: https://devilbox.readthedocs.io/en/latest/configuration-files/env-file.html#php-modules-disable

[2018-05-21 23:29] #270 closed

[2018-05-22 07:21] cytopia commented on #273
Port `80` seems already in use

[2018-05-22 07:37] cytopia commented on #271
@mrpsiho can u pull latest PHP Docker images. This now works for me.

[2018-05-22 13:52] longelas commented on #250
A solution to this issue can be to have an alias on your loopback device. The method to create one is shown in the link below.
[creating the alias for xdebug](https://gist.github.com/ralphschindler/535dc5916ccbd06f53c1b0ee5a868c93)

Then all you have to do is configure your xdebug.ini in the devilbox/cfg/php-ini-* folder to use the alias as your remote host example below:
[code]

also note, that i

[2018-05-22 14:06] cytopia commented on #250
@longelas thanks for the solution. I will re-open and add this to the documentation.

[2018-05-22 14:44] danemorgan commented on #275
This has been constant for a couple of weeks now. My, admittedly limited, understanding seems to suggest it's to do with curl and local certificates.

Following this
https://github.com/yabacon/paystack-php/wiki/cURL-error-60:-SSL-certificate-problem:-unable-to-get-local-issuer-certificate-(see-http:--curl.haxx.se-libcurl-c-libcurl-errors.html)

I removed the original error, but got a path error. W

[2018-05-22 14:52] cytopia commented on #275
Does the following shell command from within the Docker container work:
[code]

[2018-05-22 15:05] danemorgan commented on #275
I get this:
[code]

[2018-05-22 15:10] danemorgan commented on #275
I pulled the master on devilbox just recently, and again just before I submitted this.

I ran update-docker.sh just before I submitted this as well.

[2018-05-22 15:33] danemorgan commented on #275
I just pulled the latest HEAD on master and pulled devilbox/php-fpm:7.0-work.

Result is the same.

[2018-05-23 09:35] RoestVrijStaal commented on #65
@cytopia (and other persons who ended up in this issue due an internet search machine)

Isn't it `./shell.sh`  instead of  `./bash.sh` (and afterwards running `sudo su -` for elevating to root) nowadays?

[2018-05-23 13:10] danemorgan commented on #275
What would I need to put in an ini file for a path to the devilbox/ca folder?

[2018-05-24 06:58] cytopia commented on #275
I supposed it has to be:
[code]
However, if `curl` (the system binary) itself does not work with HTTPS pages, this should also not be a problem of PHP then.
Unfortunately I cannot reproduce this and curl works fine inside the PHP Docker container on my machine.

[2018-05-24 08:44] danemorgan commented on #275
Well, I tried adding that anyway as the only information I've been able to find that seemed to make sense for the original error was to provide a path to a certificate in php.ini at https://github.com/yabacon/paystack-php/wiki/cURL-error-60:-SSL-certificate-problem:-unable-to-get-local-issuer-certificate-(see-http:--curl.haxx.se-libcurl-c-libcurl-errors.html)

But when I added that path I got a wh

[2018-05-25 06:42] cytopia commented on #275
Yes, you can just delete the certificate from the `/ca` directory and start up the devilbox. Whenever this directory is empty, it will re-create the certificate.

Btw, you might also give `docker-compose rm -f` a try to see if that helps.

[2018-05-27 20:18] manuxi opened #278 "More than one tld possible?"
Today I installed devilbox and I really really like it! I'm developing on a Windows 10 machine.

Before devilbox I've used xammp with several projects. Switching the php-Version was a mess. Now I try to port the projects to devilbox. The first projects are working fine but with one I'm facing a problem which someone can hopefully help with:

This project uses tlds (.com and .de) for switching the

[2018-05-27 21:34] manuxi commented on #278
Oh my... It works now with both, project.de.loc and project.com.loc. I suppose the renaming of the directory wasn't enough.
What I did:
I renamed the project dir to project.com, then the apache24.yml:
ServerName   __VHOST_NAME__
ServerAlias  www.__VHOST_NAME__ project.de.loc www.project.de.loc
Although I do not have a cert for the project.de.loc, I can test it :)

[2018-05-28 17:49] #278 closed

[2018-05-28 18:47] fe3dback commented on #244
thx, this is my solution, it works fine

[2018-05-29 06:27] RobbiNespu opened #279 "Permission denied"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [x] Specify used docker versions (php, web and database)
- [x] Attach logs for php, mysql and webserver (found in `log/` directory)
- [x] St

[2018-05-29 09:14] adammarton commented on #234
Same on Windows 10, Docker 18.03.1-ce-win65 (17513).

[2018-05-29 09:16] adammarton commented on #174
The issue still persists on my env (Windows 10, Docker 18.03.1-ce-win65 (17513)).

[2018-05-29 19:38] codeteo commented on #224
I think this is because of the underscore @alzen8work used for the host name.
Check also this StackOverflow [answer](https://stackoverflow.com/a/2183140/423980) .

I had a quite similar issue and solve it by creating another host named `second-project` (please note the dash I used instead of underscore).

Hope this helps!

[2018-05-29 23:25] mozgbrasil opened #280 "Error in requests via SOAP"
Good afternoon

If you can help me, thank you.

I am making requests via SOAP and the errors are being displayed as images

![captura de tela de 2018-05-29 20-22-51](https://user-images.githubusercontent.com/17202780/40690655-4b6277b4-637e-11e8-8af1-20416adc8ccf.png)
![captura de tela de 2018-05-29 20-22-55](https://user-images.githubusercontent.com/17202780/40690656-4b89646e-637e-11e8-967a-720d9b

[2018-06-03 03:51] qlmlove opened #281 "How can I change the Composer mirror address globally?"
I`m chinese，I need to change the mirror address to speed up the download
How can I change the Composer mirror address globally?

[2018-06-03 09:18] cytopia commented on #224
@codeteo I could reproduce this behaviour with Apache 2.4. Underscores in names don't work, it does however work for Nginx

[2018-06-03 09:35] cytopia commented on #224
This can be resolved by adding the following option to apache global configuration:
[code]

I will make this default and let you know once its updated

[2018-06-03 10:11] cytopia commented on #224
FIx is on the way:

* https://github.com/devilbox/docker-apache-2.2/pull/10
* https://github.com/devilbox/docker-apache-2.4/pull/10

[2018-06-03 12:07] cytopia commented on #224
Try out PR and see if that fixes it: https://github.com/cytopia/devilbox/pulls

[2018-06-03 12:12] cytopia commented on #279
Can you show me the output of:
[code]
and

[code]

[2018-06-03 12:13] cytopia commented on #280
The log does not show any errors. Can you upload the web server log files as well. (especially error logs)

[2018-06-03 12:14] cytopia commented on #281
I am not a Composer export, so how do you change the Composer mirror anyway?

[2018-06-03 12:35] cytopia commented on #275
@danemorgan can you simply try (just to be absolutely sure)

[code]

And also issue a:
[code]

Let me know if this might resolve the issue or not.

[2018-06-03 13:18] llaville commented on #275
Hello @cytopia

I've the same issue as Dane Morgan, on Linux platform. And with the recent version, issue was solved.
Thanks for this fix : it was related to #259

[2018-06-04 06:55] danemorgan commented on #275
I tried

`docker-compose pull php`

and

[code]

But I still cannot use Vurl son a secure URL.

I don't have the same error I started with, but I haven't had that error for a while now. Now what I have is

`cURL error 51: SSL: no alternative certificate subject name matches target host name 'updraftplus.com'`

I have tried various things I've found that seemed like they might be related, but all I

[2018-06-04 07:45] cytopia commented on #275
I am still not able to reproduce this. Do you have a second computer where you can try this on or a Virtual machine?

[2018-06-05 06:42] RobbiNespu commented on #279
[code]
@cytopia  have a look

[2018-06-05 12:12] cytopia commented on #279
The last 4 are owned by root, but should be owned by `rnm`. Did you make those changes manually or how comes it is owned by root?

[2018-06-06 13:02] mrpsiho opened #286 "No php error logs"
Hi,

I am experiencing the issue so no error logs are generated in php in www-error.log file. I tried different versions - both 7.1 and 7.2 - switched over these versions, but no luck. It does not log anything at all.

I also tried 7.3 - never used it before - but it did not created empty log files at all. So '/log/php-fpm-7.3' folder is empty.

Please, help!

[2018-06-06 13:46] JakubHelis commented on #234
Same on Manjaro, 504, restart of docker (sql) temp fix it

[2018-06-07 05:59] #224 closed

[2018-06-07 06:00] cytopia commented on #234
@JakubHelis  @adammarton @cnewfeldt @stefanlesik
I just merged an update for the webserver. Could you try again please after pulling latest master branch.

[2018-06-07 12:36] berkayunal opened #287 "DEVILBOX_PATH for NFS"
Hi,

Can you show an example how to set DEVILBOX_PATH for an NFS export?

Thanks

[2018-06-07 13:19] chrizz1001 opened #288 "403 forbidden after update"
after update (from git & containers incl. removing and recreating images) from 0.13 to 0.14 I get an 403 on all hosts (including localhost). also ssl cert is not correct set up now (security page). Can anyone confirm or a hand for debugging?

- [ x] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
done that
- [ x] Specify used docker versions (php,

[2018-06-08 07:52] chrizz1001 commented on #288
after a long night i fuggured out that the project direcrories dont mount correctly. Also the "localhost" directory is not mounted as `/var/www/default/` is empty. Maybe someone have any suggestion how to debug further?

[2018-06-11 07:40] JakubHelis commented on #234
@cytopia
For me it's still the same. + reloading the query (refresh page, retry ajax)  mostly gives positive result ( working)

[2018-06-11 14:44] science695 commented on #286
Are the logs being forwarded to the web server logs? check the apache or ngingx folders inside log.

Apache logs the proxy forwarded logs in its log as well.

[2018-06-11 14:47] science695 commented on #287
Can you clarify what you are trying to do?

DEVILBOX_PATH is the folder on your machine where the devilbox files are stored.

If you have devilbox on a NFS mount, then it needs to be the path where that NFS mount is located (drive letter, etc...)

[2018-06-11 14:49] mrpsiho commented on #286
I am using NGINX, so there is no folder for apache logs. 'nginx-stable' folder is empty as well.

[2018-06-11 14:57] cytopia commented on #286
Looks like it works for 7.0. I will have to dig into the newer versions.

[2018-06-12 07:58] mrpsiho commented on #286
Sorry, it was my mistake, actually. What confused is this setting:

###
### Log to file or Docker logs.
###
### Logging to file means log files are available under log/
### on your host operating system.
### Logging to Docker logs means log files are streamed to
### stdout and stderr.
###
### 1: Log to Docker logs
### 0: Log to file
###
DOCKER_LOGS=0

Well, you know '0' looks like something that i

[2018-06-12 17:56] mozgbrasil commented on #280
Good afternoon

What file path do you need?

See that the apache folder is empty

![captura de tela de 2018-06-12 14-54-37](https://user-images.githubusercontent.com/17202780/41307853-b4545c10-6e50-11e8-8a69-d5e6a5bb17cf.png)

[2018-06-13 11:53] science695 commented on #280
Try

Leave it running while you do the request and then ctrl+c it and upload that docker.log file

[2018-06-13 14:17] mozgbrasil commented on #280
Good Morning

See return as images

![captura de tela de 2018-06-13 11-16-10](https://user-images.githubusercontent.com/17202780/41356915-51d5ef94-6efb-11e8-8404-ff20dbb60890.png)
![captura de tela de 2018-06-13 11-16-23](https://user-images.githubusercontent.com/17202780/41356916-51fdca14-6efb-11e8-9b85-ca6816d76958.png)

[2018-06-13 19:10] sharafat opened #290 "Need artisan tool installed inside the container"
The doc says:

For Laravel developers, it's pretty common to use `artisan` commands. So I'd love to see it pre-installed inside the container.

[2018-06-13 19:51] cytopia commented on #290
Sure. Only thing I found is: https://laravel.com/docs/5.6/artisan

But how do you actually install artisan?

[2018-06-13 19:56] sharafat commented on #290
I see. It seems artisan is installed via `composer install`, and it must be executed from project root directory. So basically there's no other way to install it. Cool, my bad, should've dug into it more beforehand.

[2018-06-13 19:56] #290 closed

[2018-06-14 13:31] science695 commented on #280
Start up devilbox, start this log command, trigger the error with your soap call, and then ctrl+c and upload those logs.

[2018-06-18 12:17] JakubHelis commented on #234
@cytopia  Interesting fact - The troubles gone when i switch from apache 2.4 to ngnix.   ( newest version of devilbox)

[2018-06-18 14:29] cytopia commented on #234
@JakubHelis thanks for the heads up

[2018-06-19 15:22] science695 commented on #234
I also have mac users using my setup where devilbox just gets "angry" and my php code stops responding....usually fixed by a docker-compose stop && docker-compose start

[2018-06-19 15:39] pauloffb commented on #234
Host machine with Linux Manjaro, also experiencing 504 Gateway on admin panel of Prestashop projects. Seems better after changing Apache 2.4 to 2.2.

[2018-06-20 21:56] cytopia commented on #234
Anyone having this issue on a different web server than Apache 2.4?

[2018-06-21 02:10] mozgbrasil commented on #280
Good afternoon

The following error was appearing

     [proxy_fcgi:error] [pid 359:tid 139779979048704] (70007)The timeout specified has expired

Has been edited the file /devilbox/cfg/apache-2.4/devilbox-custom.conf

Changing the item

     Timeout 600

[2018-06-21 02:10] #280 closed

[2018-06-21 06:58] adammarton commented on #234
Yes, on nginx-stable, but this might be because of my raped WordPress instance.

[2018-06-21 14:49] cytopia commented on #234
What about increasing timeout value of Apache 2.4

Create this file: `cfg/apache-2.4/timeout.cfg`
[code]

[2018-06-21 14:51] cytopia commented on #286
OK, then I must have mistaken it as well.

[2018-06-21 14:51] #286 closed

[2018-06-21 16:45] science695 commented on #234
in my issue, the code running should not take 60 seconds, but when this occurs, its like php fpm is frozen. And changing the timeout would just make it wait longer before reporting back.

I wonder if it may be related to database connections used in the php code when it hangs.

[2018-06-21 20:27] bezin opened #291 "Bind container not starting / auto_dns / Windows 10 / Docker for Windows"
If you encounter a bug and something does not work, make sure you have done the following and check those boxes before submitting an issue - thank you!

- [X] Pull latest dockers (e.g.: `docker pull cytopia/<used_docker>`) before running `docker-compose up`
- [X] Specify used docker versions (php, web and database) *PHP 7.2, Apache 2.4, MariaDB 10.1*
- [ ] Attach logs for php, mysql and webserver

[2018-06-21 20:44] science695 commented on #291
What is your settings for these .env variables?:

[2018-06-22 07:01] cytopia commented on #234
I might have found a proxy timeout overwrite by adding a vhost-gen template to the project which has timeouts (How to here: https://devilbox.readthedocs.io/en/latest/configuration-project/custom-vhost.html)

If this is the catch I will increase the Proxy timeout by default. Please let me know how it goes

The specific line is this:
[code]

The full template is for `apache24.yml` is here:
[code]

O

[2018-06-22 12:21] Nurlan199206 opened #292 "No Host DNS record found. Add the following to /etc/hosts: 127.0.0.1 web.loc"
dont working hosts file

CentOS 7

i did docker-compose up httpd php mysql

[2018-06-22 21:42] rcjkierkels opened #293 "Openssh server for CI/CD support"
Hi,

What I miss is an openssh server so that I can use Gitlab or DeployHQ to automatically deploy and build on this server. If I could remotely ssh into the PHP container I can let Gitlab build assets there and perform migrations and do a composer install and pull the latest changes from git.

Roland

[2018-06-23 08:18] cytopia commented on #293
You can always use `docker exec <id> bash` to enter the container as root

[2018-06-23 10:16] rcjkierkels commented on #293
Unfortunality that wont work for my case. In Gitlab you can configure runners. A runner is basically a VM that will be used to compile your assets, run php composer, run your tests etc. Gitlab runs on a different server and needs direct ssh access to this container to be able to do this.

I was first thinking of using a docker image like this:
https://github.com/jeroenpeeters/docker-ssh
Then bind

[2018-06-23 10:37] #291 closed

[2018-06-23 18:20] cytopia commented on #234
Also let me now after what time the `Gateway Timeout` error appears (roughly in seconds).

What did you set your PHP's `max_execution_time` to?

[2018-06-26 08:12] RoestVrijStaal commented on #188
Ok, so using devilbox for production is a future goal. Kinda heartbleeding because devilbox is such a solid solution.

What are -at the moment- my alternatives except reinventing the devilbox-wheel for my production environment?

[2018-06-26 08:33] cytopia commented on #188
@RoestVrijStaal currently the *major* blocker is the mail catch-all. I have to re-configure it that you can have it run for development (as it does currently) and also to be able to disable it so that nothing is catched, but send (I think currently, once it is disabled, nothing is sent at all - I do need to double check this tough).

The second part is to have a `docker-compose.production.yml` whi

[2018-06-26 08:33] cytopia commented on #293
OK I will think of a way to have SSH turned on optionally

[2018-06-26 12:23] RoestVrijStaal commented on #292
Same here on Kubuntu  17.10 x64

I edited /etc/hosts on my host machine

[code]

Still no success after doing `docker-compose down` `docker-compose up` several times.

[2018-06-26 13:43] johnwbaxter commented on #105
I tried setting up docker-sync but ended up somehow making docker use 400% cpu...will try again though as it's almost unusable on OSX as it stands.

[2018-06-26 13:46] science695 commented on #292
Try a few of these steps (look for errors like host not found, or cannot bind to port 80, etc..., or upload the results here):
- docker ps -a
- ping random.loc
- docker-compose log

@Nurlan199206 Isn't there a -d in that command?

Docker compose can be picky about your current directory, are you in your devilbox folder?

[2018-06-26 18:36] RoestVrijStaal commented on #292
@science695

After reboot problem still persists.

My `docker ps -a`
[code]
My `ping random.loc` and `ping problematic-website.loc`:
[code]

my `docker-compose logs`:
[code]

[2018-06-27 11:54] danemorgan commented on #288
I just got hit with this today. Yesterday I was working on websites. This morning everything is a 403 Forbidden.

I updated Devilbox via git and did a docker-compose pull.

When I use shell.sh to ssh into the container, shared/httpd/ is empty

[2018-06-29 07:15] cytopia commented on #293
Another solution might be to create specific CI container from the prod version:

[code]

Deriving it from prod means the image is smaller then `work` (as it does not have all the developer tools) and can have additional requirements specifically to CI needs.

[2018-07-02 14:01] johnwbaxter commented on #105
@cytopia What would it cost to sponsor you to move this to the top of the list?

[2018-07-02 15:34] danemorgan commented on #288
I made a new directory, installed devilbox clean and added a project folder. All I get is 403 Forbidden.

[2018-07-03 07:34] chrizz1001 commented on #288
I think it has something to do with folder permissions. In the container I am not able to create a project folder... I need to see when I have time to investigate, because I have to work on other projects atm :/

[2018-07-03 13:54] cytopia commented on #260
Thanks for the merge btw!

[2018-07-03 13:54] #260 closed

[2018-07-04 06:48] cytopia commented on #105
@johnwbaxter I'd rather have someone helping me on this issue, as I dont' have a Mac at the moment. So I cannot get sponsored on this one and make an unreliable promises/guess. But thank you for bringing this up.

[2018-07-04 06:59] cytopia opened #299 "(Community Discussion) Default enabled PHP modules"
# Community Discussion: Default enabled PHP modules

As it is now possible to enable and disable PHP modules via `.env` settings, it is time to find a sane default of enabled PHP modules.

Enable/disable modules: https://devilbox.readthedocs.io/en/latest/configuration-files/env-file.html#php-modules-enable

Currently all modules except `ioncube` are enabled. This however might be a bit heavy and s

[2018-07-04 11:38] janschoepke opened #300 "Disable caching?"
Is there any possibility to completely disable Opcache and other caching mechanisms? This would be very helpful for development.

[2018-07-04 11:58] cytopia commented on #300
Yes, you can disable (unload) any modules for PHP: https://devilbox.readthedocs.io/en/latest/configuration-files/env-file.html#php-modules-disable

To unload opcache, add the following to `.env`
[code]

You could also use php.ini directives to still load the module itself, but disable it.
https://devilbox.readthedocs.io/en/latest/configuration-files/php-ini.html

[2018-07-04 12:00] danemorgan commented on #288
When I use shell.sh to ssh into the container, the /shared/httpd folder is empty. I should be seeing my projects there, shouldn't I?

What's killing me here is I went to bed with everything working and woke up with it all broken.

I'm going to have to just abandon this. I need to be working on my projects.

[2018-07-04 12:01] cytopia commented on #288
@danemorgan do your project directories still exist on your host operating system?

[2018-07-04 12:03] danemorgan commented on #288
Yes. They are all there.

I also created a new devilbox in a differet folder, made one project folder with a simple index.php. When I ssh in to that the project folder isn't there either.

[2018-07-04 12:04] janschoepke commented on #300
Thanks for the quick reply. I thought that the error I'm getting comes from Opcache. I installed the shopware eCommerce system in a container. The installation worked perfectly fine. When accessing the frontend of the shop, it is nearly impossible to navigate through the CMS.  Every second page-call results in a blank page, sometimes the old page content is displayed despite the changed URL. Paral

[2018-07-04 12:05] cytopia commented on #288
Is that in a location that Docker itself allows volumes to be mounted? On Windows I think only C:/Users is allowed to be mounted. You have to manually add the rest to the Docker configuration.

Additionally, do your directories provide read access to user, group and others?

[2018-07-04 12:08] cytopia commented on #300
1. Are you on Windows, Linux or Mac?
2. If Windows or Mac, are you using native Docker or Docker Toolbox?
3. How long is the timeout until you see the page or the white page?
4. Did you get any error logs under `./log/nginx-*|apache-*` and `php-fpm-*.*`?

[2018-07-04 12:12] danemorgan commented on #288
The original one that I've been using for a couple of months is in `C:\Users\danea\Dropbox\devilbox`. The new one is in `C:\Users\danea\devilbox`.

The original is in the same location it was in previously when it was working. I didn't move it between when it worked and when it didn't. Honestly, I don't know what changed, obviously, something changed, but the file locations did not.

Read, Write a

[2018-07-04 12:16] cytopia commented on #288
Can you check if other PHP docker containers are running. Maybe `shell.bat` is entering you into a wrong container?

[2018-07-04 12:17] danemorgan commented on #288
[code]

[2018-07-04 12:18] danemorgan commented on #288
[code]

[2018-07-04 12:34] cytopia commented on #288
Can you try with Apache 2.2 or Nginx to see if the problem is web server related.

Btw, how did you find out these uid/gid?:
[code]

[2018-07-04 12:34] janschoepke commented on #300
1. Linux (Ubuntu 16.04 LTS)
2. see 1
3. the blank page is being rendered instantly (~200ms)
4. apache-log und php-fpm-log: only entries in access log.

[2018-07-04 12:37] cytopia commented on #300
Any error visible via
[code]
Does the blank code has any HTTPD status code attached? 2XX, 3XX, 4XX or 5XX?

[2018-07-04 12:45] danemorgan commented on #288
I tried both Apache 2.2 and Nginx with the same result for both.

For the UID/GID, I used
[code]

[2018-07-04 12:52] janschoepke commented on #300
No errors in the response of given commands, HTTP status of blank page says 200 OK.

[2018-07-04 13:21] danemorgan opened #301 "Can the project folders be placed outside of the devilbox folder?"
Such as

[code]

[2018-07-04 14:00] cytopia commented on #301
Yes, set the following values in your `.env`:
[code]

[2018-07-04 14:00] cytopia commented on #301
https://devilbox.readthedocs.io/en/latest/getting-started/best-practice.html#move-data-out-of-devilbox-directory

[2018-07-04 17:45] dtrilsbeek commented on #242
Hi,

I've recently tried out this image. On the first day(right after installation) it worked fine and I was impressed.

However the second day(today) I tried running the devilbox and I get a 404 error on localhost. The thing why I'm commenting is because I have the most standard docker setup there is. (fresh install of windows, fresh install of docker. So I don't think this should be the standard

[2018-07-05 07:13] cytopia commented on #300
@janschoepke can you provide a link to the CMS you have installed as well as your installation steps. I will try to reproduce this error

[2018-07-05 07:13] #301 closed

[2018-07-05 07:16] cytopia commented on #242
Probably related to: https://github.com/cytopia/devilbox/issues/288

[2018-07-05 07:21] cytopia commented on #242
In order to reproduce, lets gather some basic information from everybody having this problem.

1. Host OS
2. Docker native or Docker Toolbox
3. Docker and Docker Compose version
4. Use default settings (except UID/GID)

Try the following if it helps:
[code]
And only start the base set of containers
[code]

Also please provide the following:
[code]
As well as the information from php and httpd serv

[2018-07-05 07:31] cytopia commented on #279
This has been addressed via: https://github.com/cytopia/devilbox/pull/294

Either checkout the Devilbox from scratch or use `sudo` to change permissions of `data/www`.

Mongo, MySQL and PgSQL all run as root, so their data directory will be owned by root. This is nothing to worry about. Only keep in mind that if you want to delete those directories later, you need to use `sudo`.

[2018-07-05 07:31] #279 closed

[2018-07-05 07:31] cytopia commented on #287
@berkayunal please provide more information

[2018-07-05 07:35] cytopia commented on #273
Your host operating system is already occupying port `80` for some service running on your host operating system.

1. Either stop that service
2. Or change the Devilbox HTTP port: https://devilbox.readthedocs.io/en/latest/configuration-files/env-file.html#host-port-httpd

[2018-07-05 07:35] #273 closed

[2018-07-05 07:37] cytopia commented on #271
I will close this due to inactivity. Feel free to re-open if the new PHP Docker images did not fix this for you.

[2018-07-05 07:37] #271 closed

[2018-07-05 07:38] cytopia commented on #220
The fix has been merged a whole ago: https://github.com/cytopia/devilbox/pull/239

Does this problem still persist?

[2018-07-05 07:41] cytopia opened #302 "(Community Discussion) Default settings for PHP and Apache/Nginx"
# Community Discussion: Default settings for PHP and Apache/Nginx

I would like to standardize sane default settings for PHP and Apache/Nginx across all of their versions.

---

## Todo

### Webserver

* [ ] timeout
* [x] timeout to upstream PHP-FPM connection: 180sec
* [ ] body/post size

---

## Done

### PHP

Defaults for PHP are available here:
* https://github.com/devilbox/docker-php-fpm/blob

[2018-07-05 07:55] janschoepke commented on #300
Sure:
I've installed Shopware eCommerce CMS (http://shopware.com) in latest version (5.4.5).
The direct download link: [Download](http://releases.s3.shopware.com.s3.amazonaws.com/install_5.4.5_6847c0845f0f97230aa05c7294fa726a96dda3ff.zip?_ga=2.213731798.356053871.1530772798-165429886.1517389227&_gac=1.123954552.1528448247.CjwKCAjw0ujYBRBDEiwAn7BKt5jreInmqLvDIBNYenclxA2XhdokekkhmWZcjRIDr-q2Cc-5_EPN

[2018-07-05 08:59] cytopia commented on #300
I have re-created your setup.

I am using Apache 2.4 and PHP 7.2. It works fine over http and https.

* Front-end pages are loaded in around 500-900ms. (opcache disabled)
* Front-end pages are loaded in around 400ms. (opcache enabled)

No errors in Chrome console and no errors in Apache logs

[code]

1. What PHP/Web server versoins are you using?

2. What are the hardware specs of your local compu

[2018-07-05 09:31] janschoepke commented on #300
[code]
Local Machine:
[code]

[2018-07-05 10:20] cytopia commented on #300
I was able to reproduce this behaviour.

For now it seems to be specific to the following combinations:

*  `Apache 2.4` and `PHP 5.6`

Which combinations work:

* `Apache 2.2` and `PHP 5.6`
* `Apache 2.4` and `PHP 7.2`

[2018-07-05 10:31] janschoepke commented on #300
Thats a great message!
Yesterday I got this described behavior when testing with an older version of shopware, which needed PHP 5.6 to run.
Do you think this is a problem with Devilbox or with the Shop CMS?

[2018-07-05 10:34] cytopia commented on #300
Not exactly sure yet. If this behaviour can be reproduced with any other PHP 5.6 Container and Apache 2.4 then its shop related.

However, neither PHP nor Apache are throwing errors atm (I enforced errors to show up via `php_admin_value|flag`), so my first guess would be the Shop CMS (but that's not for sure).

I am currently trying out a few settings in Apache 2.4 and PHP 5.6 to see if this can b

[2018-07-05 10:34] cytopia commented on #300
I suppose for now you can safely switch to Apache 2.2 and still keep PHP 5.6

[2018-07-05 12:39] cytopia commented on #144
This will be fixed and documented here:
https://github.com/cytopia/devilbox/pull/298

[2018-07-05 12:40] cytopia commented on #274
I will close this one as it duplicates #105

[2018-07-05 12:40] #274 closed

[2018-07-06 14:15] danemorgan commented on #288
I'm using CMDER

http://cmder.net/

[2018-07-06 14:29] danemorgan commented on #288
Now it's not even starting. I haven't changed anything since when it was staring and giving me 403 errors, and now, but now it is outputting the following and stalling out. It's been hung at this point for about 20 minutes.

[code]

[2018-07-06 14:40] cytopia commented on #288
## Please review `.env` and `env-example`

There was a change a few weeks ago that reverted enable and disable intranet. I guess now everybody has it disabled by default.

Do a diff on that file.

[2018-07-06 14:58] cytopia commented on #242
@dtrilsbeek How long was the time gap between first and second try?

There was a change in `env-example` that reverted the behaviour of intranet enabled/disabled.
You should probably diff your current `.env` file against the current `env-example` file to see any changes that occured

[2018-07-06 15:11] danemorgan commented on #288
I'll check. I diff it every time I update, and I didn't update between these attempts.

[2018-07-06 15:24] danemorgan commented on #288
I don't find any differences in the diff other than my changes to variables.

[code]

[2018-07-06 15:30] danemorgan commented on #288
But those variables are empty in the current environment example that I have right now. I'm on the master branch. I've been getting that complaint since a few updates back. I'm not sure what to put in those and it didn't seem to break anything so I ignored it.

[code]

[2018-07-06 15:33] danemorgan commented on #288
As far as steps. All I have right now is enter ` docker-compose up httpd php bind` and get a long string of log entries and then hang.

[2018-07-06 15:49] cytopia commented on #288
No I actually see the problem. `watcherd` is somehow stuck and not continuing.
[code]

So can you paste the `tree` output of your projects directory to see if there's anything special in terms of filenames that might prevent it to loop.

Also are you on Docker Toolbox or Native Windows Docker?

[2018-07-06 15:54] danemorgan commented on #288
My tree is huge. I have several WordPress installations on it. Is there something, in particular, I should look for?

I am using
Docker Community Edition
Version 18.03.1-ce-win65 (17513)
Channel: stable
93354b3

[2018-07-06 15:55] danemorgan commented on #288
Maybe dropbox is locking something?

I'll reboot and see if that helps.

[2018-07-06 16:13] danemorgan commented on #288
I made a new devilbox with the tree below and I still get the same result. Are you sure it isn't something to do with this?

[code]
Here is the tree from the new box.
[code]

[2018-07-06 23:15] cytopia commented on #288
This is fine and expected inside Docker.

In order to repdroduce, I still nee to know:

[2018-07-06 23:54] danemorgan commented on #288
I've said a couple of times that I am using Docker for Windows Community edition.

Docker Community Edition
Version 18.03.1-ce-win65 (17513)
Channel: stable
93354b3

https://store.docker.com/editions/community/docker-ce-desktop-windows

[2018-07-06 23:56] danemorgan commented on #288
![2018-07-06_18h55_45](https://user-images.githubusercontent.com/1909081/42404394-333ff164-814e-11e8-8f4e-6a190759653f.png)

[2018-07-07 08:41] cytopia commented on #230
@nikoslyk2093 I have now also checked this for **Docker for Windows**. There is no such concept as uid/gid and I have tried different settings, which did not make a difference.

So for Docker for Windows, just keep the defaults and do not make any settings there, it just works fine.
I will add this to the documentation as well

[2018-07-07 08:41] #230 closed

[2018-07-07 08:44] cytopia commented on #300
I have tried even more custom vhost configurations, but still no positive result.

Your final choice would be to use any **other** combination than **Apache 2.4 and PHP 5.6**.

As this only affects Shopware so far (I have tested various other frameworks with the same combination and they all work), I would suggest to open up a ticket at their place as well.

For now I will close this issue as WON'

[2018-07-07 08:44] #300 closed

[2018-07-07 08:47] cytopia commented on #292
@RoestVrijStaal  any updates from your side? Did you check the templates as @science695 has suggested?

@Nurlan199206 can you describe your problem a bit more detailed, otherwise i am unable to suggest anything.

[2018-07-07 09:14] cytopia commented on #300
https://devilbox.readthedocs.io/en/restructure-documentation/examples/setup-shopware.html

[2018-07-07 20:20] cytopia commented on #288
What I can see from your docker logs:
[code]
is that the directory (and probably no directory at all) is not being mounted into the Docker container.

1. Here's an article that describes how to allow volumes to be mounted in Windows Docker: https://rominirani.com/docker-on-windows-mounting-host-directories-d96f3f056a2c
2. Here's an huge thread about volumes not mounted on windows: https://forums.d

[2018-07-08 10:43] cytopia opened #307 "Bug report issue test"
#### ISSUE TYPE

 - Documentation

#### OS / ENVIRONMENT

* Host operating system:
* Native Docker or Docker Toolbox:
* Docker version:
* Docker Compose version:

#### SUMMARY

#### STEPS TO REPRODUCE

#### OTHER INFORMATION

[2018-07-08 10:43] #307 closed

[2018-07-09 12:40] janschoepke commented on #300
Sorry for the late reply. Thank you for your effort and the entry in the documentation. We will use Devilbox in our company now. :)

[2018-07-09 13:58] cytopia commented on #300
Thanks for the feedback.

[2018-07-12 11:01] dtrilsbeek commented on #242
I've noticed that the httpd, php and bind container are apparently run on start.
Then when i try docker-compose up, 'll get the 404 error.

If I do a docker-compose stop before running them again, everything works fine. (see image)
![image](https://user-images.githubusercontent.com/7400410/42629410-82fa3050-85d3-11e8-84c6-6362e2c0467f.png)

Note that I didn't start the httpd php and bind manually

[2018-07-12 16:38] cytopia commented on #242
@dtrilsbeek not sure If I can follow. What are the exact steps to reproduce the `404 behaviour`?

[2018-07-12 20:23] dtrilsbeek commented on #242
@cytopia Okay, i'll try to be more specific.

When starting up my computer, docker starts up with windows.
If i check what cointainers are running with docker ps, these three containers are already running! (they shouldn't)
![image](https://user-images.githubusercontent.com/7400410/42657077-802b7264-8621-11e8-9b35-d61723bd61e9.png)

If I now try to docker-compose up -d from within devilbox folder.

[2018-07-12 20:46] dtrilsbeek commented on #242
That's it, now only devilbox_bind is starting on startup. Should I disable that too?

Thanks,

[2018-07-12 20:55] cytopia commented on #242
I would guess so.

@TheClonker can you check if this also fixes your problem?

If will create an PR to make it permanent

[2018-07-12 20:57] TheClonker commented on #242
Hi, all my Problems had been fixed after "re-sharing" my Drives.

[2018-07-12 21:01] cytopia commented on #288
@danemorgan can you:

1. stop all containers
2. make sure they are all stopped
3. Check out this PR: https://github.com/cytopia/devilbox/pull/309
4. Reboot
5. Try again

[2018-07-13 12:43] Tuurlijk commented on #202
@pleek91 You can use mhsendmail, a small go executable that replaces sendmail and forwards mail to a mailhog instance: https://www.lullabot.com/articles/debugging-php-email-with-mailhog

[2018-07-13 18:37] Tuurlijk commented on #250
I've always managed to get by without the remote host part using remote_connectback:

[code]

[2018-07-13 18:48] Tuurlijk commented on #146
I built a vagrant box that provided several php fpms and hhvm: https://github.com/Tuurlijk/TYPO3.Packer/blob/master/ansible/configuration/Development/websites.yml#L8

You could switch the upstream in nginx by using the magic regex servername with named variables.

This way you can get:

[code]

Putting the php part in front makes the naming easier I think. Leaving off the prefix would serve the si

[2018-07-13 19:22] science695 commented on #146
About Customizing php version per project:
If you ran all the different php frpm containers (or all that were configured), you could have a variable set in the project/.devilbox/nginx.yml that said PHP_VERSION: 7.2 and that would change the proxy address to go to the php-fpm-7.2 container

[2018-07-13 21:05] Tuurlijk commented on #202
https://github.com/devilbox/docker-php-fpm/pull/32

[2018-07-14 06:35] Tuurlijk commented on #146
@cytopia I'm attempting to change the apache template to one that generates vhosts for php, php70 and php72, but vhost-gen does not resolve the __DOCUMENT_ROOT__ vars in my ProxyPassMatch statements. Can you take a look?

[code]

[2018-07-15 19:41] Tuurlijk commented on #244
@cytopia This ticket can be closed

[2018-07-15 20:01] Tuurlijk commented on #302
for MySQL I have found these settings help:
[code]
max_allowed_packet helps when importing dumps with long lines. It prevents the 'mysql has gone away' message.

For PHP
[code]

[2018-07-16 06:29] cytopia commented on #244
Good to know.

@fe3dback @Tuurlijk Documentation for how to connect to external hosts will also be available in more detail soon. Preview already available here:

https://devilbox.readthedocs.io/en/restructure-documentation/advanced/connect-to-host-os.html

[2018-07-16 06:29] #244 closed

[2018-07-16 06:42] Tuurlijk commented on #146
I need to add entries for all php versions to /etc/hosts on the host machine. But I don't think there is a way around that, except for some magic DNS entry, or adding the bind machine to the /etc/resolv.conf. Then bind could be made to handle all dns.

[code]

[2018-07-16 06:42] cytopia commented on #202
Merged, container should be available in ~1-2 hours.

I will leave this open until I have added documentation to it.

[2018-07-16 06:43] cytopia commented on #146
Auto-DNS will make them available automatically without adding entries to `/etc/hosts`:

https://devilbox.readthedocs.io/en/restructure-documentation/intermediate/setup-auto-dns.html

[2018-07-16 06:56] Tuurlijk commented on #250
This has worked for me on Mac in the past, and works for Linux in the present.

I used to use Vagrant boxen, but I can confirm that this configuration (remote_connect_back) also works for this docker setup on Linux.

[2018-07-16 14:58] jebog opened #310 "Deploy Node.js App"
Hello,
Thanks for the great Job.
I'm looking for a way to deploy Node js App with devilbox. is it possible ? and how to do it ?

#### ISSUE TYPE

 - Question

[2018-07-17 06:47] #242 closed

[2018-07-17 07:11] cytopia commented on #146
@Tuurlijk adding a litte fix regarding missing function argument: https://github.com/devilbox/vhost-gen/pull/29

Error did not get caught as CI was somehow not starting

[2018-07-17 07:15] cytopia commented on #220
@Myster-Gh0s7 I will close this issue due to inactivity, feel free to append comments if the problem still persists and I will re-open.

[2018-07-17 07:15] #220 closed

[2018-07-17 07:16] cytopia commented on #310
@jebog not exactly sure what the actual goal is. Does it relate to: https://github.com/cytopia/devilbox/issues/240

[2018-07-17 07:18] cytopia commented on #265
@may17 is this still an issue for you?

[2018-07-17 07:19] cytopia commented on #281
@qlmlove any update on this?

[2018-07-17 07:21] cytopia commented on #288
PR has been merged to master (https://github.com/cytopia/devilbox/pull/309), can you report back if this fixes your issue

[2018-07-17 16:34] jebog commented on #240
Thanks i think this is the answer for my question i will and will make a feed back

[2018-07-17 17:20] science695 commented on #244
The docker compose override file is a great option. But if anyone has a situation where that is complicated, you can add it to the docker network.

docker compose creates a network called: "devilbox_app_net"

You can add the container to the network (everytime you re-create the container):
`docker network connect devilbox_app_net YOURCONTAINERNAMEHERE`

[2018-07-17 17:24] science695 commented on #310
Are you wanting to run the node app inside a container in the same local domain as your devilbox setup?

[2018-07-17 17:32] science695 commented on #281
There should be a way to mount a composer config file from your host / computer into the docker into the global user config.

And you could mount that file in the docker-compose.overrides.yml file

[2018-07-17 18:29] jebog commented on #310
Yes it's what i'm trying to do

[2018-07-17 21:32] cytopia commented on #310
This is marked as duplicate. Please continue in the linked issue: https://github.com/cytopia/devilbox/issues/240

[2018-07-17 21:32] #310 closed

[2018-07-18 13:29] fe3dback opened #311 "Intranet not working after update"
#### ISSUE TYPE

 - Bug Report

#### OS / ENVIRONMENT

* Host operating system: Linux
* Native Docker or Docker Toolbox: native
* Docker version: Docker version 18.03.1-ce, build 9ee9f40
* Docker Compose version: docker-compose version 1.22.0, build f46880fe

#### SUMMARY
browser try to load localhost very long, after ~60sec, error 504 Gateway Timeout returned.
but https and favicon works fine.

I

[2018-07-18 13:30] fe3dback commented on #311
All my sites works fine, i can normally work on any my projects. Problem only with intranet.

docker-compose logs:
[code]

[2018-07-18 13:38] cytopia commented on #311
Configuration looks pretty default from first sight.

I recently added a fix to a similiar issue: https://github.com/cytopia/devilbox/pull/309

1. Did you pull latest PHP container within the last ~5 days?
2. Can you add full logs from `httpd`
3. Can you check inside PHP container if intranet was actually mounted into `/var/www/default`
4. Can you check if multiple php or httpd container are runni

[2018-07-18 15:28] ftaiolivista opened #312 "Please add patch command"
Please add patch command, would be useful for Magento.

[2018-07-18 17:35] danemorgan commented on #288
I reset my Credentials with Docker and now it is working again.

I note that I have a couple of portable drives that I connect and dis connect from this computer at different times and I wonder if I need to reset my credentials each time I change the drive configurations.

When I initially went in it was not showing two of the drives, but when I reset the credentials they showed up.

The only volu

[2018-07-19 03:05] pvantilb opened #313 "Add codeception to PHP container"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Per the documentation on devilbox available tools page (https://devilbox.readthedocs.io/en/latest/readings/available-tools.html) I am requesting that codeception be added globally to the php container for easier use and execution of automated tests.
Currently, to utilize we would have to add this package to our composer files to download with the

[2018-07-19 06:59] pvantilb commented on #250
I am having this same issue.
OSX 10.12.6
docker 18.03.1-ce
docker-compose 1.21.1

if i try the gateway address 172.16.238.1 in the php container, my curl just returns the devilbox status page. I am really hoping there is a fix for this (tried everything listed above and no go) because getting debugging working with PHPStorm is the 1 thing left stopping me from adopting devilbox for development.

[2018-07-19 07:53] Tuurlijk commented on #250
@pvantilb Can you try without specifying an IP address? And using:
[code]

[2018-07-19 09:29] cytopia commented on #288
@danemorgan

This is something you might want to discuss on Docker Forums itself.

So just to sum it up:

Resetting the Credentials fixes this issue? If so, then I have at least something to add to the troubleshooting section.

[2018-07-19 15:51] pvantilb commented on #250
I tried the network alias before but just for sanity sake i followed the instructions and setup the alias on the HOST for lo0 to 10.254.254.254.
Inside the PHP container, i then can ping the address fine.  When i try to curl though, i still get the devilbox status page content regardless of the port used.
I run php -S 0.0.0.0:8080 on the host and it makes no difference.  I tried php -S 10.254.254.

[2018-07-19 16:21] pvantilb commented on #250
Michiel,  I tried both with and without the remote_connect_back set to on.
and neither showed a connection to the IDE.

On Thu, Jul 19, 2018 at 3:53 AM Michiel Roos <notifications@github.com>
wrote:

--
-peter

[2018-07-19 19:30] danemorgan commented on #288
Yes, basically, when you asked me to try the new commit, I tried it and the issue was still there. I still had empty folder when I shelled in and did an ls.

 I then went reading through the forum posts you had pointed out previously which discussed some of the problems that a lot of us have when initially setting up Docker for Windows, in that we cannot get it to share our drives. It took me near

[2018-07-20 06:59] Tuurlijk commented on #250
@pvantilb I tried on a mac yesterday and it would not work without the network alias on the host machine. Once I enabled the alias, it all worked.

Bear with me, there are many steps you need to get right. It's easy to fail setting up xdebug ;-)

Please report back which steps already work for you and we'll go from there.

You get the devilbox status page when you call 10.254.254.254 because you h

[2018-07-20 14:24] cytopia commented on #313
@pvantilb
Should be ready shortly: https://github.com/devilbox/docker-php-fpm/pull/33

[2018-07-20 14:38] cytopia commented on #312
Patch command is available since PHP 5.6:

[code]

Do you need that in PHP 5.3, 5.4 and 5.5 as well?

[2018-07-20 14:40] ftaiolivista commented on #312
Yes, in 5.4. In need to add patches to a legacy Magento.

[2018-07-20 14:47] cytopia commented on #312
@ftaiolivista
Should be ready shortly: https://github.com/devilbox/docker-php-fpm/pull/34

[2018-07-20 15:38] danemorgan commented on #275
I'm still fighting this thing.

Doing a -v with curl from shell results in this:
[code]

[2018-07-20 15:52] cytopia commented on #275
@danemorgan did you set `TLD_SUFFIX` to `*.com`, it looks like https://updraftplus.com resolves to the Devilbox IP `172.16.238.11`

[2018-07-20 17:02] cytopia commented on #313
@pvantilb merged.Should be ready by today (~3 hours, depending how many jobs are currently running in my travis plan)

[2018-07-20 17:02] #313 closed

[2018-07-20 17:20] danemorgan commented on #275
You mean in my  .env? Yes. I set it to .com so that I could use dev.domain.com addresses with my sites. Should I not be doing that?

[2018-07-20 18:49] danemorgan commented on #275
I switched my TLD_SUFFIX to loc and now I can curl.

Is there any way that I can have it as .com and still be able to curl?

[2018-07-20 20:03] pvantilb commented on #250
@Tuurlijk Thanks so much! i guess i jumped the gun assuming that the curl meant it wasn't working.
Once i adjusted xdebug.ini with the alias, phpstorm was able to receive xdebug connections and step throught breakpoints. Thanks for the detailed steps, everything is working now!

[2018-07-20 20:09] cytopia commented on #275
Not at the moment.

The bundled DNS server works with catch-all DNS. So whatever value you set `TLD_SUFFIX` to, it will use this to create a domain catch all, directing every sub part to the Devilbox httpd server.

In case of `TLD_SUFFIX=com`, all domains ending on `com` will be redirected to the Devilbox own http server.

This is also the reason why the SSL certificate was wrong for it.

I will c

[2018-07-20 20:09] #275 closed

[2018-07-20 20:11] cytopia commented on #250
@Tuurlijk just to clarify this for the documentation.

When using `xdebug.remote_connect_back = On` without a remote host, do I still need the alias in `lo0`?

[2018-07-20 20:14] cytopia commented on #288
@danemorgan thanks for the in-depth explanation.

[2018-07-20 20:35] danemorgan opened #314 "Allow curl to reach external .com sites when TLD_SUFFIX is set to .com"
#### ISSUE TYPE
 - Feature request

#### SUMMARY
Change the behavior of Bind to allow for setting the TLD_SUFFIX to *.com, but allow curl to bypass the devilbox httpd server and follow real DNS to external servers.

[2018-07-20 20:37] cytopia commented on #314
To clarify the technical restraints:

Bind needs to be configured in a way not to do catch-all on the TLD_SUFFIX, but to be aware about all currently existing projects and only create DNS entries for those.

[2018-07-20 21:08] science695 commented on #314
Could this be achieved by having the vhost detection build up a EXTRA_HOSTS string for bind to use?

[2018-07-20 21:10] pvantilb commented on #313
Thanks, works well!

[2018-07-20 21:12] pvantilb opened #315 "Add ansible to PHP container"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

please add ansible to the php container as we utilize ansible-vaults to store information for some of our projects and having this in the container so it can easily be utilized to access/update those ansible vaults and/or test running playbooks would be extremely helpful.

[2018-07-20 21:24] cytopia commented on #312
Merged and should be available soon.

[2018-07-20 21:24] #312 closed

[2018-07-20 21:47] Tuurlijk commented on #250
@cytopia On a Mac that remote_connect_back will not work. That is the option that tells xdebug to sort out the host on its own. And it seems to fail at that for some reason. So remote_connect_back will not work on Mac. You need to create the lo alias and specify the alias ip in `xdebug.remote_host`. Good work @pvantilb ! ;-)

[2018-07-21 14:58] longelas commented on #250
@pvantilb next time read the solution to the end ^^ @Tuurlijk Ty for clarifying the end steps more than I did :)

[2018-07-22 08:44] cytopia commented on #315
PR created: https://github.com/devilbox/docker-php-fpm/pull/35

[2018-07-23 06:30] cytopia commented on #315
Merged. Docker images will be available in 1-3 hours.

[2018-07-23 06:30] #315 closed

[2018-07-23 15:44] RoestVrijStaal opened #316 ""ICU outdated", says symfony/requirements-checker"
#### ISSUE TYPE

 - Question

#### SUMMARY

Hi,

I set up a brandnew symfony project in devilbox, and after running check.php from "symfony/requirements-checker" (see https://symfony.com/doc/current/reference/requirements.html), I get the recommendation that ICU needs an update.

What would be the best approach to cope with it?

[2018-07-23 15:46] cytopia commented on #316
What PHP versions are affected by this issue?

[2018-07-23 21:29] #250 closed

[2018-07-24 06:47] cytopia commented on #244
@science695 thanks for that, didnt think of it. I will also add it to the docs

[2018-07-24 15:58] srattay opened #317 "setting NEW_UID / NEW_GID don't work"
#### ISSUE TYPE

 - Question

#### SUMMARY

Here on my OSX host my uid=501 and my gid=20
So i set NEW_ID=501 and NEW_GID=20 in .env
Starting with `docker-compose up` throws following error:
`httpd_1  | [WARN] Group with 20 already exists: dialout`

What can i do to get it work?

[2018-07-24 17:37] cytopia commented on #317
@srattay
This is just a warning, not an error. Is anything not working?

[2018-07-25 07:35] cytopia commented on #317
@srattay
As this is a bug, rather than a question, please provide all information as defined here: https://github.com/cytopia/devilbox/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

* also attach `.env` file
* Do you have any custom vhost-gen templates in place
* list contents of `data/www` (to check the project names)

[2018-07-25 08:00] srattay opened #318 "creating vhost fails"
#### ISSUE TYPE

 - Bug Report

#### OS / ENVIRONMENT

* Host operating system: macOS HigH Sierra 10.13.5
* Native Docker or Docker Toolbox: Native Docker
* Docker version: Docker version 18.03.1-ce, build 9ee9f40
* Docker Compose version: docker-compose version 1.21.1, build 5a3f1a3

#### SUMMARY

create vhost fails

output of docker-compose logs httpd:
<<
Attaching to devilbox_httpd_1
[36mhttpd

[2018-07-25 08:02] cytopia commented on #317
Closing in favour of: https://github.com/cytopia/devilbox/issues/318

[2018-07-25 08:02] #317 closed

[2018-07-25 08:02] srattay commented on #317
@cytopia
thanks for your advice
i opened a bugreport
does it make sense to use a previous version?

[2018-07-25 10:29] RoestVrijStaal commented on #316
Unfortunately I didn't test out all php versions. I'm used to stick to the most fresh but stable version. Thus in my situation: php 7.2

[2018-07-25 20:02] cytopia commented on #318
@srattay
Good catch.

Some parsing is wrong when debug is turned off.

In your `.env` file, turn on debug again as a quick fix:
[code]
This will avoid the error.
I will dig into this and let you know once you can turn it off again.

[2018-07-25 20:03] cytopia commented on #318
@srattay
Good catch.

Some parsing is wrong when debug is turned off.

In your `.env` file, turn on debug again as a quick fix:
[code]
This will avoid the error.
I will dig into this and let you know once you can turn it off again.

[2018-07-25 20:35] cytopia commented on #318
Fixes for webserver are building

* https://github.com/devilbox/docker-apache-2.2/pull/13
* https://github.com/devilbox/docker-apache-2.4/pull/13
* https://github.com/devilbox/docker-nginx-stable/pull/13
* https://github.com/devilbox/docker-nginx-mainline/pull/14

[2018-07-25 21:10] #318 closed

[2018-07-26 08:29] srattay commented on #318
thanks for fixing!

[2018-07-26 12:04] #288 closed

[2018-07-26 12:07] cytopia commented on #288
@danemorgan I have added the documentation: https://devilbox.readthedocs.io/en/latest/support/troubleshooting.html#sudden-unexplained-problems-on-windows

[2018-07-26 12:22] cytopia commented on #78
Generalized Xdebug documentation now available: https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug.html

[2018-07-26 12:22] cytopia commented on #209
Generalized Xdebug documentation now available: https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug.html

[2018-07-26 12:22] cytopia commented on #250
Generalized Xdebug documentation now available: https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug.html

[2018-07-26 22:40] pvantilb opened #321 "Install PHPUnit in PHP container"
#### ISSUE TYPE

 - Feature request
add phpunit to the php container

#### SUMMARY

would be useful to have phpunit globally installed in the php container like codeception is.

[2018-07-27 09:37] jukben commented on #302
Hey! It would be awesome to create one config file (or maybe as a part of .env) for those general configurations (as upload_max_filesize) to share them automatically across versions depend on your configuration. That would help me a lot 👍 What do you think?

[2018-07-27 09:43] cytopia commented on #302
@jukben those standard settings will be baked into each container by default, once they have been defined. So there will be no need for the user to apply standard settings, only to change those.

[2018-07-27 09:51] jukben opened #323 "Custom httpd (nginx-stable) configuration results into ERR_EMPTY_RESPONSE"
First of all, thanks for this stellar project! I've promised my father that I will build him a webpage with Wordpress – and It's madness again (!!!, I don't know why I'm hurting myself like this). However, this project is helping me survive. It's ridiculously easy to create a project on a custom domain with SSL support, enter the container and then handle rest of it with `wp` CLI. Just awesome. ❤️

[2018-07-27 09:54] jukben commented on #302
On the other hand, yep, that would definitely solve my problem why I had to mess with config in the first place https://github.com/cytopia/devilbox/issues/323 Thanks for working on this. 🙌

[2018-07-27 12:08] ftaiolivista opened #324 "subdomains not accessible"
#### ISSUE TYPE

 - Bug Report

#### OS / ENVIRONMENT

* Host operating system: Linux 64 (arch)
* Native Docker or Docker Toolbox: Docker
* Docker version: 18.05.0-ce, build f150324782
* Docker Compose version: 1.22.0

#### SUMMARY

I need to access a vhost with an additional subdomain name

My folders structure:
* /vhosts/a/www
* /vhosts/sub.a -> (symlink to /vhosts/a)

In the intranet I correctl

[2018-07-27 12:32] cytopia commented on #321
https://github.com/devilbox/docker-php-fpm/pull/37

[2018-07-27 16:33] cytopia commented on #321
Merged, will be available in ca. 30 minutes

[2018-07-27 16:33] #321 closed

[2018-07-27 16:35] cytopia commented on #324
There is documentation about creating subdomains:
https://devilbox.readthedocs.io/en/latest/vhost-gen/example-add-subdomains.html

Does this solve your issue?

[2018-07-27 16:52] cytopia commented on #323
Hi @jukben
[code]
What shell are you using? Besides, you are copying nginx stable and mainline into the root Devilbox directory. Two files into the same location at a path where it is not picked up anyway.

So which of the two files did you put into what Nginx conf directory?

[2018-07-28 02:26] TACIXAT opened #326 "Email Panel Code Injection (XSS)"
#### ISSUE TYPE

 - Bug Report

#### OS / ENVIRONMENT

* Host operating system: Not sure
* Native Docker or Docker Toolbox: Not sure
* Docker version: Not sure
* Docker Compose version: Not sure

#### SUMMARY

A friend posted a link to their site that was displaying the admin panel. So I sent myself an email with the body `<script>alert(0)</script>`. This caused an XSS.

#### STEPS TO REPRODUCE

S

[2018-07-28 07:21] cytopia commented on #326
@douggard thank you very much for reporting this security issue.

As this is a completely free project without monetization I cannot offer you any money. However if you are willing to regulariy check this project and its Docker images for security problems I will credit you properly and accordingly.

[2018-07-28 07:23] #326 closed, assigned to cytopia

[2018-07-28 09:00] cytopia commented on #302
# php.ini defaults

* PR: https://github.com/devilbox/docker-php-fpm/pull/39
* Base image defaults: https://github.com/devilbox/docker-php-fpm/blob/1b6799da58dea474f5d20e111258c2b22524d842/build/ansible/CONFIGURATION/php-base.ini
* Prod image defaults: https://github.com/devilbox/docker-php-fpm/blob/1b6799da58dea474f5d20e111258c2b22524d842/build/ansible/CONFIGURATION/php-prod.ini
* Work image defa

[2018-07-28 09:07] cytopia commented on #234
@qlstudent

1. did you try this: https://github.com/cytopia/devilbox/issues/234#issuecomment-399342207?
2. Please also provide more information so that I can actually reproduce this issue:

For intranet or projects? If for projects, please let me know which Framework and for what requests

Can you attach a screenshot of the vhost overview with open console

[2018-07-28 09:38] cytopia commented on #316
@RoestVrijStaal
I just tried it with PHP 7.2

[code]

I have also tried the URL version: http://my-symfony.loc/check.php

![screenshot 2018-07-28 11-36-51 selection](https://user-images.githubusercontent.com/12533999/43355317-9d8003e4-925a-11e8-8e2e-1eaa05ed4343.png)

Did you pull the latest PHP images?

[2018-07-29 08:20] cytopia commented on #302
Quick update: PHP defaults PR has been merged and new Images should be available in 1-2 hours.

[2018-07-30 06:30] jukben commented on #323
@cytopia sorry, that was more like "pseudocode" ... with typo 🤣

```cp cfg/nginx-stable/devilbox-custom.conf-example cfg/devilbox.conf```

Should work I guess. The issue is about when you source the default conf to nginx.