[2020-02-27 16:40] felixmosh opened #679 "Make a POST request from PHP to host OS"
#### ISSUE TYPE

 - Question

#### SUMMARY
I'm trying to `curl` from PHP to one of my node services that is running on the host os (mac).
I've tried to make the request to `http://host.docker.internal:3000` without success.

#### Goal

[2020-02-27 19:10] robots4life commented on #628
@science695 Perfect, thank you.

[2020-02-27 21:02] felixmosh commented on #679
Solved it by binding the server to `0.0.0.0` & sending the curl by network ip.

[2020-02-27 21:02] #679 closed

[2020-02-29 09:25] xenio commented on #678
Yep, I am getting Service Unavailable if I use a bash script in the autostart folder with:
`/usr/bin/open -a "/Applications/Google Chrome.app" 'http://localhost/vhosts.php'`

With an alias and a sleep command I can make it work, it is ok for me.
`alias devilboxstart='cd /Users/sandro/devilbox && docker-compose up -d httpd php mysql && /bin/sleep 7 && open http://localhost/vhosts.php'`

[2020-03-01 23:39] RaffyeMemon opened #681 "unauthorized: authentication required"
Hi..

need help with docker pull devilbox/php-fpm:7.2-work .. strange part is docker pull devilbox/php-fpm:7.2-prod worked.

not sure why work image is not pulling and prod just worked fine.

Thanks,

-RM

[2020-03-03 23:28] acollins1991 commented on #363
I was able to get my subdirectory multisite running by adding the following to the nginx.yml config:

      # START subdir multisite Custom #
      if (!-e $request_filename) {
        rewrite /wp-admin$ $scheme://$host$uri/ permanent;
        rewrite ^(/[^/]+)?(/wp-.*) $2 last;
        rewrite ^(/[^/]+)?(/.*\.php) $2 last;
      }

      location / {
        try_files $uri $uri/ /index.php?$args

[2020-03-04 08:22] boumanb commented on #681
We experienced something alike, after updating docker (Windows). Suddenly some were required to be logged into docker (using a docker hub registered account).

Can you verify that you're currently logged in using a docker hub account?
`docker system info | grep -E 'Username'` _or using the GUI on docker desktop (Windows)_

You should be seeing something like this:
`Username: <your_username>`

If y

[2020-03-09 11:55] MichaelHabib opened #685 "Unable to connect to postgree service from terminal"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `docker-compose.override.yml` is attached (if it exists)
* [x] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through existing issues: https://github.com

[2020-03-09 14:04] tmort commented on #363
@acollins1991 Thanks for the update. I'll give it a try when I'm eager to switch back to NGINX.

[2020-03-09 14:17] masiorama commented on #438
Even following the previous suggestions I'm not able to make cronjob work.
I tried with `crontab -e` and added `2 * * * * date >> /shared/httpd/cron.log` expecting some output but nothing so far.
Any help?

[2020-03-10 05:18] dbrw commented on #595
I think this might also relevant:

I found error on browser console:
[code]

[2020-03-11 20:12] science695 commented on #685
shell.sh is logging you into the php container of devilbox, and then you are running psql without telling it the path to the psql server.

I'm not real familiar with postgres, but pulling from the manual

[code]

I would imagine you could do this after ./shell.sh (assuming you don't need any of the other options):

[2020-03-12 08:18] cytopia commented on #685
You can see an example in the documentation: https://devilbox.readthedocs.io/en/latest/maintenance/backup-and-restore-pgsql.html#pg-dump

The host is `-h pgsql` and the user is `-U postgres`

[2020-03-20 06:28] cytopia commented on #678
This would be a better candidate for [devilbox-cli](https://github.com/louisgab/devilbox-cli) which is maintained by @louisgab

[2020-03-20 06:28] #678 closed

[2020-03-20 07:53] ArmanKoke opened #687 "php and httpd container exit with code 1"
I am working on fedora 31, and using devilbox, but httpd and php containers won't start in logs i get permission denied errors:

[code]

.env file:
[code]

docker-compose.yml:
[code]
[code]
[code]

[2020-03-23 13:48] cytopia commented on #685
@MichaelHabib can you report back if specifying host solves your issue?

[2020-03-23 13:50] cytopia commented on #687
It looks like none of the environment variables from `.env` are parsed to the container and lot's of their entrypoint scripts fail due to wrong/missing values.

[2020-03-23 13:51] cytopia commented on #681
@RaffyeMemon any update from your side, otherwise I would close this issue as it is not directly related to the Devilbox.

[2020-03-23 13:53] cytopia commented on #646
@robots4life can you let me know if @BrendonKoz solution is not working for you, otherwise I would go ahead and close this issue. FYI: Presented solution does work for me as well.

[2020-03-23 13:55] cytopia commented on #630
@pnoeric I will close this issue. See comment above for how to resolve your issue. If that doesn't fix it, please reply here again.

[2020-03-23 13:55] #630 closed

[2020-03-23 16:55] RaffyeMemon commented on #681
i uninstalled docker and reinstalled .. after that it worked even without login to docker-hub

[2020-03-23 17:52] #681 closed

[2020-03-24 16:33] llaville commented on #672
i've finally automated CyberChef installation with a bash script.
It's shared now below.

Put it in `autostart` folder of the devilbox distribution if you want to have it for all php containers (as explained in official documentation: https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html )

[code]

The only part that is now solved is to add new entry to devilbox / tools

[2020-03-25 04:52] sreekar opened #691 "how to upload files using php in lamp ubuntu including settings"
how to upload  files using php in lamp ubuntu including settings

[2020-03-25 08:21] cytopia commented on #691
@sreekar can you rephrase you question and be a bit more specific about what you want to achieve.

[2020-03-25 10:01] sreekar commented on #691
actually i am preparing a website using lamp in ubuntu with php  and i have a code to upload file using php  code is not showing any error but its not working

[2020-03-25 10:43] cytopia commented on #691
@sreekar If you think this is a bug in Devilbox itself, please do create a bug report ticket  here with steps, files and codes necessary to fully reproduce this. Otherwise people won't really be able to address this.

[2020-03-25 10:47] #691 closed

[2020-03-30 01:14] sierrafayad commented on #595
I'm not sure if this is exactly your problem, but here we go.

I've been having this issue for months (intermittent) I'm on windows using 53 as DNS port and setting the primary DNS as 127.0.0.1 I was wondering why sometimes it work and then suddenly stops.
tried a lookup for one of the domains and seems like windows is defaulting to IPv6 and the bind container isn't answering.
![image](https://use

[2020-03-30 14:29] stu177 opened #692 "Custom supervisor configs"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Custom supervisor configs

#### Goal

Being able to add custom supervisor conf files to Devilbox would be useful for working with queues in Laravel. I can see that supervisor is installed within the PHP container but I can't see a way of adding a new conf.

[2020-03-30 14:40] cytopia commented on #692
@stu177 can you explain what you would like to run with supervisor and also why with supervisor itself?

There is already a possibility to run things: https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-per-php-version.html

Let me know if this solves your issue already.

[2020-03-30 14:44] stu177 commented on #692
@cytopia It's mainly to replicate the environment we have on a production server. The conf we run looks like:

[code]

I can always run the command manually on the box to run the artisan command but it's more of a task to mirror the live environment for testing.

[2020-03-30 14:47] #674 closed

[2020-03-30 19:55] llaville commented on #597
[Vector](https://github.com/timberio/vector/) could also be the solution searched !

[2020-04-01 01:14] MichaelHabib commented on #685
Sorry about the late reply.

Yes, specifying the host seems to solve the issue, I assumed `localhost` would be a default fallback if the host name was not provided .

Thanks for your time.

[2020-04-01 01:14] #685 closed

[2020-04-01 07:36] llaville commented on #672
With permission right failures i've tried with a new script copy as follow :

[code]

But i don't understand why i've wrong permission rights. @cytopia could you help me on this condition please ?

[code]

I used Devilbox 1.7.0 with `autostart/install-cyberchef.sh` bash script as defined in this comment

[2020-04-03 09:57] KrunalRajkotiya commented on #639
hey @cytopia,
I have been facing similar kind of issue with **ffmpeg**.
 I am using the **ffmpeg** for converting my **mp4** files into **wav** format using **subprocess**.
I have added the **ffmpeg** in the _requirements.txt_ but at the time of excution of code locally on cloud shell it's showing me error like _ffmpeg not found_.
So I was trying to deploy my code in the **GCP  APP Engine** with s

[2020-04-04 08:48] llaville commented on #672
I've let down usage of `autostart` devilbox feature !

[2020-04-04 08:48] #672 closed

[2020-04-04 11:21] cytopia commented on #672
This is due to `/var/www/default/` `docker-compose.yml` specifies this directory as read-only: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L169

[2020-04-04 14:13] llaville commented on #672
Thanks for answer.
BTW, as I said I've let down `autostart`  feature that can solve the situation, and create a `shell2.sh` script that did the job before the containers are up !

[2020-04-06 19:21] science695 commented on #685
@MichaelHabib Just a quick tip on linux systems, they often default to a local socket, not a local ip. So on most systems, it seems like they are defaulting to localhost, but the socket magic is covering it for you.

With dockers, inner container is separated from your computer so it can't just use a socket on your computer.

[2020-04-07 08:32] StanMenten99 opened #693 "Auto DNS not working"
### ISSUE TYPE
 - Bug Report

### Checklist
* [ / ] `.env` file is attached [env.txt](https://github.com/cytopia/devilbox/files/4444939/env.txt)
* [ / ] `docker-compose.override.yml` is attached (if it exists)
* [ / ] Custom configs from `cfg/` dir are attached (if customized)
* [ / ] `docker-compose logs` and `log/` output is added
* [ x ] I've looked through the docs: https://devilbox.readthedoc

[2020-04-07 14:02] vikas5914 commented on #693
@StanMenten99 please provide your `.env` file.

[2020-04-07 14:06] StanMenten99 commented on #693
[env.txt](https://github.com/cytopia/devilbox/files/4444935/env.txt)

[2020-04-07 19:54] Luc45 opened #694 "Persist bash/zsh history"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
When running `docker-compose exec --user devilbox php bash -l`, every time you exit the container you lose the history of commands you typed. This is frustrating because I run a lot of tests, phpcs and phpcbf commands that I don't want to lose and have to type again.

When running `docker-compose exec --user devilbox php zsh -l`, it's slightly wors

[2020-04-08 00:21] DamnedScholar opened #695 "Can't seem to get /etc/hosts or AutoDNS to work"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached - [env.txt](https://github.com/cytopia/devilbox/files/4446972/env.txt)
* [ ] `docker-compose.override.yml` is attached (if it exists)
* [ ] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added - [logs.txt](https://github.com/cytopia/devilbox/files/4446989/logs.t

[2020-04-08 23:03] Luc45 opened #696 "Feature request: Add "php-common" package"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
I would like to use `phpenmod` and `phpdismod`. They are part of `php-common` package. I'd like to suggest adding `php-common` by default.

#### Goal
What I'm trying to achieve is related to Xdebug performance. I will leave it loaded for web requests, but I would like to disable them when running CLI commands. Example: `phpdismod xdebug && phpunit

[2020-04-08 23:26] Luc45 commented on #696
PS: I tried to add it myself before opening this PR, but I simply couldn't. I use Ubuntu on my host machine and I'm used to install all sorts of packages, PPAs and stuff, but I simply couldn't install `php-common` from inside the container. I don't know why.

[2020-04-12 14:55] taliptako opened #697 "502 Bad Gateway to Devilbox Intranet"
### ISSUE TYPE
 - Bug Report

1. Host operating system and version: Fedora 32
2. (Windows) Native Docker or Docker Toolbox:
3. Docker version: Docker version 19.03.8, build afacb8b
4. Docker Compose version:  1.25.4
5. (Linux) Is SELinux enabled?: NO I disabled it
6. What git commit hash are you on?: 8c931cdf5636b08ffecd0c73cb40ec4afd239783

### SUMMARY
I just clone the devilbox repo set my .env t

[2020-04-13 00:27] manuxi opened #698 ""Yarn watch" with webpack-encore-bundle does not copy images properly"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version:
Windows 10
2. (Windows) Native Docker or Docker Toolbox:
docker Desktop
3. Docker version:
2.2.0.5
4. Docker Compose version:
1.25.4
5. (Linux) Is SELinux enabled?:
No
6. What git commit hash are you on?:
? (Installed devilbox on 11.April 2020 via git clone)

### SUMMARY
"yarn watch" does not copy all of the

[2020-04-13 09:29] lnsane opened #699 "Setting MYSQL_ROOT_PASSWORD NOT WORKING"
################################################################################
###
### 5. MySQL Docker Settings
###
################################################################################

###
### MySQL root user password
###
### The password is required for the initial creation of the MySQL database
### as well as the Devilbox intranet to display schema and configuration settings.
###

[2020-04-13 10:01] cytopia commented on #699
@lnsane when submitting bug reports, please use/fill out correctly the GitHub issue template for bugs and specify/describe all the steps to reproduce this, otherwise it won't be possible to triage your bug.

Generally speaking, the MySQL root password change does work as shown here by the CI jobs: https://github.com/cytopia/devilbox/runs/532864471?check_suite_focus=true#step:6:49

[2020-04-13 11:06] milos-stankovic opened #700 "php-7.4.4 - the requested PHP extension imap is missing from your system."
Hello,

How can I solve this missing extension, please!?

![image](https://user-images.githubusercontent.com/14111282/79115938-7da14780-7d87-11ea-822d-cd3dec3f917b.png)

[2020-04-13 15:26] taliptako commented on #697
This is related with docker cause it works on Ubuntu since i move to Ubuntu LTS 20.04 i'm gonna let F32 users think about this :)

[2020-04-13 15:26] #697 closed

[2020-04-13 15:39] cytopia commented on #697
Thanks for the heads-up

[2020-04-13 15:53] science695 commented on #694
@Luc45 The bash history does persist between repeated calls to bash or zsh. What clears it is a ./rebuild.sh because that literally deletes your running instance and rebuilds it.

If you wish your bash_history file to be preserved you can map it to a file in your devilbox (or create a volume for it if you hit performance issues).

docker-compose.overrides.yml:
[code]
If you need to add it as a vol

[2020-04-13 15:55] science695 commented on #696
I think its because docker containers usually clear all repository caches and indexes. Try:
`apt update && apt install php-common`

[2020-04-13 16:07] science695 commented on #611
@cytopia You can install certbot, and run a command and it will place challenge files in the docroot, do a handshake with letsencrypt and then retrieve a certificate. If you ran this on startup, it would check expiration dates and renew if needed.

Here is a configuration reference for one of the modes that could be helpful:
https://certbot.eff.org/docs/using.html#webroot

[2020-04-13 16:11] science695 commented on #697
@taliptako Can you trace pinging and checking the routes between your host, the php/http container? (you might have to apt update and apt install some network tool packages on http)

You could also try installing an older version of docker (a couple minor versions back)...

If you have both ubuntu anf F32, try comparing the routing tables between the 2 setups.

[2020-04-13 17:49] cytopia commented on #611
@science695 I can ship certbot with the PHP-FPM images. Additionally a how-to is already available via the docs from another user. As the rest of the feature goes a bit out of scope for a development environment, I will only accept PR's for the rest of the features. Will leave this open until `certbot` is shipped :)

[2020-04-13 21:59] science695 commented on #611
@cytopia Sorry, didn't mean to bump a stale topic, just saw the help wanted tag from earlier.

[2020-04-17 22:10] baskettcase opened #701 "Mac Mojave DNS issues"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `docker-compose.override.yml` is attached (if it exists)
* [X] Custom configs from `cfg/` dir are attached (if customized)
* [X] `docker-compose logs` and `log/` output is added
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through existing issues: https://github.com

[2020-04-20 01:59] lnsane commented on #699
...

[2020-04-20 01:59] #699 closed

[2020-04-20 14:01] science695 commented on #701
Mac no longer supports local DNS servers. Make sure to clear all of the auto dns config from your network settings, and then confirm that the appropriate lines are in /etc/hosts.

[2020-04-20 20:07] baskettcase commented on #701
Thank you for your help! Ok I deleted it all, but the only reason I was trying to add AutoDNS was because the hosts file was not working with devilbox, what can I try now? and yes the appropriate lines are in the hosts file.

[2020-04-22 12:11] science695 commented on #701
What happens if you open terminal and try to ping either of those 2 hosts?
[code]

[2020-04-22 16:22] Luc45 commented on #694
Thanks a lot @science695 !

I've ended up sharing the whole home directory, like this:
[code]
Because sharing individual files was causing them to be interpreted as folders, not sure why. But sharing the home folder worked nicely!

[2020-04-22 16:22] #694 closed

[2020-04-24 08:02] baskettcase commented on #701
The ping was working (and it wasn't when I first started this thread) and I found that another app was taking over port 80 and 443 even though in the docs it told me how to check if those ports were taken and they were not.. or Im completely blind. I removed those bindings and restarted docker and then devilbox and I am now able to see what I need to see. Thank you for the help!

[2020-04-24 08:02] #701 closed

[2020-04-24 14:06] tzimpel opened #702 "Generate SSL certificate also for ServerAlias entries"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Right now an SSL vertificate for a VHost is only created for the domain that is auto-generated from the directory name and prefix from `.env`. It would be great if an SSL certificate is also generated for all ServerAlias entries that are made to the custom host configuration in a project (e.g. `.devilbox/apache24.yml`).

Alternatively, there shoul

[2020-04-24 21:45] RockyKev commented on #643
Same issue, on a windows 10.

* [x] `.env` file is attached [env.txt](https://github.com/cytopia/devilbox/files/4531589/env.txt)
* [x] `docker-compose logs` and `log/` output is added  [log.txt](https://github.com/cytopia/devilbox/files/4531626/log.txt)

1. Host operating system and version: WIndows 10 Pro 1909
2. (Windows) Native Docker or Docker Toolbox: Docker Desktop
3. Docker version: Docker

[2020-04-26 22:30] #612 closed

[2020-04-27 21:59] RockyKev commented on #643
Messed with the .env file and changed the sql version.
Working now.

[code]

[2020-04-27 23:41] Natetronn commented on #695
Did you add 127.0.0.53?

I don't think IP 127.0.0.53, on port 53, is going to work. Should just be 127.0.0.1 (which will then be on port 53.) Not sure you're editing the correct resolv file, either way. Not saying it can't work (I'm not 100% sure, as I'm on arch) but, I don't recall `/etc/systemd/resolved.conf` being mentioned.

For the .evn file, should be set to `127.0.0.1:` (note the trailing c

[2020-04-28 01:29] Luc45 commented on #499
I still get `nvm: command not found`, both in bash and zsh inside the container in Devilbox

[2020-04-28 01:41] Luc45 commented on #499
I ran the `nvm` installer script and it's running now. `curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash`

As Cytopia said in another issue, it seems to be because `nvm` is registered as a bash/zsh function, rather than an actual executable available in the $path. This seems to cause some issues.

[2020-04-28 09:05] Venorcis opened #703 "'Failed to change ownership of the home directory' in PHP container"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [ ] `docker-compose.override.yml` is attached (if it exists)
* [ ] Custom configs from `cfg/` dir are attached (if customized)
* [ ] `docker-compose logs` and `log/` output is added
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through existing issues: https://github.com

[2020-04-28 10:43] nguyenbo2001 opened #704 "Xdebug with Ubuntu Docker"
Hello,

I wish you to resolve the problem!

I use ubuntu 18.04

Docker version 19.03
Docker compose version 1.17

PHP server version 7.3
![Screenshot from 2020-04-28 17-37-29](https://user-images.githubusercontent.com/14049903/80477943-f81cba80-8976-11ea-9da6-d6d2de878c19.png)

And config vscode and config xdebug in config/php-ini-7.3
![Screenshot from 2020-04-28 17-40-30](https://user-images.gith

[2020-04-28 12:10] llaville commented on #704
Hello @nguyenbo2001
Can you tell us what is your problem ?

[2020-04-28 13:55] nguyenbo2001 commented on #704
Sorry. I setup Vscode to start debug but nothing happen. It not break with your point. Can you give us the solution!

[2020-04-28 14:13] llaville commented on #704
To be sure, that its Vscode specific. Have you tried to use xdebug with another IDE platform ?

[2020-04-29 09:29] fkaminski opened #705 "crontab in php Container - cron service not running by default"
#### ISSUE TYPE

 - Question

#### SUMMARY

Hi, i am trying to test some simple cron jobs and using my local devilbox for testing purpose.
I was wondering why my jobs never be executed at all. It turned out:

When i enter the PHP Container with:
`docker-compose exec --user devilbox php bash -l;`

The cron service is not starting by default - Check with:
`service cron status`
("[FAIL] cron is not r

[2020-04-29 09:54] llaville commented on #705
@fkaminski did you tried the Autostart commands feature ( see documentation ) ?

[2020-04-29 10:47] fkaminski commented on #705
@llaville
Thank you will check that:
https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html?highlight=autostart

[2020-04-29 11:01] fkaminski commented on #705
Thanks,
works like a charm ...

[2020-04-29 11:01] #705 closed

[2020-04-29 11:43] llaville commented on #705
glad to help

[2020-04-29 12:00] fkaminski commented on #693
I just swichted from Docker Toolbox to Docker-Desktop (Win 10 PRO)
with the Hyper-V and Docker-Desktop default settings.

Set the HOST_PORT_BIND=53 in the .env
and 127.0.0.1 as DNS in the network adapter (the generated Hyper-V Virtual Ethernet Adapter):

https://devilbox.readthedocs.io/en/latest/intermediate/setup-auto-dns.html
https://devilbox.readthedocs.io/en/latest/howto/dns/add-custom-dns-ser

[2020-04-29 17:47] #601 closed

[2020-04-30 13:47] StanMenten99 commented on #693
Thanks, adding 127.0.0.1 as DNS in my Hyper-V networkadapter did the job.
I was adding it to my main adapter...

[2020-04-30 13:47] #693 closed

[2020-04-30 14:26] fkaminski commented on #693
@StanMenten99
Good News ...

[2020-04-30 14:32] cytopia commented on #693
Good to hear :)

[2020-05-01 09:03] ArmanKoke commented on #687
Turns out everything set up correctly, but since I had fresh installed fedora 31 there was little OS setting called **selinux** that disabled mounting for security reasons, it could be set up by sysadmins but I just disabled and reboot, then everything worked correctly.

[2020-05-01 09:03] #687 closed

[2020-05-02 13:41] DorianLsl commented on #697
@taliptako @cytopia
Being on Fedora 32, I had that problem too! But after hours of tearing my hair out, I found the solution.
Once the containers are launched, do an "ifconfig", normally a network interface of type "aa-acXXXXXXffXc" will appear.
You just have to identify this interface as a trusted interface for the firewall :
[code]

[2020-05-05 10:36] VSMent commented on #561
I have same issue when trying to start from different directory.
When in directory `docker-compose up httpd php mysql` works well, but
outside `docker-compose -f P/devilbox/docker-compose.yml up httpd php mysql` gives same error
[code]

[2020-05-05 12:55] cytopia commented on #561
This is because the `docker-compose` command looks for an `.env` file in the current directory from where you've started it. Then the `.env` is not found and the variables are not substituted into `docker-compose.yml`

[2020-05-06 16:17] BobbyBabes opened #706 "please provide Setup Instructions (an Install Guide) in the docs for Ghost - Headless CMS"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Could you please provide Setup Instructions (an Install Guide) in the docs for [Ghost - Headless CMS at Github](https://github.com/TryGhost/Ghost) ([Ghost - Headless CMS website](https://ghost.org)) ?

#### Goal
Run Ghost headless CMS with an [11ty (Eleventy) static frontend](https://github.com/11ty/eleventy).
Similar to what is described here : [E

[2020-05-07 09:58] VSMent commented on #561
@cytopia is there any way to include path to env file or something so it will work?

[2020-05-07 11:30] cytopia commented on #561
This I don't know. Why not go directly into this directory?

[2020-05-08 08:33] VSMent commented on #561
I would like to set up an alias, so it is possible to open terminal, type command and voila, server is running, while I stay in directory I used to be.

[2020-05-08 15:52] howdu commented on #344
@cytopia apologies for referencing an old issue but I'm having issues understanding what's required to get BrowserSync working? I've copied the default nginx vhost to: ~/devilbox/data/www/project/.devilbox/nginx.yml

Testing this standard webpack/browsersync boilderplate setup:
https://github.com/WeAreAthlon/frontend-webpack-boilerplate

[2020-05-08 16:10] cytopia commented on #561
Instead of an alias, you can use a bash function (works the same with autocompletions). This way you can `cd` into the directory before and start it up.

`bashrc`
[code]

[2020-05-09 03:25] vikas5914 commented on #561
For Powershell

[code]

Then you can use `d-up` to trigger it.

[2020-05-10 15:37] #677 closed

[2020-05-10 15:49] #673 closed

[2020-05-10 21:54] VSMent commented on #561
Thanks for reply. I will try that

[2020-05-11 08:57] tzimpel commented on #702
@cytopia where would I have to look to try and provide a patch myself, if that helps with progress?

[2020-05-12 18:55] alwismt commented on #146
Hello, Did you make it with multiple php support?

[2020-05-16 09:43] #665 closed

[2020-05-19 07:44] pluuz3 commented on #158
In your Dockerfile, add this line at the end of file. This will build the container with nano and vim
For Ubuntu:
RUN apt-get update && apt-get -y install nano vim && apt-get autoremove
For CentOS:
RUN yum update &&  yum -y install nano vim && yum clean all

[2020-05-21 00:33] weitzman commented on #628
@boumanb Any chance you get those developers to share a few bullet points about their setup? I dont see any information on google about this.

[2020-05-21 11:02] robots4life commented on #628
@weitzman Ha. Just yesterday I looked into PHPStorm because I am going through the Symfony tutorials and using PHPStorm with that seems to be a real pleasure doing a lot of things automatically.
Having a quick look around I found [https://blog.jetbrains.com/phpstorm/2018/08/quickstart-with-docker-in-phpstorm/](https://blog.jetbrains.com/phpstorm/2018/08/quickstart-with-docker-in-phpstorm/) and [ht

[2020-05-21 16:43] boumanb commented on #628
@weitzman I showed this thread to my colleague and he is willing to share information about setting up PHPStorm to work with Devilbox. He told me he was going to try to respond tomorrow.

@robots4life I'm doing fine! How about you? Good to see you're learning new things. Regarding the tut, the colleague I was talking about told me he was planning on writing a blog post about it. Anyhow, knowing hi

[2020-05-22 14:20] fkaminski commented on #547
The Contao Documentation now includes a devilbox guide:
https://docs.contao.org/manual/de/lokale-installation/devilbox/
https://docs.contao.org/manual/en/guides/local/devilbox/

[2020-05-22 19:55] #667 closed

[2020-05-26 21:46] ClearMarble commented on #105
Hey, do you imagine this would still work if I updated to the latest version? Been holding off updating due to this but don't know if anything relevant has really changed.

[2020-05-27 08:43] insyht commented on #628
Hi, I'm The Colleague that @boumanb mentioned.
These are the steps to get Devilbox integration in PHPStorm. I use Linux, but I think these settings should also work on Windows.

### Basic stuff
First, go to your _.env_ file (located in your devilbox directory) and add the following to the bottom:
`PHP_IDE_CONFIG=serverName=devilbox`
Save and restart devilbox.

Next, open your project in PHPStorm a

[2020-05-27 08:50] cytopia commented on #628
Thanks everyone for gathering this info together.

[2020-05-27 12:10] weitzman commented on #628
Thanks for the detailed post @insyht.

I'm specifically interested in using PHPStorm + VS Code Server. Is that what you are using? I'm using terminology per this diagram
![image](https://user-images.githubusercontent.com/7740/83017364-84131800-9ff1-11ea-9d81-42fdb3c9ae89.png)

[2020-05-27 12:25] insyht commented on #628
I don't know if that's possible. What functionality of VS Code Server do you want to use in PHPStorm?

[2020-05-27 15:15] julienpastore commented on #700
Hello !

I got the same issue. After checking the documentation, it appears that the php 7.4 image does not contained the imap module.

In this case I assume we have to install it "manually", but I'm not sure how.

From what I've read, the devilbox allows to use custom php module: https://github.com/vermauv/devilbox/blob/master/docs/Configure.md#13-the-devilbox-mod-directory

But I'm not sure to u

[2020-05-29 08:46] merlijnvl commented on #704
@nguyenbo2001 In the debug launch config example [here](https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/linux/vscode.html#configure-php-xdebug-lin-vscode) `${workspaceFolder}` is used for the path mapping not workspace root.

I use `${workspaceFolder}` for my dev setup and it works as expected the only difference is that i use ubuntu 20.4.

[2020-05-30 02:31] lowkeenyo commented on #653
This solved it for me when if gave the error during magento 2 install on the web setup wizard

[2020-06-02 06:51] llaville opened #707 "Move backups out of the Devilbox"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Following the [Best Practice](https://devilbox.readthedocs.io/en/latest/intermediate/best-practice.html#move-data-out-of-devilbox-directory) to move data out of the Devilbox, I would like to have the same way for backups.

#### Goal

To do it, I've :

- added a non official `HOST_PATH_BACKUPDIR` env var in my `.env` file
- added a `docker-compose.o

[2020-06-04 08:20] howdu opened #708 "PHP send email permission denied /var/log/mail.log"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version: MacOS Catalina 10.15.5
2. (Windows) Native Docker or Docker Toolbox: Docker Desktop
3. Docker version: 2.3.0.3
4. Docker Compose version: 1.25.5
5. (Linux) Is SELinux enabled?:
6. What git commit hash are you on?:

### SUMMARY
Send email via php throws write warning.

Warning: mail(/var/log/mail.log): failed

[2020-06-05 06:37] MrSnoozles commented on #413
Configuring devilbox is super easy and intuitive, except for those custom vhost settings. In my case it's usually changing the DOCROOT from / to /public/ or something similar.
Would be huge if we wouldn't have to touch the full vhost template for those settings. 👍

[2020-06-05 18:06] alexfd7 commented on #595
I'm having the same problem reported.

[2020-06-06 17:29] #708 closed

[2020-06-08 17:34] lucasvignolireis commented on #146
I work in a system that has multiple subsystems that work on different PHP versions. So locally I have 3 subdomains to each one of these subsystems, and some of them call API funcions from the others, so currently I don't see how I could work this out with current devilbox...

So there it is: another use case.

[2020-06-09 17:37] lucasvignolireis commented on #146
That would work! Do you have a link on this? How to run multiple Devilbox instances in different IPs?

[2020-06-15 16:51] robots4life commented on #646
I will check asap and report back, thank you both for your feedback on the issue.

[2020-06-15 17:17] robots4life commented on #646
All good, it works! It was the path. Thank you @BrendonKoz  and @cytopia :+1: :rocket:

[2020-06-15 17:18] #646 closed

[2020-06-15 17:31] robots4life commented on #628
@insyht Man, excellent post up there about PHPStorm, thank you heaps! :+1: :zap: :rocket:

[2020-06-17 12:23] andim27 commented on #595
The problem is active if you use vpn. Disconnect vpn service and all will be work

[2020-06-21 17:53] robots4life opened #709 "Svelte, LiveReload, HMR, Hot Module Replacement & Devilbox & Secure Local Dev Domain"
I am trying to get either live reloading or hot module reloading going with Svelte and the awesome Devilbox. It does work, however not under the **secure self signed local development domain** provided by Devilbox but just under some `http://172.16.238.10:5000`.

Here is what I managed to get going so far. Would love to get that last bit with the secure local dev domain working. @boumanb perhaps?

[2020-06-22 13:11] science695 commented on #709
using the docker internal ip works on linux because you are directly addressing the php container (which is also running the node).

If you want extra ports to be forwarded from the apache / nginx container, you need to add those ports the env variable sent to the http container:

docker-compose.override.yml:
[code]

[2020-06-22 16:51] robots4life commented on #709
@science695 Thank you, however your suggestion did not work. I have this in `docker-compose.override.yml` now.

[code]

I also tried adding all the ports but that also did not work.
[code]

So I have simple project folder `svelte`. In there I have `.devilbox` folder with apache22.yml, apache24.yml and nginx.yml files, all pointing to port 5000.
The HOSTS file has `127.0.0.1 svelte.loc` and the pac

[2020-06-23 16:01] jakedowns commented on #146
this may be helpful, but i couldn't get it to work https://devilbox.discourse.group/t/multiple-versions-of-php/352/5

i may have to switch to laradock for now https://medium.com/@msirius/1-n-php-versions-and-projects-via-laradock-51938b337071

[2020-06-23 19:55] BobbyBabes commented on #706
@gunnard That would be cool.

[2020-06-24 02:43] Suprethreal commented on #561
How to "clear" those pulls you don't want?

[2020-06-24 10:56] dattapw opened #710 "/usr/local/bin/mysqldump-secure: 1937: return: Illegal number:"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version: MacOS Catalina 10.15.2
2. (Windows) Native Docker or Docker Toolbox:
3. Docker version: Docker Desktop 2.3.0.2
4. Docker Compose version:  1.25.5
5. (Linux) Is SELinux enabled?:
6. What git commit hash are you on?:

### SUMMARY

Running mysqldump-secure gives error:

[DEBUG] (CFG): Using config: /etc/mysqldu

[2020-06-25 15:09] science695 commented on #709
Can you use your browser's developer tools / Network tab to see what ports it is trying to connect to? which ports are working right when using ip?

[2020-06-25 15:17] science695 commented on #561
If you do not pull those images, you also have to make sure you run docker-compose up with specifically listing which containers you want to run.

Like what @vikas5914 said in his powershell:
`docker-compose up -d mysql php httpd`

That says only start those 3 containers. I modified the rebuild.sh / rebuild.bat files to include these arguments.

[2020-06-25 23:46] bbeale commented on #595
I'm having the same issue and disabling my VPN connection did not fix it.

[2020-06-27 14:26] cytopia commented on #710
@dattapw thanks for reporting this issue. This has already been reported in its own repository here: https://github.com/cytopia/mysqldump-secure/issues/32 So I will close this one.

[2020-06-27 14:26] #710 closed

[2020-06-27 14:27] cytopia commented on #700
@milos-stankovic @julienpastore currently baking: https://github.com/devilbox/docker-php-fpm/pull/159

[2020-06-27 14:32] cytopia commented on #696
`phpenmod` and `phpdismod` are Debian specific script helper to load/unload modules. They will only work if PHP and all of their modules have been installed via `apt` (as it goes into specific locations and does a lot of Debian-based customization).

In case of the Devilbox, it is using the official PHP docker images as base - they are compiled via source, and all of its modules are not installed

[2020-06-27 14:36] cytopia commented on #611
`certbot` will be shipped with this release: https://github.com/devilbox/docker-php-fpm/pull/159

[2020-06-29 17:44] Luc45 commented on #696
Thanks for the help, @cytopia.

I will look for another way of loading/unloading PHP modules, then, to be able to use Xdebug without slowing down my development environment.

[2020-06-30 10:15] cytopia commented on #696
@Luc45 have a look at `/usr/local/bin/docker-php-ext-enable`. This is a shell script provided by the base PHP docker image to enable modules. With a bit of work, you could derive one to disable modules the same way.

[2020-07-01 10:15] ianmjones commented on #695
I had the same problem getting AutoDNS to work on an Ubuntu 18.04 LTS based distribution (elementary 5.1.5).

The problem stems from Ubuntu 18.04+ using systemd-resolved for DNS by default, which is where that `127.0.0.53:53` address comes from. That stops devilbox from being able to bind to `0.0.0.0:53`.

To combat this, I just needed to do two things...

1. Ensure devilbox's `.env` was **only**

[2020-07-01 14:40] robots4life commented on #709
@science695 Thank you for your suggestion to look into the network tab of dev tools. Lesson learned. I was under the impression live reload for Svelte is something different, internal, but it is all the same old LiveReload we all know. In short, it all boils down to this unfortunately. [http://livereload.com/limitations/https/](http://livereload.com/limitations/https/) LiveReload does not support

[2020-07-01 14:47] science695 commented on #709
@robots4life: You might be able to direct the livereload port to the webserver container and have it proxy the request (in http form) to that port on the php container.

It might be tricky to get the webserver virtualhost config to peel the livereload requests off from the main virtualhost.

I'm not familiar with what options you have with svelte, Can you override the domain / port of the live rel

[2020-07-02 12:12] llaville opened #712 "Makefile for docker-compose"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
A makefile to start, stop, compose your docker-compose stack

#### Goal
Handle easily all containers without merging `compose/docker-compose.override.yml-*` templates to your own `docker-compose.override.yml`

You may either use standard extra containers found in devilbox `compose/` directory or your own scripts.
But you **MUST** follow naming rule

[2020-07-02 16:12] boumanb commented on #709
@robots4life I've read the thread. I am not experienced with Svelte. However, we do have a setup that works with LiveReload (over HTTPS). This setup uses Gulp. I'll share the `gulpfile.js` with you and the `docker-compose.override.yml`. I hope they are self explanatory and of use for your project. The `docker-compose.override.yml`:

[code]

We then make the `gulpfile.js` like so:

[code]

At last

[2020-07-02 19:57] science695 commented on #709
I'm glad you have this working, and your solution will be available for others.

[2020-07-03 07:22] robots4life commented on #709
Thank you @boumanb for i) reading the thread :+1: and ii) providing an approach with Gulp and Devilbox :100:. Similar to your mate posting about PHPStorm and VSCode setup with Desvilbox this should also be documented/blogged.

In your post there is this.
[code]
Svelte can be used with Rollup and Webpack. I am using Rollup for now. LiveReload has a plugin for Rollup. [https://github.com/thgh/rollup

[2020-07-04 17:43] gunnard commented on #706
Update: I have the latest version of Ghost running on devilbox. What seems like a simple rproxy for node setup is not. How would you like me to deliver the instructions for this? Should I just use the node rproxy page as a template?
![ghost1](https://user-images.githubusercontent.com/5222551/86518036-91db6a80-bdf3-11ea-9bb0-b2d9f8bb6839.png)
![ghost2](https://user-images.githubusercontent.com/5222

[2020-07-05 12:14] BobbyBabes commented on #706
@gunnard Thanks a lot! :1st_place_medal: :100:
Whatever is easier for you. If that's the node rproxy page then go for it.

[2020-07-05 14:48] gunnard commented on #706
@BobbyBabes I have created a feature branch. How can I push this to the repo? I do not have permission. I also cannot find (if there is any) what the instructions are for me to do this. I am very familiar with git so I just need to know what the process is for this project. Thank you!

[2020-07-06 07:35] nguyenbo2001 commented on #704
Hello,

I have setup Xdebug again. And it show the error unable to open file (it existed on the local)
![Screenshot from 2020-07-06 14-32-42](https://user-images.githubusercontent.com/14049903/86567616-d6067080-bf95-11ea-895e-a805f6d3411f.png)

[2020-07-06 08:06] nguyenbo2001 commented on #704
I have resolved the issue. Sorry

[2020-07-06 08:06] #704 closed

[2020-07-08 19:10] science695 commented on #706
@gunnard I would imagine you submit a pull request from your fork to this project.

[2020-07-08 22:27] cytopia commented on #706
@gunnard you can create this locally from within the `docs/` directory. Simply enter `make autobuild` (in the `docs` dir), which will start a local server on `http://0.0.0.0:8000` to preview all changes for the Sphinx docs - no tools except Docker required.

[2020-07-08 22:29] gunnard commented on #706
Awesome. Thank you!

On Wed, Jul 8, 2020, 5:27 PM cytopia <notifications@github.com> wrote:

[2020-07-09 07:46] zloymalefic commented on #174
The same for me, there is no any plugins, just pure Wordpress and the issue is reproduced

[2020-07-09 17:02] cytopia commented on #712
I would rather not include it in this project, as this would require to always keep it up-to-date. Besides it's a stand-alone project by itself. I'd fully agree for documentation though.

This one I like, big fan of Makefiles myself. Also here I'd suggest to add this to the documentation and keep this as a stand-alone project.

I'd say let's make it a forum post.

[2020-07-10 01:16] gunnard commented on #706
@cytopia this seems to not be working:
`º°¤ø[~/devilbox/docs]
º°¤ø[sudo make autobuild
docker run \
        --rm \
        $(tty -s && echo "-it" || echo) \
        -e SPHINX_PROJECT="docs" \
        -e SPHINX_PORT=8000 \
        -e NEW_UID="$(id -u)" \
        -e NEW_GID="$(id -g)" \
        -p "8000:8000" \
        -v /..:/shared/httpd \
        devilbox/python-sphinx:3.8-dev \
        sphinx-au

[2020-07-10 06:39] llaville commented on #712
https://devilbox.discourse.group/t/makefile-to-compose-handle-your-devilbox-stack/397

[2020-07-10 06:39] #712 closed

[2020-07-13 13:26] BobbyBabes commented on #706
I have no idea. I'm not the author, nor a member of this repo.

[2020-07-13 13:31] gunnard commented on #706
Thanks for your help @BobbyBabes , @cytopia did get back to me on a workflow.

[2020-07-13 13:32] cytopia commented on #706
You need to fork the project and then just push it to the forked repository, it will then auto-offer to create a PR to upstream

[2020-07-13 13:40] gunnard commented on #706
@cytopia, while I have you,
I have not been able to get the sphinx server to work properly. This is on a fresh clone of devilbox, did a doccker-compose up once to make sure that it worked. then I tried `make autobuild` within the /docs dir.
--------------
docker run \
        --rm \
        $(tty -s && echo "-it" || echo) \
        -e SPHINX_PROJECT="docs" \
        -e SPHINX_PORT=8000 \
        -

[2020-07-13 14:36] cytopia commented on #706
@gunnard Seems like the mount part is not really working:

[code]
which is defined as:
[code]
So I am guessing the `$(PWD)` variable is not being resolved. Can you set and export this explicitly to the full path of the docs directory

[2020-07-13 14:46] gunnard commented on #706
Same result (unless I am doing this wrong) I also tried the replacement for linkcheck and it fails
`docker run \
        --rm \
        $(tty -s && echo "-it" || echo) \
        -e SPHINX_PROJECT="docs" \
        -e SPHINX_PORT=8000 \
        -e NEW_UID="$(id -u)" \
        -e NEW_GID="$(id -g)" \
        -p "8000:8000" \
        -v /home/gunnard/devilbox/docs \
        devilbox/python-sphinx:3.8-

[2020-07-13 16:50] BobbyBabes commented on #706
Shouldn’t PWD be pwd (lowercase) instead?

[2020-07-13 16:59] gunnard commented on #706
Tested that out, no go.
Quick google found this:
PWD=$(shell dirname $(realpath $(firstword $(MAKEFILE_LIST))))
my output using `$(PWD)` is:
docker run \
        --rm \
        $(tty -s && echo "-it" || echo) \
        -e SPHINX_PROJECT="docs" \
        -e SPHINX_PORT=8000 \
        -e NEW_UID="$(id -u)" \
        -e NEW_GID="$(id -g)" \
        -p "8000:8000" \
        -v /home/gunnard/devilbox/d

[2020-07-13 17:05] BobbyBabes commented on #706
Change `$(PWD)` into `$(pwd)`. The command `pwd` must be in all lowercase. See screenshot.

![pwd_(lowercase)_Not_uppercase_20200713_190217](https://user-images.githubusercontent.com/22870070/87332284-9c0c1000-c53b-11ea-8ab0-467b70c868b0.png)

[2020-07-13 17:35] gunnard commented on #706
I tottally agree with you that in the shell $(pwd) will return the pwd. In the Makefile however it is not returning any value. I have done echo $(pwd) and printf $(pwd) and they both return empty.
I did add `PWD=$(shell pwd)` and used $(PWD) in the script and it is returning `/home/gunnard/devilbox/docs`. unfortunatly I am still getting the same errors.
docker run \
        --rm \
        $(tty -s

[2020-07-13 17:40] BobbyBabes commented on #706
Oh man that S.cks. Could you try `${PWD}` ?
Curly braces, all caps.

[2020-07-13 18:05] gunnard commented on #706
${PWD} does return the correct path. I am still getting the same errors. when the `docs..` directory is created (as in my last post) the correct spinhx files are put in there. Somehow it is not setting the already created docs directory as the config directory.. @cytopia am I the only one who is running into this issue?? I am totally accepting that my environment is setup strange somehow if not.

[2020-07-13 19:17] BobbyBabes commented on #706
I just cloned this repo. Changed directory into the `docs` directory. Then ran `make autobuild`.
I'm seeing this :
[code]

[2020-07-13 19:23] BobbyBabes commented on #706
Is it possible to screenshot me the setup instructions?
Pretty please with sugar on top.

[2020-07-13 19:35] gunnard commented on #706
The instructions are in the README.md in /docs
---
## Local setup

You can also build the documentation locally before pushing to ensure everything looks fine:

#### Requirements

* Docker

#### How to check for broken links
[code]

#### How to build and error-check
[code]

#### How to build continuously
[code]

#### How to view

When using `make autobuild` your documentation is served at: http://

[2020-07-13 19:50] science695 commented on #706
Yes, /shared/httpd/ is the working directory where things are mounted inside the docker container.

@gunnard Do you have any of the security programs enabled (Selinux, etc...)? many people have to add options to let the security protocols let it through.

In the .env file it is the MOUNT_OPTIONS variable, and often needs a `MOUNT_OPTIONS=,z`

Other tips for debugging:

use the shell.sh script to l

[2020-07-13 19:51] BobbyBabes commented on #706
Already had done the link checks. That's why it took me about an hour and a half before I responded. I believe that `make linkcheck2` hangs/freezes. It sits forever one the last line starting with `[TEST]`. So I cancelled after one hour plus.
I'm not seeing `/shared/httpd` because Sphynx is never started.
[code]
[code]

[2020-07-13 19:58] gunnard commented on #706
@science695 I do not have anything installed that should interfere with the
mounts. I have created mounted dirs from /data/www and inside /shared/httpd
that show up in my host/devilbox system. I did try MOUNT_OPTIONS=,z and
this is what I got when doing a docker-compose up
`º°'°º¤ø[gunnard]
º°¤ø[~/devilbox]
º°¤ø[docker-compose up httpd mysql php bind
Creating devilbox_bind_1 ... done
Creating devi

[2020-07-13 20:01] gunnard commented on #706
I fatfingered an X instead of Z, this time it brought up devilbox but the make autobuild still failed the same way. The server is responsive a 0.0.0.0:8000 I see a rendered 404 and the command line output shows a 404 GET /

[2020-07-13 21:55] BobbyBabes commented on #706
I just installed a Ghost + Eleventy container as described here : [Eleventy and Ghost: Use your favourite static site generator!](https://ghost.org/changelog/eleventy/)
It's not exactly what I wanted, but I'm getting tired of the Devilbox Docs build process.

[2020-07-13 22:00] gunnard commented on #706
lol! that was my first success, was just using the container and hooking into it. then I did a full install of the code without the ghost container ...

[2020-07-13 22:28] BobbyBabes commented on #706
How lol that may be, I just unsubscribed from this issue, and I'm closing it right after. @gunnard I thank you for your hard work. You were helpful and brave. But the lack of response from the repo owner (not only in this issue, but also in other issues and the forum) is disturbing. I'm also uninstalling Devilbox. Back to Linux KVM.

[2020-07-13 22:28] #706 closed

[2020-07-14 08:59] cytopia commented on #702
@tzimpel the SSL certificates are generated independently of the Apache/Nginx config. This is done by having [watcherd](https://github.com/devilbox/watcherd) check for directories, appending the `TLD_SUFFIX` env variable and then have [cert-gen](https://github.com/devilbox/cert-gen) generate those certificates.

So applying this to server aliases will be a whole different story as you would need t

[2020-07-14 09:00] cytopia commented on #700
@milos-stankovic @julienpastore I am still having trouble getting MongoDB support for PHP 8.0 If you currently don't care about this, then go ahead and checkout this PR: https://github.com/cytopia/devilbox/pull/711

[2020-07-14 09:43] tzimpel commented on #702
@cytopia I understand the issue.

I deal with WordPress multisite setups that serve multiple domains. There's no rule or pattern to the aliases used. I use aliases to map the production domains to local ones so I can differentiate between the sites inside of the multisite that are accessed.

One example might be
* Directory: foo-website
* Aliases: foo.test, foo-com.test, foo-net.test, bar.test, ba

[2020-07-14 10:18] cytopia commented on #702
Another idea could be, if you use something like this:

* Directory: foo-website
* Aliases: de.foo-website, com.foo-website, net.foo-website, bar.foo-website

I could then go ahead and ensure that the certificates are wildcard, meaning any `*.foo-website` is going to be valid and you can simply add aliases

[2020-07-18 08:41] MrSnoozles commented on #604
@llaville Have you managed to get AutoDNS to work with WSL2?

[2020-07-18 10:33] llaville commented on #604
@MrSnoozles No I didnt managed AutoDNS

[2020-07-22 02:14] fsimchen opened #713 "Request gsfonts mupdf mupdf-tools"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Requesting to add to the image gsfonts, mupdf and mupdf-tools.

#### Goal

Thanks!

[2020-07-22 10:39] #606 closed

[2020-07-27 09:56] Venorcis commented on #703
This issue still occurs...

[2020-07-28 00:41] ahmedch1 commented on #168
To stop PID which is already in use
`sudo netstat -napt`

after that you got the PID and you do
` kill {PID_number}`

[2020-07-28 08:07] ahmedch1 commented on #595
You should enter the /etc/hosts of your user not from devilbox container , check if is that is the problem?

[2020-07-29 03:56] #597 closed

[2020-07-29 03:56] #596 closed

[2020-08-01 14:20] robots4life commented on #709
OK. :exclamation: :fire_extinguisher: :smiley:

Here is a solution, this even without hard coding
[code]
into the `head` element of your Svelte app. :+1: :sunglasses:

But like often in life you gotta be willing to make a really tiny compromise to get where you want, in this case it is 2 clicks. :smile:

The way I understand it, Devilbox makes a single cert for `https://localhost` and then somehow

[2020-08-06 09:34] thomasA4N opened #714 "Imagick on PHP 5.6 can't read PDF files"
On PHP 5.6 Imagick can't read pdf files. It's not working with relative not even absolut path.

Example:

[code]
[test.pdf](https://github.com/cytopia/devilbox/files/5034233/test.pdf)

[2020-08-06 09:36] cytopia commented on #714
@thomasA4N can you submit some example code, I will then add it as a regression test here: https://github.com/devilbox/docker-php-fpm

[2020-08-06 10:36] thomasA4N commented on #714
@cytopia i have updated my comment ...

[2020-08-06 10:37] cytopia commented on #714
Figured it already, it seems to be the lack of `ghostscript`. Once your stack is running, can you do the following in the PHP container:

[code]

This should fix it for now. Will bundle it in the containers in the next release.

[2020-08-06 10:54] thomasA4N commented on #714
Thank you very much. I have tested that, and it's already works now.

Now, I will have to repeat that, after every restart of devilbox, didn't i?

[2020-08-06 11:11] cytopia commented on #714
No, when you stop the container, the state will be preserved across restarts until you remove it explicitly (via `docker-compose rm` or `docker rm`)

[2020-08-09 10:11] cytopia opened #715 "PHP 8.0: Class MongoDB\Driver\Cursor must implement interface Traversable as part of either Iterator or IteratorAggregate"
#### ISSUE TYPE

 - Question

#### SUMMARY
When trying to compile [MongoDB](https://github.com/mongodb/mongo-php-driver) for PHP 8.0 it seems to work somehow. However, when then running PHP I get the following startup error:
[code]

Does anyone know how to fix this for PHP 8.0?

#### Goal
Re-enable `mongodb` extension for PHP 8.0 without errors.

#### Update

Upstream issue: https://github.com/mon

[2020-08-09 10:14] cytopia commented on #696
@Luc45 (cc @science695 ) you can enable/disable PHP modules via Devilbox itself. Have a look here: https://devilbox.readthedocs.io/en/latest/intermediate/enable-disable-php-modules.html

I will close this issue, as the initial request for `php-common` is a won't do.

[2020-08-09 10:14] #696 closed

[2020-08-09 10:15] cytopia commented on #714
@thomasA4N will be fixed here: https://github.com/cytopia/devilbox/pull/711

[2020-08-09 10:15] cytopia commented on #713
@fsimchen will be fixed here: https://github.com/cytopia/devilbox/pull/711

[2020-08-09 10:45] cytopia commented on #604
Re-opening this one, as it is not fully fixed yet for AutoDNS

[2020-08-09 13:51] vulcangz commented on #715
Refer to this issue, maybe it is caused by adminer??
mongodb/mongo-php-driver#742

[2020-08-09 14:07] cytopia commented on #715
@vulcangz thanks for the link. Unfortunately this is not it. It is only present in PHP 8.0 and during startup. For instance if I do a `php -v` on the command the fatal will already be thrown.

[2020-08-09 16:34] cytopia commented on #700
Merged and available in `v1.7.1`

[2020-08-09 16:34] #700 closed

[2020-08-09 16:35] cytopia commented on #611
`certbot` is now available in `v1.7.1`

[2020-08-09 16:35] #611 closed

[2020-08-09 16:35] cytopia commented on #714
Merged and available in `v1.7.1`

[2020-08-09 16:35] #714 closed

[2020-08-09 16:35] cytopia commented on #713
Merged and available in `v1.7.1`

[2020-08-09 16:35] #713 closed

[2020-08-10 12:21] science695 commented on #709
Hello, That is not the right certificate to be pointing to.

Devilbox creates a Certificate Authority, which you can put into your browsers / OS to say "This source can cre foldate secure certificates for me to use".

In order to get access to the right certificates, you need to access them from /etc/certs/mass/learn-svelte.loc.key (and the crt, etc...)

Now, these certs will still not work becaus

[2020-08-10 14:16] robots4life commented on #709
Thank you heaps @science695 I will follow your advice precisely and report back. :+1:

[2020-08-12 10:06] robots4life commented on #709
In fact I have set up a reverse proxy for Node by following this guide [https://devilbox.readthedocs.io/en/latest/examples/setup-reverse-proxy-nodejs.html](https://devilbox.readthedocs.io/en/latest/examples/setup-reverse-proxy-nodejs.html).
There I proxy traffic on port 5000 from the Node app to the PHP container.

Since the guide for Node and https is pretty much identical I have added the additi

[2020-08-12 11:08] cytopia commented on #709
The certs per project are generated by the httpd container (nginx or apache) and are automatically linked to the vhost.

I would definitely suggest to have one reverse proxy vhost per project directory. If you add multiple ports to one project, I would imagine, it will break search/replace for the place holder.

[2020-08-12 11:55] robots4life commented on #709
Thank you heaps @cytopia I will follow your advice precisely and report back. +1

[2020-08-12 12:18] boumanb commented on #709
I've exposed them to my PHP container using the following `docker-compose.override.yml` file:

[code]

[2020-08-13 09:41] robots4life commented on #709
@boumanb HA! Now I understand what you did with that bit in the override, thank you. :bulb:

[2020-08-13 09:44] fsimchen opened #716 "libvips"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

 - libvips (https://github.com/libvips/libvips)
- php-vips (https://github.com/libvips/php-vips)

#### Goal

A very fast image processing library with low memory needs.

libvips is a demand-driven, horizontally threaded image processing library. Compared to similar libraries, libvips runs quickly and uses little memory.

[2020-08-13 10:56] robots4life commented on #709
@cytopia

OK. My `rollup.clonfig.js` now looks like this.

[code]

Having exposed the certs to the PHP container with this `docker-compose.override.yml`

[code]

I can access them fine in the rollup config under `/shared/httpd/devilbox/ca/certs/mass/learn-svelte.loc.key` and `/shared/httpd/devilbox/ca/certs/mass/learn-svelte.loc.crt`.

Having

[code]
in the reverse proxy template LiveReload works

[2020-08-13 15:52] robots4life commented on #709
For anyone looking for this, here is a repo with the original Svelte template as it currently is on 13. 08. 2020 including the edits needed and the added Devilbox setup working with LiveReload in Firefox and Chrome.

**https://github.com/robots4life/svelte-slr**

[2020-08-13 18:54] science695 commented on #709
Sorry for the confusion about the /etc/certs/ folder, i had already added that mount point in my overrides.yml file.

I think the paradigm that devilbox follows is that you https connections go to the httpd container which proxies them http to the backend. So you shouldn't need to have the certs available to the node.

The options for multiple reverse proxies are as flexible as the apache / nginx

[2020-08-14 08:40] robots4life commented on #709
No worries please @science695 and thank you for outlining an option for multiple reverse proxies. :+1:

[2020-08-14 15:24] joshjacksoncastus opened #717 "devilbox no longer works when migrating to WSL2 using Ubuntu 18.04"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached [env.txt](https://github.com/cytopia/devilbox/files/5075289/env.txt)
* [x] `docker-compose.override.yml` is attached (if it exists)
* [X] Custom configs from `cfg/` dir are attached (if customized) [cfg.zip](https://github.com/cytopia/devilbox/files/5075297/cfg.zip)
* [X] `docker-compose logs` and `log/` output is added
[l

[2020-08-15 10:06] cytopia commented on #717
Hi @joshjacksoncastus , thanks for reporting the bug.

After digging into the attached log output, I found that the httpd container is unable to open the generated certificates:

[code]

Can you try out the startup with all four provided httpd server (nginx-stable, nginx-mainline, apache-2.2 and apache-2.4) and see if that yields the same behaviour?

[2020-08-16 16:55] joshjacksoncastus commented on #717
Hi @cytopia thanks for taking a look. So when I switch to nginx-stable, apache-2.2 and apache-2.4, localhost (the devilbox intranet page) loads fine. When I go to one of my project urls I get a permission defined 403 error.

[2020-08-16 17:15] joshjacksoncastus commented on #717
@cytopia so when I copied my devilbox files across, I copied all of the custom nginx configs, but only one project inside data/www. I think this was causing the error. Now I've removed the extra nginx config files from cfg/nginx-stable and only kept the one which matches what I have in data/www, everything seems to work ok. Thanks for looking into it and thanks for keeping up the great work with d

[2020-08-16 17:15] #717 closed

[2020-08-16 18:49] arkadywtf opened #718 "How to enable Xdebug on WSL 2 backend"
#### ISSUE TYPE

 - Documentation

#### SUMMARY

As of recently WSL 2 is generally available in Windows 10 so here's how to enable Xdebug using WSL 2 backend.
If not for this [StackOverflow post](https://stackoverflow.com/a/62105184) I probably still would have been pulling hair from my head.

**Step 1**
Set an environment variable for your local WSL 2 IP in your `.bashrc` or `.zshrc` file.

[code

[2020-08-20 01:29] ultrablue opened #719 "Stuck at step 6.4: create a DNS entry; error No Host DNS record found. Add the following to /etc/hosts"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
[code]

* [x] `docker-compose.override.yml` is attached (if it exists)
NA; I don't have one.

* [x] Custom configs from `cfg/` dir are attached (if customized)
NA; I don't have any.

* [x] `docker-compose logs` and `log/` output is added
[code]

* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/

[2020-08-20 09:38] cytopia commented on #719
@ultrablue thanks for the bug report.

Did you have a look at the windows specific documentation here: https://devilbox.readthedocs.io/en/latest/howto/dns/add-project-dns-entry-on-win.html#howto-add-project-hosts-entry-on-win

Can you also attach the DNS record you added to the `C:\Windows\System32\drivers\etc` file

[2020-08-20 22:35] ultrablue commented on #719
@cytopia thanks for responding to my bug report!!

Yes, I updated etc/hosts.

I didn't try pinging the Project hostname since it's obviously not resolving the name.

Thanks again!

# Copyright (c) 1993-2009 Microsoft Corp.
#
# This is a sample HOSTS file used by Microsoft TCP/IP for Windows.
#
# This file contains the mappings of IP addresses to host names. Each
# entry should be kept on an indivi

[2020-08-21 05:04] llaville commented on #719
@ultrablue hello. You should used the IPv6 syntax in your etc file. On my side it fixed the issue.

[2020-08-21 07:18] cytopia commented on #719
@llaville thanks for jumping in here. @ultrablue please let me know if that solves your issue. If so, I will adjust the documentation to also add IPv6 in their.

[2020-08-21 11:00] ghost opened #720 "Fresh install still try to mount on a previous install directory"
### ISSUE TYPE
 - Bug Report

### Checklist
* [x] `.env` file is attached [env.txt](https://github.com/cytopia/devilbox/files/5108345/env.txt)
* [ ] `docker-compose.override.yml` is attached (if it exists)
* [ ] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added [error.log](https://github.com/cytopia/devilbox/files/5108353/error.log)

[2020-08-21 12:18] #720 closed, assigned to nobody

[2020-08-24 12:54] taliptako opened #721 "Add xlswriter extension to php image"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Would like to have [https://xlswriter-docs.viest.me/en/an-zhuang/pecl](https://xlswriter-docs.viest.me/en/an-zhuang/pecl ) this extension installed in php image it can be manually enabled.

#### Goal
Better extension support

[2020-08-24 16:12] taliptako commented on #721
@cytopia if it's okay for you I can add this feature too ?

[2020-09-01 18:52] robots4life commented on #709
Managed to get Svelte with proper HMR going with Devilbox, for that rollup-plugin-hot is used [that serves JS over http](https://github.com/rixo/rollup-plugin-hot/blob/master/lib/server.js#L73), editing the plugin and [serving the needed file over https](https://github.com/rixo/rollup-plugin-svelte-hot/issues/7#issuecomment-685012610) made it work. :sunglasses:

[2020-09-07 01:45] frumbert opened #722 "Browse / Tail logs via web interface?"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

I'd like a log 'recent events' (particularly errors) section to appear on the devilbox index, or a live tool made available under the Tools menu that can render/tail the various logs in /var/log

#### Goal

I mostly need to be able to quickly check for recent php errors. Currently I have to ssh to the machine running devilbox, then enter the shell

[2020-09-07 05:10] llaville commented on #722
Hello @frumbert. This feature is not new, and some ideas/alt solution, were given in report #597

[2020-09-08 17:07] science695 commented on #722
Another option is you can turn the logs into a host shared mount so you can access them.

I added this volume to the php container in the docker-compose.overrides.yml:

[code]

[2020-09-10 12:26] garethjax opened #723 "devilbox on ubuntu 20, localhost not responding anymore"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
[_env.zip](https://github.com/cytopia/devilbox/files/5201458/_env.zip)

* [ ] `docker-compose.override.yml` is attached (if it exists)
* [ ] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added
[log.zip](https://github.com/cytopia/devilbox/files/5201466/log.zip)

[2020-09-11 13:52] alikon opened #724 "no xdebug loaded when PHP 8"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [ ] `docker-compose.override.yml` is attached (if it exists)
* [ ] Custom configs from `cfg/` dir are attached (if customized)
* [ ] `docker-compose logs` and `log/` output is added
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through existing issues: https://github.com

[2020-09-11 13:55] cytopia commented on #724
@alikon currently `xdebug` is not building on the PHP 8 image (https://github.com/devilbox/docker-php-fpm), due to compile errors.
As soon as this is resolved, it will be added.

I will also convert this issue from bug report into a feature request.

[2020-09-11 13:59] alikon commented on #724
thank you for the quick response
looking forward to see what happens next....

[2020-09-13 10:56] cytopia commented on #715
Upstream issue is being tracked here: https://github.com/mongodb/mongo-php-driver/issues/1161

[2020-09-13 13:53] cytopia commented on #716
@fsimchen currently baking here: https://github.com/devilbox/docker-php-fpm/pull/172

[2020-09-13 13:54] cytopia commented on #721
@taliptako currently baking here: https://github.com/devilbox/docker-php-fpm/pull/172

[2020-09-13 13:54] cytopia commented on #724
@alikon will be available shortly: https://github.com/devilbox/docker-php-fpm/pull/171

[2020-09-14 21:22] quicktoolbox commented on #275
Running : update-ca-certificates

Fixed my certificate issues when sending via php/curl.

[2020-09-16 17:00] daxsis commented on #718
Is there a solution for the dynamic allocation of the wsl2 IP on the windows side? Because what you have wrote and the official documentation suppose you have to rebuild your images every time the IP changes, which it does on every restart, and this makes me sad :D

[2020-09-18 06:21] Samuelseggs opened #727 "php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution"
#https://github.com/cytopia/devilbox/issues/586#issue-450741647
**Checklist**
- [x] .env file is attached
- [x]  docker-compose.override.yml is attached (if it exists) [docker-overide-env.zip] https://github.com/cytopia/devilbox/files/5243687/docker-overide-env.zip)
- [ ]  Custom configs from cfg/ dir are attached (if customized)
- [x] docker-compose logs and log/ output is added - [logs.txt](http

[2020-09-18 08:43] cytopia commented on #716
https://github.com/cytopia/devilbox/pull/725 merged

[2020-09-18 08:43] #716 closed

[2020-09-18 08:43] cytopia commented on #721
https://github.com/cytopia/devilbox/pull/725 merged

[2020-09-18 08:43] #721 closed

[2020-09-18 08:43] cytopia commented on #724
https://github.com/cytopia/devilbox/pull/725 merged

[2020-09-18 08:43] #724 closed

[2020-09-18 14:31] Samuelseggs commented on #727
This is solved, error was in .env file in TLD_SUFFIX then i added my local dns to BIND_DNS_RESOLVER

[2020-09-18 14:31] #727 closed

[2020-09-20 14:11] TheManFromEarth1 opened #728 "Phppgadmin - just shows warnings, nothing else"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X]
[env.txt](https://github.com/cytopia/devilbox/files/5251797/env.txt)

* [X] `.env` file is attached:

* [ ] `docker-compose.override.yml` is attached (if it exists) -- Doesn't exist
* [ ] Custom configs from `cfg/` dir are attached (if customized)

* [X] `docker-compose logs` and `log/` output is added
https://gist.github.com/TheManFromEarth1/6b4

[2020-09-22 12:24] patarok commented on #586
May I gently ask: How for Christs sake, did you solve the problem? PLS?
Because I am pretty sure, to add the local DNS in the .env by BIND_DNS_RESOLVER does not solve this.

[2020-09-23 07:02] alikon commented on #728
i can confirm your findings with  php 7.4.10 and Devilbox Release v1.7.2

[2020-09-23 08:06] alikon commented on #728
using phppgadmin 7.12.1  it works

[2020-09-23 09:57] alikon commented on #728
unfortunately is not working when you try to login

[2020-09-23 15:22] alikon commented on #728
for a dirty / temporary fix change
https://github.com/cytopia/devilbox/blob/master/.devilbox/www/htdocs/vendor/phppgadmin-7.12.0/libraries/lib.inc.php#L53-L57
with
[code]

[2020-09-23 18:05] TheManFromEarth1 commented on #728
Confirmed, thank you very much!

So simple solution, but if you don´t know where to look :)

[2020-09-28 09:29] alikon opened #730 "Postgresql with PostGIS extension"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Having a postgresql  with PostGIS extension

#### Goal

Postgresql with PostGIS extension

[2020-09-29 19:41] llaville opened #731 "Consider to upgrade Docker-Bind to latest version (0.17)"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

While working on Auto DNS feature to try to solve issue #604, I've found that :
- the main `cytopia/bind` image used in `docker-compose.yml` still use an outdated version 0.15  ; see https://github.com/cytopia/devilbox/blob/v1.7.2/docker-compose.yml#L37

I've also noticed that feature that came with version 0.17, has no env variable defined in `en

[2020-09-30 11:14] cytopia commented on #728
Thanks for reporting. I am trying to figure out why the integration tests did not catch this.

[2020-10-05 16:52] llaville commented on #731
Friendly ping @cytopia

[2020-10-08 17:18] felixmosh opened #732 "Extremely slow PHPMyAdmin"
PhpMyAdmin works extremely slow, each query takes ~2 sec.

### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `docker-compose.override.yml` is attached (if it exists)
* [x] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
*

[2020-10-08 17:42] cytopia commented on #732
Thanks for the bug report. This however is not an issue with Devilbox itself, but with the crappy Docker implementation on MacOS(X). Issue was reported on March 2016 and is still unfixed in this very moment: https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076

The above issue has to do with mounted volume performance being really slow on MacOS(X). As phpMyAdmin

[2020-10-08 17:57] felixmosh commented on #732
Thanx for the quick reply.

I'm not sure how docker-sync helps with phpmyadmin

[2020-10-09 17:04] alexandredoria opened #733 "Xdebug doesn't work when configured for Visual Studio Code (on Linux)"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `docker-compose.override.yml` is attached (if it exists)
* [x] Custom configs from `cfg/` dir are attached (if customized)
* [x] `docker-compose logs` and `log/` output is added
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through existing issues: https://github.com

[2020-10-13 09:17] felixmosh commented on #732
Hi @cytopia  can you explain why phpmyadmin (which is a vendor file inside the PHP docker) is affected by the mac performance issue?
From what I understand, the issue should occur when using mount from host to docker, no?

[2020-10-13 09:21] cytopia commented on #732
@felixmosh phpMyAdmin is not inside the PHP container. It resides in the repository and is being mounted here: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L174

[2020-10-13 09:24] felixmosh commented on #732
Wow, thanx for the quick answer 🙏🏼, OK now it make sense.

Another question, Can I "build" some how the images and just run them? without the need to sync / mount?

[2020-10-13 09:28] cytopia commented on #732
This is also possible, but requires some steps:

1. Build PHP images and copy the whole `.devilbox/` directory to `/var/www/default` inside the container during build [1]
2. Build Nginx/Apache images and copy the whole `.devilbox/` directory to `/var/www/default` inside the container during build [2]
3. Remove this line from `docker-compose.yml` https://github.com/cytopia/devilbox/blob/master/dock

[2020-10-13 09:37] felixmosh commented on #732
Thanx will try it.

[2020-10-13 09:37] #732 closed

[2020-10-14 09:39] felixmosh commented on #732
I've tried your idea,
What I've done is:

1. Created a Dockerfile for php (`Dockerfile-php`)
It looks like:
[code]
2. Created a Dockerfile for nginx (`Dockerfile-httpd`)
It looks like:
[code]
3. Built both
4. Changed the images in `docker-compose.yml`
5. Remove the lines which mounts `.devilbox` (one for `php` & one for `httpd`)
6. run `docker-compose kill && docker-compose rm -f && docker-compose

[2020-10-14 14:27] alemicro opened #735 "Xdebug doesn't function on cli script debug on phpstorm on mac os X"
#### ISSUE TYPE

 - Documentation

#### SUMMARY
I use phpstorm for debugging magento2 console script in php and I receive an error connection with xdebug, because phpstorm automatically use the option -dxdebug.remote_host=host.docker.internal

I resolved the problem using the variable EXTRA_HOSTS=host.docker.internal=10.254.254.254 on .env file and also applicating https://devilbox.readthedocs.io/

[2020-10-15 16:57] tik9 commented on #595
@ahmedch1, I cannot image a `/etc/hosts` in the container as this is the sense of docker: Using the base system. And never heard that a user owns `/etc/hosts`. So I recommend that you **push your IT knowledge** a bit before sharing your thoughts here .

[2020-10-15 18:03] tik9 commented on #292
I have the same issue, running `WSL2` on `VSCode/Debian` remote. My docker ps -a grepping `proj.loc`:
subjectAltName=${ALT_NAMES}") -keyout /etc/httpd/cert/mass/proj1.loc.key -subj '/C=DE/ST=Berlin/L=Berlin/O=Devilbox/OU=Devilbox/CN=proj1.loc/emailAddress=admin@proj1.loc' -out /etc/httpd/cert/mass/proj1.loc.csr
httpd_1  | subjectAltName=${ALT_NAMES}") -days 825 -in /etc/httpd/cert/mass/proj1.loc.c

[2020-10-15 18:15] tik9 commented on #292
My fault, inside WSL2, it works, but not outside in Windows.

[2020-10-21 09:01] Vincent-Ntriga commented on #287
I guess the question here was: What are the steps needed to run Devilbox with NFS?
Is it possible to add this to the docs?

[2020-10-27 13:49] fkaminski opened #736 "Intergation of new PHP composer v.2.0"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Please integrate the new PHP Composer version:
see: https://blog.packagist.com/composer-2-0-is-now-available/

[2020-10-28 08:15] hielh commented on #736
Hi
By using composer in devilbox i get an error, do you have an idea please or it attached to the version of composer
![image](https://user-images.githubusercontent.com/909932/97409520-0899f780-18fe-11eb-8247-507ca86ec352.png)

[2020-10-29 07:42] Calingcony commented on #736
@hielh Could you try to ping that address? or any other address for that matter?

And are you using composer v2? if not could you please make a separate issue for this problem?

[2020-10-29 10:56] uphlewis commented on #736
A quick and easy solution for now (until the base devilbox images get updated) is to update to the latest version of composer in an autostart script.

Create the following [autostart file](https://devilbox.readthedocs.io/en/latest/autostart/custom-scripts-globally.html#where) `/path/to/Devilbox/autostart/update_composer.sh`:

[code]

After that, do the usual devilbox container rm -f and restart:

[2020-10-30 14:03] LubosRemplik opened #737 ".vim and .vimrc"
### ISSUE TYPE

 - Feature request

#### SUMMARY

Use host .vim and .vimrc same way as .ssh folder is used (HOST_PATH_SSH_DIR).

#### Goal

Since VIM is preinstalled in the php image it would be great if we can use vim configuration from our host. Especially useful for users who use VIM as IDE

[2020-10-30 16:17] msyhr opened #738 "Magento 2.4.1 Install"
### ISSUE TYPE

 - Bug Report

Not sure if this is the right place for this, originally created the issue here https://github.com/magento/magento2/issues/30575
because I assumed this was some Magento2 core bug, several of their developers haven't be able to reproduce the issue and several other commenters have mentioned they are also using devilbox for their dev environment too and are getting the

[2020-10-30 17:59] obionex-5 opened #739 "GD library setting causes an unfixable bug with Cyrillic letters"
### ISSUE TYPE

 - Bug Report

### OS / ENVIRONMENT

1. Host operating system and version: MacOS Catalina 10.15.7
2. (Windows) Native Docker or Docker Toolbox:
3. Docker version: 19.03.13
4. Docker Compose version: 1.27.4
5. (Linux) Is SELinux enabled?:
6. What git commit hash are you on?: 4b23dd6

### SUMMARY
In the Devilbox PHP GD Library is configured with 'JIS-mapped Japanese Font Support: ena

[2020-10-31 04:10] #695 closed

[2020-11-02 22:55] dimitrismitsis opened #740 "Please update PHP 8.0 docker image to RC.3"
This is a kind request for refreshing the image of PHP 8.0 to use RC.3, same as the apt manager.

Thank you for this and for your great work!

[2020-11-05 14:11] cytopia commented on #740
Will be using the PHP-8.0 branch (it will most likely always be ahead the releases until final 8.0 release): https://github.com/devilbox/docker-php-fpm-8.0/pull/10

[2020-11-05 21:09] dimitrismitsis commented on #740
@cytopia thanks a lot! To be honest though, I'm not seeing a difference locally. First I ran `./update-docker.sh` and then I deleted my local containers & images and re-built them but I'm still getting the same build from `8.0.0-dev` from Oct 8.

By the way, I think around the same time with your changes, the PHP-8.0 branch was merged into master of php-src.

I would appreciate some info in case I

[2020-11-05 22:29] msyhr commented on #738
FYI the solution has been found. The php module "psr" is causing this issue. 2.4.1 installs fine after adding the module to the entry in the .env file.

`PHP_MODULES_DISABLE=oci8,PDO_OCI,pdo_sqlsrv,sqlsrv,rdkafka,swoole,psr,phalcon
`

[2020-11-05 22:29] #738 closed

[2020-11-06 07:45] alikon commented on #740
i've used this approach from https://devilbox.readthedocs.io/en/latest/maintenance/update-the-devilbox.html

to update all images, but only for the versions that are actually set in .env.

`host> docker-compose pull`

and now i have

![image](https://user-images.githubusercontent.com/181681/98339681-64563600-200c-11eb-88ab-5fb4f724f684.png)

[2020-11-06 09:58] cytopia commented on #740
You won't at the moment. So all good on your side.

The changes will have to go through the following repositories in order to bevailable:

* [x] 1. https://github.com/devilbox/docker-php-fpm-8.0 (base image)
* [ ] 2. https://github.com/devilbox/docker-php-fpm (devilbox images)
* [ ] 3. https://github.com/cytopia/devilbox (devilbox)

So I'm currently working on step 2. Unfortunately all images hav

[2020-11-06 19:45] jameswadsworth opened #741 "Mysql docker container aborts with fatal errro"
[devilbox_env_compose_override.zip](https://github.com/cytopia/devilbox/files/5502734/devilbox_env_compose_override.zip)

### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `docker-compose.override.yml` is attached (if it exists)
* [X] Custom configs from `cfg/` dir are attached (if customized)
* [X] `docker-compose logs` and `log/` output is added
* [X] I've looked

[2020-11-06 20:46] cytopia commented on #741
With the `./shell.sh` script, you're entering the PHP container (Not the mysql container). In the PHP container, there is no such `/etc/mysql/docker-default.d/` directory. So this part is all good.

---

Telling by your `.env` file, you're using MariaDB 10.13. So Let's start to do this manually:

[code]
This yields the following success output:
[code]

Now in a second terminal window (while the ab

[2020-11-08 05:57] CoffeeQuotes commented on #628
Work Like Charm for me!
![Screenshot from 2020-11-08 11-19-51](https://user-images.githubusercontent.com/17348830/98458328-5394f400-21b5-11eb-8989-e43fca97238a.png)

[2020-11-08 09:57] robots4life commented on #628
@CoffeeQuotes yeah indeed, not only Devilbox rocks, but this setup is really just so comfy and ace. It does not fill up the machine with unneeded data and if you want a fresh start you can just clean the containers out and have a fresh start. If you work with Node and write JS apps have a look at this https://github.com/cytopia/devilbox/issues/709, in that thread are configs for Gulp and Rollup.

[2020-11-08 18:51] Tuurlijk commented on #737
You should use a docker-compose.override.yml for that. Inside you can target the machine you need your configs for and mount the directories and files you desire.

[2020-11-08 20:06] jameswadsworth commented on #741
I've run the first three commands as suggested. This yields

Unable to find image 'devilbox/mysql:mariadb-10.3' locally
mariadb-10.3: Pulling from devilbox/mysql
6a5697faee43: Already exists
ba13d3bc422b: Already exists
a254829d9e55: Already exists
2ee2cadd29fc: Already exists
6915a184049d: Already exists
5ca6ffdb5f56: Already exists
1537f7bbef8b: Already exists
5790e54322d1: Already exists
ea98cb

[2020-11-09 08:58] cytopia commented on #739
Fixed in https://github.com/cytopia/devilbox/pull/743

[2020-11-09 08:58] #739 closed

[2020-11-09 08:58] cytopia commented on #740
https://github.com/cytopia/devilbox/pull/743

[2020-11-09 08:58] #740 closed

[2020-11-09 08:58] cytopia commented on #715
https://github.com/cytopia/devilbox/pull/743

[2020-11-09 08:58] #715 closed

[2020-11-09 08:58] cytopia commented on #736
https://github.com/cytopia/devilbox/pull/743

[2020-11-09 08:58] #736 closed

[2020-11-09 08:59] cytopia commented on #728
https://github.com/cytopia/devilbox/pull/743

[2020-11-09 08:59] #728 closed

[2020-11-09 09:05] cytopia commented on #741
Your output suggests that everything works as it should. Do you have any other custom configs set which might affect MariaDB 10.3 with the Devilbox?

Besides, there is now a new Devlibox release out: v1.8.0 Can you give this a try.

[2020-11-09 14:18] wiedhodho opened #744 "PhpMyAdmin cannot import sql file"
I tried to import sql file into my mariadb database using phpmyadmin 5.0.0 (devilbox: v1.7.2 (2020-09-17))
But always failed, and phpmyadmin give a note: Could not load the progress of the import.

I check on console, the system cannot access
Request URL: http://localhost/vendor/phpmyadmin-5.0.0/import.php
Request Method: POST
Status Code: 502 Bad Gateway

### ISSUE TYPE

 - Bug Report

[2020-11-09 14:30] cytopia commented on #744
@wiedhodho can you update to `v1.8.0` (latest release), which also has a newer phpMyAdmin version.
If you issue continues, please provide reproducible steps for this issue.

[2020-11-09 14:50] masiorama commented on #628
I just tried the configuration quoted by @CoffeeQuotes and it is working, but it is so intensive on the CPU that I had to drop it... my workstation config is very good but somehow it seems to be preparing for launching like a rocket...

[2020-11-09 15:00] wiedhodho commented on #744
I have upgrade to the latest release, but the problem is still same

[2020-11-09 15:06] Calingcony commented on #744
@wiedhodho 99% of the time this happens is because of a problem with the file you are trying to import. Its either to large, has to many queries or different versions.

Could you try to export and import something really simple? A single table DB with like a couple of entries.

[2020-11-09 15:08] wiedhodho commented on #744
my sql file is only 3kb, I dump it using phpmyadmin in another my devilbox.
I tried it using adminer in devilbox and it succeed. But not using phpmyadmin.

[2020-11-09 17:10] codingHippo opened #745 "Support OpenLitespeed"
Hi, one of my hosting providers are not using openlitespeed.  It woud be super to have that as one of the options

#### ISSUE TYPE

 - Feature request

#### SUMMARY

#### Goal

[2020-11-09 17:26] cytopia commented on #745
@codingHippo can you update the Feature request with Summary and Goal to make clear what is meant by "support OpenListespeed" and what would be required to have it supported.

[2020-11-10 08:36] robots4life commented on #628
@masiorama a) Are you doing exactly what is mentioned here ? https://github.com/cytopia/devilbox/issues/628#issuecomment-558044181
b) What are you doing with the setup, what are you working on?
c) What are the specs of your box?
Mine are this, a laptop, and everything this butter smooth. I do not have Node, PHP or anything installed locally, just in containers, it works excellent, fast and box doe

[2020-11-10 09:19] jameswadsworth commented on #741
I've updated to version 1.8.0 and removed the devilbox-custom.cnf file for verison mariadb 10.3
[code]

[code]

[2020-11-10 09:44] jameswadsworth commented on #741
If in my docker-compose.yml file I change the line
[code]
to
[code]
then run
[code]
and I can access the devilbox web interface

[2020-11-10 09:51] cytopia commented on #741
Can you do a:

[code]
Could be that the permission of the local config directory are wrong

[2020-11-10 09:54] jameswadsworth commented on #741
[code]

[2020-11-10 09:55] cytopia commented on #741
Can you change this to `chmod 0755 cfg/mariadb-10.3`

[2020-11-10 11:51] jameswadsworth commented on #741
This resolves the issue. I can now start mysql correctly with the original docker-compose.yml file
[code]
Thanks for the help!

[2020-11-10 12:38] Sandy-Garrido commented on #744
I'm having this same issue!! Really strange. Checked my php upload sizes and thats fine.

[2020-11-10 20:24] #741 closed

[2020-11-10 20:43] jameswadsworth commented on #744
I have had the same issue with phpMyAdmin when importing databases.  I use the php shell to import any databases:

[https://devilbox.readthedocs.io/en/latest/maintenance/backup-and-restore-mysql.html#restore](url)

[2020-11-11 11:56] llaville opened #746 "Xdebug 3.0 with PHP 8.x"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Update default configuration file into
- https://github.com/cytopia/devilbox/blob/v1.8.0/cfg/php-ini-8.0/devilbox-php.ini-xdebug
- https://github.com/cytopia/devilbox/blob/v1.8.0/cfg/php-ini-8.1/devilbox-php.ini-xdebug

and also

#### Goal

Use new directives explained in Upgrade Guide Xdebug 3.0 available at https://3.xdebug.org/docs/upgrade_guid

[2020-11-12 14:35] #733 closed

[2020-11-12 15:25] cytopia commented on #745
Closing as it is not clear what exactly is requested with this feature request.

[2020-11-12 15:25] #745 closed

[2020-11-12 15:28] cytopia commented on #731
@llaville how does the new Bind versoin resolve #604?

[2020-11-12 15:34] cytopia commented on #741
Upcoming PR https://github.com/cytopia/devilbox/pull/747 includes a new script: `check-config.sh` which will easily find this issue

[2020-11-12 15:39] llaville commented on #731
@cytopia It does not solve #604.
For WSL 2 and AutoDNS I've solved part of problem, but I got CORS issues when I visit vhosts intranet devilbox page. I'll keep continue to search but my answer will be publish on 604 bug report

[2020-11-12 15:41] llaville commented on #731
My `docker-compose.overwrite.yml` contains at least

[code]

[2020-11-12 16:35] llaville commented on #604
I've tried to solve this on my side **but still have issue.** Here is what I did

* removed old entries into `C:\WINDOWS\System32\drivers\etc\hosts`

* edit new file `/etc/wsl.conf` on my linux distribution installed (Ubuntu-18.04) under WSL2 with such contents
[code]

that will avoid WSL to generate `/etc/hosts` and `/etc/resolv.conf` files on the linux distribution.

* edit `/etc/resolv.conf` an

[2020-11-12 17:45] masiorama commented on #628
@robots4life yup, followed the steps, checked few times to be sure.
Indeed it is working, but it is somehow to much intensive on the CPU.
My notebook's specs are:
OS: Windows 10 Pro,
CPU: Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
RAM: 32,0 GB
I'm gonna try again in the next days, anyway.
Thanks!

[2020-11-12 18:22] #746 closed

[2020-11-12 18:24] cytopia commented on #595
This issue already got quite messy.

@creactiv you seem to have several local issues:

1. Your files and directories have wrong ownership. It should it of your local user/group
2. docker-compose logs command must be issue from root of project, otherwise it won't yield any useful output
3. Git commit of Devilbox is missing, so I won't be able to reproduce with your currently checked out version
---

[2020-11-12 18:24] #595 closed

[2020-11-12 18:25] cytopia commented on #723
@garethjax unfortunately I am unable to reproduce your issue. The integration tests (which cover all your steps) are run on Ubuntu 20 once a day and they all work fine. I assume you do have some local system issues.

You can give the new release v1.8.1 (https://github.com/cytopia/devilbox/pull/747) a try. It comes with `check-config.sh` which checks against common configuration issues and has vari

[2020-11-12 18:25] #723 closed

[2020-11-12 18:34] cytopia commented on #703
@Venorcis I finally figure out the issue and will provide a fix shortly:

[code]

It turns out, that the given user id was above the acceptable threshhold value.

[2020-11-12 18:56] codingHippo opened #748 "Add LiteSpeed web server"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

I love how I can easily configure and test different environments with DevilBox

Currently it supports Apache and Nginx as the web servers, which probably covers 99% of all configurations.

Lately I have noticed a growing interest in and usage of lite LiteSpeed web server.
It comes in two flavours.
One is open source: https://openlitespeed.org/
an

[2020-11-13 02:48] jonatanaxe opened #749 "Xdebug cannot be disable In some versions of php"
### ISSUE TYPE

 - Bug Report

### SUMMARY

Devilbox v1.8.1 (2020-11-12)

xdebug is not disable even by placing in DISABLE_MODULES and PHP_MODULES_DISABLE

it disables in php7.1
Does not disable in PHP 7.2 and 7.3

![image](https://user-images.githubusercontent.com/2486808/99022541-b1bd3080-2541-11eb-9d9f-95094bab6c7c.png)
![image](https://user-images.githubusercontent.com/2486808/99022377-5d19b58

[2020-11-13 06:40] llaville commented on #749
Confirmed with PHP 7.4 too !

[2020-11-13 07:34] robots4life commented on #628
@masiorama Please do check https://github.com/docker/for-win/issues/1936 and https://www.reddit.com/r/docker/comments/87uinr/docker_is_very_slow_on_windows_10/ and https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-work-flawlessly, perhaps that might help.

Since I have the data I work with locally and mounted into the containers I can remove and clean all containers on a regu

[2020-11-13 10:29] cytopia commented on #749
Confirmed

[2020-11-13 16:58] Sandy-Garrido commented on #748
Thanks @codingHippo for requesting this feature.
Consider this comment an upvote for this as I came here today for this exact reason.

Personally, all of our sites (wordpress) are using OLS and yes, I agree there is a rapid growth in OLS as an option.

[2020-11-13 17:35] cytopia commented on #748
Still not sure what feature you actually mean though.
Or differently asked: what is currently lacking, that would be added with litespeed?

---

Besides this, I was already looking into litespeed and If I'm not mistaken (or at least I didn't find any information about this) it does not work together with php-fpm, which in case of the Devilbox is the part providing the different PHP versions. Not s

[2020-11-13 19:28] llaville commented on #749
Release 0.116 fixed this issue : I've only test it with new PHP 7.4 image

[2020-11-13 19:48] jonatanaxe commented on #749
Release 0.116 Tested on PHP 7.1 and 7.2 is working

[2020-11-13 19:48] #749 closed

[2020-11-14 09:43] garethjax commented on #723
Thanks for the effort, in the mean time i've migrated to using valet for my dev projects. It's not the same thing, but at least i'm able to keep working.

[2020-11-14 09:54] cytopia commented on #744
I've tried to reproduce this, but it always succeeded with phpMyAdmin (~ 1 MB SQL dump).
Could somepne provide a sanitized/anonymized dump which fails including what PHP, HTTPD and MySQL version.

[2020-11-14 09:57] cytopia commented on #731
FYI: Currently working on a separation of the bind container and autodns (so that bind would not be required at all, but only if you want to have auto-dns). It's also related to this PR: https://github.com/cytopia/devilbox/pull/411
Will keep you posted.

[2020-11-14 10:00] llaville commented on #731
Thanks a lot !

[2020-11-14 10:00] cytopia commented on #730
Will give it a try with those images: https://hub.docker.com/r/postgis/postgis

[2020-11-14 11:19] cytopia commented on #703
Turns out it is totally unrelated. The actual fix is to run `usermod` twice in case it fails during the first try. The second run always succeeds. Found this issue in a lot of other docker projects. It is a bit messy, but it does the job

[2020-11-14 12:33] llaville commented on #707
@cytopia Thanks to include it in upcoming release

[2020-11-14 12:57] codingHippo commented on #748
Hi,

We already have a great choice between Apache and Ngnix.-
They by far are the most popular web server being used now for PHP .

This allows users to test configurations and get the best setup to (to some degree)
"replicate production".

Given the claimed advantages of OLS for WordPress including their caching plugin, I think a lot more people will switch to OLS over the next couple of years.

[2020-11-14 14:19] #547 closed

[2020-11-14 14:19] #707 closed

[2020-11-14 14:21] cytopia commented on #643
Fixed here: https://github.com/cytopia/devilbox/pull/750

[2020-11-14 14:21] #643 closed

[2020-11-14 14:21] cytopia commented on #703
Fixed here: https://github.com/cytopia/devilbox/pull/750

[2020-11-14 14:21] #703 closed

[2020-11-14 14:22] cytopia commented on #749
Fixed here: https://github.com/cytopia/devilbox/pull/750

[2020-11-14 14:22] cytopia commented on #707
Fixed here: https://github.com/cytopia/devilbox/pull/750

[2020-11-14 14:22] cytopia commented on #547
Fixed here: https://github.com/cytopia/devilbox/pull/750

[2020-11-14 14:31] cytopia commented on #748
Ist it possible to have LSPHP run on a different machine than litespeed web server?

[2020-11-14 14:43] cytopia commented on #698
@manuxi I'm not really familiar with `yarn` / `npm` and it's eco system. Could you provide a copy/paste output for settings this up so I can try to reprocude it.

[2020-11-14 15:06] manuxi commented on #698
Hi. Since this didn't work I switched back from devilbox. I'll try to reproduce and let you know...

[2020-11-14 19:23] #731 closed

[2020-11-15 01:51] wiedhodho commented on #744
Here i attach error image, phpversion, and sql files

I tri using import button and click GO! => Error
But if I try with drag n drog, It succeed. :D

[whatsapp.zip](https://github.com/cytopia/devilbox/files/5541711/whatsapp.zip)

![image](https://user-images.githubusercontent.com/26288665/99160938-bd6a4c00-2727-11eb-91ad-30293b3d5cc8.png)
![image](https://user-images.githubusercontent.com/26288665

[2020-11-15 07:02] llaville opened #751 "check-config.sh with dupplicated lines output"
#### ISSUE TYPE

 - Question

#### SUMMARY

Is it expected to have twice the same output lines in `check-config.sh` from a new fresh v1.8.2 installation ?

#### Actual output

[code]

#### Goal
Removed dupplicated line
[code]

One from https://github.com/cytopia/devilbox/blob/v1.8.2/check-config.sh#L197
and other one from https://github.com/cytopia/devilbox/blob/v1.8.2/check-config.sh#L281

[2020-11-15 15:42] cytopia commented on #751
Thanks for the heads-up!
You can ignore it for now (it won't do any harm). Line 197 is just a leftover which will be removed with the next release.

[2020-11-16 08:18] cytopia commented on #744
@wiedhodho @Sandy-Garrido @jameswadsworth I was able to reprocude it.

After some debugging I found out that this is an issue with `uploadprogress`.
You can disable it for now by appending `uploadprogress` to the disabled modules via `.env` file settings:

[code]

I will have to investigate further.

[2020-11-16 09:50] alikon commented on #740
Please update PHP 8.0 docker image to RC.4

[2020-11-16 10:12] cytopia commented on #740
I've set the CI to auto-update PHP 8.0 nightly to the latest commit in `PHP-8.0` branch. So you just need to docker pull once it has build:

* **PHP 8.0 Pipeline**: https://travis-ci.org/github/devilbox/docker-php-fpm-8.0/branches
* **Devilbox PHP Pipelines**: https://travis-ci.org/github/devilbox/docker-php-fpm/branches

Triggered the first pipeline manually as I forgot to add the nightly build b

[2020-11-17 11:26] jameswadsworth opened #752 "check-config.sh returns git is unclean error on certain files"
Running check-config.sh on the latest version 9367c9540a419fa4e5bff807ba64759b582091e5  which is an upgrade from previous versions returns the following error:
[code]
I can't find any reason why these 7 files are flagged except all files are from commit d6bf9692126aafa04d3501460d157d523e483b94. If I make these files executable and then run  git status -s I don't see any modified files. However the

[2020-11-17 11:49] cytopia commented on #752
Can you provide `git status` and `git diff ` outputs

[2020-11-17 11:55] jameswadsworth commented on #752
[code]
[code]

[2020-11-17 12:00] cytopia commented on #752
Can you simply do a `git checkout .` to reset your changes and run `check-config.sh` again

[2020-11-17 12:08] jameswadsworth commented on #752
[code]
[code]
[code]

[2020-11-17 12:10] cytopia commented on #752
You seem to have forgotten the `.` on the checkout command

[2020-11-17 12:16] jameswadsworth commented on #752
Opps sorry.
[code]
[code]
[code]

[2020-11-17 12:21] cytopia commented on #752
That is truely strange. Do these files actually have 0775 permission?

[2020-11-17 14:58] jameswadsworth commented on #752
They really do have 0775.
[code]
If for example I change to 0664 then we are back to the git is unclean.

None of these files are crucial for devilbox to work correctly so we can leave for the moment.

[2020-11-18 09:32] massiws commented on #718
After struggling many hours, I found a simple alternative, a little different from what inside documentation.

Contrary to what specified in the [Gather Host IP address](https://devilbox.readthedocs.io/en/latest/intermediate/configure-php-xdebug/windows/vscode.html#gather-host-ip-address) section, _Docker for Windows_ seems to use the **WSL** IP address, not the **Default switch**. Here is an exam

[2020-11-18 13:56] ahmedch1 commented on #177
For me on Windows 10 using Git Bash
I used `winpty bash ./shell.sh`
and It works

[2020-11-19 06:30] Sn0wCrack opened #753 "Symlinks don't generate vhost files for Apache container"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2020-11-19 09:55] cytopia commented on #752
These six files have some strange values indicatedby the `**` before and after the permissions.

All others are fine and have correct permission.

Do you have any idea what those two `**` mean? And btw are you on a Mac or Linux?

[2020-11-19 09:56] cytopia commented on #752
Also can you share your global `~/.gitconfig` if it does not contain any sensitive data?

[2020-11-19 10:20] cytopia commented on #753
1. Can you show an `ls -lap` of those two paths (inside and outside the Devilbox)
2. Can you also show an `ls -lap` of the directory containing the symlink
3. Are you able to `cd` into the symlink from inside the Devilbox?

[2020-11-19 10:33] Sn0wCrack commented on #753
Currently not at my workstation to check the first two, but I was able to cd into the symlinks from inside of Devilbox, editing files also reflected back to my host machine just fine as well.

I'll let you know first thing the output from those ls commands when I'm back at my workstation.

[2020-11-19 10:35] cytopia commented on #753
Can you also try this `check-config.sh` (should be fixed for MacOS): remove `.txt` extension and make it executable first.

[check-config.sh.txt](https://github.com/cytopia/devilbox/files/5566123/check-config.sh.txt)

[2020-11-19 11:31] fkaminski opened #754 "Email catch-all: Delete entries within control center"
It would be nice if we could delete one or all e-mail entries directly from the control center (instead manually in the console/shell).

[2020-11-19 11:37] fkaminski commented on #754
Maybe leave a hint in the documentation for manually deleting mails too;
[code]

[2020-11-19 15:11] vlad4ernyshov opened #755 "Add '${HOME}/.composer/vendor/bin' to the $PATH environment variable in .bashrc"
Is it possible to add '${HOME}/.composer/vendor/bin' to the $PATH environment variable in .bashrc by default?

This will make globally available commands set by a requests like this:
`php composer global require friendsofphp/php-cs-fixer`

Now I solve this with a command in autorun:
`su -c 'echo "PATH=${PATH}:${HOME}/.composer/vendor/bin" >> ~/.bashrc' -l devilbox`

[https://getcomposer.org/doc/03

[2020-11-19 21:38] Sn0wCrack commented on #753
Here's the output of those commands

Local Machine:
[code]

Docker Container:
[code]

Local Machine www directory:
[code]

I've also updated my check-config.sh output in issue description, I had a few permissions errors with my startup scripts, but those don't appear to have changed anything after fixing them.

[2020-11-21 05:08] ozmos opened #756 "Add Silverstripe Install Guide"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
I would like to see a guide for installing Silverstripe CMS in devilbox.

#### Goal

I want a local dev environment on Linux Mint for SilverStripe projects.  The majority of their docs assume you are using Windows or Mac.

[2020-11-21 08:49] cytopia commented on #753
Thanks for figuring this out. PR is on the way. I've done it a bit different by omitting any find GNU features to preserve compatibility with MacOS: https://github.com/devilbox/watcherd/pull/8/files#diff-9931061f611e43dc25d50eb3f2417fd4da48409531c01f535dc69c92e73409daR103

[2020-11-21 09:28] Sn0wCrack commented on #753
Thanks for the quick fix on this, appreciate it!

[2020-11-21 13:41] cytopia commented on #755
@vlad4ernyshov good catch. Will add this here: https://github.com/devilbox/docker-php-fpm/pull/181

[2020-11-21 14:15] cytopia commented on #692
@stu177 Will be addressed here: https://github.com/devilbox/docker-php-fpm/pull/181

[2020-11-22 16:08] #692 closed

[2020-11-22 16:08] #751 closed

[2020-11-22 16:08] #753 closed

[2020-11-22 16:10] cytopia commented on #753
Fix released here: https://github.com/cytopia/devilbox/pull/757

[2020-11-22 16:11] cytopia commented on #751
Fix released here: https://github.com/cytopia/devilbox/pull/757

[2020-11-22 16:11] cytopia commented on #755
Fix released here: https://github.com/cytopia/devilbox/pull/757

[2020-11-22 16:11] #755 closed

[2020-11-22 16:11] cytopia commented on #692
Fix released here: https://github.com/cytopia/devilbox/pull/757

[2020-11-24 07:53] thegarlynch commented on #719
To anyone else that is reading this. and on ubuntu or other linux system.
when you do : sudo vim /etc/hosts
":wq" will not saved your file automatically.

you have to use ":w !sudo tee %'" to actually change /etc/hosts

https://stackoverflow.com/questions/2600783/how-does-the-vim-write-with-sudo-trick-work

[2020-11-24 14:27] science695 commented on #719
@thegarlynch That technique can help you if you did **not** use sudo vim ..... but it shouldn't be necessary if you did use sudo.

If you do sudo vim /etc/hosts and the change is not taking effct, there may be something else going wrong.

[2020-11-28 12:55] mwoodpatrick opened #758 "Add Deno to php container"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Ability to run with Deno based virtual hosts and to create Deno apps within PHP container, the same way as we currently support node-based development

#### Goal
I currently have Deno running in my Devilbox setup as a separate container (similar to the flask setup) but given all the tools in the PHP container it could be more useful to have it in t

[2020-12-01 09:50] hielh commented on #643
Hi @cytopia
The problem still exist for devilbox/mysql:mysql-8.0.
When I start using this image I get postgres server and not mysql server:
![image](https://user-images.githubusercontent.com/909932/100724330-0b877c80-33c3-11eb-816f-2c997e271e68.png)

[2020-12-01 10:19] cytopia commented on #643
This is very strange.

Can you provide:
1. Full `docker-compose logs` output
2. Full `./check-config.sh` output

[2020-12-01 10:45] hielh commented on #643
@cytopia
[logs.log](https://github.com/cytopia/devilbox/files/5621936/logs.log)

[docker-compose.yml.txt](https://github.com/cytopia/devilbox/files/5621939/docker-compose.yml.txt)
[.env .txt](https://github.com/cytopia/devilbox/files/5621945/default.env.txt)

Full ./check-config.sh output  => I don't have it

[2020-12-01 11:31] cytopia commented on #643
Then you're on an older version, which also has older MySQL images. You should consider updating to `v1.8.3` and check if the issue is solved in this one.

[2020-12-01 16:33] avierr opened #759 "Reduce the bloat/size of PHP-FPM"
PHP-FPM looks to be at least 10 times larger than the MySQL image,
is it somehow possible to reduce this?

<img width="1047" alt="Screenshot 2020-12-01 at 16 26 22" src="https://user-images.githubusercontent.com/46021572/100768462-d3982d80-33f2-11eb-94c6-cf388c4ad983.png">

[2020-12-01 17:00] cytopia commented on #759
I've already tried a couple of rounds to reduce the size (even uses multi-stage builds). However, it just ships a lot of required stuff (tools and php modules).

If that is too big, you could give `devilbox/php-fpm:7.4-prod-0.117` a try (this is all modules, but no tools)

[2020-12-02 09:32] llaville commented on #759
@cytopia. First thanks for the tip (using prod image) I didn't noticed it yet !
I've another idea : make the image generation customizable via ansible (as its partially already done) and allow users to build their own image with or without a specific tools.
Sorry I didn't have free time to suggest a POC, because I've a personal project to finish, but if you want I could do it after.

[2020-12-02 10:35] hielh commented on #643
@cytopia
Please find attachement my logs
[logs.log](https://github.com/cytopia/devilbox/files/5628610/logs.log)
[check-config.log](https://github.com/cytopia/devilbox/files/5628611/check-config.log)
[.env (copy).txt](https://github.com/cytopia/devilbox/files/5628615/default.env.copy.txt)

Do you have an idea about origin of the problem

[2020-12-02 11:58] cytopia commented on #643
Judging from your MySQL logs:
[code]

You probably need to upgrade your databases:

1. I would make a backup via `mysqldump-secure`
2. Remove current volumes
[code]
3. Remove mysql container
[code]
4. Recreate via `docker-compse up`
5. Insert backups

[2020-12-02 17:14] hielh commented on #643
@cytopia
Thank you it work's, but I had new problem on xdebug. I get as eror
`Xdebug: [Step Debug] Could not connect to debugging client. Tried: localhost:9003 xdebug 3`

[2020-12-03 13:55] hielh commented on #250
Hi every one in my case I changed

`xdebug.client_host=172.16.238.100`

Ip of bind servic:
![image](https://user-images.githubusercontent.com/909932/101026650-737ec400-3577-11eb-8bc7-e7618c125124.png)
![image](https://user-images.githubusercontent.com/909932/101026708-85606700-3577-11eb-9f38-ff1a5e2eb74e.png)

[2020-12-03 22:08] msyhr opened #761 "docker-compose.override.yml-varnish doesn't implement the VARNISH_CONFIG ENV"
### ISSUE TYPE

 - Bug Report

Varnish will always use /etc/varnish/default.vcl

https://devilbox.readthedocs.io/en/latest/custom-container/enable-varnish.html#stack-env-variables

https://github.com/cytopia/devilbox/blob/master/compose/docker-compose.override.yml-varnish

[2020-12-05 15:40] pirex360 commented on #105
Still at this date, the last version of devilbox on mac , using laravel...very slow.

[2020-12-06 09:52] llaville commented on #746
**Xdebug 3.0 with PHP 7.x**

@cytopia, I've just downloaded *devilbox/php-fpm:7.2-work-0.120* image and try to apply xdebug config from php 8.0
https://github.com/cytopia/devilbox/blob/v1.8.3/cfg/php-ini-8.0/devilbox-php.ini-xdebug

but i've noticed that some configuration settings are wrong, because I've xdebug v3 rather than v2

[code]

Config settings related to xdebug upgrade guide at https://

[2020-12-06 09:54] llaville commented on #746
Default configs for PHP 8.x must be updated :
- https://github.com/cytopia/devilbox/blob/v1.8.3/cfg/php-ini-8.0/devilbox-php.ini-xdebug
- https://github.com/cytopia/devilbox/blob/v1.8.3/cfg/php-ini-8.1/devilbox-php.ini-xdebug

[2020-12-06 10:15] llaville commented on #746
I've also a recommandation: if we wan't use the new xdebug v3, de-activate it because it consume lot of time.

See upgrade guide https://xdebug.org/docs/upgrade_guide

On command line
[code]

I've a batch process that run in 6 secs when xdebug v3 is off and took 1 minute when xdebug is on !

[2020-12-07 13:39] krebbi commented on #105
Same here. It's incredible slow on my Macbook Pro.
I have to restart the Docker Images every few hours, otherwise they are slowing down over time.

[2020-12-07 14:54] cytopia commented on #105
The performance is still an issue with MacOS itself - they haven't improved it yet (since years).
The workaround using docker-sync is still blocked by this missing feature: https://github.com/EugenMayer/docker-sync/issues/649

[2020-12-07 15:52] science695 commented on #105
@cytopia Since they seem to have found an intense debate on this setting, would it not be possible to default it to native, and in instructions for macos say uncomment this line from the .env sample?
[code]

env-sample
[code]

It seems like the extra step to add 1 line to .env file is much better than being without this feature to fix the MacOS performance problem.

[2020-12-08 12:31] Deca opened #762 "Can't update laravel/install past 3.2.0"
I'm unable to install latest laravel version because I can't update laravel/install past 3.2.0
I've tried to remove and reinstall globally with
[code]
but issuing a --version I still get the 3.2.0

I'm running Devilbox v1.7.1 but supposing laravel/install as a PHP container tool I tried to update only the container I'm actually using with` docker pull devilbox/php-fpm:7.3-work` without luck.

in /

[2020-12-08 16:38] dimkasta opened #763 "Add Neo4j graph database container"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

The idea is to have Neo4J container in the possible backend container databases, with the Neo4J console and visualization tool under the tools menu on the devilbox.

#### Goal

Again, the goal is very straightforward. I think that graph databases solve many problems that we have to shoehorn in relational databases, and Neo4J is a very nice tool th

[2020-12-08 19:40] vikas5914 commented on #762
The laravel/installer is installed while the Docker image is being built. I think you need to update the Devilbox and as well as the update the docker image version for the PHP.

check this:
![image](https://user-images.githubusercontent.com/7912297/101532919-340f0800-39bb-11eb-8001-ea64f7c696e7.png)

Also meantime you can use `composer create-project laravel/laravel example-app` command to create

[2020-12-08 20:52] ParhamG opened #764 "Add Igbinary support for PhpRedis"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Can we have the PHP Redis extension compiled with Igbinary support so that igbinary can be used as a serializer with Redis?

[2020-12-10 08:19] cytopia commented on #764
@ParhamG is baking here: https://github.com/devilbox/docker-php-fpm/pull/188

[2020-12-10 18:12] ParhamG commented on #764
@cytopia Thanks for the quick update!

I am looking at the update instructions [here](https://devilbox.readthedocs.io/en/latest/maintenance/update-the-devilbox.html#update-one-docker-image), and I am just a little bit confused. Looking at `docker-compose.yml` it is set to use a release specific tag for the php image (e.g. `-work-0.112`) and my understanding is that simply puling the same used imag

[2020-12-10 18:32] llaville commented on #764
@ParhamG I've already noticed the same issue with docker images tags. This is a problem with Travis. Cytopia will fix it soon 😉

[2020-12-10 18:38] cytopia commented on #764
The latest tag `0.121` is currently building by Travis: https://travis-ci.org/github/devilbox/docker-php-fpm/builds/748746927

You can use them immediately, once Travis is finished (by dirtily adjusting `docker-compose.yml` :smiling_imp: ) or wait until a new Devilbox version has been released

[2020-12-10 19:44] ParhamG commented on #764
Got it, so it is still baking:) and once done it will be available on the latest release tag and since Devilbox is not updated as often as the images are you'd need to adjust `docker-compose.yml` to use the latest image.

But just curious would `devilbox/php-fpm:7.4-work` also point to the latest available build/release? any harm in using that in my override? that seemed to work for me and I have

[2020-12-11 06:53] llaville commented on #764
@ParhamG

When I want to test new php-fpm release tag (as 0.121) before new Devilbox release (as 1.8.3), I do not touch my `docker-compose.yml`.
I create a `docker-compose.override.yml` with at least following content:

[code]
And If there is another release later, I will only change the 0.121 suffix.
I run the `docker-compose pull` command to download the image from docker hub. That's all !

[2020-12-11 06:57] llaville commented on #764
@cytopia LGTM for new feature

[code]

[2020-12-11 14:45] cytopia commented on #764
FYI: This is only due to the fact, that sometimes the images are broken already a few hours after release, they are not fully working with the current Devilbox stack or I'm already on adding new features to the images themselves and then just want to combine this all in one Devilbox release.

[2020-12-11 15:07] ParhamG commented on #764
@cytopia I understand, it totally makes sense for Devilbox to have a separate release schedule. I am all set, thank you! And feel free to close this issue.

[2020-12-12 22:51] wp4nuv commented on #702
I'm also interested in this option as I'm also developing for 3 subdomains sharing the same code.

[2020-12-13 12:03] #761 closed

[2020-12-13 12:05] cytopia commented on #761
@msyhr FYI: It's now available in the `v1.9.0` release

[2020-12-13 12:06] cytopia commented on #764
@ParhamG it is now implemented in release `v1.9.0`

[2020-12-13 12:06] #764 closed

[2020-12-13 12:16] cytopia commented on #702
@wp4nuv can you check my comment above. Currently the generated certificates are wildcards, so you could specifically choose the vhosts aliases as stated above and have valid certs available.

[2020-12-14 13:42] ksaltik opened #767 "Magento Only Support Composer Version 1"
#### ISSUE TYPE

 - Question
Magento Only Support Composer Version 1. How can I use composer 1 instead composer 2

#### SUMMARY

Magento Only Support Composer Version 1. How can I use composer 1 instead composer 2

#### Goal

So I can install magento

[2020-12-14 13:57] llaville commented on #767
Default version is Composer V2 but you can still used Composer V1 by invoking command `/usr/local/bin/composer-1`

[2020-12-15 10:34] ksaltik opened #768 "Magento 2.4.x only supports Elastic Search 7.6.x and above"
#### ISSUE TYPE

 - Question
Magento 2.4.x only supports Elastic Search 7.6.x and above

#### SUMMARY

Magento 2.4.x only supports Elastic Search 7.6.x and above how can I add the version to devilbox

#### Goal

I try to install magento 2.4.x on devilbox

[2020-12-15 11:14] cytopia commented on #768
You can set the ElasticSearch version as described here in the documentation: https://devilbox.readthedocs.io/en/latest/custom-container/enable-elk-stack.html#id1

[2020-12-15 12:46] RaffyeMemon commented on #146
did we implemented this in 1.9 .. i am still trying to have projects which different php-version running at same time !

[2020-12-15 12:50] cytopia commented on #146
Not yet. For now you can follow the instructions above to get this feature working: https://github.com/cytopia/devilbox/issues/146#issuecomment-457477860

[2020-12-15 22:55] Dan0sz commented on #718
Just to add to this discussion: most (if not all) of the documentation when it comes to Xdebug is based on v2.x. In v3.x basically all of the configuration parameters have been changed or replaced.  I'm pretty sure that's what's keeping me from getting Xdebug to work properly on WSL2.

I changed all of the parameters in my `xdebug.ini` file, but when I open up `phpinfo()` I still see a bunch of ot

[2020-12-18 09:17] llaville opened #769 "Xdebug 3.0 with PHP 7.2, 7.3, 7.4 and 8.0"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Migrate from old to new settings.

#### Goal

Xdebug v3 is a new major version that changed a lot especially on behavior and settings.
See the [Xdebug Official Upgrade Guide](https://xdebug.org/docs/upgrade_guide)

Following changes that were started with FR #746, Devilbox need again to be clean-up !

While I've started to introduced OPCache setti

[2020-12-18 09:45] llaville commented on #769
One fixes on my previous report :

We **MUST** use `xdebug.client_port        = 9000`  and not 9003 as recommanded in Xdebug Upgrade Guide.

Otherwise we will get an error like this one :

[code]

[2020-12-18 10:05] llaville commented on #769
Final settings suggestion could be :

[code]

[2020-12-18 11:42] alikon commented on #769
i've made this change too  (on a windows machine) and i confirm too that the port should be 9000 and not 9003

[code]

[2020-12-18 11:43] llaville opened #770 "Xdebug v3 info panel"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Show diagnostic information analogous to PHP's phpinfo() function

#### Goal

Add a new entry in `info` devilbox menu to display the diagnostic panel available in v3 (see https://xdebug.org/docs/profiler#xdebug_info)

Here is a preview

![localhost_info_xdebug_php](https://user-images.githubusercontent.com/364342/102611043-80321900-412e-11eb-8bad-

[2020-12-18 12:01] alikon commented on #770
see #771

[2020-12-18 13:02] llaville commented on #770
I'd though to an menu integration like https://github.com/cytopia/devilbox/blob/master/.devilbox/www/htdocs/info_php.php
BTW thanks for your contrib @alikon

[2020-12-18 13:05] alikon commented on #770
ah ok  give me 5 min

[2020-12-18 13:09] alikon commented on #770
moved under Info Menu

[2020-12-18 16:07] llaville commented on #770
I'll give you my feedback on your PR.
I also want @cytopia point of view, because he his the leader of project.

[2020-12-18 17:34] llaville opened #772 "Split intranet from main project"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Split '.devilbox' folder into a separate project.

#### Goal

Make it possible to replace default devilbox intranet by a new custom copy.

CI checks has no sense with intranet. Running almost 200 checks for nothing.

I've already begun to work on my own copy of a customizable intranet few month ago.

Easy to replace, because we have just to mount

[2020-12-19 09:20] cytopia commented on #769
@llaville For the PHP-FPM images I added the following sane defaults:
[code]
https://github.com/devilbox/docker-php-fpm/pull/191

[2020-12-19 09:29] cytopia commented on #772
There has already been put a lot of work into moving towards this direction.

* **Step 1** involves separating Frontend and Backend calls. The separated frontend has already been implemented by @hurrtz here: https://github.com/devilbox/web-ui/tree/develop
* **Step 2** would involve me creating the corresponding API's (within the Devilbox project)
* **Step 3** would then be to think about how to mo

[2020-12-19 09:53] llaville commented on #769
@cytopia sorry but i'm not agree with setting `xdebug.start_with_request = Off`. It does not means that something are started or stopped. See https://xdebug.org/docs/all_settings#start_with_request

I suggest to put `xdebug.start_with_request = default`

[2020-12-19 10:03] llaville commented on #772
Until now I didn't noticed that there is a WebUI planning (under development). I'll have a look on it !

If I can help, count on me !

[2020-12-19 10:04] cytopia commented on #772
It is hidden in the `develop` branch ;-)

[2020-12-19 11:52] llaville opened #773 "CI - Docs linkcheck2 failure"
### ISSUE TYPE

 - Bug Report

### SUMMARY

Github Actions - CI - Docs linkcheck2 failed because linuxbrew has migrated. See https://github.com/Linuxbrew/brew
Use Homebrew instead !

If you want to fix issue such as ```[FAIL] https://linuxbrew.sh curl: (6) Could not resolve host: linuxbrew.sh``` line 299 in https://github.com/cytopia/devilbox/runs/1577795684?check_suite_focus=true#logs

[2020-12-19 11:58] llaville commented on #773
Perharps time to migrate tools in devilbox too !
See https://github.com/cytopia/devilbox/blame/master/README.md#L633-L636

[2020-12-21 09:14] #770 closed

[2020-12-22 19:41] guptaru1 commented on #631
Good day,
I am running a Catalina server on my MacBook and I have Devilbox and docker set up on my laptop and I am getting a 502 bad gateway error saying that it is exiting out out of PHP 7.2 container with a "cant write into var/log/php permission denied" and I am assuming that because the PHP 7.2 container is exiting out I am getting a 502 bad gateway error

[2020-12-23 16:41] RaffyeMemon commented on #373
running into same issue on latest build:

Windows 10 | MariaDB 10.5 .. ( Tested 10.4 and 10.3 as well )

`mysql_1  | 2020-12-23 16:37:33+00:00 [Note] [Entrypoint]: Switching to dedicated user 'mysql'
mysql_1  | 2020-12-23 16:37:33+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Server 1:10.5.8+maria~focal started.
httpd_1  | [INFO] Starting supervisord: 3.3.5
**mysql_1  | Warning: World-wri

[2020-12-28 21:44] wp4nuv commented on #719
This may not be accurate for the OP, but when using Devilbox in WSL2, you must place the DNS entry in the VM virtual adapter, not the main internet adapter.  There is no reference for this in the documentation.

[2020-12-28 21:49] wp4nuv opened #774 "DNS setup in Windows using Docker and WSL 2"
#### ISSUE TYPE

 - Documentation

#### SUMMARY
Documentation steps to make DNS updates in Windows doesn't take into consideration whether you are using WSL 2. Steps are different if using that Docker solution.

#### Goal
Update documentation to state the following:
When using Docker with WSL2 support, the DNS entries that are required in Windows must be placed in the Hyper-V virtual adapter relat

[2020-12-28 22:20] wp4nuv opened #775 "Unable to use earlier versions of MySQL Workbench in Percona 5.7 mysql"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2020-12-29 09:38] cytopia commented on #775
Hi @wp4nuv thanks for the detailed bug report.

From your docker logs I am seeing the following error message:

[code]

In the `.env` file however you've setup a password for MySQL. Can you double check this on your setup

[2020-12-29 15:05] andrecalistro commented on #774
@wp4nuv could you show how to configure the hyper-v?

[2020-12-29 15:32] wp4nuv commented on #774
The procedure is the same as stated in the Devilbox dns for Windows, except that instead of using the machine network controller you make the changes in the ```vEthernet (WSL)``` one.

[2020-12-29 15:34] jonatanaxe commented on #769
Can I downgrade from xdebug to 2 in an easy way? @cytopia @llaville

[2020-12-29 16:03] cytopia commented on #769
@jonatanaxe you could use any Docker image before this version: https://github.com/devilbox/docker-php-fpm/releases/tag/0.118

[2020-12-29 20:50] wp4nuv commented on #775
I can't say for sure why that shows... it may be transient. I can run another log dump to see if its recurring
P.

[2020-12-29 22:46] wp4nuv opened #776 "Devilbox php-fpm in Windows with WSL2 cannot resolve apt repositories"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2020-12-30 10:03] cytopia commented on #776
@wp4nuv  Can you startup without the custom script, enter the container and check if you have internet access from there at all. (`ping 8.8.8.8` and `ping google.de`)

[2020-12-31 11:30] cytopia commented on #775
You did already state this in your post: It does work with MySQL Workbench >= 8.0. Just checked it (as it is the version I have installed)

| | |
|-|-|
| ![Screenshot 2020-12-31 12-24-45  selection](https://user-images.githubusercontent.com/12533999/103408629-9cd54480-4b63-11eb-8359-d6f5cac03e72.png) | ![Screenshot 2020-12-31 12-25-31  selection](https://user-images.githubusercontent.com/12533999/

[2020-12-31 11:42] #653 closed

[2020-12-31 16:13] wp4nuv commented on #775
That makes sense, but here’s the interesting part: I even made copies of all the generated server keys in case it was looking for those.. but the result was the same.  I know I can use Workbench 8, but because our database is not 8, there’s always the possibility that a backup made with the newer Workbench won’t load properly into a 5.7 db.  I agree that this seems to be more of a Workbench issue

[2020-12-31 17:03] cytopia commented on #775
I am not really maintaining those images. I just use a combined repository to bring together MySQL, MariaDB and Percona and make them behave the same way (https://github.com/devilbox/docker-mysql)

See for percona 5.7 for instance: https://github.com/devilbox/docker-mysql/blob/master/Dockerfiles/percona-5.7 All it's doing is ensuring required directories are present and then use entrypoint script

[2020-12-31 17:11] wp4nuv commented on #775
Awesome, thank  you! I think this can be closed.  If I do come up with a way to turn it off, ok to submit a PR even though they are not maintained?

From: cytopia <notifications@github.com>
Sent: Thursday, December 31, 2020 12:04
To: cytopia/devilbox <devilbox@noreply.github.com>
Cc: Pedro J Maldonado <pmaldonado1@mac.com>; Mention <mention@noreply.github.com>
Subject: Re: [cytopia/devilbox] Unabl

[2021-01-01 15:38] cytopia commented on #775
Totally, would even be much appreciated :+1:

[2021-01-01 15:38] #775 closed

[2021-01-03 14:05] #709 closed

[2021-01-03 17:55] llaville commented on #773
@cytopia are you agree to migrate to homebrew for release #777.
This will fix also this issue and all CI checks will then be successful ?

[2021-01-04 20:01] science695 commented on #631
Hey @guptaru1, I would recommend starting your own issue, and including the config / log files that it mentions.

[2021-01-05 14:01] masiorama commented on #382
@skoria did you manage to fix it? I am experiencing the same issue...

[2021-01-05 17:01] masiorama opened #778 "Can't start mysql 5.6 after working on 5.7"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached [env.txt](https://github.com/cytopia/devilbox/files/5770914/env.txt)
* [ ] `./check-config.sh` not available on my devilbox version 1.6.2
* [ ] `docker-compose logs` N/A
* [ ] `docker-compose.override.yml` is attached (if exists) N/A
* [ ] Custom configs from `cfg/` dir are attached (if exist) N/A
* [x] I've looked through

[2021-01-06 15:57] cytopia commented on #778
I was able to reproduce the behaviour.

### Steps

1. `.env` file: `MYSQL_SERVER=mysql-5.6`
2. docker-compose up -d php httpd bind mysql
3. Create database
4. docker-compose stop
5. `.env` file: `MYSQL_SERVER=mysql-5.7`
6. docker-compose up -d php httpd bind mysql
7. docker-compose stop
8. `.env` file: `MYSQL_SERVER=mysql-5.6`
9. docker-compose up -d php httpd bind mysql

So somehow `docker-compos

[2021-01-06 20:02] masiorama commented on #778
Hello @cytopia, thanks for the investigation. I'm trying to follow your suggesting about downgrading, but the very first thing that is recommended on mysql docs is to backup the database, which I do not know how to perform since I cannot start mysql5.6, and if I start mysql5.7 the databases are not available... any idea how to proceed avoiding data loss?

[2021-01-07 15:06] cytopia commented on #778
Hmm (theoretically), you could `docker-compose rm`, then give it a start with mysql 5.6, stop the container (DO NOT DO a `docker-compose rm` this time) and start up Mysql 5.7. It should then wrongly pick up your old databases.

If that works, you could just enter `mysqldump-secure` and have everything backed up. Also then you can delete your MySQL 5.6 db and start from scratch and import your dump

[2021-01-07 15:49] masiorama commented on #778
Thanks @cytopia, I just tried, and it did partially work...
Here the logs of the execution of  mysqldump-secure:
[code]
And so on for all the databases.

I noticed that mysql5.7 logs tracked

[code]
But I do not want to upgrade the databases.
If I check the dump folder I can see the dumps of all the databases, I just tried to load one on an empty db and it worked without errors...

I guess the onl

[2021-01-07 17:02] cytopia commented on #778
Good to hear.

Just to tripple ensure. I would load that dump into a MySQL 5.6 DB or Docker first and try out if it actually works, before wiping ;-)
Once confirmed, you just need to remove the docker volume for MySQL 5.6: (`docker volume ls` and `docker volume rm ...`).
Then you can startup MySQL 5.6 from scratch and import the dump:

https://devilbox.readthedocs.io/en/latest/examples/setup-photo

[2021-01-07 17:02] cytopia commented on #778
Let me know how that goes. Ticket can be left open as I will update documentation accordingly so that others are aware of this as well

[2021-01-07 21:16] masiorama commented on #778
I managed to recover everything. It took me quite some time since I decided to move forward and do many upgrades I had in my list... windows, docker, wsl2 and finally devilbox. Now everything is updated to last version.
I just restored a couple of databases and they work fine with mysql5.6.

Do you think the behavior I encountered was related to my old version of devilbox/docker, or the issue woul

[2021-01-07 23:08] cytopia commented on #778
Pretty sure this issue will persist if you do not do a `docker-compose rm -f` before switching container version with volumes (mysql, postgres).

[2021-01-08 10:02] BoGnY commented on #773
:+1:

[2021-01-08 10:36] masiorama opened #779 "permission error on DEVILBOX_PATH on check-config.sh"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output: [dclog.txt](https://github.com/cytopia/devilbox/files/5786621/dclog.txt)
* [ ] `docker-compose.override.yml` is attached (if exists) n/a
* [ ] Custom configs from `cfg/` dir are attached (if exist) n/a
* [x] I've looked through the docs: ht

[2021-01-08 16:20] cytopia commented on #779
@masiorama thanks for reporting this. Currently the script only distinguishes the `stat` command between MacOS and Linux. I was under the assumption that WSL would use the same syntax as Linux. Turns out it doesn't.

Can you paste a few outputs here, so I can try to figure out, how that will work on Windows:
[code]

[2021-01-08 17:33] masiorama commented on #779
@cytopia sure, you can find them below.

on win shell: `man stat`
[code]
inside devilbox: `stat --help`

[code]

I hope I got it the right way.

[2021-01-08 19:26] llaville commented on #779
Hello
I'm surprised to read it because myself, I've reformatted my laptop to a fresh Windows 10 PRO 20H2 (19042.685)
- run `winver` command to confirm version number

I've also installed WSL2 with Ubuntu 18.04 LTS and Devilbox 1.9.0

And It will be faster than previous.

I'm noticed that in the `check-config.sh` results that

![github_com_cytopia_devilbox_issues_779](https://user-images.githubuser

[2021-01-09 15:26] performize commented on #363
I was able to setup WordPress multisite subdirectory with Nginx by adding the following lines at the beginning of php_fpm section of **nginx.yml**.

Add the following code on a new line immediately after "**php_fpm: |**" (around r:107)

    # START subdir multisite Custom #

    if (!-e $request_filename) {

    rewrite /wp-admin$ $scheme://$host$uri/ permanent;

    rewrite ^(/[^/]+)?(/wp-.*) $2

[2021-01-11 10:21] masiorama commented on #779
Hi @llaville thank you for you post.
I check `uname` and the output was `Linux`, like in your case.
`uname --all`: `Linux php 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 GNU/Linux`

[2021-01-11 10:22] masiorama commented on #779
As regards to the fact that devilbox seems a bit slow, I noticed this popup from docker

![file-docker](https://user-images.githubusercontent.com/731916/104168937-19d3aa00-53ff-11eb-84bf-385b03dba2cf.jpg)

which clicked open the browser to https://docs.docker.com/docker-for-windows/wsl/#develop-with-docker-and-wsl-2

Maybe I am missing some configuration to make wsl work properly with Docker?
Than

[2021-01-11 10:27] janicak commented on #718
I was able to get Xdebug 3.0.1 to work with Devilbox on WSL2 following Steps 1-2 from https://github.com/cytopia/devilbox/issues/718#issue-679805333, but changing `xdebug.ini` to the version 3 settings as suggested at https://xdebug.org/docs/upgrade_guide.

[code]

My ```launch.json``` in the VS Code workspace is:

[code]
The debugger (the VS Code plugin ```felixfbecker.php-debug```) does stop at

[2021-01-11 10:44] llaville commented on #779
The difference with your platform, is at least I use native docker and not docker desktop.
This is I suppose why your run the else case and not really the Linux (if case).
As I've not skill will docker desktop, I can't help you more.

[2021-01-11 13:06] vikas5914 commented on #779
@masiorama You have enough resource, you should use the Hyper-V.

Devilbox is very slow with WSL2 compare to with Hyper-V.

[2021-01-11 13:22] masiorama commented on #779
@vikas5914 I thought the opposite, and when I upgrade Docker Desktop the idea I got was that via wsl2 I would have improved the performance compared to Hyper-V... am I completely wrong?

[2021-01-11 13:37] vikas5914 commented on #779
@masiorama Technically the WSL2 is fast compare to Hyper V.

But for that Microsoft advice that you need to store the project files inside to Linux. (This is what the popup is also saying).

In the Devilbox, the project files are usually on windows filesystem.

[2021-01-11 14:08] masiorama commented on #779
@vikas5914  indeed you are right, thank you for the link.
Switching to Hyper-V now let me work way faster.
I guess the performance issue is solved, and by the way we were a bit OT.
The problem with check-config.sh still persist.
Thanks!

[2021-01-11 14:58] masiorama commented on #778
@cytopia unfortunately (for me) even using `docker-compose rm -f` before switching container version I ended with all 5.6 databases forced to 5.7 and not usable with 5.6, again... this is indeed a big issue for me since every time I have to backup and to restore a lot of dbs.

[2021-01-11 15:08] cytopia commented on #778
This is something I cannot reproduce.

So what I did to test it:

1. I've backed up all data of MySQL and PgSQL
2. I've deleted all docker volumes
[code]
3. Remove stopped docker container
[code]
4. Activate MySQL 5.6 in `.env`
[code]
5. Start devilbox
[code]
6. Create a database
7. Stop everything:
[code]
8. Remove stopped docker container
[code]
9. Activate MySQL 5.7 in `.env`
[code]
10. Start d

[2021-01-11 16:11] masiorama commented on #778
The only difference is that I use `docker-compose down` which, afaik, reading the output, should execute stop and remove.
For the rest, I will try to test again on a different clean devilbox installation asap, thanks.

[2021-01-11 17:13] vikas5914 commented on #779
@masiorama How did you run the command?

Did you run from windows or did you first go into the Ubuntu WSL and then run the command?

I assume that the config check only works if you have proper Linux or installed docker inside a WSL using APT (instead of using Docket Desktop with WSL backend.)

[2021-01-12 10:09] masiorama commented on #778
Actually the problem seems a bit bigger then anticipated.
If I completely remove the images (via docker desktop interface clean up function), and then `docker-compose up mysql`, everything is pulled down with these hashes:
[code]

Everything starts except for mysql:
[code]

I'm totally lost here. :(

[2021-01-12 10:11] cytopia commented on #778
Have you removed the docker volumes (after backing up mysql databases)?

[2021-01-12 10:15] masiorama commented on #778
Yes, I did, but just moments ago I found out that I the data purge was hidden in the settings, and there were checkbox for hyper-v and wsl2. I erased everything and I'm starting from scratch again... keep you posted, thanks.

[2021-01-12 10:19] masiorama commented on #778
Ok it starts indeed now... I have no evidence that it was not working because of the fact the I was on Hyper-V, then tried to move to wsl2, then reverted to Hyper-V... I am gonna restore one of my dbs, test as you commented above, and give you an update.

[2021-01-12 10:34] masiorama commented on #778
I can confirm that it works. and using `stop` and `rm-f` avoid the problem of the unwanted auto upgrade of the data.
Thanks again @cytopia !

[2021-01-12 10:36] cytopia commented on #778
Glad to hear. And do use the backup function on a regular base, this way you can always just destroy stuff and start from scratch easily if something breaks.

I will go ahead and document this behaviour so that everyone is aware.

Good troubleshooting!

[2021-01-12 10:55] masiorama commented on #779
@vikas5914 I run it from windows, so I guess I should not care about the check script?

[2021-01-12 11:57] vikas5914 commented on #779
@masiorama I think so. Unless you are having any issue with devilbox.

[2021-01-12 19:28] IlanVivanco commented on #604
Facing the same issue as @llaville here.

[2021-01-16 03:08] Dan0sz commented on #718
@janicak Wasn't ${workspaceRoot} deprecated in favor of ${workspaceFolder}?

Btw. After updating to the latest image of Devilbox (which included XDebug 3 support) I managed to get XDebug working with WSL2 and VS Code by changing the port to something else. Here's my launch.json's configurations node:

[code]

I'm not getting any errors and it's fully functional.

[2021-01-18 15:10] wp4nuv commented on #776
I can't explain why now it works. Chuck it up to user failure. Sorry for the confusion.

[2021-02-04 15:40] NoobLTv opened #780 "No Host DNS record found"
#### ISSUE TYPE

 - Question

#### SUMMARY

When i add a folder it says no dns record found.  Add the following to /etc/hosts:
127.0.0.1 da.loc

I have tried to add it on my hosts folder in system 32 see picture below. No result
![afbeelding](https://user-images.githubusercontent.com/43806934/106916291-47162e00-6707-11eb-8722-eeb56e057183.png)

I also add it on my netwerk WSL.
DNS 127.0.0.1

I als

[2021-02-05 19:32] SHJordanSLIM commented on #769
this worked for me on w10 plus setting defaults on PHPSTORM as on docs.

[2021-02-08 10:56] ptmrio opened #782 "Webpack Dev Server with Devilbox"
#### ISSUE TYPE

 - Documentation

#### SUMMARY
As webpack-dev-server gets more popular and is also a big part of Symfony's webpack encore, I would kindly ask for a proper documentation of a correct setup.

Currently I need to add the following:
[code]

[code]

and also the starting command needs to be: `encore dev-server --https --host 0.0.0.0`

Problems with this setup:

- SSL connection is alwa

[2021-02-11 16:07] tiktaz commented on #737
https://devilbox.readthedocs.io/en/latest/configuration-files/bashrc-sh.html#custom-vim-configuration

[2021-02-12 05:53] srgpsk commented on #561
For anyone who's still looking for the solution.

Pass `--env-file` param to the `docker-compose` command. It's not enough to pass only docker-compose.yml or change path to .env inside it (I've tried).
E.g. I'd like to run `php` anywhere on the host:

`docker-compose --env-file $HOME/devilbox/.env -f  $HOME/devilbox/docker-compose.yml exec --user devilbox php php "$@"`

After that you'd may like t

[2021-02-12 15:54] hielh opened #784 "Get an error when we start composer install for magento package: Failed to decode zlib stream Retrying with degraded mode"
### ISSUE TYPE

 - composer install return an error

Failed to decode response: Failed to decode zlib stream Retrying with degraded mode, check https://getcomposer.org/doc/articles/troubleshooting.md#degraded-mode for more info

![image](https://user-images.githubusercontent.com/909932/107790300-ec0db800-6d52-11eb-81ff-b3410ad4ff4e.png)

[2021-02-13 13:26] arthur-lbchn opened #785 "No Host DNS record found"
### ISSUE TYPE
 - Bug Report

### Checklist

* [yes] `.env` file is attached
* [yes] `./check-config.sh` output is added below
* [yes]  `docker-compose logs` output is added below
* [no] `docker-compose.override.yml` is attached (if exists)
* [no] Custom configs from `cfg/` dir are attached (if exist)
* [yes] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [yes] I've loo

[2021-02-13 13:50] cytopia commented on #785
Apart from this quote I don't see any error here. Your `ping` commands do resolve correctly, so how would one get this error you've quoted?

[2021-02-13 13:52] arthur-lbchn commented on #785
@cytopia Hello, I'm really sorry about that. I'm getting the error from UI >> Virtual Hosts. Attaching the screenshot as well
![Screenshot_72](https://user-images.githubusercontent.com/9682681/107851547-846b7180-6e13-11eb-9273-ac9e0a0dbb6a.png)

[2021-02-13 13:55] arthur-lbchn commented on #785
@cytopia I've updated Summary to make it more clear

[2021-02-13 13:57] cytopia commented on #785
Did you open the UI via http or https?

[2021-02-13 13:59] arthur-lbchn commented on #785
@cytopia I open with http://my-ip.com/vhosts.php. Just tried with https://my-ip.com/vhosts.php - the same error there.

[2021-02-13 14:01] cytopia commented on #785
Can you try with `http://localhost/vhosts.php` just to see if this yields the same issue

[2021-02-13 14:02] cytopia commented on #785
Also, check the console of chrome/FF and the requests which might give some more hints on the request replies.

[2021-02-13 14:11] arthur-lbchn commented on #785
@cytopia unfortunately, I don't run it locally. it's on my own server in US with public IP address. That's what I got on console:
![Screenshot_73](https://user-images.githubusercontent.com/9682681/107851841-820a1700-6e15-11eb-9b17-c20e93786aaf.png)

This took me to the idea to create "127.0.0.1 wp.loc" on my local machine (while previously I configured it on my server)

and now it shows properly

[2021-02-13 14:13] cytopia commented on #785
Then your `/etc/hosts` entries (of your local machine) must also have the ip address of your server instead of 127.0.0.1

[2021-02-13 23:21] #785 closed

[2021-02-16 09:54] anatol06 opened #786 "Add Shopware CLI tools please"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Generating plugins with the CLI tools for Shopware would help me a lot

#### Goal

I Would like to have the possibility of using CLI Tools for generating plugins etc. in Shopware
Please get the information [here](https://developers.shopware.com/blog/2015/09/01/generating-plugins-with-the-cli-tools/)

[2021-02-16 16:33] yusufonur commented on #730
I want to create postgis extension but getting an error:

Steps:
[code]

`ERROR:  could not open extension control file "/usr/share/postgresql/12/extension/postgis.control": No such file or directory`

I look /usr/share/postgresql/12/extension path and really postgis.control not exists

How can I do it ?

[2021-02-18 13:10] jonatanaxe commented on #786
Does it work like the n98-magerun? I install from autostart
https://github.com/jonatanaxe/DevEnvDevilbox/blob/main/devilbox/autostart/autostart.sh

[2021-02-19 08:14] llaville commented on #773
Commit https://github.com/llaville/docker-php-fpm/commit/ce618d91827e3c08c1ea1bd43e18c6bf995be67e provides migration

[2021-02-23 04:12] nhanledev commented on #774
I had to put the ip of the WSL2 instance using `ip a | grep eth0` to the Preferred DNS Server field to make it work. `127.0.0.1` does not work on my side.

[2021-02-23 21:57] jakeparis opened #788 "vhosts page in admin UI is not "seeing" custom config and incorrectly flagging missing htdocs"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-02-24 17:01] wp4nuv opened #789 "Apt update generates error - crashes php-fpm container"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ ] `.env` file is attached
* [ ] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x ] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x ] I've looked throug

[2021-02-24 17:26] wp4nuv commented on #789
I forgot to add, one can add the curl line into a php-startup script and it will take the changes when starting the php container.

[2021-02-25 22:12] jakeparis opened #790 "Upgrade available for Adminer"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Adminer 4.7.7 is bundled. Version 4.8.0 is now out.

#### Goal

Keep current with version.

[2021-03-02 10:22] jameswadsworth opened #791 "Unable to start devilbox due to network bridge conflict"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-03-02 13:30] jameswadsworth commented on #791
After some digging around I found the problem. Every time I rebooted the computer or restarted docker there following network entry was created:
[code]
I ran the commands
[code]
I restarted the docker service and hey presto the bridge br-8ac158fb648d was back. I tried
[code]
still it came back. After running a grep search for 172.16.238.1  on the etc and var folders I found the entry /var/lib/dock

[2021-03-02 13:30] #791 closed

[2021-03-03 19:49] bogdaniel opened #792 "New php extensions"
I've started using devilbox to work on symfony projects because I find it easy since it comes with blackfire implemented but today when I tried to install a simple packages ( twig-ext ) I noticed I don't have the ext-http extension. Took me around 4 hours to figure it out how to install the package.
Would be great if we would have by default installed the following extensions : http.so, propro.so

[2021-03-04 06:07] llaville commented on #792
Hello @bogdaniel

As Cytopia seems to be very busy, I'll try to explain how you can  add your own extension easily !

Probably a new chapter in awesome documentation will be greatly appreciated by the community.

By default, the Devilbox used php container (Docker image mods https://github.com/devilbox/docker-php-fpm#image-mods) to enable/disable php modules (extensions).
If you want to build your

[2021-03-04 06:39] llaville commented on #792
Notice, for [http extension](https://pecl.php.net/package/pecl_http) you need:

- for PHP 8, version 4.0.0 or greater + **raphf** ext (**propro* no more required)
- for PHP 7, version 3.2.4 + **raphf** and **propro** ext

That means, you must also configure extension definition in `build/ansible/group_vars/all/mods.yml` file.
Something like (this patch)

[code]

[2021-03-04 07:04] llaville commented on #792
As **pecl_http** extension requires [some dependencies](https://mdref.m6w6.name/http#Dependencies:), the previous patch should be upgrade to:

[code]

**WARNING** I'm working to include it in my fork version: should be available soon ...

[2021-03-04 12:23] llaville commented on #792
FYI: my fork is ready to enable http extension on platforms PHP 7.2, 7.3, 7.4 and 8.0

[2021-03-04 15:21] clotted commented on #168
I had same on macOS Big Sur. Adding comment is case others encounter.
Issue in my case was the built in HTTPD.
Solution was this command:
sudo launchctl unload -w /System/Library/LaunchDaemons/org.apache.httpd.plist

Source: http://www.szinet.com/node/3

[2021-03-05 08:29] bogdaniel commented on #792
Thank you everyone for the answers solved the issues somehow based on some docs I found to load from mods folder and cfg folder, but I will read every comment and do it your way. Also thank you for the fork :D

[2021-03-05 08:29] #792 closed

[2021-03-06 15:03] 24js opened #793 "Adding ext-mailparse php extension"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

Adding **ext-mailparse** to list of extensions for PHP container

#### Goal

`ext-mailparse` is a really useful extension, if you want to use for example `php-mime-mail-parser` it requires `ext-mailparse`, and it's inside so many projects you can check the stats just from [packagist.org](https://packagist.org/packages/php-mime-mail-parser/php-mime

[2021-03-06 17:58] llaville commented on #793
Adding new extension is related to PHP container. That's means its for https://github.com/devilbox/docker-php-fpm project !

Easy to include. I'm currently integrate it in my fork https://github.com/llaville/docker-php-fpm/tree/software_enabled_refactoring
Will be soon available.

- Version 2.1.6 (latest of branch 2) is for PHP versions 5.2 to 5.6
- Version 3.x is for PHP versions 7.x to 8.0

[2021-03-09 08:50] taliptako opened #794 "Old PHP 8 version"
We should update the PHP 8.0.0 version to PHP 8.0.3 which fixes a lot of problems...

[2021-03-11 13:35] krebbi opened #795 "Cannot start service bind"
### ISSUE TYPE

 - Bug Report

### Checklist

* [ x] `.env` file is attached
* [ x] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [ ] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [ ] I've looked throug

[2021-03-11 13:53] #795 closed

[2021-03-11 14:28] fkaminski opened #796 "Cannot start service bind"
Windows 10 Pro und Docker Desktop (via Hyper-V - Not WSL2)
Bekomme nach dem autom. Docker Update auf die Version(en):

docker desktop: 3.2.1 (61626)
engine: 20.10.5
compose: 1.28.5

die Meldung:
[code]

Wenn ich in der .env die Angabe HOST_PORT_BIND wieder auf 1053 setze geht es. Mit Port 53 nicht.
Der Port 53 ist ansonsten nicht belegt.

Habe dann docker desktop und Hyper-V features unter Windows

[2021-03-11 15:08] wp4nuv commented on #796
While I'm not fluent in German, I understand enough to think what's happening to you is happening to me as well although with WSL2 (Ubuntu 20.04). I receive the same message when starting the stack. There are no services on the WSL2 instance using port 53. I've reinstalled both Ubuntu and Docker with the same result.
[code]
There are no other docker-compose logs as the process fails from even runn

[2021-03-11 15:46] fkaminski commented on #796
@wp4nuv Please excuse: english is not my native language - so I will try anyway:

Tried again:
Reinstall Windows 10 Hyper-V and then "docker desktop" (without WSL2):

Status then:

docker desktop: 3.1.0 (51484)
Engine: 20.10.2
Compose: 1.27.4

The devilbox is running: Also with port 53 (HOST_PORT_BIND=53).

Then docker do the auto. update again:

docker desktop: 3.2.1 (61626)
Engine: 20.10.5
Compo

[2021-03-11 16:28] wp4nuv commented on #795
If I may ask, why was this closed? Was there a solution found? I'm presenting the same issue with WSL 2 Ubuntu 20.04.

[2021-03-11 16:34] wp4nuv commented on #796
@fkaminski, I don't know really how, but for me German is like English written differently.. I understand most of it, even while reading... Anyway, to update my earlier post, here's the output of my config-check script:
[code]
This is a brand new devilbox clone with a fresh ```.env``` file and no other updates. Funny that one of the checks says all projects have valid DNS records, but I haven't ad

[2021-03-11 16:41] wp4nuv commented on #604
I'm not sure if this helps anyone here, but I found that Auto DNS works when you update the WSL2 adapter's dns to 127.0.0.1.  Instructions on the documentation page refer to using Docker with Hyper-V.  Making this change made all resources visible to the devilbox VirtualHosts tab.

[2021-03-11 17:41] wp4nuv commented on #796
I just thought of something. Just the other day there was a Docker update.. I wonder if that's what's causing the issue. I'm going to reinstall an earlier version, just to see if anything changes. Mind you that I already reset the current Docker installation to default values and cleared all images, just to be sure

[2021-03-11 19:13] krebbi commented on #795
I had in .env
HOST_PORT_BIND=53
for the past year or so and out of a sudden the error mentioned above occurred.

So I changed it to
HOST_PORT_BIND=1053
and now it works again.

[2021-03-11 21:07] wp4nuv commented on #795
I tried that before, but if the documentation to get it to work is to use port 53, why is it crapping out now? I've been using Devilbox for a while, its not like its not worked before. Even with WSL2 Devilbox DNS works fine once you adjust the WSL ethernet to use 127.0.0.1 for dns

[2021-03-11 21:17] wp4nuv commented on #796
Ok, so the earlier version of Docker didn't solve anything. bind still fails to start. :(

[2021-03-11 21:47] wp4nuv commented on #795
Just checked after changing .env to have dns run on port 1053. Making that change makes the stack run, but Auto DNS is shot, including using dns names inside the stack.

[2021-03-11 23:26] wp4nuv commented on #769
Quick question, because this has also been an issue for me: When loaded the PHP image has fpm expecting connections to port 9000. Wouldn't that conflict with Xdebug 3? I use PHP Tools from Devsense, and they also state that debugging should be on port 9000. I was wondering if the PHP-FPM service could be "configurable", so to speak, to allow port changes when necessary.

What @llaville mentioned e

[2021-03-12 08:47] fkaminski commented on #796
Strange,
as described above it works fine with an older "docker desktop" version.
But i do have to go the hard way (on Windows):

- Deinstall docker-dektop / deinstall windows hyper-v feature
- Install windows hyper-v feature / install docker-desktop

Just cleaning up the containers/images (docker system prune etc.) was not enough ...

[2021-03-12 11:15] fkaminski commented on #796
Have now tested this on a computer with Windows 10 Home and WSL2.

With docker-desktop version 3.1.0 everything works as before
( Auto DNS via port 53 ).

Hint:
One must add in this environment then additionally 127.0.0.1 in the network Ethernet adapter ( vEthernet(WSL) ).

Apart from that:
As long as I do not allow docker update then it just continues to work ... ???

[2021-03-12 13:33] wp4nuv commented on #776
I know its a late reply, but after I posted above I realized that the issue is due to being connected to a VPN.  I found official Microsoft documentation addressing this issue:  https://docs.microsoft.com/en-us/windows/wsl/troubleshooting#bash-loses-network-connectivity-once-connected-to-a-vpn

I'm going to check that out today and report back.

[2021-03-12 23:43] wp4nuv commented on #796
Thanks,  I'll check it out. If it indeed works, I'll try to make a bug ticket for Docker Desktop

[2021-03-13 03:14] wp4nuv commented on #796
Just found the above issue in Docker for Windows GitHub issues. Seems like there is a real problem with 3.2.1 and DNS.  (Among other complaints is the automatic auto update that has no option to be disabled, which sucks because if you have to downgrade for issues like this, its impossible to keep the old version as-is while work continues on a fix). Anyway, there seems to be ongoing work to handle

[2021-03-14 23:15] wp4nuv commented on #796
For those interested, while we wait for an official Docker patch, there is a release available that deals with port 53 not available.
https://github.com/docker/for-win/issues/10601#issuecomment-797983785

[2021-03-18 14:13] PaulMorel commented on #794
I think you need to update your docker images. As documented here: https://devilbox.readthedocs.io/en/latest/maintenance/update-the-devilbox.html#update-docker-images

[2021-03-19 16:32] robots4life opened #797 "SvelteKit, Vite, HMR & Devilbox"
https://kit.svelte.dev/ is almost out and I'd like to get it going with Devilbox. :heart:

Quite simple, running HMR on `wss://devilskit.loc:24678` does not work.

Please check this example repo https://github.com/robots4life/devilskit to reproduce the error I am getting.

There is also a video of the error here https://github.com/robots4life/devilskit/tree/main/video_of_error.

All files are incl

[2021-03-20 18:52] robots4life commented on #797
Further research shows that when using `HTTPD_SERVER=nginx-stable` in the `.env` file the `https://devilskit.loc` site just shows `Upgrade Required` meaning NGINX might not have support for HTTP/2.0 enabled.

When choosing `HTTPD_SERVER=apache-2.4` the issue with continuos reloads persists due to `wss://devilskit.loc:24678` not working.

[2021-03-21 01:39] robots4life commented on #797
https://github.com/vitejs/vite/pull/677#issuecomment-752210185 is possibly very related to this. The `wss` on port 24678 needs to be proxied to the PHP container as well.

How do I need to change the vhost template files to get such a setup going please?

I tried this for the NGINX template but am now getting a 502 on the `wsdev` location.

[code]

[2021-03-21 10:31] boumanb commented on #797
Hi there @robots4life,

I suppose you have a `docker-compose.override.yml` in your Devilbox root folder? If so, try adding the following under `services:` (if you already have a `php` directive just add the ports so that they are exposed to the host machine):
[code]

If you don't have a `docker-compose.override.yml` please create one and add the following:
[code]

When finished please restart Devi

[2021-03-21 12:28] fkaminski commented on #796
With the new docker update (3.2.2) everything works now again.
So maybe this issue could be closed ...

[2021-03-21 13:10] robots4life commented on #797
@boumanb :wave:
Here is the thing. The app goes over 3000 and HMR over the secure websocket port 24678. I have both ports opened in the `docker-compose.override.yml` file. This is also included in the demo repo here https://github.com/robots4life/devilskit/blob/main/devilbox_compose/docker-compose.override.yml but obviously have that file in the devilbox root directory.

[code]
If I forward 3000 i

[2021-03-23 11:14] dereuromark commented on #769
`xdebug.client_host=xxx.xx.xx.xx`
Is there a quick way to find out what address to put here?
I guess we have to run this from within the shell? After `./shell.sh` then.

[2021-03-23 13:05] IlanVivanco commented on #718
Using @janicak Xdebug's 3 settings worked for me. But as mentioned by @Dan0sz I'm using `${workspaceFolder}` for my **launch.json** file.

Just for reference, I ended up with these:
- _~/.zshrc_
[code]
- _~/devilbox/docker-compose.override.yml_
[code]

- _~/devilbox/cfg/php-ini-7.4/xdebug.ini_
[code]

- _/home/ilan/code/my-plug/.vscode/launch.json_
[code]

[2021-03-23 13:56] dereuromark commented on #769
`ip route get 1 | sed 's/^.*src \([^ ]*\).*$/\1/;q'` apparently gets the needed address

Once this is set, it worked for me.
I wonder if there is a more dynamic approach, as the above address is subject to change afaik.

[2021-03-31 12:33] robots4life commented on #628
A note on using php-cs-fixer in VSCode in a remote Devilbox container. php-cs-fixer is listed as available tool here https://devilbox.readthedocs.io/en/latest/readings/available-tools.html#available-tools though it seems it is not installed.

Using the VSCode extension for php-cs-fixer https://github.com/junstyle/vscode-php-cs-fixer these steps are required to make things work in VSCode with the r

[2021-03-31 14:41] CamdenGonzalez commented on #628
I have been following this thread closely.

Did you get PHPCS itself working (not php-cs)?

If so, what path did you pass as value in the vscode devcontainer settings for `"phpcs.executablePath"`?

I haven't had any luck with either of these:
[code]

I haven't got to php-cs yet, that's next on my list...

@cytopia is there a way to see the directory structure / locations for available tools inside

[2021-03-31 14:44] CamdenGonzalez commented on #628
I have been following this thread closely.

Did you get PHPCS itself working (not php-cs)?

If so, what path did you pass as value in the vscode devcontainer settings for `"phpcs.executablePath"`?

I haven't had any luck with either of these:

`"phpcs.executablePath": "/usr/local/bin/phpcs",`
`"phpcs.executablePath": "/home/devilbox/.composer/vendor/bin/phpcs",`

I haven't got to php-cs yet, that'

[2021-03-31 17:48] robots4life commented on #628
@CamdenGonzalez aight, I will give it a shot, took me some time to figure out the php-cs-fixer has to be installed, I was under the assumption it is available, as in, ready to use. Then I checked out phpcs and phpcbf and the VSCode extensions for it, but had to do some work so stopped "tooling". But since there is demand for this I will try and get this rocking.. :guitar:

[2021-03-31 18:25] CamdenGonzalez commented on #628
@robots4life no worries, essentially there just needs to be a communication between vscode (path settings) and the php containers composer library.

I'm probably missing the point on how this all works

Anyway... I was able to `composer show' inside the container and everything needed is installed.

Namely: phpcs & php-cs-fixer

Just cannot get the paths to work in the vscode remote devcontainer.j

[2021-04-06 13:28] robots4life commented on #628
@CamdenGonzalez du have you got a way to meet in chat, I have a feeling that could benefit both of us, the long term plan is to add documentation for how to use the available tools in a remote container in VSCode.

If chat is not an option, can you elaborate on how you, if I understand you correct, got xDebug working over the browser and phpcs / php-cs-fixer working locally ?

[2021-04-06 16:41] CamdenGonzalez commented on #628
@robots4life Sure let me know what your preferred method for chat is and we can go form there.

I encountered limitations running vscode in a container (I'm sure those limitations are attributed to my lack of knowledge but for the sake of productivity I opted for a workable compromise).

When trying vscode in containers I opted to "attach" to the devilbox php container using the vscode remotes ext

[2021-04-12 11:13] masiorama opened #798 "Deprecation on localhost/mail.php due to php.net/function.hexdec on PHP 7.4"
### ISSUE TYPE

 - Bug Report

I switched to PHP 7.4 the ambient for some of my projects, and visiting devilbox/mail dashboad I notice a lot of warning like this:

[code]

Checking the [php function](https://www.php.net/function.hexdec) it is stated that

`hexdec() will ignore any non-hexadecimal characters it encounters. As of PHP 7.4.0 supplying any invalid characters is deprecated.`

Right now

[2021-04-13 15:20] magosla commented on #697
I encountered the same issue while trying to access https://localhost. I noticed the issue occurs when I use compose from docker's CLI ```docker compose up``` but not experienced when I use ```docker-compose up```

Docker version 20.10.5, build 55c4c88
docker-compose version 1.29.0, build 07737305
Host OS: Windows 10

[2021-04-13 15:22] masiorama commented on #362
Sorry to comment on this old issue, but I'm scratching my head since yesterday and I cannot solve my problem so far.
I read all devilbox docs about the matter, but I cannot find a way to successfully add 2 vhosts inside a single codebase, like it is supposed to do with a yii2-app-advanced: https://www.yiiframework.com/extension/yiisoft/yii2-app-advanced/doc/guide/2.0/en/start-installation#preparin

[2021-04-15 13:20] robots4life opened #800 "GraphicsMagick and Gmagick extension"
Gmagick extension is not listed here.
https://github.com/devilbox/docker-php-fpm#user-content-php-modules

#### ISSUE TYPE

 - Feature request

#### SUMMARY

Compared to ImageMagick, GraphicsMagick works faster, uses less system resources and is more stable.
https://www.php.net/manual/en/book.gmagick.php

#### Goal

Be able to work with high resolution images faster while using less system resourc

[2021-04-15 14:48] llaville commented on #800
I'm surprised to see no stable release since the first one in 2009 (see https://pecl.php.net/package/gmagick)

[2021-04-15 20:58] robots4life commented on #800
Oh my.. :roll_eyes:

[2021-04-15 20:58] #800 closed

[2021-04-16 17:48] tiktaz commented on #798
I'm facing same problem. Is it possible to add this correction around line 838 of `/var/www/default/include/vendor/Mail/mimeDecode.php` ?
[code]

[2021-04-17 08:45] llaville commented on #798
Perharps a better alternative will be to replace outdated [PEAR Mail_mimeDecode](https://pear.php.net/package/Mail_mimeDecode) package, by a new alternative solution.

See https://stackoverflow.com/questions/4721410/best-way-to-handle-email-parsing-decoding-in-php

I suggest [eXorus answer](https://stackoverflow.com/a/24351629) with his solution https://github.com/php-mime-mail-parser/php-mime-mai

[2021-04-18 06:50] boumanb commented on #797
Finally made some time to investigate this. Sorry for my earlier response. I got things up and running locally using `ws` just like you. When switching to `wss` I get the same reloading behaviour. Firefox throws a `SSL_ERROR_RX_RECORD_TOO_LONG` which indicates  that something is wrong with the server serving unsecure data over a secure connection.

I have taken a look at https://github.com/vitejs/

[2021-04-18 11:15] robots4life commented on #797
It is exactly that issue with Vite so far not supporting wss, not the only one waiting for that pull request to go through.. :clock1130: Thank you for confirming the bug on their end. As soon as the request is merged I will add more details here and then close the issue.

[2021-04-19 15:10] llaville opened #801 "Intranet not available when some php modules disabled or not compiled"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `./check-config.sh` output is added below
* [ ] `docker-compose logs` output is added below
* [ ] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through

[2021-04-19 15:10] llaville commented on #801
PR to fix it will follow ...

[2021-04-19 15:58] cytopia commented on #801
I'm not so sure about this one.
Imo, If the container are started, they should also show up as started, regardless if PHP has a module for it.

[2021-04-19 17:56] llaville commented on #801
Important info: PR 802 did not solve tools menus that have php modules requirements

[2021-04-20 06:58] o2bj opened #803 "Mount only subfolder of projet"
I'm using devilbox on windows "docker for windows", but the issue is that working with magneto2 on docker (windows) is extremely slow.
I dealt with it (in my previous docker setup) by mounting only  the "/ app" subdolder of magento, not the entire folder with the magento installation.
But I'm not sure how do it on devilbox.

Can someone provide instruction, how to after magento installation
disabl

[2021-04-26 13:31] akzincsystems commented on #293
Was anything done to add an ssh server to the PHP containers?  The only references I can find are to docker toolbox, but that is old tech. Having the ability to ssh into a php container as a remote interpreter for working with Intellij, VSCode et al is still a requirement.

[2021-04-27 09:55] Novitsh commented on #697
I have the same issue with `docker compose up`, fixed by still using `docker-compose up`.

[2021-04-28 09:43] MikePageDev opened #804 "PHP + Puppeteer docker image"
I am trying to create a PHP and puppeteer docker image that will work with bevilbox. here is my dockerfile

[code]
I am getting the following error chown: cannot access `'/node_modules': No such file or directory`

[2021-05-02 20:18] jonatanaxe opened #805 "PHP FPM slow log"
Is there a way to enable PHP FPM slow log?

[2021-05-05 15:32] vikas5914 commented on #805
I think you can enable it using custom php.ini.

Please check : https://devilbox.readthedocs.io/en/latest/configuration-files/php-ini.html

[2021-05-05 17:07] ultrablue opened #807 "Super tiny, not really a bug. There's a small (possible) error in env_example"
Hi:

Line 89 of env-example says:

```### Note: Only ALPHA ([a-zA-Z]+) characters are supported.```

But that's not strictly true. Dots are allowed, as well. For example:

```TLD_SUFFIX=loc.my.edu```

Also works.

I realize that that's probably because dots are allowed in hostnames in general, but it might be a good idea to say something like:

```### Note: In addition to period or dot character (

[2021-05-07 22:20] cg433n opened #808 "502 when trying to access intranet"
### ISSUE TYPE

 - Bug Report

### Checklist

* [X] `.env` file is attached
* [X] `./check-config.sh` output is added below
* [X] `docker-compose logs` output is added below
* [X] `docker-compose.override.yml` is attached (if exists)
* [X] Custom configs from `cfg/` dir are attached (if exist)
* [X] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [X] I've looked through

[2021-05-12 03:40] ParhamG commented on #769
@dereuromark were you able to find a dynamic approach for this? I am running Docker on Windows with WSL2 backend and also running PhpStorm within WSL and would love to find a way to automate this.

[2021-05-13 15:19] Dan0sz commented on #748
I'm a WordPress plugin developer, and today I ran into an issue, my plugin was having with LiteSpeed Cache; a caching plugin for WordPress. This plugin won't run, unless you have a LiteSpeed webserver.

I already use DevilBox for all my development tasks. That's why it'd be awesome if LiteSpeed could be included in the package as well!

[2021-05-13 22:45] mateussantin commented on #235
Eu estou com um problema com isso, esta bloqueando minha chave de acesso ao github por exemplo, alguém pode ajudar?
![erro](https://user-images.githubusercontent.com/40871048/118196659-c2ccf880-b423-11eb-8b61-ca1a6cd04b50.png)

[2021-05-15 07:23] zyglobe opened #809 "Kibana communication issue with Elasticsearch "Kibana server is not ready yet""
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [ ] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-05-15 08:14] llaville commented on #809
By reading your `check-config.sh` output
[code]
It seems that your run it natively on Windows . Did you tried to run it under WSL2 ?

[2021-05-16 22:17] #805 closed

[2021-05-17 19:28] ahberg commented on #769
@ParhamG  I don't think you need to set xdebug.client_host if you use the[ suggestion settings ](https://github.com/cytopia/devilbox/issues/769#issuecomment-774242971) and [Xdebug helper Chomre plugin. ](https://chrome.google.com/webstore/detail/xdebug-helper/eadndfjplgieldjbigjakmdgkmoaaaoc)

[2021-05-18 07:47] Budapresst opened #810 "Installation Error on CentOS 7.2"
### ISSUE TYPE

 - Bug Report

### Checklist

* [x] `.env` file is attached
* [x] `./check-config.sh` output is added below
* [x] `docker-compose logs` output is added below
* [x] `docker-compose.override.yml` is attached (if exists)
* [x] Custom configs from `cfg/` dir are attached (if exist)
* [x] I've looked through the docs: https://devilbox.readthedocs.io/en/latest/
* [x] I've looked through

[2021-05-18 11:25] cytopia commented on #810
There seems to be an issue with pulling the images, which is still before the Devilbox starts.
Can you do a:
[code]
and see if you can successfully pull all docker images.

[2021-05-18 11:52] Budapresst commented on #810
Thank you for the help!  Everything pulls except the PHP which seems to have the same problem in the same place:

[root@devbox devilbox]# docker-compose pull
Pulling bind  ... done
Pulling php   ... extracting (100.0%)
Pulling httpd ... done
Pulling mysql ... done
Pulling pgsql ... done
Pulling redis ... done
Pulling memcd ... done
Pulling mongo ... done

ERROR: for php  failed to register layer:

[2021-05-18 11:53] cytopia commented on #810
Can you try the branch from this PR: https://github.com/cytopia/devilbox/pull/777

It's gonna be merged very soon, only requires some minor adjustments.

[2021-05-18 12:03] Budapresst commented on #810
sorry for the noob question, but what's my command for that?  I tried "git clone https://github.com/cytopia/devilbox -b pull/777" but obviously that's wrong... :)

[2021-05-18 12:13] cytopia commented on #810
[code]

[2021-05-18 12:22] Budapresst commented on #810
A new but similar error appeared... Any ideas...  It seems to be something about this VPS and Docker... Everything is loading fine on my bare metal server with CentOS7.2

[root@devbox home]# git clone https://github.com/cytopia/devilbox
Cloning into 'devilbox'...
remote: Enumerating objects: 26159, done.
remote: Counting objects: 100% (128/128), done.
remote: Compressing objects: 100% (94/94), don

[2021-05-18 12:26] cytopia commented on #810
The whole thing just ran fine in CI multiple times. So I'd also assume that there's an issue with your local docker setup/installation.

[2021-05-18 12:28] Budapresst commented on #810
Okay... Thank you for your help.  I will approach it as a Docker issue and keep working on it.  Have a great day!

[2021-05-18 15:05] #810 closed

[2021-05-18 15:06] Budapresst commented on #810
Fixed!  I reinstalled CentOS and the problem "disappeared".  Thank you @cytopia for the incredible product and great support!  :)

[2021-05-19 09:52] robots4life commented on #797
[SvelteKit](https://kit.svelte.dev/) now works with [Devilbox](http://devilbox.org/), secure local dev domain and **HMR**!

svelte.config.js
[code]
`npm run dev -- --host 0.0.0.0`

https://github.com/vitejs/vite/pull/1992 is solved, thx to the Vite team!

[2021-05-19 09:54] robots4life commented on #628
How to get SvelteKit working with Devilbox. https://github.com/cytopia/devilbox/issues/797#issuecomment-843941126

[2021-05-20 12:51] #769 closed

[2021-05-20 12:51] #773 closed

[2021-05-20 12:51] #790 closed

[2021-05-20 12:51] #794 closed

[2021-05-20 12:51] #801 closed

[2021-05-20 14:52] cytopia commented on #808
@cg433n there have been a couple of issues addressed in the latest release. Could you go ahead and test this with latest master branch.

[2021-05-21 05:27] llaville opened #811 "Release 1.9.1 still referenced linuxbrew tool"
#### ISSUE TYPE

 - Documentation

#### SUMMARY

Even if documentation https://devilbox.readthedocs.io/en/latest/readings/available-tools.html did not display `linuxbrew` tool anymore, it still appears in https://github.com/cytopia/devilbox/blame/v1.9.1/README.md page

#### Goal

Remove the line from README page

BTW, I'd rather like to have a migration from linuxbrew to homebrew rather than remov

[2021-05-21 08:46] cytopia commented on #811
@llaville thanks for pointing out. This is the part I missed.

I was actually only removing it due to struggle of maintenance and also image size (as well as I didn't really manage to implement the newly moved project). If you still find `brew` useful, I will accept the PR and move it back into PHP-FPM.

[2021-05-21 08:47] cytopia commented on #809
@zyglobe there has been some fix for ES here: https://github.com/cytopia/devilbox/pull/783

Could you check if this has been resolved on latest master branch

[2021-05-21 13:31] #337 closed

[2021-05-21 13:35] cytopia commented on #788
Where can I see the `.env` file?

[2021-05-21 13:36] cytopia commented on #789
@wp4nuv can you verify with the latest changes on master. This should have been fixed now.

[2021-05-21 13:37] jakeparis commented on #788
Sorry about that, here you are.
[code]

[2021-05-21 13:44] cytopia commented on #788
I just did that:

[code]

`apache24.yml` contents copied from what you've specified. Works totally fine.

### `/vhosts.php`

![Screenshot 2021-05-21 15-41-27  selection](https://user-images.githubusercontent.com/12533999/119146771-405bbe80-ba4b-11eb-8118-8e7d62f39f09.png)

### `/info_vhostgen.php?name=project-a`

![Screenshot 2021-05-21 15-41-42  selection](https://user-images.githubusercontent.co

[2021-05-21 13:47] jakeparis commented on #788
In your screenshots, it shows the problem:
<img src="https://user-images.githubusercontent.com/12533999/119146771-405bbe80-ba4b-11eb-8118-8e7d62f39f09.png">

That should be an "OK" in the valid column, with the url pointing to the docroot for that vhost.

[2021-05-21 14:00] cytopia commented on #788
The above was just an example and I did not add a DNS record. Here you go:

![Screenshot 2021-05-21 15-59-47  selection](https://user-images.githubusercontent.com/12533999/119149203-96c9fc80-ba4d-11eb-98bd-5335a715c93c.png)

[2021-05-21 14:08] jakeparis commented on #788
Ok, I'm sorry, my initial point was not perfectly clear. In your example, you have an `htdocs` directory, that's why it's working. My issue is that I am trying to serve the docs out of a different directory, in my example, the `dist` directory.

The `apache24.yml` example from my first post is mean to be for _that_ vhost.

[2021-05-21 14:10] cytopia commented on #788
Just symlink the `dist/` directory to `vhost`:

https://devilbox.readthedocs.io/en/latest/vhost-gen/example-add-subdomains.html?highlight=symlink#directory-structure

[2021-05-21 14:25] jakeparis commented on #788
Ok, that works for the vhost page to "see" the custom docroot, even without the `.devilbox/apache24.yml` file.
But also, so does creating an empty htdocs directory and using the `apache24.yml`.

In both cases, just the presence of the htdocs is enough for the vhost to show "OK", even though the docroot is actually something else entirely. This feels a little hacky, though. Is it possible for the v

[2021-05-21 14:28] cytopia commented on #788
No, vhosts are served by default from the `htdocs` directory. If this is present, then it is served. It is up to you what you put inside. If you have your data in a different directory and add a `htdocs` directory, then only the `htdocs` directory is served.

If you symlink the `htdocs` directory to someplace else, then the content of that place is served.

This is the agreed protocol of how it wo

[2021-05-21 14:33] #788 closed

[2021-05-21 14:33] jakeparis commented on #788
Thank you for your time and help!

[2021-05-21 16:18] llaville commented on #811
@cytopia PR is available at https://github.com/devilbox/docker-php-fpm/pull/206

[2021-05-22 23:08] georgesreti commented on #381
Hello folks, I finally managed to make Xdebug work on Windows 10 Home Edition, PHP 7.4 and VS Code.

TLDR;

devilbox\cfg\php-ini-7.4\xdebug.ini
[code]

devilbox\docker-compose.override.yml
[code]

launch.json
[code]

I was stuck with the following error message : VS Code complains that "Error: listen EADDRINUSE: address already in use :::9000"

After some digging, it seems that PHP-FPM uses port 9

[2021-05-24 12:23] SHJordanSLIM opened #812 "Error response from daemon: Ports are not available: listen tcp 0.0.0.0:5432: bind"
log ahead, started with docker compose up as it is now the default recommendation for docker instead of docker-compose up.

shell had elevated privileges. Any way to work around? nothing working rn for me.

[code]

[2021-05-24 13:12] cg433n commented on #808
After removing the containers and updating to the latest master branch, everything appears to be working. 🙂

[2021-05-24 13:12] #808 closed

[2021-05-26 09:44] llaville commented on #811
@cytopia As docker-php-fpm 0.126 is already available ( thanks ),  dont forget to update the README page of the Devilbox project !

[2021-05-26 10:20] cytopia commented on #811
I will, together with the new version for `0.126` (Currently still `0.125` https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L98)

[2021-05-27 03:07] zyglobe commented on #809
Yes, @cytopia I was able to resolve the issue by adding the environment variable in my docker-compose.yml

[code]

Thank you!

[2021-05-27 16:39] cytopia commented on #809
@zyglobe as those files have been already submitted during the last release, I will close this issue. Thanks for reporting back :+1:

[2021-05-27 16:39] #809 closed

[2021-05-27 16:42] cytopia commented on #812
This has not been tested with Devilbox. Please do use `docker-compose up` and in case of something not working as expected use the bug report template. Otherwise it will not be possible for people to reproduce your issue and assisting you with it.

[2021-05-27 16:43] #796 closed

[2021-05-27 16:47] cytopia commented on #779
@masiorama the script is not supported on Windows. As I don't have a Windows machine I won't be able to adjust it accordingly. I will therefore close with "WON'T FIX"

[2021-05-27 16:47] #779 closed

[2021-05-27 16:49] cytopia commented on #752
I will have to close this as it is a local git issue and not related to the project.

[2021-05-27 16:49] #752 closed

[2021-05-27 16:50] #768 closed

[2021-05-27 16:54] cytopia commented on #756
I'm happy to review a PR if this is really needed. Otherwise CMS/Frameworks can simply be installed according to their documentation. There is really no difference on the Devilbox (just think of it as a server where you'd install that)

[2021-05-27 16:54] #756 closed

[2021-05-27 16:58] #767 closed

[2021-05-28 00:41] ozmos commented on #756
Thanks @cytopia. I've got a better handle on the devilbox environment now so should be fine. Thanks for building and maintaining such a convenient and well documented lamp dev environment.

[2021-05-28 23:42] cube-dan commented on #105
@cytopia,

Has your mac situation changed since 2018? You said "... [as I dont' have a Mac at the moment.](https://github.com/cytopia/devilbox/issues/105#issuecomment-402380593)"

If you have you developed a devilbox specific docker-sync.yml file for [PR #535](https://github.com/cytopia/devilbox/pull/535), I'd love to give it a spin and report back my test results here.

Simply put, I'm volunteeri

[2021-06-01 11:07] pedrosanta commented on #697
My issue exactly too.

[2021-06-04 11:07] cytopia commented on #811
Adressed in https://github.com/cytopia/devilbox/pull/814

[2021-06-04 11:07] #811 closed

[2021-06-04 15:21] cytopia commented on #803
You can override the mount via `docker-compose-override.yml`. See docs here: https://devilbox.readthedocs.io/en/latest/configuration-files/docker-compose-override-yml.html

I'm not sure if this will work at all, if only part of your code is available inside the container.
Nevertheless, hope this helps.

[2021-06-04 15:21] #803 closed

[2021-06-04 15:22] cytopia commented on #776
OK, thanks for the feedback. I will close this bug report then, as it was a local VPN issue

[2021-06-04 15:22] #776 closed

[2021-06-04 16:37] ptmrio commented on #782
Still having issues. I need to make an exception in Firefox everytime I switch projects, by right clicking a resource in the F12 developer tools and opening one in a new tab. I would really appreciate any help.

[2021-06-04 16:41] cytopia commented on #782
Hi @ptmrio you can find the reverse proxy setup within the documentation. It is pretty mich the same as this: https://devilbox.readthedocs.io/en/latest/examples/setup-reverse-proxy-nodejs.html

[2021-06-05 12:18] pierregermain commented on #575
With xdebug 3 the documentation really needs a refresh. Would like to help but I am still not able to configure it on linux.

[2021-06-05 12:20] pierregermain commented on #575
Has somebody bean able to configure devilbox using xdebug 3 using PphStorm on linux ?

[2021-06-10 07:42] ptmrio commented on #782
Thank you @cytopia. I was pretty much on that path, but I couldn't get it to work. Could you help my with the logic behind this setup?

I'd guess, that I have to
1) _proxy pass_ a self chosen domain (e.g. webpack.loc) to `0.0.0.0` (or to the php container?)
2) set webpack host to _webpack.loc_
3) I may need to set a custom port on both the reverse proxy and webpack?

Thanks. And keep your great wo

[2021-06-11 19:30] science695 commented on #782
With Docker, you could map port 4000 to also go to 443, but you would need someway to identify traffic that is a websocket so that the upgrade header gets sent, and is forwarded to the webpack port instead of php-fpm. perhaps that /ws folder could be used in the virtualhost?

[2021-06-14 07:49] ptmrio commented on #782
Thanks @science695. I guess you'll have to make Docker + Apache/Nginx make listening to port 4000 and then edit the vhost accordingly for the reverse proxy. Unfortunately I'm not docker savvy enough to get it to work.

[2021-06-14 08:08] olka276 commented on #812
Look for this port on netstat command (netstat -tulpn | grep LISTEN). If it appears there - kill it by process ID - last column number (kill -9 [ID])

[2021-06-14 20:15] ailequal commented on #697
I ran into the same problem today with a fresh installation of macOS 10.15.7. I was still having problem even if I was using `docker-compose up`. Later I realized that I still needed to double check that the newer docker-compose version wasn't activated. You can do that through Docker Desktop's settings or by launching: `docker-compose disable-v2`

[2021-06-15 13:39] fibis opened #815 "Add swoole to php 8"
#### ISSUE TYPE

 - Feature request

#### SUMMARY

The PHP 8 image doesn't include swoole as PHP extension. I would like to use swoole with PHP 8.

#### Goal

Goal is to add the swoole extension to the PHP 8 images.

[2021-06-15 13:59] fibis commented on #815
Resolved here: https://github.com/devilbox/docker-php-fpm/pull/211

[2021-06-16 08:26] fibis commented on #815
Was resolved here: https://github.com/devilbox/docker-php-fpm/pull/212

[2021-06-16 08:26] #815 closed

[2021-06-16 08:41] cytopia commented on #815
@fibis keep in mind that I still need to PR the update image version here :-)
So currently we're still running with the old version. Will however do it today.

[2021-06-16 08:44] fibis commented on #815
@fibis is there also some magic stuff for that or is it only changing this line: https://github.com/cytopia/devilbox/blob/master/docker-compose.yml#L98 to 128?

[2021-06-16 09:53] cytopia commented on #815
That's all that needs to be done. Might give it another hour or so until the images are built and pushed

[2021-06-18 20:21] morsergen opened #816 "Plugin Tinker not work"
Good day!
How can I use the Tinker plugin in Laravel with Devilbox?

![image](https://user-images.githubusercontent.com/45065258/122612809-71e89980-d08c-11eb-9640-c7af57f62875.png)

![image](https://user-images.githubusercontent.com/45065258/122612720-49609f80-d08c-11eb-91f0-0c7f6eeee1c2.png)

![image](https://user-images.githubusercontent.com/45065258/122612490-e111be00-d08b-11eb-93df-48de33b5ce4

[2021-06-18 22:18] cytopia commented on #816
Good day as well @morsergen,
`DB_HOST` should be `mysql` not `127.0.0.1`

[2021-06-19 18:22] morsergen commented on #816
/etc/hosts - 127.0.0.1 mysql

![image](https://user-images.githubusercontent.com/45065258/122651864-43c69080-d144-11eb-87f6-c09e2240d4ca.png)

![image](https://user-images.githubusercontent.com/45065258/122651875-5214ac80-d144-11eb-90aa-89b9a8e6304b.png)

[2021-06-20 10:54] cytopia commented on #816
Good day  @morsergen,

If I'm inside the PHP container, it does find the `mysql` host without having to specify it in `/etc/hosts`:

`resolving hostname` (inside container)
[code]
`/etc/hosts` (inside container)
[code]

If you think this is a bug, I would suggest to re-create the ticket with the bug report template and fill out all steps especially the "how to reproduce" description (which should

[2021-06-20 15:03] morsergen commented on #816
Good day @cytopia
Thanks for answers.

I did not quite understand...
I do not add anything to the hosts file inside the container.
Here are my screenshots:
![image](https://user-images.githubusercontent.com/45065258/122678788-e9cfd480-d1f0-11eb-8611-9c2b2420ef66.png)
![image](https://user-images.githubusercontent.com/45065258/122678814-fc4a0e00-d1f0-11eb-8f4b-ce57df236927.png)

Inside the containe

[2021-06-20 15:08] cytopia commented on #816
I can connect to the Devilbox DB from my host system just fine:
[code]

If the above works for you (from your host) it is a tinker issue.
If the above does not work for you (you have a permission issue with the root user of the database)

[2021-06-20 17:55] morsergen commented on #816
the connection works from the container, there is no connection outside the container
I don't understand how to use tinker in PHPStorm
please, help

![image](https://user-images.githubusercontent.com/45065258/122683677-6a9aca80-d209-11eb-9211-ace35f9ccc67.png)

![image](https://user-images.githubusercontent.com/45065258/122683683-7c7c6d80-d209-11eb-9f22-df3ad9811082.png)

[2021-06-20 19:17] cytopia commented on #816
Follow the instructions from your second screenshot to test the DB from your host

[2021-06-20 19:48] shivam5th commented on #611
Follow [this guide](https://forum.dokuwiki.org/d/18706-embed-dokuwiki-page-in-another-non-dokuwiki-web-page/12) to install Let's Encrypt SSL on Ubuntu 20.04

[2021-06-21 04:25] evgeny-2019 opened #818 "Can I somehow change the version of Xdebug with the 3 on the 2?"
My IDE does not support the third version of Xdebug. Can I change Xdebug in DevilBox to the second version? How to do it?

[2021-06-21 07:41] morsergen commented on #816
Good day @cytopia
Thanks for answers.

I install mysql to my host
![image](https://user-images.githubusercontent.com/45065258/122724003-37455380-d27c-11eb-8e4b-42358109fee8.png)
![image](https://user-images.githubusercontent.com/45065258/122724204-61971100-d27c-11eb-82e5-fcb8d3c266b4.png)
![image](https://user-images.githubusercontent.com/45065258/122724284-7378b400-d27c-11eb-8df7-9332784febe5.png

[2021-06-21 08:12] cytopia commented on #816
@morsergen So MySQL connectivity from Devilbox side of things works fine on your machine.
Now all that's left is to play around with Tinker and get it setup correctly. I'd suggest to ask in their Forum for further help.

[2021-06-21 08:36] morsergen commented on #816
OK thanks

[2021-06-21 21:42] ultrablue opened #819 "Please add runkit7 to the enable-able php modules"
#### ISSUE TYPE

 - Feature request

#### SUMMARY
Please add runkit7 to the enable-able php modules.
https://www.php.net/manual/en/book.runkit7.php

#### Goal
Currently, I have to install it by hand every time I restart the php container. It would be great if it could be automatic.

Thank you!

[2021-06-22 03:48] llaville commented on #819
Did you noticed that there is not yet a stable release since the begining of its development.
Personnaly I'm not agree to have it included in any php-fpm docker images of the devilbox.

[2021-06-22 04:53] llaville commented on #819
Alternative will be to include uopz extension (https://www.php.net/manual/en/book.uopz.php) that already have stable releases.
Or just check the project https://github.com/badoo/soft-mocks if it match your needs @ultrablue

Personnaly I don't think it's a PHP development best practice to allow to modify functions on fly but I admit it just be allowed to write unit tests and mock some of internal P

[2021-06-22 08:50] cytopia commented on #819
@ultrablue If you install `runkit7` yourself on the PHP image, it will persist as long as you only "stop" the docker container.

See difference between `docker-compose stop` and `docker-compose down`

[2021-06-22 18:16] ultrablue commented on #819
Hi, @llaville  and @cytopia:

Thanks for the response. @llaville good points. However, I'm stuck with runkit7 from a legacy application.

@cytopia thanks for the tip. I have been using down. :/

[2021-06-22 18:17] ultrablue commented on #819
If I wanted to modify Devilbox myself, how would I go about doing that?

Thanks again! Devilbox is the best.

[2021-06-23 06:26] evgeny-2019 opened #820 "How to configure the path mapping for a folder with the site, and not for the folder with Devilbox?"
#### ISSUE TYPE
 - Question

#### SUMMARY
In the documentation on this page:
https://devilbox.readthedocs.io/en/lateest/intermediate/configure-php-xdebug/windows/phpstorm.html#configure-php-xdebug-win-phpstorm
The devilbox folder is open as a project. And Path Mapping is configured for it.

I would like to open a specific site folder as a project, which is located in data/www/. So that the IDE not

[2021-06-26 12:13] obionex-5 commented on #697
Thank you it helped to fix the same issue.
Can someone explain what happened and why v2 causes this issue? Thanks!

[2021-06-27 08:24] #816 closed

[2021-06-28 12:54] darrist opened #821 "Downgrading MySQL server caused ibdata corrupt"
### ISSUE TYPE
 - Bug Report

### OS / ENVIRONMENT
1. Host operating system and version: Linux Zephyrus 5.12.13-arch1-2 #1 SMP PREEMPT Fri, 25 Jun 2021 22:56:51 +0000 x86_64 GNU/Linux
2. (Windows only) Native Docker or Docker Toolbox: n/a
3. Docker version: Docker version 20.10.7, build f0df35096d
4. Docker Compose version: docker-compose version 1.29.2, build unknown
5. (Linux) Is SELinux enabled

[2021-06-28 12:57] cytopia commented on #821
You need to use `docker-compose rm` before switching stateful images (e.g.: MySQL).
Otherwise If you don't, then the same volume of the previously loaded MySQL image is attached.

If you use `docker-compose rm` before starting a different stateful image, then it gets its own volume and hence doesn not screw with data from another version.

This is how docker-compose seemingly works.

[2021-06-28 13:03] darrist commented on #821
@cytopia Can confirm this is working. Thanks a lot.

I suggest to add this into https://devilbox.readthedocs.io/en/latest/getting-started/change-container-versions.html to clarify and prevent same issue again in GitHub.

[2021-06-28 13:03] #821 closed

[2021-07-01 08:27] frumbert opened #822 "Does Devilbox work on Apple Silicon?"
there a way to install or run Devilbox on Apple M1 Macs?

Attached is a log of performing `docker-compose up` on a new installation. Look like dystopia/bind, devilbox/php-fpm, devilbox/apache and devilbox/mysql all use amd64 images. How does one switch to arm64 images?

[docker-compose up M1.txt](https://github.com/cytopia/devilbox/files/6746681/docker-compose.up.M1.txt)

[2021-07-01 09:20] Dennis4720 commented on #697
This worked for me aswel! Thank you so much for your reply and temporary solution. I hope this issue gets fixed soon but for now this works.